
<div class="row page-titles">
<div class="col-md-5 col-8 align-self-center">
<h3 class="text-themecolor">Company Profile</h3>
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="">Home</a></li>
<li class="breadcrumb-item active">Company Profile</li>			
</ol>
</div>
<div class="col-md-7 col-4 align-self-center">
&nbsp;
</div>
</div>

<!-- <div class="form-horizontal">
<div class="form-group">
<div class="col-sm-12 nopadding" align="right">
<a ui-sref="profileEdit">
	<button class="btn btn-info" >
	<i class="mdi mdi-account-edit"></i>
	Edit Profile</button>				
</a>
</div>
</div>	
</div> -->


<div class="col-md-12 nopadding">
<div class="row set-top" >
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
             <!-- Column -->
            <div class="card">
                <div class="card-block">
                    <div class="card-block">
                        <h4 class="card-title">Upload Resume</h4>
                        <label for="input-file-max-fs">You can add a max file size</label>
                        <input type="file" dropify-custom id="input-file-max-fs" class="dropify" data-max-file-size="2M" />
                    </div>
                </div>
              
            </div>
             <!-- Column -->
        
        </div>
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs cover_letter-tab" role="tablist">
                    <li class="nav-item pointer"> <a class="nav-link" ng-class="{'active' : active_tab == 'cover_letter'}" ng-click="setTab('cover_letter')" >Cover Letter</a> </li>

                   	<li class="nav-item pointer"> <a class="nav-link" ng-class="{'active' : active_tab == 'resume'}" ng-click="setTab('resume')" >Resume</a> </li>
               
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                 
                    <!--second tab-->
                    <div class="tab-pane " ng-class="{'active' : active_tab == 'cover_letter'}" id="cover_letter" role="tabpanel">
                    		<div class="card-block">

									<div class="form-horizontal  form-material margintop-30">
											<div class="form-group col-12">
												<label class="label-editable label-parent label-editable mr-2 d-inline-block">Cover Letter 
												</label>
												<textarea cover-letter id="coverLetter_src"  type="text" class="form-control  col-md-6 ml-2" ng-model="resumeData.coverLetter">
												</textarea>
											</div>

											
											<div class="form-group col-12">
												<button form-name="" loading-button callback = "saveCoverLetter()" class="text-center btn btn-primary">Update</button>
											</div>
									</div>
							
							</div>
					</div>		
             
         			<div class="tab-pane " ng-class="{'active' : active_tab == 'resume'}" id="resume" role="tabpanel">
                    		<div class="card-block">

									<div class="form-horizontal  form-material margintop-30">
											
											<div class="form-group col-12">
												<button form-name="" loading-button callback = "saveCoverLetter()" class="text-center btn btn-primary">Update</button>
											</div>
									</div>
							
							</div>
					</div>		


           

        </div>
    </div>
</div>
</div>    
</div>


<div id="uploadPhoto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Upload New Profile Photo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Drop or Click Image to upload.</h4>
                        <form name="profilePhotoForm" enctype='multipart/form-data'>
                        <input name="image" type="file" id="profilePhoto" dropify class="dropify" data-default-file="/public/images/default.png" />
                       	</form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Close</button>
                <button type="button" ng-click="saveProfilePhoto()" class="btn btn-success waves-effect" >Submit</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>