<style type="text/css">
    .max-texts{
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #tb-mailbox tr, #tb-mailbox tr td{
        cursor: pointer;
    }
</style>
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Mailbox</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>            
            <li class="breadcrumb-item active">Mailbox</li>          
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card" style="padding: 20px;">
            <div class="row">               
                <div class="col-xlg-10 col-lg-8 col-md-8">                   
                    <div class="card-body p-t-0">
                        <div class="card b-all shadow-none">                                                        
                            <div class="card-body" style="padding: 20px;">
                                <h3 class="card-title m-b-0" ng-bind="mail.subject"></h3>
                            </div>
                            <div>
                                <hr class="m-t-0">
                            </div>
                            <div class="card-body" style="padding: 20px;">
                                <div class="d-flex m-b-40">
                                    <div>
                                        <a href="javascript:void(0)"><img src="/public/images/default.png" alt="user" width="40" class="img-circle" /></a>
                                    </div>
                                    <div class="p-l-10">
                                        <h4 class="m-b-0" ng-bind="mail.fullname"></h4>
                                        <small class="text-muted" ng-bind="'From: '+ mail.fullname"></small>
                                    </div>
                                </div>
                                <p style="white-space: pre-wrap;font-family:'Poppins', sans-serif;">{{ mail.message }}</p>
                            </div>
                            <div>
                                <hr class="m-t-0">
                            </div>
                            <div class="card-body" style="padding: 20px;">
                                <h4><i class="fa fa-paperclip m-r-10 m-b-10"></i> Attachments <span>({{ mail.attachments.length }})</span></h4>
                                <div class="row">
                                    <div class="col-md-2" ng-repeat="file in mail.attachments">
                                        <a href="/storage/attachment/{{mail.recipient_id + '/' + file.attachment_file}}"> <img class="img-thumbnail img-responsive" alt="attachment" src="/public/assets/images/users/1.jpg"> </a>
                                    </div>                                    
                                </div>
                                <div class="b-all m-t-20 p-20">                                    
                                    <a href="javascript:;" ng-click="respond()" class="btn btn-success">Response to message</a>
                                </div>
                                <!-- storage/{userid}/{filename -->
                                <!-- }}" -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>