/* CUSTOM CSS CHECKBOXES */
		form p {
		  margin-bottom: 10px;
		  text-align: left;
		}

		form p:last-child {
		  margin-bottom: 0;
		}

		/* Remove default checkbox */
		[type="checkbox"]:not(:checked),
		[type="checkbox"]:checked {
		  position: absolute;
		  left: -9999px;
		  opacity: 0;
		}

		[type="checkbox"] {
		  /* checkbox aspect */
		}

		[type="checkbox"] + label {
		  position: relative;
		  padding-left: 35px;
		  cursor: pointer;
		  display: inline-block;
		  height: 25px;
		  line-height: 25px;
		  font-size: 1rem;
		  -webkit-user-select: none;
		  /* webkit (safari, chrome) browsers */
		  -moz-user-select: none;
		  /* mozilla browsers */
		  -khtml-user-select: none;
		  /* webkit (konqueror) browsers */
		  -ms-user-select: none;
		  /* IE10+ */
		}

		[type="checkbox"] + label:before,
		[type="checkbox"]:not(.filled-in) + label:after {
		  content: '';
		  position: absolute;
		  top: 0;
		  left: 0;
		  width: 18px;
		  height: 18px;
		  z-index: 0;
		  border: 2px solid #5a5a5a;
		  border-radius: 1px;
		  margin-top: 2px;
		  transition: .2s;
		}

		[type="checkbox"]:not(.filled-in) + label:after {
		  border: 0;
		  -webkit-transform: scale(0);
		          transform: scale(0);
		}

		[type="checkbox"]:not(:checked):disabled + label:before {
		  border: none;
		  background-color: rgba(0, 0, 0, 0.26);
		}

		[type="checkbox"].tabbed:focus + label:after {
		  -webkit-transform: scale(1);
		          transform: scale(1);
		  border: 0;
		  border-radius: 50%;
		  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
		  background-color: rgba(0, 0, 0, 0.1);
		}

		[type="checkbox"]:checked + label:before {
		  top: -4px;
		  left: -5px;
		  width: 12px;
		  height: 22px;
		  border-top: 2px solid transparent;
		  border-left: 2px solid transparent;
		  border-right: 2px solid #26a69a;
		  border-bottom: 2px solid #26a69a;
		  -webkit-transform: rotate(40deg);
		          transform: rotate(40deg);
		  -webkit-backface-visibility: hidden;
		          backface-visibility: hidden;
		  -webkit-transform-origin: 100% 100%;
		          transform-origin: 100% 100%;
		}

		[type="checkbox"]:checked:disabled + label:before {
		  border-right: 2px solid rgba(0, 0, 0, 0.26);
		  border-bottom: 2px solid rgba(0, 0, 0, 0.26);
		}

		
		/*modal*/
		.modal-content{
			padding: 30px 5% 30px 5%;
		}
		h1 {
		  	font-size: 2em;
		  	margin: 0.67em 0;
		  	font-size:38px;
		  	line-height:normal; color:#7d7d7d;
		  	font-style: normal;
		  	font-family: 'Open Sans', sans-serif;
		  	font-weight: 100;
		  	margin-bottom: 0;
		}
		.modal-content p.modal-message{
			line-height:normal;font-family: 'Open Sans', sans-serif;
		}		
		.modal-content .form-control-lg{
			height: 43px;
			padding-left: 20px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		.modal-content .row{			
			padding-left:18px;
			padding-right:18px;
			padding-bottom: 0: 
		}
		.modal-content .row .col label{
			color: #5e6c72;
			font-size:16px;font-family: 'Open Sans', sans-serif;
		}
		.modal-content .row .col #forgot_pass{
			float: right;
			font-family: 'Open Sans', sans-serif;
			margin-top: -50px;
			font-weight: 300;
		}
		.modal-content button{
			height: 50px;
			color: #fff;
		}
		.modal-content p.label-signup{
			line-height:normal;font-family: 'Open Sans', sans-serif;
		}