/* ------------------------------------------------
 Author: ArtStyles
 URL: http://themeforest.net/user/artstyles
 
 Template Name: Artico - Creative Coming Soon Template
 Version: 1.4
------------------------------------------------ */

/* ------------------------------------------------

 - General Styles
 - Typography
 - Main
 - Navbar
   - Close btn
 - One Section
   - Title page
   - Buttom
   - Subscription
   - Countdown
   - Video bg
   - Slider
 - About
   - Features
 - Portfolio
 - Contacts
 - Popup
 - Social Buttons
 - Pageload
 - Animations
 - Responsive Styles
 
------------------------------------------------ */


/* ---------------------------
    - General Styles
--------------------------- */
html, body {
	height: 100%;
}
body {
	background: #fff;
	color: #2e2c33;
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;	
    line-height: 24px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

/* ---------------------------
    - Typography
--------------------------- */
h1 {
    font-size: 56px;
	font-weight: 700;
    line-height: 58px;
    margin-top: 36px;
    margin-bottom: 24px;
}
h2 {
    font-size: 46px;
    font-weight: 700;
    line-height: 48px;
    margin-top: 38px;
    margin-bottom: 24px;
}
h3 {
    font-size: 36px;
    line-height: 38px;
    margin-top: 30px;
    margin-bottom: 24px;
}
h4 {
    font-size: 28px;
    line-height: 30px;
    margin-top: 28px;
    margin-bottom: 24px;
}
h5 {
    font-size: 24px;
    line-height: 26px;
    margin-top: 26px;
    margin-bottom: 24px;
}
h6 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}
p {
    margin-top: 14px;
    margin-bottom: 24px;
}
a {
	transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.text-bold {
	font-weight: bold;
}
input[type="text"], input[type="email"] {
	-webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

::-moz-selection { background: #858b9b; color: #fff; }
	 ::selection { background: #858b9b; color: #fff; }

::-webkit-input-placeholder {color:#2e2c33;}
         ::-moz-placeholder {color:#2e2c33;}
          :-moz-placeholder {color:#2e2c33;}
     :-ms-input-placeholder {color:#2e2c33;}
	 
/* ---------------------------
    - Main
--------------------------- */
#pagewrap {
	height: 100%;
}
.page-overlay {
	padding: 80px 0;
}
.page-gray {
	background: #f3f5f8;
}
.bg-dark {
    background: #2e2c33;
}
.page-dark {
	background: #2e2c33;
	color: #fff;
}

/* ---------------------------
    - Navbar
--------------------------- */
.navbar {
	border-bottom: 1px solid rgba(255,255,255,0.2);
	z-index: 3;
}
.navbar .container-fluid {
	margin-left: 15px;
	margin-right: 15px;
}
.navbar ul > li > a {
	border-right: 1px solid rgba(255,255,255,0.2);
	color: #fff;
	font-size: 14px;
    padding: 29px 20px;
	position: relative;
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.navbar ul > li > a:hover {
	background: transparent;
}
.navbar ul > li > a:hover:before {
	content: "";
	border-bottom: 1px solid #fff;
	height: 1px;
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
}
.navbar-brand {
	height: auto;
}
.navbar-brand img {
	height: 48px;
	width: 48px;
}
.navbar-toggle {
  width: 30px;
  height: 15px;
  position: relative;
  margin: 28px 15px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}
.navbar-toggle span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
.navbar-toggle span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}
.navbar-toggle span:nth-child(2) {
  top: 8px;
  transform-origin: left center;
}
.navbar-toggle span:nth-child(3) {
  top: 16px;
  transform-origin: left center;
}
.navbar-toggle.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}
.navbar-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.navbar-toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 18px;
  left: 8px;
}

/* Close btn */
.close-btn {
	position: fixed;
	top: 30px;
	right: 40px;
	z-index: 10;
}
.close-btn path {
	stroke: #2e2c33;
	transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.close-btn:hover {
	transform: rotate(-90deg);
}
.page-dark .close-btn path {
	stroke: #ffffff;
}

/* ---------------------------
    - One Section
--------------------------- */
.one-section {
	color: #fff;
	height: 100%;
	position: relative;
	z-index: 1;
}
.one-section:before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;	
}	
.one-section:after {
	content: "";
	background: rgba(49,54,76,0.6);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.section-image:before {
	background-image: url(../images/bg.jpg);
	background-size: cover;	
	background-position: 50% 50%;
	animation: background-animation 16s linear infinite 0s;
}
.section-blue:before {
	background-color: #00d7f5;	
	animation: bg-blue 16s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite;
}
.section-yellow:before {
	background-color: #f2bc52;
	animation: bg-yellow 16s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite;
}
.section-green:before {
	background-color: #00d7ae;
	animation: bg-green 16s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite;	
}
.section-multi:before {
	background-color: #f2bc52;
	animation: bg-multi 16s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite;	
}
.hide-overlay:after {
    background: rgba(49,54,76,0);
}	
.vertical-center {
	display: table;
	height: 100%;
	position: absolute;
	overflow: hidden;
	width:100%;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.vertical-center .row-table {
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
.vertical-center .row-table div[class^="col-"] {
	position: relative;
	z-index: 2;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .vertical-center {
	    position: relative;
    }
}

/* Title page */
.title {
    font-weight: 100;
}
.title, .title-page, .title-page-left {
	padding-bottom: 20px;
	position: relative;
}
.title-page, .title-page-left {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.title:before, .title-page:before, .title-page-left:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #fff;
    width: 100px;
    bottom: 0;	
}
.title-center:before {
	margin: 0 auto;
	left: 0;
	right: 0;
}
.title-page:before {
	border-bottom: 1px solid #394655;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.title-page-left:before {
	border-bottom: 1px solid #394655;
	margin: 0 auto;
	left: 0;
}
.title-description {
	font-size: 14px;
}
.title-description-center {
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
}
.title-description-page {
	font-size: 18px;
	margin-bottom: 60px;
}
.page-dark .title-page:before,
.page-dark .title-page-left:before  {
	border-bottom: 1px solid #fff;
}
#particles-js {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
}
#particles-js canvas {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.diagonal {
	position: relative;
}
.diagonal:before {
	content: "";
	position: absolute;
	border-left: 1px solid #fff;
	right: -24%;
	top: 30px;
	height: 100%;
	width: 1px;
	transform: rotate(45deg);
}

/* Buttom */
.one-section .btn {
	background-color: #f16468;
	border-radius: 30px;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: 300;
	height: 46px;
	line-height: 44px;
	position: relative;
	overflow: hidden;
	margin: 20px 20px 0 0;
	padding: 0 30px;
	transition: all 0.6s;
}
.one-section .btn:hover {
	background: transparent;
	color: #fff;
	text-decoration: none;
}
.one-section .btn-blue {
	background-color: #00d7f5;
}
.one-section .btn-green {
	background-color: #17d974;
}
.one-section .btn:active,
.one-section .btn:focus {
	color: #fff;
	outline: none!important;
	box-shadow: none;
}
.one-section .btn:last-child {
	margin-right: 0;
}
.one-section .btn-no-fill {
	background: transparent;
	border: 2px solid #fff;
	line-height: 42px;
	position: relative;
}
.one-section .btn-no-fill:hover {
	background: #fff;
	border: 2px solid #fff;
	color: #2e2c33;
	line-height: 42px;
}
.one-section .btn:after {
	content: '';
	background: #dd4c50;
	border-radius: 30px;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	width: 0%;
	transition: all 0.3s;
}
.one-section .btn-blue:after {
	background-color: #01bad4;
}
.one-section .btn-green:after {
	background-color: #1bbc68;
}
.one-section .btn:hover:after {
	width: 100%;
}
.one-section .btn-no-fill:after {
	background: #fff;
}
.one-section .btn i {
	margin-left: 18px;
}
.animation-angle-down {
    animation: animation-angle-down linear 1.4s infinite both;
}
.animation-angle-right {
    animation: animation-angle-right linear 1.4s infinite both;	
}

.icon-play {
	background-image: url(../images/play-button.svg);
	background-size: cover;
	display: inline-block;vertical-align: middle;
	margin-top: -4px;
	margin-left: 18px;
	height: 16px;
	width: 16px;
}

/* Subscription */
.subscription {
	margin-top: 30px;
	position: relative;
}
.subscription .form-control {
	background: #fff;
	border: 2px solid #2e2c33;
	border-radius: 0;
	box-shadow: none;
	color: #2e2c33;
	font-size: 18px;
	font-weight: 600;
	height: 60px;
	padding: 6px 146px 6px 20px;
	position: relative;
	outline: none;
	width: 100%;
	z-index: 1;
}
.subscription .form-control:focus {
	border: 2px solid #2e2c33;
	box-shadow: none;
}
.subscription .has-error .form-control,
.subscription .has-error .form-control:focus {
	background: #fff;
	border: 2px solid #f16468;
	box-shadow: none;
}
.subscription .form-control::-moz-placeholder {
  color: #2e2c33;
  opacity: 1;
}
.subscription .form-control:-ms-input-placeholder {
  color: #2e2c33;
}
.subscription .form-control::-webkit-input-placeholder {
  color: #2e2c33;
}
.subscription .has-error .form-control::-moz-placeholder {
  color: #f16468;
  opacity: 1;
}
.subscription .has-error .form-control:-ms-input-placeholder {
  color: #f16468;
}
.subscription .has-error .form-control::-webkit-input-placeholder {
  color: #f16468;
}
.subscription .style-text-danger, 
.subscription .style-text-success {
	margin-top: 8px;
	margin-left: 0px;
	text-align: center;
}
.subscription .btn-subscribe,
.subscription .btn-subscribe.disabled {
	background: #2e2c33;
	color: #fff;
	border-radius: 0;
	font-size: 16px;
	font-weight: 600;
	height: 60px;
	padding: 0 20px;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 1;
	width: auto;
	text-align: right;
	text-transform: uppercase;
	z-index: 2;
}
.subscription .btn-subscribe:focus {
	box-shadow: none;
	color: #fff;
	outline: none;
}	
.subscription .btn-subscribe:hover {
	color: #fff;
}
.subscription .btn-subscribe:before {
	content: "";
	color: #fff;
    border: 30px solid #2e2c33;
 	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	height: 60px;
	position: absolute;
	top: -1px;
	visibility: hidden;
	width: 60px;
	z-index: -1;
	transform: translateX(0px);
	transition: visibility 0.3s, transform 0.5s;	
}
.subscription .btn-subscribe:hover:before {
	visibility: visible;
	transform: translateX(-80px);
}
.subscription .has-error .btn-subscribe,
.subscription .has-error .btn-subscribe:focus {
	background: #f16468;
}
.subscription .has-error .btn-subscribe:before {
	border-right-color: #f16468;
}
	
/* Countdown */
.dash {
	display: inline-block;
	height: auto;
	padding: 20px;
	position: relative;
	color: #fff;
	margin: 20px 5px 8px 0;
	min-width: 120px;
}
.dash:nth-child(3n+2) {
	padding-right: 0;
	margin-right: 0;
}
.dash .digit {
	font-size: 68px;
	font-weight: 300;
	line-height: 44px;
}
.dash_title {
	position: relative;
	display: block;
	bottom: 0;
	right: 0;
	left: 0;
	font-size: 12px;
	text-transform: uppercase;
	padding-bottom: 14px;
	padding-right: 6px;
}

/* Video bg */
#video-bg {
	position: fixed;
	right: 0;
	bottom: 0;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: black;
	background-position: center center;
	background-size: contain;
	object-fit: cover;
}

/* Slider */
#slides {
    position: fixed!important;
    top: 0;
    left: 0;
    z-index: 0;
}
#slides .slides-container,
.slides-pagination {
    display: none;	
}
#slides img {
    object-fit: cover;
}

/* ---------------------------
    - About
--------------------------- */
.quote-author {
	font-size: 18px;
	font-style: italic;
	font-weight: 600;
}
.title-about {
	margin-top: 0;
	margin-bottom: 60px;
}
figure.diagonal-img {
	background: #2e2c33;
	margin-bottom: 60px;
	max-height: 500px;
	overflow: hidden;
	position: relative;
}
figure.diagonal-img:before {
	content: '';
	border: 1px solid #fff;
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	z-index: 1;
}
figure.diagonal-img img {
	display: block;
	opacity: 0.5;	
	position: relative;
    width: 100%;
	transition: all 0.35s;
	transform: scale(1);
}
figure.diagonal-img:hover img {
	transform: scale(1.08);
}
figure.diagonal-img figcaption {
	color: #fff;
	padding: 60px;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-transform: uppercase;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
}
figure.diagonal-img h2 {
	font-size: 30px;
	font-weight: 100;
	padding-bottom: 20px;
}
figure.diagonal-img h2 span {
	font-weight: 600;
}
figure.diagonal-img p {
	font-size: 14px;
}
figure.diagonal-img:before,
figure.diagonal-img h2,
figure.diagonal-img p {
	margin: 0;
}

/* Features */
.three-section {
	position: relative;
}
.row-features {
    margin: 30px 0 0;
}
.row-features div[class^="col-"] {
	margin-bottom: 30px;
}
.row-features img {
	margin-top: 10px;
	width: 64px;
}
.col-features h6 {
	color: inherit;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
	transition: color 0.3s;
}
.col-features p {
	font-size: 14px;
	margin-bottom: 0;
}
.col-features {
	padding: 0 20px;
	position: relative;	
}
.col-features:hover img {
	transform: scale(1.05);
}
.col-features:hover img {
	transform: scale(1);
	transition: transform 0.3s;	
}

/* ---------------------------
    - Portfolio
--------------------------- */
.item-project {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 16px rgba(208,218,225,0.2);
	margin-bottom: 30px;
	padding: 15px;
	overflow: hidden;
	transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.item-project:hover {
	box-shadow: 0 0 26px rgba(208,218,225,1);
}
.page-dark .item-project,
.page-dark .item-project:hover {
	box-shadow: none;
}
.item-project:hover img {
	transform: scale(1.05);
}
.thumbnail_project {
	background: #ebeff2;
	height: 220px;
	overflow: hidden;
    position: relative;
	width: 100%;
}
.item-project .thumbnail_project:before {
	content: '';
	border: 1px solid #fff;
	opacity: 0;
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	z-index: 2;
	transform: scale(1.1);
	transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.item-project:hover .thumbnail_project:before {
	opacity: 1;
	transform: scale(1);
}
.item-project .thumbnail_project:after {
	content: '';
	background: rgba(46,44,51,0.1);
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
	z-index: 1;
	transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.item-project:hover .thumbnail_project:after {
	background: rgba(46,44,51,0.4);
}
.item-project img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.objectfit .item-project img{
	height:100%;
    object-fit: cover;	
}
.no-objectfit .item-project img{
	height:auto;
}
.item-project h2 {
	color: #2e2c33;
	font-size: 18px;
	font-weight: 400;
	margin-top: 15px;
	margin-bottom: 0;
	line-height: 32px;
}
.item-project p {
	color: #696f7e;
	font-size: 14px;
	font-weight: 400;
    font-style: italic;
	margin-top: 8px;
	margin-bottom: 0;
}
.item-project .view-link,
.item-project .view-link span {
 	display: block;
	height: 100%;
	width: 100%;
	position: relative;
}
.item-project .view-link span {
	z-index: 3;
}
.item-project .view-link:focus {
	outline: none;
}
.item-project .view-link span:before,
.item-project .view-link span:after {
	content: "";
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transform: scale(2);
	transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
	z-index: 3;
}
.item-project:hover .view-link span:before,
.item-project:hover .view-link span:after {
	opacity: 1;
    transform: scale(1);
}
.item-project .view-link span:before {
	border-top: 1px solid #fff;
	height: 1px;
	width: 40px;
}
.item-project .view-link span:after {
	border-left: 1px solid #fff;
	height: 40px;
	width: 1px;
}

.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* ---------------------------
    - Contacts
--------------------------- */
input.style-input,
textarea.style-textarea {
	background: transparent;
	color: #2e2c33;
	border-bottom: 2px solid #2e2c33;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	font-size: 20px;
	font-weight: 700;
	box-shadow: none;
	transition: background 0.3s, border-bottom 0.3s;
}
input.style-input {
	height: 60px;
	padding: 6px 20px;
}
input.style-input:focus,
textarea.style-textarea:focus {
	background: #f2f3f9;
	border-color: #f2f3f9;
	border-radius: 0;
	box-shadow: none;
	transition: background 0.3s, border-bottom 0.3s;
}
textarea.style-textarea {
	padding: 20px;
	resize: none;
	overflow: auto;
	-ms-overflow-style: none;
    outline: none;
}
.contact-row .has-error .form-control,
.contact-row .has-error .form-control:focus {
	background: #f46b85;
	border-bottom: 2px solid #f46b85;
	box-shadow: none;
	transition: background 0.3s, border-bottom 0.3s;
}
.style-label,
.has-error .form-control.style-label {
	background: transparent;
	border:0;
	box-shadow: none;
	color: #2e2c33;
    padding: 10px 0 0 20px;
	text-align: left;
}
.has-error .form-control.style-label {
	color: #f46b85;
}
.help-block.with-errors {
    color: #f46b85;
	font-size: 12px;
    padding: 6px 20px 0 0;
    margin: 0;	
}
.help-block.with-errors ul {
    margin: 0;
}
.btn-style,
.btn-style.disabled {
	background: transparent;
	border: 2px solid #2e2c33;
	border-radius: 0 0px 0 0px;
	color: #2e2c33;
	font-size: 16px;
	font-weight: 700;
	height: 60px;
	margin-bottom: 30px;
	opacity: 1;
	position: relative;
	text-transform: uppercase;
	transition: border 0.3s, color 0.3s, background  0.3s;
}
.btn-style:hover,
.btn-style:focus,
.btn-style:active,
.btn-style:active:focus {
	background: #2e2c33;
 	border: 2px solid #2e2c33;
	color: #fff;
    outline: none;
}
.style-text-danger,
.style-text-success {
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.style-text-danger {
	color: #f16468;	
}
.style-text-success {
	color: #42a24b;
}

/* Dark */
.page-dark input.style-input,
.page-dark input.style-input,
.page-dark textarea.style-textarea {
	border-color: #fff;
	color: #fff;
}
.page-dark input.style-input:focus,
.page-dark textarea.style-textarea:focus {
	color: #2e2c33;
}
.page-dark .style-label,
.page-dark .has-error .form-control.style-label {
	color: #fff;
}
.page-dark .btn-style,
.page-dark .btn-style.disabled {
	border: 2px solid #fff;
	color: #fff;
}
.page-dark .btn-style:hover,
.page-dark .btn-style:focus,
.page-dark .btn-style:active,
.page-dark .btn-style:active:focus {
	background: #fff;
 	border: 2px solid #fff;
	color: #2e2c33;
}
	 
/* ---------------------------
    - Popup
--------------------------- */
#dialog {
    background-color: #fff;
    padding: 20px 30px;
    text-align: left;
    max-width: 400px;
    margin: 40px auto;
    position: relative;
}
.mfp-content button.mfp-close {
	background-color: #f16468;
	background-image:  url(../images/close.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 60% 60%;
    width: 48px;
    height: 48px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    padding: 0px 0 2px 0px;
    color: #FFF;
    font-style: normal;
    font-size: 48px;
	opacity: 1;
	text-indent:-9999px;
	transition: background-color 0.3s;
}
.mfp-content .mfp-close:hover,
.mfp-content .mfp-close:focus {
    background-color: #f97e81;
}
figure img.mfp-img {
	padding: 0;
}
figcaption .mfp-bottom-bar {
	margin-top: 0;
}

/* Fade-zoom animation for first dialog */
.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0; 
    transition: all 0.2s ease-in-out;
    transform: scale(0.8); 
}
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1; 
    transform: scale(1);
}
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	opacity: 0;
    transform: scale(0.8);
}
.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}

/* Fade-move animation for second dialog */
.my-mfp-slide-bottom .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-out;
    transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
}
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: translateY(0) perspective( 600px ) rotateX( 0 );
}
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
    opacity: 0;
    transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}
.my-mfp-slide-bottom.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
    opacity: 0.4;
}
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
    opacity: 0;
}

/* ---------------------------
    - Social Buttons
--------------------------- */
.social-buttons {
	margin: 30px auto;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.social-buttons li {
	padding: 0 8px;
}
.social-buttons li a {
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	display: block;
	font-size: 18px;
	line-height: 34px;
	height: 36px;
	width: 36px;
	opacity: .6;
	transition: all 0.3s;
}
.social-buttons li a:hover {
	opacity: 1;
}

/* ---------------------------
    - Pageload
--------------------------- */
.page {
	display: none;
}
.page.show {
	display: block;
}
.pageload-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
	z-index: 10;
}
.pageload-overlay.show {
	visibility: visible;
}
.pageload-overlay svg {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}
.pageload-overlay svg path {
	fill: #fff;
}
.pageload-overlay::after,
.pageload-overlay::before {
	content: '';
	position: fixed;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -10px;
	border-radius: 50%;
	visibility: hidden;
	opacity: 0;
	z-index: 1000;
	transition: opacity 0.15s, visibility 0s 0.15s;
}
.pageload-overlay::after {
	background: #f46b85;
	transform: translateX(-20px);
	animation: moveRight 0.6s linear infinite alternate;
}
.pageload-overlay::before {
	background: #f46b85;
	transform: translateX(20px);
	animation: moveLeft 0.6s linear infinite alternate;
}
@keyframes moveRight {
	to { transform: translateX(20px); }
}
@keyframes moveLeft {
	to { transform: translateX(-20px); }
}
.pageload-loading.pageload-overlay::after,
.pageload-loading.pageload-overlay::before {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s;
}

/* ---------------------------
    - Animations
--------------------------- */

/* -- Angle Down --*/
@keyframes animation-angle-down {
  0% {
    transform:  translate(0px,0px);
  }
  15% {
    transform:  translate(0px,-8px);
  }
  30% {
    transform:  translate(0px,0px);
  }
  45% {
    transform:  translate(0px,-5px);
  }
  60% {
    transform:  translate(0px,0px);
  }
  75% {
    transform:  translate(0px,-2px);
  }
  100% {
    transform:  translate(0px,0px);
  }
}

/* -- Angle Down --*/
@keyframes animation-angle-right {
  0% {
    transform:  translate(0px,0px);
  }
  15% {
    transform:  translate(-8px,0px);
  }
  30% {
    transform:  translate(0px,0px);
  }
  45% {
    transform:  translate(-5px,0px);
  }
  60% {
    transform:  translate(0px,0px);
  }
  75% {
    transform:  translate(-2px,0px);
  }
  100% {
    transform:  translate(0px,0px);
  }
}

/* -- Background --*/
@keyframes background-animation {
  0% {
	transform: scale(1);
  }
  50% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1);
  }
}

/* -- BG Blue --*/
@keyframes bg-blue {
  0% {
	background-color: #00d7f5;
	transition: all 3s ease-in-out;
  }
  25% {
    background-color: #00ace6;
	transition: all 3s ease-in-out;
  }
  50% {
    background-color: #0094c6;
	transition: all 3s ease-in-out;
  }
  75% {
    background-color: #00ace6;
	transition: all 3s ease-in-out;
  }  
  100% {
    background-color: #00d7f5;
	transition: all 3s ease-in-out;
  }
}

/* -- BG Yellow --*/
@keyframes bg-yellow {
  0% {
	background-color: #f2bc52;
	transition: all 3s ease-in-out;
  }
  12% {
    background-color: #f2af5e;
	transition: all 3s ease-in-out;
  }
  25% {
    background-color: #ef9559;
	transition: all 3s ease-in-out;
  }
  50% {
    background-color: #de7756;
	transition: all 3s ease-in-out;
  }
  75% {
    background-color: #ef9559;
	transition: all 3s ease-in-out;
  }
  88% {
    background-color: #f2af5e;
	transition: all 3s ease-in-out;
  }
  100% {
    background-color: #f2bc52;
	transition: all 3s ease-in-out;
  }
}

/* -- BG Green --*/
@keyframes bg-green {
  0% {
	background-color: #00d7ae;
	transition: all 3s ease-in-out;
  }
  25% {
    background-color: #00c39e;
	transition: all 3s ease-in-out;
  }
  50% {
    background-color: #009c7e;
	transition: all 3s ease-in-out;
  }
  75% {
    background-color: #00c39e;
	transition: all 3s ease-in-out;
  }  
  100% {
    background-color: #00d7ae;
	transition: all 3s ease-in-out;
  }
}

/* -- BG Multi --*/
@keyframes bg-multi {
  0% {
	background-color: #f2bc52;
	transition: all 3s ease-in-out;
  }
  12% {
    background-color: #00d7f5;
	transition: all 3s ease-in-out;
  }
  25% {
    background-color: #00d7ae;
	transition: all 3s ease-in-out;
  }
  50% {
    background-color: #5884e9;
	transition: all 3s ease-in-out;
  }
  75% {
    background-color: #00d7ae;
	transition: all 3s ease-in-out;
  }
  88% {
    background-color: #00d7f5;
	transition: all 3s ease-in-out;
  }
  100% {
    background-color: #f2bc52;
	transition: all 3s ease-in-out;
  }
}

/* ---------------------------
    - Responsive Styles
--------------------------- */
@media only screen and (max-width: 990px) {
	.title {
		text-align: center;
	}
    .title:before {
	    margin: 0 auto;
        left: 0;
		right: 0;
	}
	.title-description {
		text-align: center;
	}
	.title-description-center {
		max-width: 80%;
	}
    .title-about {
	    margin-top: 80px;
    }
	.btn-col {
		text-align: center;
	}
	#countdown_dashboard {
        margin-top: 30px;
		text-align: center;
	}
	.dash .digit {
		font-size: 64px;
	}
    .dash:nth-child(3n+2) {
	    padding-right: 20px;
	    margin-right: 5px;
    }
	.dash_title {
		padding-right: 0;
	}
}

@media only screen and (max-width: 767px) {
	.title-description-center {
		max-width: 100%;
	}
    .navbar ul > li > a {
	    border-right: 0;
        padding: 10px 15px;
    }
	.navbar ul > li > a:hover {
		background: rgba(46,44,51,0.9);
		border-radius: 3px;
    }
	.navbar ul > li > a:hover:before {
	    border-bottom: 0;
    }
	.diagonal:before {
		display: none;
	}
}

@media only screen and (max-width: 580px) {
	.vertical-center {
		height: auto;
		position: relative;
	}
	.vertical-center .row-table {
		vertical-align: top;
	}
	.page-overlay {
	    padding: 30px 0;
    }
	.navbar {
		position: relative;
		top: 0;
	}
	.title {
		font-size: 42px;
		text-align: center;
	}
    .title:before {
	    margin: 0 auto;
        left: 0;
		right: 0;
	}
	.title-description {
		text-align: center;
	}
	#countdown_dashboard {
        margin: 30px 0;
		text-align: center;
	}
	.dash {
		height: 100px;
		padding: 10px 20px;
	}
	.dash .digit {
		font-size: 40px;
		line-height: 50px;
	}
	.dash_title {
		text-align: center;
	}
	.one-section .btn {
		width: 100%;
	}
	.subscription input.form-control {
		padding-right: 20px;
	}
	.subscription .btn-subscribe {
        margin-top: 15px;
		position: relative;
		text-align: center;
		width: 100%;
	}
    .subscription .style-text-danger, 
    .subscription .style-text-success {
	    margin-top: 10px;
	    margin-left: 0px;
	    text-align: center;
    }
	.btn-subscribe:before {
		display: none;	
	}
    .row-features img {
	    margin-top: 0px;
	    width: 48px;
    }
	.mfp-wrap {
	    overflow: auto!important;
	}
	figure.diagonal-img figcaption {
		padding: 40px 60px;
	}
	figure.diagonal-img {
		margin-bottom: 0;
	}
	figure.diagonal-img img {
		height: 500px;
		object-fit: cover;
	}
	figure.diagonal-img h2 {
	    font-size: 24px;
		line-height: 38px;
		padding-bottom: 10px;
    }
    .social-buttons {
	    position: relative;
	    z-index: 3;
    }
}