<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Manage Jobs</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active">Manage Jobs</li>			
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
    	&nbsp;
    </div>
</div>


<div class="row">
	<div class="col-xl-12 col-md-12">
		<div class="card">
			<div class="card-block"><!--card-block-->
				<div class="col-sm-3">
                    <div class="demo-switch-title">PURPLE</div>
                    <div class="switch">
                        <label>
                            <input type="checkbox" checked><span class="lever switch-col-purple"></span></label>
                    </div>
                </div>
				<div class="table-responsive small">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Ref #</th>
								<th>Job Description</th>
								<th>Company</th>
								<th>Duration</th>
								<th>State</th>
								<th>City</th>
								<th>Job Type</th>	
								<th>Job Status</th>					
								<th>Posted By</th>													
								<th>Date Posted</th>				
								<th width="12%">Action</th>			
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><button type="button" class="btn btn-info btn-xs">237827</button></td>
								<td>Healthcare is now accepting BC/BE Cardiothoracic Anesthesiology candidates to...</td>				
								<td>Healthcare Company</td>
								<td>Full Time</td>
								<td>New York</td>				
								<td>New York</td>				
								<td>Anesthesiologist</td>
								<td><button type="button" class="btn btn-warning btn-xs">Pending</button></td>
								<td>John Doe</td>				
								<td>03/22/2018</td>
								<td>
								<button type="button" class="btn btn-warning btn-xs">Edit</button> <button type="button" class="btn btn-danger btn-xs">Delete</button>
								</td>			
							</tr>
							<tr>
								<td>
									<button type="button" class="btn btn-info btn-xs">	237830
									</button>
								</td>
								<td>Healthcare is now accepting...</td>				
								<td>Test Company</td>
								<td>Full Time</td>
								<td>New York</td>				
								<td>New York</td>				
								<td>CRNA</td>
								<td><button type="button" class="btn btn-success btn-xs">Confirmed</button></td>
								<td>John Doe</td>								
								<td>03/22/2018</td>
								<td>
								<button type="button" class="btn btn-warning btn-xs">Edit</button> <button type="button" class="btn btn-danger btn-xs">Delete</button>
								</td>			
							</tr>
						</tbody>			
					</table>		
				</div>	

			
			</div><!--end-card-block-->
		</div>
	</div>
</div>			