<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Manage CV</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active">Manage CV</li>			
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
    	&nbsp;
    </div>
</div>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-block"><!--card-block-->

<div class="table-responsive small">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Ref #</th>
				<th>CV Name</th>
				<th>Brief Description</th>
				<th>Duration Desired</th>				
				<th>Wanted States</th>					
				<th>CV Type</th>
				<th>Candidate Status</th>	
				<th>Post Updated</th>	
				<th width="12%">Action</th>			
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat = "candidate in candidates">
				<td><button type="button" class="btn btn-info btn-xs">{{candidate.id}}</button></td>
				<td>{{candidate.firstName}} {{candidate.lastName}}</td>	
				<td>{{candidate.description}}</td>				
				<td>{{candidate.states}}</td>				
				<td>{{candidate.candidate_type}}</td>
				<td><button type="button" class="btn btn-warning btn-xs"> {{candidate.candidate_type}}</button></td>
				<td>{{candidate.cv_status}}</td>				
				<td>{{candidate.date_updated}}</td>
				<td>
					<button type="button" class="btn btn-warning btn-xs">Preview</button>
				</td>			
			</tr>
		</tbody>			
	</table>		
</div>	

			
			</div><!--end-card-block-->
		</div>
	</div>
</div>