<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Manage Accounts</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active">Manage Accounts</li>			
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
    	&nbsp;
    </div>
</div>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-block"><!--card-block-->

<div class="table-responsive small">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>First Name</th>				
				<th>Last Name</th>
				<th>Email Address</th>				
				<th>User Type</th>					
				<th>Status</th>
				<th>Date Registered</th>											
				<th width="12%">Edit</th>			
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><button type="button" class="btn btn-info btn-xs">123</button></td>
				<td>John</td>				
				<td>Doe</td>
				<td>johndoe@example.com</td>
				<td>Anesthesiologist</td>	
				<td>Active</td>															
				<td>03/22/2018</td>
				<td>
				<button type="button" class="btn btn-warning btn-xs">Edit</button>
				</td>			
			</tr>
			
		</tbody>			
	</table>		
</div>	

			
			</div><!--end-card-block-->
		</div>
	</div>
</div>