<aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- User profile -->
                <div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">
                    <!-- User profile image -->

                    <div class="profile-img"> <img data-text="basicInfo.ímage_path" src="{{parseUrl(basicInfo.image_path)}}" alt="user" /> </div>
                    <!-- User profile text-->
                    <div class="profile-text"> <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" ng-bind="basicInfo.company_name"></a>
                        <div class="dropdown-menu animated flipInY"> <a href="#" class="dropdown-item"><i class="ti-user"></i> My Profile</a> <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a> <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
                            <div class="dropdown-divider"></div> <a href="#" class="dropdown-item"><i class="ti-settings"></i> Account Setting</a>
                            <div class="dropdown-divider"></div> <a href="login.html" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a> </div>
                    </div>
                </div>
                <!-- End User profile text-->
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">                      
                        <li ui-sref="profile" ng-if="getUser('userAdmin')!='1'" ng-click="collapse.profile = !collapse.profile" ng-class="{'active' : $state.current.name == 'profile'}"> 
                            <a class="waves-effect waves-dark" aria-expanded="false">
                                <i>
                                    <img style="width: 30px;height: 30px" src="assets/company_profile.svg" ng-if="$state.current.name != 'profile'">
                                    <img style="width: 30px;height: 30px" src="assets/company_profile_white.svg" ng-if="$state.current.name == 'profile'">
                                </i>
                                    <span ng-if="getUser('userType') == '2'" class="hide-menu company-profile">Company Profile </span>
                                    <span ng-if="getUser('userType') == '1'" class="hide-menu company-profile">Profile </span>
                            </a>
                        </li>

                  <!--       <li ui-sref="job_post_type" ng-if="getUser('userAdmin')!='1'" ng-click="collapse.profile = !collapse.profile" ng-class="{'active' : $state.current.name == 'job_post_type'}"> 
                            <a class="waves-effect waves-dark" aria-expanded="false"><i><img style="width: 30px;height: 30px" src="assets/post_a_new_job_icon.svg"></i><span class="hide-menu company-profile">Post a new job</span></a>
                        </li>      

 -->


                        <!-- <li ui-sref="contact_list" ng-if="getUser('userAdmin')!='1'" ng-click="collapse.contact_list = !collapse.contact_list" ng-class="{'active' : $state.current.name == 'contact_list'}"> 
                            <a class="waves-effect waves-dark" aria-expanded="false">
                                <i>
                                    <img style="width: 30px;height: 30px" src="assets/post_a_new_job_icon.svg" ng-if="$state.current.name != 'contact_list'">
                                    <img style="width: 30px;height: 30px" src="assets/post_a_new_job_icon_white.svg" ng-if="$state.current.name == 'contact_list'">
                                </i>
                                <span class="hide-menu company-profile">Contact List</span></a>
                        </li>    --> 


                        <li ui-sref="notifications" ng-if="getUser('userAdmin')!='1'" ng-click="collapse.notifications = !collapse.notifications" ng-class="{'active' : $state.current.name == 'notifications'}"> 
                            <a class="waves-effect waves-dark" aria-expanded="false">
                                <i>
                                    <img style="width: 30px;height: 30px" src="assets/post_a_new_job_icon.svg" ng-if="$state.current.name != 'notifications'">
                                    <img style="width: 30px;height: 30px" src="assets/post_a_new_job_icon_white.svg" ng-if="$state.current.name == 'notifications'">
                                </i>
                                <span class="hide-menu company-profile">Notifications</span></a>
                        </li>

                        <li ui-sref="mailbox" ng-if="getUser('userAdmin')!='1'" ng-click="collapse.notifications = !collapse.notifications" ng-class="{'active' : $state.current.name == 'mailbox'}"> 
                            <a class="waves-effect waves-dark" aria-expanded="false">
                                <i>
                                    <img style="width: 30px;height: 30px" src="assets/inbox_icon_dark.svg" ng-if="$state.current.name != 'mailbox'">
                                    <img style="width: 30px;height: 30px" src="assets/inbox_icon_light.svg" ng-if="$state.current.name == 'mailbox'">
                                </i>
                                <span class="hide-menu company-profile">Mailbox</span></a>
                        </li>                         
                        

                        <li show-slider="" ng-if="getUser('userType') == '1'" ui-sref="bookmarks"> 
                            <a class="waves-effect waves-dark" aria-expanded="false">
                                <i>
                                    <img style="width: 30px;height: 30px" src="assets/post_a_new_job_icon.svg">
                                </i>
                                <span class="hide-menu company-profile">Bookmarks</span>
                            </a>
                        </li>  

                        <li ui-sref="jobs_list" ng-if="getUser('userType') == '2'" ng-click="collapse.jobs = !collapse.jobs" ng-class="{'active' : $state.current.name == 'jobs_list'}"> 
                            <a class="waves-effect waves-dark"  aria-expanded="false">
                                <img style="width: 30px;height: 30px" src="assets/manage_jobs.svg" ng-if="$state.current.name != 'jobs_list'">
                                <img style="width: 30px;height: 30px" src="assets/manage_jobs_white.svg" ng-if="$state.current.name == 'jobs_list'">

                                <span class="hide-menu side-menu">Manage Jobs</span>
                            </a>
                            
                        </li>

                        <li show-slider="" ng-if="getUser('userType') == '2'" id="add_job_form_btn" slider-width="873px" id_target = "new-job-slider" ui-sref="jobs_list({post_job: true})" ng-if="getUser('userAdmin')!='1'" ng-click="collapse.jobs_list = !collapse.jobs_list"> 
                            <a class="waves-effect waves-dark" aria-expanded="false"><i><img style="width: 30px;height: 30px" src="assets/post_a_new_job_icon.svg"></i><span class="hide-menu company-profile">Post a Job</span></a>
                        </li>  

                        <li ui-sref="jobs_list" ng-if="getUser('userType') == '2'" ng-click="collapse.jobs = !collapse.jobs" ng-class="{'active' : $state.current.name == 'jobs_list'}"> 
                            <a class="waves-effect waves-dark"  aria-expanded="false">
                                <img style="width: 30px;height: 30px" src="assets/manage_jobs.svg" ng-if="$state.current.name != 'jobs_list'">
                                <img style="width: 30px;height: 30px" src="assets/manage_jobs_white.svg" ng-if="$state.current.name == 'jobs_list'">

                                <span class="hide-menu side-menu">Manage Jobs</span>
                            </a>
                            
                        </li>

                         <li ng-if="getUser('userType') == '2'" ui-sref="credit_cards" ng-if="getUser('userAdmin')!='1'" ng-click="collapse.cards = !collapse.cards" ng-class="{'active' : $state.current.name == 'credit_cards'}"> 
                            <a class="waves-effect waves-dark" aria-expanded="false">
                                <i>
                                    <img style="width: 30px;height: 30px" src="assets/transactions_icon.svg" ng-if="$state.current.name != 'credit_cards'">
                                    <img style="width: 30px;height: 30px" src="assets/transactions_icon_light.svg" ng-if="$state.current.name == 'credit_cards'">
                                </i>
                                <span class="hide-menu company-profile">Billing</span></a>
                        </li>
						

                        <li ng-if="getUser('userType') == '2' && getUser('userAdmin')!='1'" ui-sref="plan_list" ng-if="getUser('userAdmin')!='1'" ng-click="collapse.plan_list = !collapse.plan_list" ng-class="{'active' : $state.current.name == 'plan_list'}"> 
                            <a class="waves-effect waves-dark plan_list" aria-expanded="false">
                                <i>
                                    <img style="width: 30px;height: 30px" src="assets/packages_icon.svg" ng-if="$state.current.name != 'plan_list'">
                                    <img style="width: 30px;height: 30px" src="assets/packages_icon_light.svg" ng-if="$state.current.name == 'plan_list'">
                                </i>
                                <span class="hide-menu company-profile">Packages</span></a>
                        </li>

                        <!-- candidate -->
             <!--            <li ng-if="getUser('userType') == '1'" ng-click="collapse.cv = !collapse.cv" ng-class="{'active' : collapse.cv}"> <a class="has-arrow waves-effect waves-dark"  aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Cv</span></a>
                        </li>
 -->

<!--                       

                        <li ng-if="getUser('userAdmin')!='1'" ng-click="collapse.cv = !collapse.cv" ng-class="{'active' : collapse.cv}"> <a class="has-arrow waves-effect waves-dark"  aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Cv </span></a>
                            <ul aria-expanded="false" class="collapse" ng-class="{'in' : collapse.cv}">
                                <li class="pointer"><a  ui-sref="add_cv"">Post a Cv</a></li>
                                <li class="pointer"><a  ui-sref="list_cv">Cv Lists</a></li>
                            </ul>
                        </li> -->
						<li ui-sref="postsetting" ng-if="getUser('userAdmin')=='1'" ng-click="collapse.postsetting = !collapse.postsetting" ng-class="{'active' : $state.current.name == 'postsetting'}"> 
                            <a class="waves-effect waves-dark" aria-expanded="false">
                                <i>
                                    <img style="width: 30px;height: 30px" src="assets/post_a_new_job_icon.svg" ng-if="$state.current.name != 'postsetting'">
                                    <img style="width: 30px;height: 30px" src="assets/post_a_new_job_icon_white.svg" ng-if="$state.current.name == 'postsetting'">
                                </i>
                                <span class="hide-menu company-profile">Posting Settings</span></a>
                        </li> 
						
						<li ng-if="getUser('userAdmin')=='1'" ng-click="collapse.manage = !collapse.manage" ng-class="{'active' : collapse.manage}"> <a class="has-arrow waves-effect waves-dark"  aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Manage </span></a>
                            <ul aria-expanded="false" class="collapse" ng-class="{'in' : collapse.manage}">
                                <li class="pointer"><a  ui-sref="manage_jobs">Manage Jobs</a></li>
                                <li class="pointer"><a  ui-sref="manage_cv">Manage Candidates</a></li>
								<li class="pointer"><a  ui-sref="manage_accounts">Manage Accounts</a></li>
                            </ul>
                        </li>

                        

                       <!--  <li ng-click="collapse.plans = !collapse.plans" ng-class="{'active' : $state.current.name == 'plans'}"> 
                            <a ui-sref="plans" class="has-arrow waves-effect waves-dark"  aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Plans </span></a>
                            
                        </li> -->
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
            <!-- Bottom points-->
            <div class="sidebar-footer">
                <!-- item--><a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
                <!-- item--><a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
                <!-- item--><a href="#" ng-click="logout()" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a> 
            </div>
            <!-- End Bottom points-->
        </aside>