<style type="text/css">
    #notif_type{
        display: block;
        font-size: 12px;
    }
    .profiletimeline, 
    .profiletimeline .sl-item .sl-left,
    .profiletimeline .sl-item .sl-right,
    .profiletimeline .sl-item .sl-right a,
    .profiletimeline .sl-item .sl-right span,
    .profiletimeline .sl-item .sl-right p{        
        
    }
    .round{
        background: #fff; */
        width: 50px;
        width: 50px;
    }
    .comment-text h5{
        line-height: 18px;
        font-size: 16px;
        font-weight: 400;
    }
    p{
        font-family: "Poppins", sans-serif;
        margin: 0;
        overflow-x: hidden;
        color: #67757c;
        font-weight: 300;
    }
</style>
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Notifications</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active">Notifications</li>			
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
    	&nbsp;
    </div>
</div>

<div class="col-md-12" style="margin-bottom: 100px">
    <!--<div class="card">
        <div class="card-block">
            <h4 class="card-title">Notification Lists</h4>
            <div class="table-responsive">
                <table class="table table-bordered">
               
                    <tbody>
                        <tr ng-repeat = "notif in notifications">
                           <td class="text-nowrap text-center pointer">
                                <a  > <i class="fa fa-close text-inverse m-r-10"></i> </a>
                            </td>
                            <td>
                                <a ui-sref="preview_notif({notif_id : notif.id})" >
                                    {{notif.notif_type}}
                                </a>
                            </td>
                            <td ng-bind="notif.description">
                            </td>
                            <td ng-bind = "notif.date_sent">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="col-12 text-center">
                    <button class="btn btn-primary" ng-click="getNotifications()">Load More</button>
                </div>
            </div>
        </div>
    </div>-->

    <div class="card">
        <div class="card-body" style="padding: 20px">
        <h4 class="card-title">Notifications</h4>
        <h6 class="card-subtitle">Job Applications</h6>
        </div>
        <div class="comment-widgets">
            <!-- Comment Row -->
            <div class="d-flex flex-row comment-row" ng-repeat = "notif in notifications">
                <div class="p-2">
                    <span class="round">
                        <img ng-src="{{ notif.profile.image_path }}" ng-if="notif.profile.image_path != null" alt="user" width="50">
                        <img src="/public/images/default.png" ng-if="notif.profile.image_path == null" alt="user" width="50">
                    </span>
                </div>
                <div class="comment-text w-100">
                    
                    <h5 ng-if="notif.is_anonymous == 'no'">{{ notif.profile.firstName + ' ' + notif.profile.lastName }}</h5>
                    <h5 ng-if="notif.is_anonymous != 'no'">Anonymous <span class="sl-date" ui-sref="preview_notif({notif_id : notif.id})">{{ notif.date_sent }}</span></h5>

                    <p class="m-b-5">{{ notif.description }}</p>
                    <div class="comment-footer">                                     
                        <span class="label label-info">Pending</span> 
                        <small class="text-muted">{{ notif.date_sent }}</small> 
                        <span class="action-icons">
                            <a href="javascript:void(0)" ng-click="respond(notif.user.id,notif.profile.firstName + ' ' + notif.profile.lastName)"><i class="ti-pencil-alt"></i></a>
                            <a href="{{notif.downloadable_link}}" ng-if="notif.cv_file_name != null"><i class="ti-download"></i></a>                                        
                        </span>
                    </div>
                </div>
            </div>                        
        </div>
    </div>
</div>
