
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Notifications</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active">Notifications Preview</li>			
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
    	&nbsp;
    </div>
</div>

<div class="col-12" style="margin-bottom: 100px">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Notification Preview for Job #{{notif_data.id}}</h4>
            <div class="table-responsive">
                <table class="table table-bordered">
               
                    <tbody>
                        <tr>
                            <td>Name:</td>
                            <td>{{notif_data.candidate_name}}</td>
                        </tr>
                        <tr>
                            <td>Date Sent</td>
                            <td>{{notif_data.date_sent}}</td>
                        </tr>
                        <tr>
                            <td>Message</td>
                            <td>{{notif_data.description}}</td>
                        </tr>
                        <tr>
                            <td>Resume</td>
                            <td><a target="_blank" href="{{notif_data.downloadable_link}}">{{notif_data.downloadable_link}}</a></td>
                        </tr>
                    </tbody>
                </table>

                <div class="col-12 text-center">
                    <button class="btn btn-primary" ui-sref="notifications">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>