<style type="text/css">
	#search-content{
		padding-left: 20px;
		padding-right: 20px;
		height: 400px;
		overflow-y: auto;
	}
	#search-content ul{		
		border-top: 1px solid #f1efef;		
		list-style-type: none;
	    margin: 0;
	    padding: 0;	    
	    overflow: hidden;
	}	
	#search-content ul:last-child{
		border-bottom: 1px solid #f1efef;		
	}
	#search-content ul li{		
		float: left;		
		width:30%;
		padding: 10px 0 10px 0;		
	}
	#search-content ul li:first-child{
		width:50%;
	}
	#search-content ul li:last-child{		
		float: left;		
		width:20%;
		padding: 10px 0 10px 0;		
	}
	#search-content ul li.user-email a{
		color: #5e6c72;
	}
	#sendMessageForm input, #sendMessageForm textarea{
		display: block;
	}
</style>
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Contact List</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Contact List</li>			
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
    	&nbsp;
    </div>
</div>


<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- .left-right-aside-column-->
            <div class="contact-page-aside" style="min-height: 350px;">
                <!-- .left-aside-column-->
                <div class="left-aside">
                    <ul class="list-style-none">
                        <li class="box-label" ng-click="showContactListByLabel(0)"><a href="javascript:void(0)">All Contacts <span>{{countall}}</span></a></li>
                        <li class="divider"></li>
                        <li class="pointer" ng-repeat="UserContactLabel in UserContactLabels" ng-click="showContactListByLabel(UserContactLabel.label_id)">
                        	<a href="javascript:void(0)" class="active">
                        		{{ UserContactLabel.contact_label }}
                        		<span count-contact-label contact-id="{{ UserContactLabel.label_id }}">0</span>
                        	</a>
                        </li>                        
                        <li class="box-label"><a href="javascript:void(0)" data-toggle="modal" data-target="#createnewlabel">+ Create New Label</a></li>
                        <div id="createnewlabel" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="d-flex no-block align-items-center">
                                            <h4 class="modal-title" id="myModalLabel">Add Lable</h4>
                                            <div class="ml-auto">
                                                <button type="button" class="close float-right" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <from class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-12">Name of Label</label>
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control" placeholder="type name"> </div>
                                            </div>                                            
                                        </from>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Save</button>
                                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    </ul>
                </div>
                <!-- /.left-aside-column-->
                <div class="right-aside">
                    <div class="right-page-header">
                        <div class="d-flex">
                            <div class="align-self-center">
                                <h4 class="card-title m-t-10">Contacts / Employee List </h4></div>
                            <div class="ml-auto">
                                <input type="text" id="demo-input-search2" placeholder="search contacts" class="form-control search-contact-list" ng-change="searchContactList()" ng-model="myValue"> </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                            <thead>
                                <tr>                                    
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Role</th>
                                    <!--<th>Age</th>
                                    <th>Joining date</th>
                                    <th>Salary</th>-->
                                    <th>Notification</th>
                                    <th colspan="2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="contact in contacts track by $index">                                    
                                    <td>
                                        <a><img src="/application/assets/images/users/1.jpg" alt="user" class="img-circle" /> {{ contact.user.username }}</a>
                                    </td>
                                    <td><span ng-bind="contact.user.email"></span></td>
                                    <td>{{ contact.user.user_profile.phone }}</td>
                                    <td><span class="label label-success">{{ contact.user.user_account_title.user_account_title }}</span> </td>
                                    <!--<td>23</td>
                                    <td>12-10-2014</td>
                                    <td>$1200</td>-->
                                    <td>                                    	
                                        <div class="switch">                                        	
                                            <label>
                                                <input type="checkbox" newpost-notification contact-id="{{ contact.id }}" allow="{{ contact.notif_on_new_post }}"><span class="lever switch-col-indigo"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                    	<!-- <button type="button" class="btn btn-icon btn-pure btn-outline delete-row-btn" data-toggle="modal" data-target="#sendMessage" ng-click="sendMessage(contact.user_id, contact.user.username ,contact.user.email)">
                                    		<i class="fa fa-paper-plane-o"></i>
                                    	</button> -->
                                        <button class="btn btn-icon btn-pure btn-outline delete-row-btn" ui-sref="chat({convo_id : recent.convo_id})" ng-click="selectUserFromSearch(contact.user_id)">
                                            <i class="fa fa-paper-plane-o"></i>
                                        </button>
                                    	<div class="modal" id="sendMessage">
										  	<div class="modal-dialog">
											    <div class="modal-content">

											      	<!-- Modal Header -->
											      	<div class="modal-header">
											        	<h4 class="modal-title">Send Message</h4>
											        	<button type="button" class="close" data-dismiss="modal">&times;</button>
											      	</div>

											      	<!-- Modal body -->
											      	<div class="modal-body">											      		
											      		<div class="form-horizontal" id="sendMessageForm">
											      			<div class="form-group">
											        			<label for="username">username</label>
											        			<input placeholder="contact user name here.." id="username" type="text" value="{{ message_user_name }}" class="form-control" disabled>
											        		</div>
											        		<div class="form-group">
											        			<label for="useremail">user email</label>
											        			<input placeholder="contact email here.." id="useremail" type="text" value="{{ message_user_email }}" class="form-control" disabled>
											        		</div>
											        		<div class="form-group">
											        			<label for="useremail">Message</label>
											        			<textarea ng-model="user.message" placeholder="Your message here.." class="form-control" rows="5"></textarea>
											        		</div>
											      		</div>															      		
											      	</div>

											      	<!-- Modal footer -->
											      	<div class="modal-footer">
											      		<button type="button" class="btn btn-info" ng-click="submitMessage(user.message)"><i class="fa fa-paper-plane-o"></i> Send</button>
											        	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
											      	</div>

											    </div>
										  	</div>
										</div>
                                    </td>
                                    <td>
                                        <button type="button" ng-click="removeToContacts(contact.id)" class="btn btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                    </td>                                    
                                </tr>                                                             
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2">
                                        <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact">Add New Contact</button>
                                    </td>
                                    <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel">Add New Contact</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                </div>
                                                <div class="modal-body">
                                                    <from class="form-horizontal form-material">
                                                    	<div class="row">
                                                    		<div class="col-md-6">
	                                                    		<div class="form-group">
		                                                            <label>Search Contact</label>
		                                                            <div class="col-md-12 m-b-20">
		                                                                <input type="text" id="search-contact" placeholder="Search Contact here.." class="form-control" ng-change="searchContact()" ng-model="myValue">
		                                                            </div>
		                                                        </div>
	                                                    	</div>
	                                                        <div class="col-md-6">
				                                                <div class="form-group has-success">
				                                                    <label>Contact Group</label>
				                                                    <select id="contact-option" class="form-control custom-select" ng-model="contactgroup">			    
				                                                    	<option value="">Select Group</option>
				                                                        <option ng-repeat="UserContactLabel in UserContactLabels" value="{{ UserContactLabel.id }}">{{ UserContactLabel.contact_label }}</option>
				                                                    </select>                                
				                                                </div>
				                                            </div>
                                                    	</div>                                                        
                                                    </from>                                                                             <div id="search-content">
                                                    	<ul ng-repeat="user in userlist track by $index" ng-click="AddToContactList(user.id,user.username,contactgroup)">
	                                                    	<li class="user-email pointer">
	                                                    		<a href=""><img src="/application/assets/images/users/1.jpg" alt="user" class="img-circle" height="30" width="auto" /> {{ user.username }}</a>
	                                                    	</li>	                                                    	
	                                                    	<li>
	                                                    		<span class="label label-info">
	                                                    			{{user.user_account_title.user_account_title}}
	                                                    		</span>
	                                                    	</li>
	                                                    	<li class="text-right pointer">                     		
	                                                    		<i class="mdi mdi-account-plus" style="font-size: 20px;"></i>
	                                                    	</li>	                                                    	
	                                                    </ul>	                                                    
                                                    </div>              
                                                </div>
                                                <div class="modal-footer">                                                    
                                                    <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                    <td colspan="7">
                                        <div class="text-right">
                                            <ul class="pagination"> </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- .left-aside-column-->
                </div>
                <!-- /.left-right-aside-column-->
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->