<style type="text/css">
    .card-body{
        padding: 20px;
    }
    .form-group label{
        
    }
    form#form-invite{
        padding-top: 30px;
        padding-bottom: 15px;
    }
    #email{
        padding: 12px;
    }
</style>
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Send Invites</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active">Send Invites</li>          
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        &nbsp;
    </div>
</div>


<div class="row">
    <!-- Column -->
    <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card">
            <div class="card-body text-center" id="verify-box">
                <div class="row">
                    <div class="col-md-8 offset-md-2 col-xlg-6 offset-xlg-3 text-center">
                        <form id="form-invite" name="inviteForm">
                            <div class="form-group">
                                <label>Enter Email address</label>
                                <input type="email" name="email" id="email" ng-model="invitation.email" class="form-control text-center" required>
                            </div>
                            <div class="form-group">
                                <label>Message (Optional)</label>
                                <textarea name="message" class="form-control" ng-model="invitation.message" rows="5"></textarea>
                            </div>
                            <div class="form-group text-center">
                                <button type="button" class="btn waves-effect waves-light btn-lg btn-rounded btn-primary" ng-click="sendInvitation()">
                                    <small>Send Register Invitation</small>
                                </button>
                            </div>
                        </form>                        
                    </div>
                </div>                
            </div>                        
        </div>
    </div>
</div>