<style type="text/css">
    .max-texts{
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #tb-mailbox tr, #tb-mailbox tr td{
        cursor: pointer;
    }
    .list-container{
        position: absolute;
        width: calc(100% - 30px);
        font-family: "Poppins", sans-serif;                             
    }
    .list-container ul{
        padding: 0;
        background: #fff;        
    }

    .list-container ul li{
        list-style: none;
        border: 1px solid rgba(0,0,0,.15);
        padding: 5px;
        margin-bottom: 0;
    }
    .card-body{
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;        
    }
    p{
        font-family: "Poppins", sans-serif;
        color: #67757c;
        font-weight: 300;
        font-size: 16px;
    }
</style>
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Mailbox</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>            
            <li class="breadcrumb-item active">Mailbox</li>          
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card" style="padding: 20px;">
            <div class="row">
                <div class="col-xlg-2 col-lg-4 col-md-4">
                    <div class="card-body inbox-panel"><a href="javascript:;" class="btn btn-danger m-b-20 p-10 btn-block waves-effect waves-light" ng-click="composemail()" btn-compose>Compose</a>
                        <ul class="list-group list-group-full">
                            <li class="list-group-item pointer" ng-class="{'active' : mailboxid == 1}" ng-click="setmailboxid(1)"> 
                                <a href="javascript:void(0)">
                                    <i class="mdi mdi-gmail"></i> Inbox 
                                </a>
                                <span class="badge badge-success ml-auto">6</span>
                            </li>
                            <li class="list-group-item pointer" ng-class="{'active' : mailboxid == 2}" ng-click="setmailboxid(2)">
                                <a href="javascript:void(0)"> <i class="mdi mdi-star"></i> Starred </a>
                            </li>
                            <!-- <li class="list-group-item pointer">
                                <a href="javascript:void(0)"> <i class="mdi mdi-send"></i> Draft </a><span class="badge badge-danger ml-auto">3</span>
                            </li> -->
                            <li class="list-group-item pointer" ng-class="{'active' : mode == 2}" ng-click="sentitem()">
                                <a href="javascript:void(0)"> <i class="mdi mdi-file-document-box" ></i> Sent Mail </a>
                            </li>
                            <li class="list-group-item pointer" ng-class="{'active' : mailboxid == 4}" ng-click="setmailboxid(4)">
                                <a href="javascript:void(0)"> <i class="mdi mdi-delete"></i> Trash </a>
                            </li>
                        </ul>                        
                    </div>
                </div>
                <div class="col-xlg-10 col-lg-8 col-md-8">
                    <div class="card-body" ng-if="compose == 1">
                        <div class="btn-group m-b-10 m-r-10" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-secondary font-18"><i class="mdi mdi-send"></i></button>
                            <button type="button" ng-click="starmailselected()" class="btn btn-secondary font-18"><i class="fa fa-star"></i>    </button>
                            <button type="button" ng-click="deletemailselected()" class="btn btn-secondary font-18"><i class="mdi mdi-delete"></i></button>
                        </div>                        
                        <button type="button " class="btn btn-secondary m-r-10 m-b-10"><i class="mdi mdi-reload font-18"></i></button>
                        
                    </div>
                    <div class="card-body p-t-0" ng-if="compose == 1">
                        <div class="card b-all shadow-none">
                            <div class="inbox-center table-responsive">
                                <table class="table table-hover no-wrap" id="tb-mailbox">
                                    <tbody ng-if="mode == 1">
                                        <tr class="unread" ng-repeat="mail in mails" ng-if="mail.status_id == mailboxid">
                                            <td style="width:40px">
                                                <div class="checkbox">
                                                    <input type="checkbox" id="checkbox{{mail.id}}" value="mail.id">
                                                    <label for="checkbox{{mail.id}}" ng-click="select(mail.id)"></label>
                                                </div>
                                            </td>
                                            <td style="width:40px" class="hidden-xs-down"><i class="fa fa-star-o"></i></td>
                                            <td class="hidden-xs-down" ng-click="showMail(mail)" ng-bind="mail.users.user_profile.firstName + ' ' + mail.users.user_profile.lastName"></td>
                                            <!-- openmail(mail.id,mail.users.id,mail.users.email,mail.users.username,mail.message,mail.subject,mail.attachments,mail.users.user_profile.firstName + ' ' + mail.users.user_profile.lastName) -->
                                            <td class="max-texts" ng-click="showMail(mail)">                                                 
                                                <span class="label label-info m-r-10">message</span> {{ mail.message }}
                                            </td>
                                            <td class="hidden-xs-down" ng-click="showMail(mail)"><i class="fa fa-paperclip"></i></td>
                                            <td class="text-right" ng-click="showMail(mail)">{{ mail.updated_at | date:'medium'}}</td>
                                        </tr>
                                        <tr ng-show="inboxCount == 0 && mailboxid == 1">
                                            <td colspan="6" class="text-center">No message found</td>
                                        </tr>                                        
                                        <tr ng-show="starredCount == 0 && mailboxid == 2">
                                            <td colspan="6" class="text-center">No message found</td>
                                        </tr>                                        
                                        <tr ng-show="trashCount == 0 && mailboxid == 4">
                                            <td colspan="6" class="text-center">No message found</td>
                                        </tr>                                        
                                    </tbody>
                                    <tbody ng-if="mode == 2">
                                        <tr class="unread" ng-repeat="mail in sentmails">
                                            <td style="width:40px">
                                                <div class="checkbox">
                                                    <input type="checkbox" id="checkbox{{mail.id}}" value="mail.id">
                                                    <label for="checkbox{{mail.id}}" ng-click="select(mail.id)"></label>
                                                </div>
                                            </td>
                                            <td style="width:40px" class="hidden-xs-down"><i class="fa fa-star-o"></i></td>
                                            
                                            <td class="hidden-xs-down" 
                                            ng-click="opensentmail(mail.id,mail.users2.id,mail.users2.email,mail.users2.username,mail.message,mail.subject,mail.attachments)" 
                                            ng-bind="mail.users2.user_profile.firstName + ' ' + mail.users2.user_profile.lastName"></td>

                                            <td class="max-texts" ng-click="opensentmail(mail.id,mail.users2.id,mail.users2.email,mail.users2.username,mail.message,mail.subject,mail.attachments)">                                                 
                                                <span class="label label-info m-r-10">message</span> {{ mail.message }}
                                            </td>
                                            <td class="hidden-xs-down" ng-click="opensentmail(mail.id,mail.users2.id,mail.users2.email,mail.users2.username,mail.message,mail.subject,mail.attachments)"><i class="fa fa-paperclip"></i></td>
                                            <td class="text-right" ng-click="opensentmail(mail.id,mail.users2.id,mail.users2.email,mail.users2.username,mail.message,mail.subject,mail.attachments)">{{ mail.updated_at | date:'medium'}}</td>
                                        </tr>
                                        <tr ng-show="sentmails.length == 0 ">
                                            <td colspan="6" class="text-center">No message found</td>
                                        </tr>                                         
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" ng-if="compose == 2">
                        <h3 class="card-title">Compose New Message</h3>
                        <div class="form-group">
                            <input class="form-control" id="recipient" placeholder="To:" mail-to ng-model="recipient" ng-change="showlist=='show'">
                            <div class="list-container" ng-if="mailreciepent.length > 0 && recipient != '' && showlist == 'show'">
                                <ul>
                                    <li class="pointer" ng-repeat="user in mailreciepent | filter:recipient" ng-bind="user.profile.firstName +' '+ user.profile.lastName" ng-click="setRecipient(user.users.id,user.profile.firstName +' '+ user.profile.lastName)"></li>
                                </ul>
                            </div>                            
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Subject:" ng-model="message.subject">
                        </div>
                        <div class="form-group">
                            <textarea class="textarea_editor form-control" textarea-editor rows="15" ng-model="message.body" placeholder="Enter text ..."></textarea>
                        </div>
                        <h4><i class="ti-link"></i> Attachment</h4>
                        <form action="#" class="dropzone">
                            <div class="fallback">
                                <input name="file" type="file" multiple onchange="angular.element(this).scope().fileChanged(this)"/>
                            </div>
                        </form>
                        <button type="submit" class="btn btn-success m-t-20" ng-click="sendMail()"><i class="fa fa-envelope-o"></i> Send</button>
                        <button class="btn btn-inverse m-t-20"><i class="fa fa-times"></i> Discard</button>
                    </div>
                    <div class="card-body p-t-0" ng-if="compose == 3" style="padding: 20px;">
                        <div class="card b-all shadow-none">
                            <div class="card-body">
                                <h3 class="card-title m-b-0" style="line-height: 30px;font-size: 21px;">{{ showmail.subject }}</h3>
                            </div>
                            <div>
                                <hr class="m-t-0">
                            </div>
                            <div class="card-body">
                                <div class="d-flex m-b-40">
                                    <div>
                                        <a href="javascript:void(0)"><img ng-src="{{showmail.imagepath}}" ng-if="showmail.imagepath != null" alt="user" width="40" class="img-circle" /></a>
                                        <a href="javascript:void(0)"><img src="/public/images/default.png" ng-if="showmail.imagepath == null" alt="user" width="40" class="img-circle" /></a>
                                    </div>
                                    <div class="p-l-10">
                                        <h4 class="m-b-0">{{ showmail.firstname + ' ' + showmail.lastname }}</h4>
                                        <small class="text-muted">Job Applicant</small>
                                    </div>
                                </div>
                                <p><b>Dear USer</b></p>
                                <p>{{showmail.message}}</p>
                            </div>
                            <div>
                                <hr class="m-t-0">
                            </div>
                            <div class="card-body">
                                <h4><i class="fa fa-paperclip m-r-10 m-b-10"></i> Attachments <span>{{ showmail.detail.attachments.length }}</span></h4>
                                <div class="row">
                                    <div class="col-md-2" ng-repeat="file in showmail.detail.attachments">
                                        <a href="/storage/attachment/{{showmail.detail.sender_id + '/' + file.attachment_file}}"> <img class="img-thumbnail img-responsive" alt="attachment" src="/public/assets/images/attachment-icon.png" width="40"></a>
                                    </div>                                    
                                </div>
                                <div class="b-all m-t-20 p-20">
                                    <p class="p-b-20">click here to <a href="javascript:;" ng-click="reply(showmail.detail)">Reply</a></p>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
 <script>
    $(document).ready(function() {

        // $('.textarea_editor').wysihtml5();

    });
</script>