<style type="text/css">
    .card-box-new {
        padding-top: 35px !important;
    }
    .slider-form{
        background: #fff;
    }
    .jobsidebar-wrap .btn-btn2, .jobsidebar-wrap .btn-updatejob{
        width: 85%;
        border-radius: 20px;
        color: #000;
        padding: 10px 60px 10px 60px;
        display: block;
        margin: 0 auto 0 auto;
        font-family: 'Open Sans', sans-serif;
    }
    .jobsidebar-wrap .btn-updatejob{
        margin-bottom: 10px;
        color: #fff;
        background: #5B4CF9 !important;
    }
    .jobsidebar-wrap .btn-btn2:first-child{
        background: #5B4CF9 !important;
    } 
    .jobsidebar-wrap .btn-btn2:not(:last-child){
        margin-bottom: 8px;
    }
    #errortable{
        font-size: 12px;
    }
    #errorcontent{
        max-height: 400px;
        overflow-y: auto; 
    }
    #ui-datepicker-div{
        margin-top: 5px;
        background: #fff;
        border: 1px solid #efefef;
        border-radius: 20px;
        padding: 10px;
    }
    .ui-datepicker-header{
        padding: 5px;
    }
    .ui-datepicker-prev,.ui-datepicker-next{
        border: 1px solid #efefef;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 30px;
        cursor: pointer;
        background: #efefef;
    }
    .ui-datepicker-next{        
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .ui-datepicker-title{
        margin-top: 10px;
    }
</style>
<div class="page-titles job-breadcrumb" toggle-sidebar>   
	<div class="job-main-left">
		<h3 class="text-themecolor m-b-0 m-t-0">Bookmarked Jobs</h3>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
			<li class="breadcrumb-item active">Bookmarked Jobs</li>
		</ol>
	</div>
	<!-- <div class="job-main-right" align="right">
	  <div class="field">
		<input ng-model = "searchData.job_id" class="job-form-control field-first" placeholder="Job ID" type="text">
		<span class="small">* Search by Job ID</span>
	  </div>
	  <div class="field">
		<input ng-model = "searchData.job_title" class="job-form-control" placeholder="Job Title" type="text">
		<span class="small">* Search by Job Title</span>
	  </div>
	  <div class="field">
		<select class="job-form-control" name="city"><option value="">City</option></select>
		<span class="small">* Search by City</span>
	  </div>
	  <div class="field">
		<select ng-model="searchData.specialty" class="job-form-control">
				<option value="">Specialty</option>				
                <option value="Full Time">Full Time</option>
                <option value="Locum Tenens">Locum Tenens</option>
                <option value="Part Time">Part Time</option>
                <option value="PRN">PRN</option>
                <option value="Fellowship">Fellowship</option>
		</select>
		<span class="small">* Search by Specialty</span>
	  </div>   
	  
	  <div class="field"><button loading-button callback="searchJobs()" type="button" class="btn bnt-job">SEARCH</button></div>
	   -->
	  <div class="clear"></div> 
	</div>
	<div class="clear"></div>  
	<div class="job-card-pos-static">&nbsp;</div>
</div>


<div id="card-container">
    <!-- column -->
        
    <div class="row">            
    <div ng-cloak show-slider="{{$index}}" data-value="{{ job.id }}" data-id="{{ job.jobs.jobTitle }}" id_target = "slider-form" class="col-lg-job set-appform-jobid" ng-repeat = "job in jobs track by $index" ng-show="!isLoading">
        
        <!-- Card -->
        <div class="card-job-box card-col-margins" id="joblist-cards" ng-class="{'selected-box' : job.selected == true}">                             
            <div class="card-pos-container">                   
                <div class="cardnew-wrap">
             <!--        <div class="card-new-logo">
                        <img ng-src="{{job.image_path}}">
                    </div> -->
                    <div class="card-new-icons">                            

                        <button type="button" class="btn job-icon-btn"><i class="fa fa-share-alt"></i> </button>
                        <button type="button" class="btn job-icon-red no-slide" ng-click="removeBookmark(1,job.jobId);$event.stopPropagation();"><i class="fa fa-heart"></i> </button>
                        <button type="button" class="btn job-icon-btn"><i class="fa fa-eye"></i> </button>                          

                    </div>
                    
                    <div class="card-box-new">                                              
                        <div class="job-company-name" >{{job.jobs.profile.company_name}}</div>
                        <div class="job-title">
                            <div class="title-text">
                                <div class="title-text">
                                    <span class="text">
                                        {{job.jobs.jobTitle}}
                                    </span> 
                                    <br>                                    
                                    <div class="small" text-ellipsis>
                                        <span ng-bind="pureText(job.jobs.ei_jobDescription)"></span>
                                    </div>
                                </div>
                            </div>
                        </div>                                            
                        <div class="pos-bottom">
                            <div class="sAddress">
                                <div><span ng-bind="job.jobs.ei_facilityCity | capfirst"></span>, <span ng-bind="job.jobs.ei_facilityState | capfirst"></span></div>
                                <small ng-bind="job.timeago"></small>
                            </div>                                  
                                                    
                            
                            <button type="button" class="btn bnt-job text-uppercase btn-rounded active" ng-bind="job.jobs.ei_durPosition | capfirst"></button>
                            <button type="button" class="btn bnt-job text-uppercase btn-rounded no-slide active" ng-bind="'#'+job.id"></button>
                            
                            <!-- <button type="button" class="btn bnt-job text-uppercase btn-rounded active" ng-bind="('#')+(job.id)"></button>      -->     
                        </div>          
                        
                    </div>
                    <div class="new-splash" ng-show= "job.priorityLevel != null"><img src="/public/assets/images/jobs-img/splash5.png"></div>
                </div>                                                                                          
            </div>  
            

        </div>
        <!-- Card -->
    </div>
    </div>
    <!-- column -->     
    
    <div ng-show="jobs.length == 0" class="col-12 nothing-show">
        <h5>Nothing to Show</h5>
    </div>
</div>

<!-- OLD CARD -->
<div class="clear">&nbsp;</div> 				
<div class="job-card-pos-static">&nbsp;</div>		

<div class="slider-form-overlay hidden"></div>

<div class="slider-form" id="slider-form">
    <div class="slider-form-close hidden pointer">
        <i class="mdi mdi-close"></i>
    </div>

    <div class="col-md-12 nopadding" >
        <div class="row" >
            <div class="card-block nopadding">            

                <section id="wrapper" class=" noborder" custom-scrollbar>
                      <div class="no-border-radius job-descwrap" >
                        <div class="job-block-wrap">
                          <div class="job-header">
                             <div class="sleft"><a href="/browse-jobs/{{jobs[selected_index].jobs.jobPostType | stringJobType}}"><i class="mdi mdi-chevron-left"></i> Back to job list</a></div>
                             <div class="sright"><a href="/browse-jobs/{{jobs[selected_index].jobs.jobPostType | stringJobType}}" target="_blank">Open posting in a new window <i class="mdi mdi-open-in-new"></i> </a></div>
                          </div>
                          <div class="jobbody-wrap"><!--jobbody-wrap-->

                            <div class="jobdata-wrap">
                            
                              <div class="containerwrap">   
                            
                                <div class="printBtn"><button type="button" ng-click="openPdf(jobs[selected_index].jobs.id)"; return false;" class="btn btn-small">Convert to PDF for printing</button></div>
                            
                                <div class="nID">JOB ID: {{jobs[selected_index].jobs.id}}</div>
                            
                                <div class="sTitle">{{jobs[selected_index].jobs.jobs.jobTitle}}</div>
                            
                                <div class="address"><i class="mdi mdi-map-marker"></i>


                                    {{jobs[selected_index].jobs.ei_facilityCity}}, {{jobs[selected_index].jobs.ei_facilityState}} 

                                    {{jobs[selected_index].jobs.ei_durPosition}} <!-- Salary: <span class="text-blue-light">{{jobs[selected_index].jobs.ei_durMin | stringReplace}} - {{jobs[selected_index].jobs.ei_durMax | stringReplace}}</span> --></div>
                            
                                <div class="datedviews">
                            
                                    <div class="left-slider">
                            
                                        <i class="fa fa-calendar text-blue"></i> Post Date:  <span class="text-blue text-bold">{{jobs[selected_index].jobs.created_date}}</span> &nbsp; &nbsp; &nbsp;
                            
                                        <i class="fa fa-clock-o text-blue"></i> Updated:  <span class="text-blue text-bold">{{jobs[selected_index].jobs.updated_date}}</span> 
                            
                                    </div>
                                    <div class="clearFix"></div>
                                </div>
                            
                                <div>&nbsp;</div>
                            
                                <div class="body-title">Job Description</div>
                            
                                <div class="body-text" ng-bind-html="jobs[selected_index].jobs.ei_jobDescription | to_trusted">
                                    
                                </div>          
                            
                                
                            
                                <div class="body-title">Job Details</div>
                            
                                <div class="row job-details">
                            
                                  <div class="col-12">
                                    <div ng-hide="jobs[selected_index].jobs.facilityName == undefined || jobs[selected_index].jobs.facilityName == ''" class="col-4 float-left field-preview">
                                        <div class="key">FACILITY NAME</div>
                            
                                        <div class="value">Facility name</div>              
                                    </div>    
                            
                                    <div ng-hide="jobs[selected_index].jobs.facilityName == undefined || jobs[selected_index].jobs.facilityName == ''" class="col-4 float-left field-preview">
                                        <div class="key">JOB START DATE</div>
                            
                                        <div class="value">Specified start date</div>
                                    </div>    
                                  
                                    <div ng-hide="jobs[selected_index].jobs.ei_durMin == undefined || jobs[selected_index].jobs.ei_durMin == ''" class="col-4 float-left field-preview">
                                        <div class="key">SALARY RANGE</div>
                            
                                        <div class="value">{{jobs[selected_index].jobs.ei_durMin}} - {{jobs[selected_index].jobs.ei_durMax}}</div>                
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].jobs.ei_facilityCity == undefined || jobs[selected_index].jobs.ei_facilityCity == ''" class="col-4 float-left field-preview">
                                        <div class="key">FACILITY LOCATION</div>
                            
                                        <div class="value">{{jobs[selected_index].jobs.ei_facilityCity}}, {{jobs[selected_index].jobs.ei_facilityState}}</div>    
                                    </div>                
                            
                                    
                                    <div ng-hide="jobs[selected_index].jobs.ei_ansFirstCall == undefined || jobs[selected_index].jobs.ei_ansFirstCall == ''" class="col-4 float-left field-preview">
                                        <div class="key">CRNA ON FIRST CALL?</div>
                            
                                        <div class="value">{{jobs[selected_index].jobs.ei_ansFirstCall}}</div>
                                    </div>   
                                 
                            
                                    <div ng-hide="jobs[selected_index].jobs.left == undefined || jobs[selected_index].jobs.left == ''" class="col-4 float-left field-preview">
                                        <div class="key">CONTACT WEBSITE
                                        </div>
                            
                                        <div class="value">{{jobs[selected_index].jobs.ag_webSite}}</div>
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].jobs.facilityName == undefined || jobs[selected_index].jobs.facilityName == ''" class="col-4 float-left field-preview">
                                        <div class="key">FACILITY ADDRESS</div>
                                        <div class="value">Street address, zip code</div>
                                    </div>               
                            
                                    
                                    <div ng-hide="jobs[selected_index].jobs.ei_empStatus == undefined || jobs[selected_index].jobs.ei_empStatus == ''" class="col-4 float-left field-preview">
                                        <div class="key">EMPLOYMENT TYPE</div>
                                        <div class="value">{{jobs[selected_index].jobs.ei_empStatus}}</div>
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].jobs.ci_email == undefined || jobs[selected_index].jobs.ci_email == ''" class="col-4 float-left field-preview">
                                        <div class="key">CONTACT EMAIL</div>
                                        <div class="value">{{jobs[selected_index].jobs.ci_email}}</div>
                                    </div>
                            
                            
                            
                                    <div ng-hide="jobs[selected_index].jobs.ei_ansMedDirecting == undefined || jobs[selected_index].jobs.ei_ansMedDirecting == ''" class="col-4 float-left field-preview">
                                        <div class="key">Medically Directing</div>
                                        <div class="value">{{jobs[selected_index].jobs.ei_ansMedDirecting}}</div>
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].jobs.jr_fellowshipReq == undefined || jobs[selected_index].jobs.jr_fellowshipReq == ''" class="col-4 float-left field-preview">
                                        <div class="key">Subspecialty Fellowship</div>
                                        <div class="value">{{jobs[selected_index].jobs.jr_fellowshipReq}}</div>
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].jobs.jr_stateLicense == undefined || jobs[selected_index].jobs.jr_stateLicense == ''" class="col-4 float-left field-preview">
                                        <div class="key">State License</div>
                                        <div class="value">{{jobs[selected_index].jobs.jr_stateLicense}}</div>
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].jobs.jr_abaCertStatus == undefined || jobs[selected_index].jobs.jr_abaCertStatus == ''" class="col-4 float-left field-preview">
                                        <div class="key">ABA Certification Status</div>
                                        <div class="value">{{jobs[selected_index].jobs.jr_abaCertStatus}}</div>
                                    </div>
                            
                            
                            
                                    <div ng-show="jobs[selected_index].jobs.current_acls != '' || jobs[selected_index].jobs.aba_pain_management != '' || jobs[selected_index].jobs.aba_critical_care != ''" class="col-4 float-left field-preview">
                                        <div class="key">Required for this job</div>
                                        <div class="value">
                                            {{jobs[selected_index].jobs.current_acls == 'true' ? 'Current ACLS card' : ''}}
                                            <br ng-if="jobs[selected_index].jobs.current_acls == 'true'">
                                            {{jobs[selected_index].jobs.current_pals == 'true' ? 'Current PALS card' : ''}}
                                            <br ng-if="jobs[selected_index].jobs.current_pals == 'true'">
                                            {{jobs[selected_index].jobs.aba_pain_management == 'true' ? 'ABA Certification in Pain Management' : ''}}
                                            <br ng-if="jobs[selected_index].jobs.aba_pain_management == 'true'">
                                            {{jobs[selected_index].jobs.aba_critical_care == 'true' ? 'ABA Certification in Critical Care Management' : ''}}                                            
                                        </div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].jobs.fi_nameAns == undefined || jobs[selected_index].jobs.fi_nameAns == ''" class="col-4 float-left field-preview">
                                        <div class="key">Name of Anesthesiologist who is Group President and years with group</div>
                                        <div class="value">{{jobs[selected_index].jobs.fi_nameAns}}</div>
                                    </div>                                                                
                            
                                    <div ng-hide="jobs[selected_index].jobs.jr_newGraduates == undefined || jobs[selected_index].jobs.jr_newGraduates == ''" class="col-4 float-left field-preview">
                                        <div class="key">New Graduates Acceptable?</div>
                                        <div class="value">{{jobs[selected_index].jobs.jr_newGraduates}}</div>
                                    </div>
                            
                            
                                    
                            
                                    <div ng-hide="jobs[selected_index].jobs.si_SignonBonus == undefined || jobs[selected_index].jobs.si_SignonBonus == ''" class="col-4 float-left field-preview">
                                        <div class="key">Sign-on Bonus commitment</div>
                                        <div class="value">{{jobs[selected_index].jobs.si_SignonBonus}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].jobs.fi_nameAssistant == undefined || jobs[selected_index].jobs.fi_nameAssistant == ''" class="col-4 float-left field-preview">
                                        <div class="key">Name of Anesthesiologist Assistant(s)</div>
                                        <div class="value">{{jobs[selected_index].jobs.fi_nameAssistant}}</div>
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].jobs.si_PaidLeave == undefined || jobs[selected_index].jobs.si_PaidLeave == ''" class="col-4 float-left field-preview">
                                        <div class="key">Paid Educational Leave</div>
                                        <div class="value">{{jobs[selected_index].jobs.si_PaidLeave}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].jobs.si_PaidVacation == undefined || jobs[selected_index].jobs.si_PaidVacation == ''" class="col-4 float-left field-preview">
                                        <div class="key">Paid Vacation</div>
                                        <div class="value">{{jobs[selected_index].jobs.si_PaidVacation}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].jobs.ag_name == undefined || jobs[selected_index].jobs.ag_name == ''" class="col-4 float-left field-preview">
                                        <div class="key">Anesthesia Group Name</div>
                                        <div class="value">{{jobs[selected_index].jobs.ag_name}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].jobs.ag_webSite == undefined || jobs[selected_index].jobs.ag_webSite == ''" class="col-4 float-left field-preview">
                                        <div class="key">Anesthesia Group Web Site</div>
                                        <div class="value">{{jobs[selected_index].jobs.ag_webSite}}</div>
                                    </div>
                            
                            
                            
                                    <div ng-hide="jobs[selected_index].jobs.ag_haveContract == undefined || jobs[selected_index].jobs.ag_haveContract == ''" class="col-4 float-left field-preview">
                                        <div class="key">Anesthesia Group Exclusive Contract</div>
                                        <div class="value">{{jobs[selected_index].jobs.ag_haveContract}}</div>
                                    </div>
                            
                            
                                    
                            
                                    <div ng-hide="jobs[selected_index].jobs.fi_nameCRNA == undefined || jobs[selected_index].jobs.fi_nameCRNA == ''" class="col-4 float-left field-preview">
                                        <div class="key">Name of Chief CRNA</div>
                                        <div class="value">{{jobs[selected_index].jobs.fi_nameCRNA}}</div>
                                    </div>
                            
                            
                                    
                            
                            
                                    
                            
                                    <div ng-hide="jobs[selected_index].jobs.fi_isFederalJob == undefined || jobs[selected_index].jobs.fi_isFederalJob == ''" class="col-4 float-left field-preview">
                                        <div class="key">Federal Government job?</div>
                                        <div class="value">{{jobs[selected_index].jobs.fi_isFederalJob}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].jobs.ci_jobID == undefined || jobs[selected_index].jobs.ci_jobID == ''" class="col-4 float-left field-preview">
                                        <div class="key">Company internal Job ID</div>
                                        <div class="value">{{jobs[selected_index].jobs.ci_jobID}}</div>
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].jobs.ci_name == undefined || jobs[selected_index].jobs.ci_name == ''" class="col-4 float-left field-preview">
                                        <div class="key">Contact Name</div>
                                        <div class="value">{{jobs[selected_index].jobs.ci_name}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].jobs.ci_email == undefined || jobs[selected_index].jobs.ci_email == ''" class="col-4 float-left field-preview">
                                        <div class="key">Contact Email</div>
                                        <div class="value">{{jobs[selected_index].jobs.ci_email}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].jobs.ci_address1 == undefined || jobs[selected_index].jobs.ci_address1 == ''" class="col-4 float-left field-preview">
                                        <div class="key">Contact Street Address 1</div>
                                        <div class="value">{{jobs[selected_index].jobs.ci_address1}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].jobs.ci_address2 == undefined || jobs[selected_index].jobs.ci_address2 == ''" class="col-4 float-left field-preview">
                                        <div class="key">Contact Street Address 2</div>
                                        <div class="value">{{jobs[selected_index].jobs.ci_address2}}</div>
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].jobs.ci_city == undefined || jobs[selected_index].jobs.ci_city == ''" class="col-4 float-left field-preview">
                                        <div class="key">Contact City</div>
                                        <div class="value">{{jobs[selected_index].jobs.ei_facilityCity}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].jobs.ci_state == undefined || jobs[selected_index].jobs.ci_state == ''" class="col-4 float-left field-preview">
                                        <div class="key">Contact State</div>
                                        <div class="value">{{jobs[selected_index].jobs.ei_facilityState}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].jobs.ci_zipcode == undefined || jobs[selected_index].jobs.ci_zipcode == ''" class="col-4 float-left field-preview">
                                        <div class="key">Contact Zip Code</div>
                                        <div class="value">{{jobs[selected_index].jobs.ci_zipcode}}</div>
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].jobs.ci_phone == undefined || jobs[selected_index].jobs.ci_phone == ''" class="col-4 float-left field-preview">
                                        <div class="key">Contact Voice Phone</div>
                                        <div class="value">{{jobs[selected_index].jobs.ci_phone}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].jobs.ci_fax == undefined || jobs[selected_index].jobs.ci_fax == ''" class="col-4 float-left field-preview">
                                        <div class="key">Contact Fax</div>
                                        <div class="value">{{jobs[selected_index].jobs.ci_fax}}</div>
                                    </div>
                            
                            
                            
                                    <div ng-hide="jobs[selected_index].jobs.ci_website == undefined || jobs[selected_index].jobs.ci_website == ''" class="col-4 float-left field-preview">
                                        <div class="key">Contact Web Site</div>
                                        <div class="value">{{jobs[selected_index].jobs.ci_website}}</div>
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].jobs.ci_prefMethod == undefined || jobs[selected_index].jobs.ci_prefMethod == ''" class="col-4 float-left field-preview">
                                        <div class="key">Preferred Contact Method</div>
                                        <div class="value">{{jobs[selected_index].jobs.ci_prefMethod}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].jobs.fi_isPracLimited == undefined || jobs[selected_index].jobs.fi_isPracLimited == ''" class="col-4 float-left field-preview">
                                        <div class="key">Is practice limited to Hospital, Surgery Center and Office Based Anesthesia?</div>
                                        <div class="value">{{jobs[selected_index].jobs.fi_isPracLimited}}</div>
                                    </div>

                                  </div>
                            
                                </div> 
                            
                                <div class="clearFix">&nbsp;</div>
                            
                                
                            
                                <div ng-show="showCases(jobs[selected_index].jobs)" class="body-title">Additional information</div>
                            
                                <div ng-show="showCases(jobs[selected_index].jobs)" class="text-gray">EXAMPLE OF QUESTION WITH MULTIPLE ANSWERS</div>
                            
                                <div class="add-info-btnswrap">
                            
                                    <button type="button" ng-show="showIfValidService(jobs[selected_index].jobs.cases.major_vascular_anesthesia)" class="btn btn-small-gray">Major Vascular Anesthesia</button>

                                    <button type="button" ng-show="showIfValidService(jobs[selected_index].jobs.cases.chronic_pain_man)" class="btn btn-small-gray">Chronic Pain Management</button>

                                    <button type="button" ng-show="showIfValidService(jobs[selected_index].jobs.cases.cardiac_anesthesia)" class="btn btn-small-gray">Cardiac Anesthesia</button>

                                    <button type="button" ng-show="showIfValidService(jobs[selected_index].jobs.cases.critical_care_med)" class="btn btn-small-gray">Critical Care Medication</button>
                                
                                    <button type="button" ng-show="showIfValidService(jobs[selected_index].jobs.cases.neuroanesthesia)" class="btn btn-small-gray">Neuro Anesthesia</button>
                                </div>
                            
                                <div class="clearFix"></div>
                            
                                <div>&nbsp;</div>
                            
                              </div>    
                            
                            </div>
                            
                            
                            
                            <div class="jobsidebar-wrap">
                            
                                <div class="logowrap"><img class="img-circle pointer" style="width: 100px;height: 100px;" ng-src="{{jobs[selected_index].jobs.profile.image_path}}"></div>
                            
                                <div class="companywrap mt-20" style="margin-top: 20px">
                            
                                    <div class="name">{{jobs[selected_index].jobs.profile.company_name}}</div>
                            
<!--                                     <i class="fa fa-eye text-blue"></i> <span class="text-gray">Views: 148</span>
 -->                            
                            
                                    <div class="address"><i class="mdi mdi-map-marker"></i> {{jobs[selected_index].jobs.ei_facilityCity}}, {{jobs[selected_index].jobs.ei_facilityState}}</div>
                            
                                    <div class="url"><a href="#">{{jobs[selected_index].jobs.company_website}}</a></div>               
                            
                                </div>                                                                

                            </div>
                            
                            
                            <div class="clearFix">&nbsp;</div>                                                    
                          </div><!--end-jobbody-wrap-->                          
                        </div>
                      </div>
                </section>                

            </div>
        </div> 
    </div>

</div>