
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Company Profile</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Edit Company Profile</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
       &nbsp;
    </div>
</div>


<div class="form-horizontal">
	<div class="form-group">
		<div class="col-sm-12 nopadding" align="right">
			<a ui-sref="profile">
				<button class="btn btn-info" >
				<i class="mdi mdi-keyboard-backspace"></i>
				Back to Profile</button>				
			</a>
		</div>
	</div>	
</div>


<div class="card">
<div class="card-block">


	<form class="form-horizontal form-material">
		<div class="form-group">
			<label class="col-md-12">Company Names</label>
			<div class="col-md-12">
				<input type="text" placeholder="" class="form-control form-control-line">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-12">First Name</label>
			<div class="col-md-12">
				<input type="text" placeholder="" class="form-control form-control-line">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-12">Last Name</label>
			<div class="col-md-12">
				<input type="text" placeholder="" class="form-control form-control-line">
			</div>
		</div>
		<div class="form-group">
			<label for="example-email" class="col-md-12">Address</label>
			<div class="col-md-12">
				<input type="text" placeholder="" class="form-control form-control-line">
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-md-12">City</label>
			<div class="col-md-12">
				<input type="text" placeholder="" class="form-control form-control-line">
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-md-12">State / Province</label>
			<div class="col-md-12">
				<input type="text" placeholder="" class="form-control form-control-line">
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-md-12">Country</label>
			<div class="col-md-12">
				<input type="text" placeholder="" class="form-control form-control-line">
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-md-12">Zip / Postal Code</label>
			<div class="col-md-12">
				<input type="text" placeholder="" class="form-control form-control-line">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-12">Phone</label>
			<div class="col-md-12">
				<input type="text" placeholder="" class="form-control form-control-line">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-12">Fax</label>
			<div class="col-md-12">
				<input type="text" placeholder="" class="form-control form-control-line">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-12">Website</label>
			<div class="col-md-12">
				<input type="text" placeholder="" class="form-control form-control-line">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-12">Email Preference</label>
			<div class="col-md-12">
				<input type="text" placeholder="HTML" class="form-control form-control-line">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-12">Receive special promotions and product information</label>
			<div class="col-md-12">
				<input type="text" placeholder="No" class="form-control form-control-line">
			</div>
		</div>	
		<div class="form-group">
			<div class="col-sm-12">
				<button class="btn btn-success float-right">
				Update Profile</button>
			</div>
		</div>					
	</form>
</div>
</div>