<style type="text/css">
	.form-group{
		padding-bottom: 3px;
	}
	
</style>
<div class="row page-titles">
	<div class="col-md-5 col-8 align-self-center">
		<h3 class="text-themecolor">Company Profile</h3>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="">Home</a></li>
			<li class="breadcrumb-item active">Company Profile</li>			
		</ol>
	</div>
	<div class="col-md-7 col-4 align-self-center">&nbsp;</div>
</div>



<div class="col-md-12 nopadding">
	<div class="row set-top" >
		<!-- Column -->
		<div class="col-lg-4 col-xlg-3 col-md-5">
			 <!-- Column -->
			<div class="card">
				<div class="card-block">
					<center class="m-t-30"> <img  ng-src="{{basicInfo.image_path}}" class="img-circle pointer" style="width: 140px;height: 140px;" data-toggle="modal" data-target="#uploadPhoto" />
						<h4 class="card-title m-t-10">

							<span ng-show="basicInfo.company_name != ''">{{basicInfo.company_name}}</span>

							<span ng-show="basicInfo.company_name == ''">{{basicInfo.firstName}} {{basicInfo.lastName}}</span>
								<h6 class="card-subtitle">{{basicInfo.tag_line}}</h6>
                                    <div class="row text-center justify-content-md-center">
                                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium">254</font></a></div>
                                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-docs"></i> <font class="font-medium">54</font></a></div>
                                    </div>
						</h4>
						<!-- <h6 class="card-subtitle">Accoubts Manager Amix corp</h6> -->
					  <!--   <div class="row text-center justify-content-md-center">
							<div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium">254</font></a></div>
							<div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-medium">54</font></a></div>
						</div> -->
					</center>
				</div>
				<div>
					<hr> </div>
				<div class="card-block"> <small class="text-muted">Email address </small>
					<h6>{{getUser('email') || '-'}}</h6> <small class="text-muted p-t-30 db">Phone</small>
					<h6>{{basicInfo.phone || '-'}}</h6> <small class="text-muted p-t-30 db">Address</small>
					<h6>{{basicInfo.address}}</h6>
					<div class="map-box">
						<iframe ng-src="{{showMapUrl()}}" id="profile_map" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div> <small class="text-muted p-t-30 db">Social Networks</small>
					<br>					
					
					<a class="btn btn-circle btn-secondary" href="https://facebook.com/{{ socialInfo.facebookUrl }}">
						<i class="fa fa-facebook"></i>
					</a>

					<a class="btn btn-circle btn-secondary" href="https://www.linkedin.com/{{ socialInfo.linkedinUrl }}">
						<i class="fa fa-linkedin"></i>
					</a>

					<a class="btn btn-circle btn-secondary" href="https://twitter.com/{{ socialInfo.twitterUrl }}">
						<i class="fa fa-twitter"></i>
					</a>

					<a class="btn btn-circle btn-secondary" href="https://plus.google.com/{{ socialInfo.googlePlusUrl }}">
						<i class="fa fa-google"></i> 
					</a>
					
					<a class="btn btn-circle btn-secondary" href="https://www.youtube.com/{{ socialInfo.youtubeUrl }}">
						<i class="fa fa-youtube-play"></i>
					</a>
					
				</div>
			</div>
			 <!-- Column -->        
		</div>
		<style type="text/css">
			.profile-tab a{
				text-overflow: hidden;
			}
		</style>
		<div class="col-lg-8 col-xlg-9 col-md-7" id="profile-tab">
			<div class="card">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs profile-tab" role="tablist">
					<li class="nav-item pointer"> 
						<a class="nav-link" ng-class="{'active' : active_tab == 'profile'}" ng-click="setTab('profile')" >
							<i class="mdi mdi-hospital-building"> </i> Company
						</a> 
					</li>
					<li class="nav-item pointer"> <a class="nav-link" ng-class="{'active' : active_tab == 'contact'}" ng-click="setTab('contact')" ><i class="mdi mdi-contact-mail"> </i> Contact</a> </li>
					<li class="nav-item pointer"> <a class="nav-link" ng-class="{'active' : active_tab == 'preferences'}" ng-click="setTab('preferences')" ><i class="mdi mdi-message-settings-variant"> </i> Alerts</a> </li>
					<!-- <li class="nav-item pointer"> <a class="nav-link" ng-class="{'active' : active_tab == 'billing'}"  ng-click="setTab('billing')">Billing</a> </li> -->
					<li class="nav-item pointer"> <a class="nav-link" ng-class="{'active' : active_tab == 'login'}" ng-click="setTab('login')"><i class="mdi mdi-shield"> </i>Security</a> </li>
					<li class="nav-item pointer"> <a class="nav-link" ng-class="{'active' : active_tab == 'social'}" ng-click="setTab('social')"><i class="mdi mdi-share-variant"> </i> Social</a> </li>
				   <!--  <li class="nav-item pointer"> <a class="nav-link" ng-class="{'active' : active_tab == 'social'}" ng-click="setTab('social')">Billing Methods</a> </li> -->
					<li ng-if="getUser('userType') == '1'" class="nav-item pointer"> <a class="nav-link" ng-class="{'active' : active_tab == 'extra_info'}" ng-click="setTab('extra_info')"><i class="mdi mdi-email-outline"> </i> Preferences</a> </li>               
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">				 
					<!--second tab-->
					<div class="tab-pane " ng-class="{'active' : active_tab == 'profile'}" id="profile" role="tabpanel">
						<div class="card-block">
			
									<div class="form-horizontal form-material margintop-30 my_form">
											<div ng-if="getUser('userType') == '2'" class="form-group col-12">
												<label class="label-editable label-parent label-editable mr-2 d-inline-block">Company Name</label> 	<br><br>										
												<input type="text" class="col-md-12 col-lg-8 ml-2 text_fields" ng-model="basicInfo.company_name">
											</div>

											<div ng-if="getUser('userType') == '2'" class="form-group col-12">
												<label class="label-editable label-parent mr-2 d-inline-block">Company Description</label><br><br>												

												<textarea maxlength="1500" ng-trim="false" type="text" class="col-md-12 col-lg-8 ml-2 text_fields" rows="7" ng-model="basicInfo.description"></textarea>
												<br/>

												<div class="col-md-12 col-lg-8 ml-2 text-right" style="padding-right: 0;">
													<span style="font-size: 12px;">{{1500 - basicInfo.description.length}}/1500 Characters remaining</span>
												</div>												
											</div>

											
											<div ng-if="getUser('userType') == '2'" class="form-group col-12">
												<label class="label-editable label-parent label-editable mr-2 d-inline-block">Tag Line</label> 	<br><br>										
												<input type="text" class="col-md-12 col-lg-8 ml-2 text_fields" ng-model="basicInfo.tag_line">
											</div>

											


											<div class="form-group col-12 hidden">
                                   				 <label>Account Type</label><br><br>
                                   				 <input class="col-md-12 col-lg-8 ml-2 text_fields" type="text" placeholder="Hospital (uneditable)" readonly>
                               				</div>

											<div class="form-group col-12">
												<label class="label-editable label-parent mr-2 d-inline-block">Website</label><br><br>
												<input type="text" class="col-md-12 col-lg-8 ml-2 text_fields" ng-model="basicInfo.website">
											</div>

																				

											<div ng-if="getUser('userType') == '1'" class="form-group col-12">
												<label class="label-editable label-parent label-editable mr-2 d-inline-block">First Name</label><br><br>	
												<input type="text" class="col-md-12 col-lg-8 ml-2 text_fields" ng-model="basicInfo.firstName">
											</div>
			
											<div ng-if="getUser('userType') == '1'" class="form-group col-12">
												<label class="label-editable label-parent label-editable mr-2 d-inline-block">Last Name</label><br><br>	
												<input type="text" class="col-md-12 col-lg-8 ml-2 text_fields" ng-model="basicInfo.lastName">
											</div>
			
											<div ng-if="getUser('userType') == '1'" class="form-group col-12">
												<label class="label-editable label-parent label-editable mr-2 d-inline-block">Minimum Salary</label><br><br>	
												<input type="text" class="col-md-12 col-lg-8 ml-2 text_fields" ng-model="basicInfo.minimumSalary">
											</div>
			
											<div ng-if="getUser('userType') == '1'" class="form-group col-12">

												<label class="label-parent label-editable mr-2 d-inline-block" id="desc-label">Tell us about yourself</label><br><br>	
												<textarea rows="10" ng-model="basicInfo.description"  class="col-md-12 col-lg-8 ml-2"></textarea>			
											</div>
			
											<div ng-if="getUser('userType') == '1'" class="form-group col-12">
												<label class="label-editable label-parent label-editable mr-2 d-inline-block">Allow In Search</label><br><br>	
												<select  ng-model="basicInfo.allowSearch" type="text"  ng-required="true" class="col-md-12  col-lg-8 ml-2 text_fields">
													<option value="yes">Yes</option>
													<option value="no">No</option>
												</select>
											</div>														
			
											<div class="col-12 text-center margin-bottom-20" style="padding-bottom: 55px;">
												<button form-name="" loading-button callback = "saveBasicInfo()" class="text-center btn btn-primary my_btn float-right">Update</button>
											</div>
									</div>
							
							</div>
					</div>	

					<div class="tab-pane " ng-class="{'active' : active_tab == 'contact'}" id="contact" role="tabpanel">
						<div class="card-block">
			
									<div class="form-horizontal form-material margintop-30 my_form">
											
																							
											<div ng-if="getUser('userType') == '2'" class="form-group col-8">
												<div class="row">
													<div class="col-md-6">
														<label class="label-editable label-parent label-editable mr-2 d-inline-block">Contact First Name</label> 	<br><br>										
														<input type="text" class="col-md-12  col-lg-12 ml-2 text_fields" ng-model="basicInfo.firstName">
													</div>
													<div class="col-md-6">
														<label class="label-editable label-parent label-editable mr-2 d-inline-block">Contact Last Name</label> 	<br><br>										
														<input type="text" class="col-md-12  col-lg-12 ml-2 text_fields" ng-model="basicInfo.lastName">
													</div>
												</div>
											</div>

											<div class="form-group col-12">
												<label class="label-editable label-parent mr-2 d-inline-block">Phone</label> <br><br>
												
												<input phone-mask type="text" class="col-md-12  col-lg-8 ml-2 text_fields" ng-model="basicInfo.phone">
											</div>														
			
											<div class="form-group col-12">
												<label class="label-editable label-parent mr-2 d-inline-block">Company Address</label>	<br><br>	 												
												<input inline-save key = "address"  name="address" ng-model="basicInfo.address"  
													type="text" placeholder="Address" ng-required="true" class="col-md-12  col-lg-8 ml-2 text_fields"
													populate = "locality,administrative_area_level_1,postal_code" google-api="basicInfo.address">			
											</div>
				
											<div class="col-8">
												<div class="row">
													<div class="col-md-4">
														<label class="label-editable label-parent mr-2 d-inline-block">State</label>	<br><br>
														<input type="text" class="col-md-12 text_fields" ng-model="basicInfo.state">		
													</div>
													<div class="col-md-4">
														<label class="label-editable label-parent mr-2 d-inline-block">City</label>	<br><br>	
														<input type="text" class="col-md-12 text_fields" ng-model="basicInfo.city">
													</div>
													<div class="col-md-4">
														<label class="label-editable label-parent mr-2 d-inline-block">Zip</label>	<br><br>	
														<input type="text" class="col-md-12 text_fields" ng-model="basicInfo.zipcode">		
													</div>
												</div>
											</div>											
											<div class="col-12 text-center margin-bottom-20" style="padding-bottom: 55px;">
												<button form-name="" loading-button callback = "saveBasicInfo()" class="text-center btn btn-primary my_btn float-right">Update</button>
											</div>
									</div>
							
							</div>
					</div>	
			 
			 <div class="tab-pane " ng-class="{'active' : active_tab == 'preferences'}" id="preferences" role="tabpanel">
					<div class="card-block">
		
							<div class="form-horizontal form-material margintop-30 my_form" style="padding-left: 20px;">

							<h4 class="card-title">Recieve SMS Notifications For:</h4>
                            
                            <div class="row demo-swtich">
                                <div class="col-sm-3">
                                    <div class="demo-switch-title">New applications</div>
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox" switch-setting id="sms_application"><span class="lever switch-col-purple"></span></label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="demo-switch-title">New Messages</div>
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox" switch-setting id="sms_messages"><span class="lever switch-col-purple"></span></label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="demo-switch-title">Jobs expiring</div>
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox" switch-setting id="sms_job_expiration"><span class="lever switch-col-purple"></span></label>
                                    </div>
                                </div>
                             </div>

                            <div class="form-horizontal form-material margintop-30 my_form">

                                <h4 class="card-title">Recieve Email Notifications For:</h4>
                                
                                <div class="row demo-swtich" >	                                	
                                    <div class="col-sm-3">
                                        <div class="demo-switch-title">Job application</div>
                                        <div class="switch">
                                            <label>
                                                <input type="checkbox" switch-setting id="email_applicaton"><span class="lever switch-col-light-blue"></span></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="demo-switch-title">New Messages</div>
                                        <div class="switch">
                                            <label>
                                                <input type="checkbox" switch-setting id="email_messages"><span class="lever switch-col-light-blue"></span></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="demo-switch-title">Jobs expiring</div>
                                        <div class="switch">
                                            <label>
                                                <input type="checkbox" switch-setting id="email_job_expiration"><span class="lever switch-col-light-blue"></span></label>
                                        </div>
                                    </div>
                                </div>
																					
								<!-- <div class="col-12 text-center margintop-30 margin-bottom-20" style="padding-bottom: 55px;">
									<button form-name="" loading-button callback = "saveBasicInfo()" class="text-center btn btn-primary my_btn float-right">Update</button>
								</div> -->
							</div>
							
							<div class="form-horizontal form-material margintop-30 my_form">

								<div class="row">
									
									<div class="col-md-12">
										<div class="form-group">
											<h4 class="card-title">Secondary Email</h4>
											<div class="row">
												<div class="col-md-8">													
													<table class="table">
														<tr ng-repeat="mail in secondaryMailList">
															<td>
																<span>{{ mail.secondary_email }}</span>
															</td>
															<td>
																<a href="javascript:;" ng-click="updateSecondaryEmail(mail.id)">update</a>
															</td>
															<td>
																<a href="javascript:;" ng-click="deleteSecondaryEmail(mail.id)">delete</a>
															</td>
														</tr>
													</table>	
												</div>
											</div>
										</div>										
										<div class="form-group">
												
											

											<input type="text" ng-model="secondaryemail" class="col-md-12  col-lg-8 ml-2 text_fields" placeholder="Add secondary email">

										</div>

										<div class="form-group">
											
											<div class="row">
												
												<div class="col-md-8 text-right">
												
													<button class="btn btn-primary my_btn" ng-click="addSecondaryEmail(secondaryemail)">Save Email</button>	
												
												</div>

											</div>

										</div>

									</div>									

								</div>								
	
							</div>

						</div>
					</div>	

			</div>
					<div class="tab-pane " ng-class="{'active' : active_tab == 'login'}" id="login" role="tabpanel">
						<div class="card-block">
							<div class="form-horizontal  form-material margintop-30 my_form">
								
								<div class="form-group col-12">
                       				 <label><i class="mdi mdi-email-outline"> </i> Primary email</label><br><br>
                       				 <input class="col-md-12  col-lg-8 ml-2 text_fields" type="text" placeholder="{{getUser('email')}}" readonly>
                   				</div>							
								
								<div class="form-group col-12">
									<label class="label-parent label-editable mr-2 d-inline-block">Old Password</label>	<br><br>	
									<input class="col-md-12  col-lg-8 ml-2 text_fields" type="text"
									no-enter
									ng-model="loginInfo.password">									
								</div>
								<div class="form-group col-12">
									<label class="label-parent label-editable mr-2 d-inline-block">New Password</label>	<br><br>	
									<input class="col-md-12  col-lg-8 ml-2 text_fields" type="text"
									no-enter
										ng-model="loginInfo.new_password">									
								</div>
								<div class="form-group col-12">
									<label class="label-parent label-editable mr-2 d-inline-block">Confirm Password</label>	<br><br>	
									<input class="col-md-12  col-lg-8 ml-2 text_fields" type="text"
									no-enter
										ng-model="loginInfo.confirm_password">									
								</div>
							</div>
							<div class="form-horizontal text-center form-material margintop-30 col-md-12 my_form" style="padding-bottom: 55px;">
								

								<button form-name="" loading-button callback = "saveLoginInfo()" class="btn btn-primary my_btn float-right">Save</button>
								<!-- <button form-name="" loading-button callback = "sendVerificationEmail()" class="btn btn-warning my_btn float-right">Send Verification Email</button> -->


							</div>
						</div>
					</div>
					<style>
						.input-group-text {
						    display: -ms-flexbox;
						    display: flex;
						    -ms-flex-align: center;
						    align-items: center;
						    padding: .375rem .75rem;
						    margin-bottom: 0;
						    font-size: 1rem;
						    font-weight: 400;
						    line-height: 1.5;
						    color: #495057;
						    text-align: center;
						    white-space: nowrap;
						    background-color: #e9ecef;
						    border: 1px solid #ced4da;
						    border-radius: 20px;
						    border-top-right-radius: 0;
						    border-bottom-right-radius: 0;
						}
						.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
						    border-top-left-radius: 0;
						    border-bottom-left-radius: 0;
						}
						.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
						    position: relative;
						    -ms-flex: 1 1 auto;
						    flex: 1 1 auto;
						    width: 1%;
						    margin-bottom: 0;
						}
						.input-group  .form-control {
						    color: #67757c;
						    min-height: 38px;
						    display: initial;
						}
						.input-group .form-control {
						    display: block;
						    width: 100%;
						    padding: .375rem .75rem;
						    font-size: 1rem;
						    line-height: 1.5;
						    color: #495057;
						    background-color: #fff;
						    background-clip: padding-box;
						    border: 1px solid #ced4da;
						    border-radius: 20px !important;
						    border-top-left-radius: 0 !important;
						    border-bottom-left-radius: 0 !important;
						    transition: none;						    
						}

						.input-group .form-control:focus{
							padding: .375rem .75rem;
						    font-size: 1rem;
						    line-height: 1.5;
						    color: #495057;
						    background-color: #fff;
						    background-clip: padding-box;
						    border: 1px solid #ced4da;
						    border-radius: .55rem;
						    border-top-left-radius: 0;
						    border-bottom-left-radius: 0;
						    transition: none;
						    background-image: none;
						}

						.form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus{
							background-image: none;							
						}
					</style>
					 <div class="tab-pane " ng-class="{'active' : active_tab == 'social'}" id="social" role="tabpanel">
						<div class="card-block form-material my_form" id="socialform">
								<form>
									<div class="form-group col-12">
										<label class="label-parent label-editable mr-2 d-inline-block"><i class="mdi mdi-facebook"></i> Facebook</label>	<br><br>										
										<div class="row">
											<div class="form-group col-8">
												<div class="input-group">
			                                        <div class="input-group-prepend">
			                                            <span class="input-group-text" id="basic-addon1">https://facebook.com/</span>
			                                        </div>
			                                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="socialInfo.facebookUrl">
			                                    </div>
											</div>
										</div>
									</div>

									<div class="form-group col-12">
										<label class="label-parent label-editable mr-2 d-inline-block"><i class="mdi mdi-linkedin"></i> LinkedIn</label>	<br><br>	
										<div class="row">
											<div class="form-group col-8">
												<div class="input-group">
			                                        <div class="input-group-prepend">
			                                            <span class="input-group-text" id="basic-addon1">https://www.linkedin.com/</span>
			                                        </div>
			                                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="socialInfo.linkedinUrl">
			                                    </div>
											</div>
										</div>
									</div>

									<div class="form-group col-12">
										<label class="label-parent label-editable mr-2 d-inline-block"><i class="mdi mdi-twitter"></i> Twitter</label>	<br><br>
										<div class="row">
											<div class="form-group col-8">
												<div class="input-group">
			                                        <div class="input-group-prepend">
			                                            <span class="input-group-text" id="basic-addon1">https://twitter.com/</span>
			                                        </div>
			                                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="socialInfo.twitterUrl">
			                                    </div>
											</div>
										</div>
									</div>

									<div class="form-group col-12">
										<label class="label-parent label-editable mr-2 d-inline-block"><i class="mdi mdi-google"></i> Google Plus</label>	<br><br>	
										<div class="row">
											<div class="form-group col-8">
												<div class="input-group">
			                                        <div class="input-group-prepend">
			                                            <span class="input-group-text" id="basic-addon1">https://plus.google.com/</span>
			                                        </div>
			                                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="socialInfo.googlePlusUrl">
			                                    </div>
											</div>
										</div>
									</div>

									<div class="form-group col-12">
										<label class="label-parent label-editable mr-2 d-inline-block"><i class="mdi mdi-youtube-play"></i> Youtube</label>	<br><br>
										<div class="row">
											<div class="form-group col-8">
												<div class="input-group">
			                                        <div class="input-group-prepend">
			                                            <span class="input-group-text" id="basic-addon1">https://www.youtube.com/</span>
			                                        </div>
			                                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="socialInfo.youtubeUrl">
			                                    </div>
											</div>
										</div>
									</div>

								</form>																
			
								<div class="col-12 text-center" style="padding-bottom: 55px;">
									<button form-name="" loading-button callback = "saveSocialInfo()" class="text-center btn btn-primary my_btn float-right">Update</button>
								</div>
			
						</div>
					</div>
			
					<div ng-show="getUser('userType') == '1'" class="tab-pane " ng-class="{'active' : active_tab == 'extra_info'}" id="extra_info" role="tabpanel">
						<div class="card-block form-material my_form">
			
								<div ng-if="getUser('userType') == '1'" class="form-group col-12">									
									<h4 class="card-title">Cover Letter</h4>
									<textarea cover-letter id="coverLetter_src"  type="text" class="col-md-12  col-lg-8 ml-2 text_fields" ng-model="extraInfo.coverLetter"></textarea>
								</div>
			
								<div ng-if="getUser('userType') == '1'" class="form-group col-12">
									<h4 class="card-title">Upload Resume</h4>
									<h6 class="card-subtitle">2mb max file size</h6>
									<input type="file" name="cv" dropify-custom id="input-file-max-fs" class="dropify" data-max-file-size="2M" multiple="true"/>									
								</div>
			
								<div ng-if="getUser('userType') == '1'" class="form-group col-12">
									<label class="label-parent label-editable mr-2 d-inline-block">Current Salary:</label>
									<input type="text" class="col-md-12  col-lg-8 ml-2 text_fields" ng-model="extraInfo.currentSalary">
								</div>
			
								<div class="form-group col-12">
									<label class="label-parent label-editable mr-2 d-inline-block">Expected Salary:</label>
									<input type="text" class="col-md-12  col-lg-8 ml-2 text_fields" ng-model="extraInfo.expectedSalary">
								</div>
			
								<div class="form-group col-md-12">
									<label class="label-parent label-editable mr-2 d-inline-block">Duration of Position: </label>
									<select ng-model="extraInfo.positionDuration"  ng-required="true" class="col-md-12  col-lg-8 ml-2 text_fields">
										<option value="Full Time">Full Time</option>
										<option value="Locum Tenens">Locum Tenens</option>
										<option value="Part Time">Part Time</option>
										<option value="PRN">PRN</option>
										<option value="Fellowship">Fellowship</option>			
									</select>									
								</div>
								
								<div class="col-12 text-center">
									<button form-name="" loading-button callback = "saveExtraInfo()" class="text-center btn btn-primary my_btn">Update</button>
								</div>
								
								<hr noshade="noshade" size="1">		
								<div class="clear">&nbsp;</div>
									
								<div class="pull-right"><button ng-click="showEducationForm()" class="float-right btn btn-info btn-sm">+ Add New</button></div>
								<h4 class="card-title">Education</h4>								
								
								<div class="card-block form-material alert alert-box my_form" ng-show="educationForm">
									<div class="form-group col-12">
										<label class="label-parent label-editable mr-2 d-inline-block">Title:</label>
										<input type="text" class="col-md-12  col-lg-8 ml-2 text_fields" ng-model="educationInfo.title_education">
									</div>							
									<div class="form-group col-12">
										<label class="label-parent label-editable mr-2 d-inline-block">From:</label>
										<input type="text" class="col-md-12  col-lg-8 ml-2 text_fields" ng-model="educationInfo.from_education">
									</div>							
									<div class="form-group col-12">
										<label class="label-parent label-editable mr-2 d-inline-block">To:</label>
										<input type="text" class="col-md-12  col-lg-8 ml-2 text_fields" ng-model="educationInfo.to_education">
									</div>							
									<div class="form-group col-12">
										<label class="label-parent label-editable mr-2 d-inline-block">School:</label>
										<input type="text" class="col-md-12  col-lg-8 ml-2 text_fields" ng-model="educationInfo.school_name">
									</div>							
									<div class="col-12 text-center">
										<button ng-click = "cancelEducation()" class="text-center btn btn-primary my_btn_cancel btn-sm">Cancel</button> 
										<button form-name="" loading-button callback="saveNewEducation()" type="button" class="text-center btn btn-primary my_btn btn-sm">Save</button>										
									</div>							
								</div>
	
								<div class="table-responsive">
									<table class="table table-bordered small">
										<thead>
										<tr>
											<th>Qualification</th>
											<th>Date</th>
											<th>School</th>
											<th class="text-nowrap">Action</th>
										</tr>
										</thead>
										<tbody>
											<tr ng-repeat = "education in educations">
												<td>{{education.title_education}}</td>
												<td>{{education.from_education}} - {{education.to_education}}</td>
												<td>{{education.school_name}}</td>
												<td>
													<button ng-click="populateEdit(education)" class="btn btn-success btn-xs">Edit</button>
													<button sweet-delete callback="removeEducation" url="/user/education/remove/{{education.id}}" class="btn btn-danger btn-xs">Remove</button>
												</td>
											</tr>
											<tr ng-show = "educations.length == 0">
												<td class="text-center" colspan="4">No data Available</td>
											</tr>
										</tbody>
									</table>
								</div>
									
								<div class="clear">&nbsp;</div>
								<div class="pull-right"><button ng-click="showExperienceForm()" class="float-right btn btn-info btn-sm">+ Add New</button></div>
								<h4 class="card-title">Experience</h4>
								
								<div class="card-block form-material alert alert-box my_form" ng-show="experienceForm">
									<div class="form-group col-12">
										<label class="label-parent label-editable mr-2 d-inline-block">Title:</label>
										<input type="text" class="col-md-12  col-lg-8 ml-2 text_fields" ng-model="experienceInfo.titleExperience">
									</div>		
									<div class="form-group col-12">												
										<label class="label-parent label-editable mr-2 d-inline-block">From:</label>
										<input type="text" class="col-md-12  col-lg-8 ml-2 text_fields" ng-model="experienceInfo.fromExperience">
									</div>	
									<div class="form-group col-12">											
										<label class="label-parent label-editable mr-2 d-inline-block">To:</label>
										<input type="text" class="col-md-12  col-lg-8 ml-2 text_fields" ng-model="experienceInfo.toExperience">
									</div>													
									<div class="form-group col-12">
										<label class="label-parent label-editable mr-2 d-inline-block">Company:</label>
										<input type="text" class="col-md-12  col-lg-8 ml-2 text_fields" ng-model="experienceInfo.companyName">
									</div>		
									<div class="col-12 text-center">		
										<button ng-click = "cancelExperience()" class="text-center btn btn-primary my_btn_cancel btn-sm">Cancel</button> 
										<button form-name="" loading-button callback="saveNewExperience()" type="button" class="text-center btn btn-primary my_btn btn-sm">Save</button>										
									</div>		
								</div>
								
								<div class="table-responsive">
									<table class="table table-bordered small">
										<thead>
										<tr>
											<th>Company</th>
											<th>Date</th>											
											<th class="text-nowrap">Action</th>
										</tr>
										</thead>
										<tbody>
											<tr ng-repeat = "experience in experiences">
												<td>{{experience.companyName}}</td>
												<td>{{experience.fromExperience}} - {{experience.toExperience}}
												</td>
												<td>
													<button ng-click="populateExperienceEdit(experience)" class="btn btn-success btn-xs">Edit</button>
													<button sweet-delete callback="removeExperience" url="/user/experience/remove/{{experience.id}}" class="btn btn-danger btn-xs">Remove</button>
												</td>
											</tr>
											<tr ng-show = "experiences.length == 0">
												<td class="text-center" colspan="3">No data Available</td>
											</tr>
										</tbody>
									</table>
								</div>
								
								<div class="clear">&nbsp;</div>														
			
						</div>
					</div>
			
				</div>
			</div>
		</div>
	</div>    
</div>

<div id="uploadPhoto" class="modal fade" tabindex="-1" role="dialog" aria-
labelledby="myModalLabel" aria-hidden="true">     <div class="modal-dialog">
<div class="modal-content">             <div class="modal-header">
<h4 class="modal-title" id="myModalLabel">Upload New Profile Photo</h4>
<button type="button" class="close" data-dismiss="modal" aria-
hidden="true">×</button>             </div>             <div class="modal-
body">                 <div class="card">                     <div
class="col-12">                         <div class="upload-demo-wrap" >
<div id="upload-demo" style="height: 300px !important"></div>
</div>                     </div>

				    <div class="card-block" croppie style="margin-top: 30px;
				    text-align: center;">

				    	<button trigger-profile class="btn btn-primary" for="profilePhoto">Upload Your Profile Photo</button>

                        <input type="file" style="display: none;" class="btn btn-primary" id="profilePhoto" value="Choose a file" accept="image/*" />
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success waves-effect upload-result" >Submit</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- The Modal -->
<style type="text/css">
	#modalSecEmail .form-control{
		/*border: none;*/
	}
	#modalSecEmail input.form-control{
		/*border: 1px solid #e3e3e3;*/
	}
</style>
<div class="modal" id="modalSecEmail">
  	<div class="modal-dialog">
	    <div class="modal-content">

	      	<!-- Modal Header -->
	      	<div class="modal-header">
		        <h4 class="modal-title">Update Secondary Email</h4>
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
	      	</div>

	      	<!-- Modal body -->
	      	<div class="modal-body">
	        	<div class="form-group">
	        		<label for="sec-email">Enter secondary email</label>
	        		<input type="text" class="form-control" ng-model="modalEmail">
	        	</div>
	      	</div>

	      	<!-- Modal footer -->
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	        	<button type="button" class="btn btn-primary" ng-click="updateSecEmail(modalEmail)">Update</button>
	      	</div>

	    </div>
 	</div>
</div>