<section id="wrapper" ng-cloak class=" login-register login-orig" ng-show="!isAuthenticated()"  style="background-image:url(assets/images/background/login-register.jpg);">
  <div class="login-box card" style="position: absolute;right: 0px;height: 100%">
    <div class="card-block">
      <form name="loginForm" class="form-horizontal form-material" id="loginform" no-validate>
        <a href="javascript:void(0)" class="text-center db"><img src="assets/images/logo-icon.png" alt="Home" /><br/><img src="assets/images/logo-text.png" alt="Home" /></a>  
        <input type="hidden" value="{{token}}" name="_Token">
        <div class="form-group m-t-40">
          <div class="col-xs-12">
            <input class="form-control" ng-model = "loginData.email" ng-pattern = "/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-required="true" type="text" ng-required="true" placeholder="Username">
            <span class="help-block" ng-show = "loginForm.email.$invalid && loginForm.email.$dirty">Email Address is Required or Invalid.</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input ng-model = "loginData.password" class="form-control" type="password" ng-required="true" placeholder="Password">
            <span class="help-block" ng-show = "loginForm.password.$invalid && loginForm.password.$dirty">Password is Required or atleast 5 Characters.</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary pull-left p-t-0">
              <input id="checkbox-signup" type="checkbox">
              <label for="checkbox-signup"> Remember me </label>
            </div>
            <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a> </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" form-name="loginForm" loading-button callback="submitLogin()">Log In</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
            <div class="social"><a href="javascript:void(0)" class="btn  btn-facebook" data-toggle="tooltip"  title="Login with Facebook"> <i aria-hidden="true" class="fa fa-facebook"></i> </a> <a href="javascript:void(0)" class="btn btn-googleplus" data-toggle="tooltip"  title="Login with Google"> <i aria-hidden="true" class="fa fa-google-plus"></i> </a> </div>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p>Don't have an account? <a ui-sref="register_type" class="text-primary m-l-5"><b>Sign Up</b></a></p>
          </div>
        </div>
      </form>

    </div>
  </div>
</section>