

 .help-block {
  color: #d46c6c;
  font-size: 13px;
}

.slider-sections{
	height: auto;
	min-height: 500px;
	margin-top: 50px !important;
}
.slider-faded {
	opacity: 0.3;
}

.slider-menu {
	height: 187px;
    float: left;
    padding: 16px 10px 0px;
}
.or-label {
	margin-top: 39px;
    font-size: 18px;
}
.slider-menu-content {
	text-align: center;
}

.subtle-hint {
	font-size: 14px;
}
.slider-grid {
	margin-left: -46px;
}
.slider-menu-label {
	font-size: 20px;
	margin-bottom: 19px !important;
	color: #4f4f6f;
	font-family: 'Open Sans', sans-serif;
}
.slider-sublabel {
	margin-top: 17px;
    width: 177px;
    font-size: 14px;
    margin-left: -12px !important;
}

.sidebar-btn{
	width: 70px
}

.slider-box-highlight{
	border: 1px solid #b18afd !important;
}

.anesthesia-input input[type=text]{
	border-radius: 100px !important;
	font-size:14px;line-height:normal; color:#7d7d7d;font-family: 'Open Sans', sans-serif;
	font-size: normal;
	padding: 10px;
	padding-left: 20px;
	width: 100% !important;
}
.anesthesia-input input[type=text]:focus{
	border-color: #6684f2;
}
.anesthesia-input input[type=text]::-webkit-input-placeholder {
	font-style: normal;
	border-radius: 100px;
	font-size: 15px;
}

.anesthesia-input input[type=password]{
	border-radius: 100px;
	font-size:14px;line-height:normal; color:#7d7d7d;font-family: 'Open Sans', sans-serif;
	font-size: normal;
	padding: 10px;
	padding-left: 20px;
	width: 100% !important;
}
.anesthesia-input input[type=password]:focus{
	border-color: #6684f2;
}
.anesthesia-input input[type=password]::-webkit-input-placeholder {
	font-style: normal;
	border-radius: 100px;
}

.anesthesia-input select{
	border-radius: 100px !important;
	font-size:14px;line-height:normal; color:#7d7d7d;font-family: 'Open Sans', sans-serif;
	font-size: normal;
	padding: 10px;
	padding-left: 20px;
	width: 100% !important;
}

.anesthesia-input textarea::-webkit-input-placeholder {
	font-size: 15px;
}

.anesthesia-input select:focus{
	border-color: #6684f2;
}
.anesthesia-input select::-webkit-input-placeholder {
	font-style: normal;
	border-radius: 100px !important;
}
.slider-footer {
	position: absolute;
    height: 70px;
    bottom: 0px;
    padding:10px;
    left: 0px;
    right: 0px;
    background: #fff;
    border: 1px solid #ccc;
}

.anesthesia-btn button{
	color: #fff;
	font-family: 'Open Sans';
	width: 90px;
	border-radius: 100px;
	font-size: 16px;
	font-weight: bold;
	background: rgb(85,76,249); /* Old browsers */
	border: 0px;
	background: -moz-linear-gradient(to right, rgba(85,76,249,1) 0%, rgba(129,76,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(to right, rgba(85,76,249,1) 0%,rgba(129,76,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(85,76,249,1) 0%,rgba(129,76,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#554cf9', endColorstr='#814cf9',GradientType=0 );
}

.anesthesia-btn label, .anesthesia-btn button{
	font-family: 'Open Sans', Sans-serif;	
}

.anesthesia-save {
	width: 180px !important;
    padding: 12px !important;
}

.anesthesia-cancel{ 
	color: #000000 !important;
	width: 90px;
	border-radius: 100px;
	font-size: 16px;
	font-weight: bold;
	background: #fff !important;
	border: none !important;
    padding: 12px !important;
    font-family: 'Open Sans';
    -webkit-box-shadow: 2px 6px 44px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 6px 44px -8px rgba(0,0,0,0.75);
	box-shadow: 2px 6px 44px -8px rgba(0,0,0,0.75);
}

/*jet styles for Registration slider form*/
@media only screen and (min-width: 800px){
    .close-register-form{
        display: none;
    }
}
@media only screen and (max-width: 960px){
    .slider-form#new-job-slider{
        width: 85% !important;
    }
}
@media only screen and (max-width: 799px){
    .slider-form#new-job-slider{
        width: 85% !important;
    }
    form[name="jobForm"]{
        left: 0 !important;
        position: relative !important;    
        padding: 0px;
    }
    div.slider-sections{
        width: 100% !important;     
        width: 100% !important;
        margin: 0 auto !important;
    }
    
    .anesthesia-btn button{
        margin-left: 100px !important;
    }
    .anesthesia-btn button:nth-child(2){
        margin-top: 20px !important;
    }
    .registration-form .close-slider-form{
        height: 40px;
        width: auto;
    }
    .slider-form-close{
        display: none !important;
    }
    .close-register-form{
        display: block;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-left: 30px;
    }
    .job-header .sleft, .job-header .sright {
        display: none;
    }
}
@media only screen and (max-width: 767px){
    .slider-form#new-job-slider{
        width: 85% !important;
    }
    form[name="jobForm"]{
        left: 0 !important;
        position: relative !important;      
        padding: 0px;
    }
    div.slider-sections{
        width: 100% !important;     
        width: 100% !important;
    }
    .anesthesia-btn button{
        margin-left: 100px !important;
    }
    .anesthesia-btn button:nth-child(2){
        margin-top: 20px !important;
    }
    .slider-form-close{
        display: none !important;
    }
    .close-register-form{
        display: block;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;        
        margin-left: 30px;
    }
    .job-header .sleft, .job-header .sright {
        display: none;
    }
}
@media only screen and (max-width: 599px){
    .slider-form#new-job-slider{
        width: 98% !important;
    }
    form[name="jobForm"]{
        left: 0 !important;
        position: relative !important;      
        padding: 0px;
    }
    div.slider-sections{
        width: 100% !important;     
        width: 100% !important;
    }
    .anesthesia-btn button{
        margin-left: 85px !important;
    }
    .anesthesia-btn button:nth-child(2){
        margin-top: 20px !important;
    }
    .slider-form-close{
        display: none !important;
    }
    .close-register-form{
        display: block;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-left: 30px;
    }
    .job-header .sleft, .job-header .sright {   
        display: none;
    }    
}
@media only screen and (max-width: 400px){
    #selected_status .btn-group{

    }
    #selected_status .btn-group label{
        font-size: 9px !important;
    }
}	