#pagewrap .contact-container{
	width:65%;
	margin:0 auto;
}
.contact-container .row div hr{
	width: 100%;
    border-bottom: 1px solid #636363;
}
@media only screen and (max-width: 767px){
	.contact-container .row div hr{
		width: 15%;
		float: left;
		margin-left: 12px;
	    border-bottom: 1px solid #636363;
	}
}
.contact-container .row .col-md-10{
	padding-left: 5%;
}
#first-row{
	padding-top: 7px;
}
#first-row .contact-us-label{
	color: #6684f2;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
}
#first-row p{
	font-style: "Open Sans", sans-serif;
	font-weight: bold;
	letter-spacing: 4px;
	font-size: 48px;
	color: #4f4f6f;
}
#first-row .contact-us-desc{
	color: #7d7d7d;
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 1px;
}
#first-row .contact-us-desc a{
	color: #6684f2;
}
#second-row{
	padding-top: 55px;	
}
#second-row #detail-container{	
	padding-left: 60px;
	min-height: 100px;
	padding-right: 0px;	
}
#second-row #detail-container span{
	color: #7d7d7d;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	display: block;
	margin-top: 5px;
	letter-spacing: 2px;
}
.phone#detail-container{
	background: url(../images/jobs-img/icon-phone.png);
	background-position: 15px 5px;
	background-repeat: no-repeat;
}
.address#detail-container{	
	background: url(../images/jobs-img/icon-location-0.png);
	background-position: 15px 5px;
	background-repeat: no-repeat;	
}
.email#detail-container{	
	background: url(../images/jobs-img/icon-email.png);
	background-position: 15px 5px;
	background-repeat: no-repeat;	
}
#second-row .header-title{
	color: #000;
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 2px;
}

#phase-2{
	margin-top: 100px;
}

#second-row .contact-detail{
	font-family: "Lato", sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	border:0;
	border-bottom: 2px solid #ebebeb;
}
#second-row .contact-detail:hover,
#second-row .contact-detail:active{
	border-radius: 0;
	border-bottom: 2px solid #544cf9;
	color: #000;
}

#second-row .contact-detail:hover::-webkit-input-placeholder{	
	color: #000;
}
#second-row .btn-send{
	font-size: 16px;
	padding: 15px 50px 15px 50px;
	color: #fff;
	border-radius: 30px;
	background: rgb(86,76,249); /* Old browsers */
	background: -moz-linear-gradient(to right, rgba(86,76,249,1) 1%, rgba(128,76,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(to right, rgba(86,76,249,1) 1%,rgba(128,76,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(86,76,249,1) 1%,rgba(128,76,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#564cf9', endColorstr='#804cf9',GradientType=0 ); 
	background: #544cf9;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#second-row .btn-send:hover{
	background: rgb(128,76,249); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(128,76,249,1) 0%, rgba(128,76,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(128,76,249,1) 0%,rgba(128,76,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(128,76,249,1) 0%,rgba(128,76,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804cf9', endColorstr='#804cf9',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: none;
	box-shadow: none;
}
.search_container .stitle{
	font-family: 'Montserrat', sans-serif;
	font-weight: 1000;
	font-size: 60px;
}
.search_container p{
	font-family: "open sans", sans-serif;
	font-size: 24px;
	color: #fff;
}