.cookie-notice {
  box-sizing: border-box;
  position: fixed;
  bottom: 32px;
  left: 50%;
  width: 500px;
  margin-left: -250px;  
  padding: 12px;
  padding-bottom: 0px;
  background: white;
  box-shadow: 0 2px 4px rgba(20, 40, 80, 0.2);
  border-radius: 3px;
  font-size: 0.86em;
  line-height: 1.5;
  color: #456;
  transform: translate3d(0, 0, 0);
  animation: cookie-notice-fadein 500ms ease;
  z-index: 60;  
}


@keyframes cookie-notice-fadein {
  0% { transform: translate3d(0, 128px, 0); opacity: 0; }
  100% { transform: translate3d(0, 0, 0); opacity: 100; }
}

.cookie-notice-message > p {
  margin: 0;
  padding: 0;
  width: 80%;
  font-family: sans-serif  
}

.cookie-notice .row .col-md-4 > button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;  
  color: dodgerblue;  
  width: 100%;
  height: 60px;
  bottom: 8px;
  cursor: pointer;
  font-weight: bold;
  border-left: solid 1px rgba(0, 40, 80, 0.1);
}

.cookie-notice .row .col-md-4 > button:hover {
  color: #4ba6ff;
}

.cookie-notice .row .col-md-4 > button:active {
  color: #1873cc;
}


@media only screen and (max-width : 767px){

  .cookie-notice{
    box-sizing: border-box;
    position: fixed;
    bottom: 32px;
    left: 50%;
    width: 500px;
    margin-left: -250px;    
  }
  
  .cookie-notice .row .col-md-4 > button{
    line-height: 20px;
    border: 0;
  }
}

@media only screen and (max-width : 512px){

  .cookie-notice{
    box-sizing: border-box;
    position: fixed;
    bottom: 32px;
    left: 50%;
    width: 300px;
    margin-left: -150px;    
  }
  
  .cookie-notice .row .col-md-4 > button{
    line-height: 20px;
    border: 0;
  }
}