#card-form-info .form-group{

}
#card-form-info .form-group{
	/*border: 1px solid #000;*/
}
#card-form-info .form-group div{
	height: 38px;
}
.card-header#billing-header{
	background-color: #e9f6ea;
	padding-top: 10px;
	padding-bottom: 5px;
}
.card-header#billing-header h4{
	color: #202020;
	font-weight: 500;
}
#credit-forms .form-group div,#credit-forms .form-group input{
	display: block;
	width: 100%;
}
#credit-forms .form-group label{
	color: #202020;
	font-weight: 500;
	font-style: 12px;
	font-variant-caps: titling-caps;
}
#credit-forms .form-group.row, #credit-forms .form-group{	
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
	margin-top: 10px !important;	
}
#credit-forms .form-group input.form-control{
	border: 1px solid #dcdcdc !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	
}
#credit-forms .form-group input:hover, #credit-forms .form-group input:focus, #credit-forms .form-group input:active{
	border: 1px solid #14792d !important;
}
#credit-forms .form-group #payment-cards{
	width: 100%;
	background: url(../images/jobs-img/payment-cards.png) no-repeat right top !important;
	background-size: 110px auto !important;
}
#button-form{
	height: 60px;
}




.pages {
  text-align: center;
  padding: 0!important;
  border: 0!important;
  border-radius: 10px!important;
}

.pages:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.pages .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.pages .modal-dialog .modal-header{
	min-height: 60px;
    padding: 15px 20px 15px 30px;
    border-bottom: 1px solid #E0E0E0;
    background: #F9F9F9;
    color: #000;
}
.pages .modal-dialog .modal-header h2{
	line-height: 27px;
    font-size: 21px;
    font-weight: 400;
}
.pages .modal-dialog .modal-content{	
	margin-bottom: 10px !important;
    color: #222;
    font-weight: 700;
    font-size: 13px;
    text-align: left !important;    
    min-height: 550px;    

    position: relative;
    min-height: 100%;
    height: auto;
    background-color: #fff;
    border: none;
    border-radius: 0;
    background-clip: padding-box;
    outline: none;
    -webkit-box-shadow: 0 2px 7px rgba(57,73,76,0.45);
    box-shadow: 0 2px 7px rgba(57,73,76,0.45);

	-webkit-animation: showSweetAlert 0.3s;
  	animation: showSweetAlert 0.3s;
}
.pages .modal-dialog .modal-content .form-group{
	padding-left: 5px;
	padding-right: 5px;
}

.pages .modal-dialog .modal-content .form-group #payment-cards{
	width: 100%;
	background: url(../images/jobs-img/payment-cards.png) no-repeat right top !important;
	background-size: 110px auto !important;
}
.control-label {
	margin-top: 10px !important;
    margin-bottom: 10px !important;
    color: #222;
    font-weight: 700;
    font-size: 13px;
    text-align: left !important;
}

.pages .modal-dialog .modal-content .row .col-md-12:first-child,.pages .modal-dialog .modal-content .row .col-md-3, .pages .modal-dialog .modal-content .row .col-md-6{	
	padding-left: 10px;
	padding-right: 10px;
}
.pages .modal-dialog .modal-content .form-group{

	padding-left: 0;
	padding-right: 0;
}
.banner{
	min-height: 42px;
    background-color: #EBF7EC;
    text-align: center;
    padding: 10px 6%;
    font-weight: normal;
    text-indent: 10px;
}

.pages .modal-dialog .modal-content .form-group input[type="text"]{	    
    min-height: 40px;
    height: 40px;
    padding: 10px 19px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    color: #656565;
    background-color: #fff;
    background-image: none;
    font-size: 13px;
    line-height: 18px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
} 

.pages .modal-dialog .modal-content .form-group select{
	-webkit-appearance: none;
	width: 100%;
	height: 40px;
    color: #222;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 14px;
    line-height: 20px;    
    margin: 0;
    background-color: #fff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDE0IDE0Ij4NCiAgPHBvbHlnb24gZmlsbD0iIzM3YTAwMCIgZmlsbC1ydWxlPSJldmVub2RkIiBwb2ludHM9IjcgMTIgMTQgNC41NjcgMTIuNTI0IDMgNyA4Ljg2NiAxLjQ3NiAzIDAgNC41NjciLz4NCjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: right 9px center;
    padding: 10px 31px 10px 19px !important;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    font-family: "Open Sans", sans-serif;    
}
.pages .modal-dialog .modal-content .form-group input:hover, 
.pages .modal-dialog .modal-content .form-group input:focus, 
.pages .modal-dialog .modal-content .form-group input:active{
	border: 1px solid #14792d !important;
}
#billing-address,#billing-method,#priority-posting,#select-cards{
	display: none;
	transform:translate(9999px);
	opacity: 0;
}
#billing-address.active,#billing-method.active,#priority-posting.active,#select-cards.active{
	display: block;
	transition: opacity 2s linear;
	transform:translate(0);
	opacity: 1;
}

#job-card-new,#job-card-old{
	display: none;
	transform:translate(9999px);
	opacity: 0;
	height: 0;
}
#job-card-new.active,#job-card-old.active{
	display: block;
	transition: opacity 0.2s linear;
	transform:translate(0);
	opacity: 1;
	height: auto;
}
.pages .modal-dialog .modal-footer{
	display: block;
}

.pages .modal-footer button{
	display: block;
	color: #fff;
    background-color: #37A000;
    border-color: transparent;
	padding: 11px 28px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    border: solid 2px transparent;
    -webkit-font-smoothing: antialiased;
    margin: 0 0px 10px 15px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    background-image: none;
    -webkit-transition: all .15s;
    transition: all .15s;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    float: left;
}

.pages .modal-footer .job-btn{
	font-family: "Open Sans", sans-serif;
	color: #fff;
	border:0;
	height: 37px;
	padding-left: 20px;
	padding-right: 20px;	
	border-radius: 25px;
	background: rgb(86,76,249); /* Old browsers */
	background: -moz-linear-gradient(to right, rgba(86,76,249,1) 1%, rgba(128,76,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(to right, rgba(86,76,249,1) 1%,rgba(128,76,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(86,76,249,1) 1%,rgba(128,76,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#564cf9', endColorstr='#804cf9',GradientType=0 ); 
}
.pages .modal-footer .job-btn:hover,
.pages .modal-footer .job-btn:focus{
	background: rgb(128,76,249); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(128,76,249,1) 0%, rgba(128,76,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(128,76,249,1) 0%,rgba(128,76,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(128,76,249,1) 0%,rgba(128,76,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804cf9', endColorstr='#804cf9',GradientType=0 ); /* IE6-9 */
	box-shadow: none;
}

/*upgrade job modal*/
#sidebar-job-post{
    display: block;
    margin: 0 auto;
    padding-top: 50px;
    border-right: 1px solid #e0e0e0;
    height: 400px;
}
#upgrade-job-form .col-md-4,
#upgrade-job-form .col-md-8{
    height: 400px;
}
#prior-radio-container{
    padding-top: 30px;
}
#prior-radio-container button{
    margin-top:50px;
}
#prior-radio{

}

@media only screen and (min-width: 520px){
	.pages .modal-dialog .modal-content .form-group input[name="cardNumber"]{	
		margin-top: 10px;
		background: url(../images/jobs-img/bank-card.png) no-repeat left top, url(../images/jobs-img/security-lock.png) no-repeat right top !important;
		background-position: left 15px top 5px, right 10px top 5px !important;		
		background-size: 30px 30px, 130px auto !important;
		padding-left: 60px;
		padding-right: 165px;
	}
}
@media only screen and (max-width: 519px){
	.pages .modal-dialog .modal-content .form-group input[name="cardNumber"]{	
		margin-top: 10px;
		background: url(../images/jobs-img/bank-card.png) no-repeat left top, url(../images/jobs-img/lock.png) no-repeat right top !important;
		background-position: left 15px top 5px, right 10px top 5px !important;		
		background-size: 30px 30px, 30px auto !important;
		padding-left: 60px;
		padding-right: 60px;
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}
}
/*sweetAlert animation*/

@-webkit-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@-webkit-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }