/*jet browse jobs styles */
.card-job-box{
	border-color: #d7dfe3; 
	border-radius: 10px !important; 
	-webkit-box-shadow: 0px 5px 20px rgba(50, 184, 219, 0.4) !important; 
	box-shadow: 0px 5px 20px rgba(50, 184, 219, 0.2) !important;  
}
.card-job-box:hover{
	-webkit-box-shadow: 0px 5px 20px rgba(50, 184, 219, 0.8) !important; 
	box-shadow: 0px 5px 20px rgba(50, 184, 219, 0.3) !important;
}					
.card-new-logo img{
	width:30% !important;height: auto;
	background: #fff;border-radius: 100%; 
	-webkit-box-shadow: 0px 1px 10px rgba(66, 203, 255, 0.5);
	box-shadow: 0 1px 10px rgba(66, 203, 255, 0.5);
}						
.cardnew-wrap{ 
	min-height:330px;
	width:auto;
}	
.card-new-logo {
    position: absolute;
    top: -15%;    
}
.card-new-icons button{
	color: #000;
}
.card-new-icons button{
	background: rgb(185,144,253); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
	background: -webkit-linear-gradient(to bottom, rgba(185,144,253,1) 0%, rgba(119,112,253,1) 37%, rgba(119,112,253,1) 37%, rgba(119,112,253,1) 67%, rgba(95,200,252,1) 100%);
	background: -o-linear-gradient(to bottom,rgba(185,144,253,1) 0%, rgba(119,112,253,1) 37%, rgba(119,112,253,1) 37%, rgba(119,112,253,1) 67%, rgba(95,200,252,1) 100%);
	background: linear-gradient(to bottom,rgba(185,144,253,1) 0%, rgba(119,112,253,1) 37%, rgba(119,112,253,1) 37%, rgba(119,112,253,1) 67%, rgba(95,200,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.job-company-name{
	color: #7a7a7a;
	font-size: 14px;
	font-weight: bold;
	font-family: 'OpenSans', Sans-serif;
}
.job-title{
	margin-top: 5px;
	color: #00b9ff;
	font-size: 16px;
	font-family: 'Poppins', sans-serif; 
	font-weight:600;
	text-transform: uppercase;
}

.card-box-new .pos-bottom{
	float: bottom;
	position: absolute;
	bottom: 0;	
	padding-bottom: 15px;
}

.card-box-new .pos-bottom button{
	border:0;	
	background: rgb(85,76,249); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
	background: -webkit-linear-gradient(to right,rgba(85,76,249,1) 0%, rgba(129,76,249,1) 100%);
	background: -o-linear-gradient(to right,rgba(85,76,249,1) 0%, rgba(129,76,249,1) 100%);
	background: linear-gradient(to right,rgba(85,76,249,1) 0%, rgba(129,76,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	
	font-size: 10px;
}

.job-text-wrap .sAddress{
	margin-top:5px; margin-bottom:10px;
}
.job-text-wrap .sAddress div{
	font-size:14px; height:50px; overflow:hidden; line-height:normal; font-weight:500; display:table-cell; vertical-align:bottom;
}
.job-text-wrap .sAddress span{
	vertical-align:bottom
}
.job-text-wrap .sAddress small{
	color:#999999;
}

/*jet browse jobs styles */
.cardnew-wrap{ min-height:350px; width:auto;}	
.card-new-icons button{
	color: #000;
}
.card-new-icons button:not(:last-child){
	margin-right: 5px;
}
.card-new-icons button{
	background: rgb(185,144,253); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
	background: -webkit-linear-gradient(to bottom, rgba(185,144,253,1) 0%, rgba(119,112,253,1) 37%, rgba(119,112,253,1) 37%, rgba(119,112,253,1) 67%, rgba(95,200,252,1) 100%);
	background: -o-linear-gradient(to bottom,rgba(185,144,253,1) 0%, rgba(119,112,253,1) 37%, rgba(119,112,253,1) 37%, rgba(119,112,253,1) 67%, rgba(95,200,252,1) 100%);
	background: linear-gradient(to bottom,rgba(185,144,253,1) 0%, rgba(119,112,253,1) 37%, rgba(119,112,253,1) 37%, rgba(119,112,253,1) 67%, rgba(95,200,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.job-company-name{
	color: #7a7a7a;
	font-size: 14px;
	font-weight: bold;
	font-family: 'OpenSans', Sans-serif;
}
.job-title{
	margin-top: 5px;
	color: #00b9ff;
	font-size: 16px;
	font-family: 'Poppins', sans-serif; 
	font-weight:600;
	text-transform: uppercase;
}
.card-box-new .pos-bottom{
	float: bottom;
	position: absolute;
	bottom: 0;	
	padding-bottom: 15px;
}

.card-box-new .pos-bottom button{
	border:0;	
	background: rgb(85,76,249); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
	background: -webkit-linear-gradient(to right,rgba(85,76,249,1) 0%, rgba(129,76,249,1) 100%);
	background: -o-linear-gradient(to right,rgba(85,76,249,1) 0%, rgba(129,76,249,1) 100%);
	background: linear-gradient(to right,rgba(85,76,249,1) 0%, rgba(129,76,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	
	font-size: 10px;
}

.job-text-wrap .sAddress{
	margin-top:5px; margin-bottom:10px;
}
.job-text-wrap .sAddress div{
	font-size:14px; height:50px; overflow:hidden; line-height:normal; font-weight:500; display:table-cell; vertical-align:bottom;
}
.job-text-wrap .sAddress span{
	vertical-align:bottom
}
.job-text-wrap .sAddress small{
	color:#999999;
}
@media only screen and (max-width: 767px){
	#card-container{		
		margin: 0 auto;
		width: 100%;
		max-width:360px;	
	}	
}	
@media only screen and (min-width: 768px){
	#card-container{		
		margin: 0 auto;
		width: 100%;
		max-width:750px;	
	}	
}
@media only screen and (min-width: 1138px){
	#card-container{		
		margin: 0 auto;
		width: 100%;
		max-width:1100px;	
	}	
}
@media only screen and (min-width: 1527px){
	#card-container{		
		margin: 0 auto;
		width: 100%;
		max-width:1450px;	
	}	
}
@media only screen and (min-width: 2500px){
	#card-container{				
		margin: 0 auto;
		width: 100%;
		max-width:1850px;	
	}	
}
@media only screen and (min-width: 1600px){
	/*jet browse jobs styles */
	.cardnew-wrap{ min-height:230px; width:auto;}	
	.card-new-icons button{
		color: #000;
	}
	.card-new-icons button:not(:last-child){
		margin-right: 5px;
	}
	.card-new-icons button{
		background: rgb(197,152,253); /* Old browsers */
		background: -moz-linear-gradient(-85deg, rgba(197,152,253,1) 0%, rgba(119,112,253,1) 49%, rgba(92,218,252,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-85deg, rgba(197,152,253,1) 0%,rgba(119,112,253,1) 49%,rgba(92,218,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(-85deg, rgba(197,152,253,1) 0%,rgba(119,112,253,1) 49%,rgba(92,218,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c598fd', endColorstr='#5cdafc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	.job-company-name{
		color: #7a7a7a;
		font-size: 15px;
		font-weight: bold;
		font-family: 'OpenSans', Sans-serif;
	}
	.job-title{
		margin-top: 5px;
		color: #00b9ff;
		font-size: 18px;
		font-family: 'Poppins', sans-serif; 
		font-weight:600;
		text-transform: uppercase;
	}
	.card-box-new .pos-bottom{
		float: bottom;
		position: absolute;
		bottom: 0;	
		padding-bottom: 15px;
	}

	.card-box-new .pos-bottom button{
		border:0;	
		background: rgb(85,76,249); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
		background: -webkit-linear-gradient(to right,rgba(85,76,249,1) 0%, rgba(129,76,249,1) 100%);
		background: -o-linear-gradient(to right,rgba(85,76,249,1) 0%, rgba(129,76,249,1) 100%);
		background: linear-gradient(to right,rgba(85,76,249,1) 0%, rgba(129,76,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		
		font-size: 13px;
	}

	.job-text-wrap .sAddress{
		margin-top:5px; margin-bottom:10px;
	}
	.job-text-wrap .sAddress div{
		font-size:15px; height:50px; overflow:hidden; line-height:normal; font-weight:500; display:table-cell; vertical-align:bottom;
	}
	.job-text-wrap .sAddress span{
		vertical-align:bottom
	}
	.job-text-wrap .sAddress small{
		color:#999999;
	}
}



.card-box-new {
    padding-top: 70px !important;
}
.card-box-new .job-company-name{
	margin-top: 0;	
}
.card-box-new .job-title{
	margin-top: 10px;	
	justify-content: justify;
	padding: 0;
}
.job-title{
	color : #00b9ff
}
.card-box-new .pos-bottom button{	
	font-weight: bold;	
	font-size: 13px;
	font-family: 'Myriad Pro';

}

.card-box-new .pos-bottom{
	padding-bottom: 30px;
}
.cardnew-wrap{ min-height:350px; width:auto;}	
/*
.new-splash{
	width: 75px;
	height: 80px;
	background: url(../images/jobs-img/splash6.png) no-repeat right -3px bottom -3px, linear-gradient(135deg, rgba(115,115,253,1) 0%,rgba(115,115,253,1) 57%,rgba(115,115,253,1) 57%,rgba(94,207,252,1) 100%,rgba(109,210,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/*background-size: 75px 78px;
	border-top:5px solid #fff;	
	border-left:5px solid #fff;	
}*/


/*Application form slider*/

.radio-holder label{
	margin-right: 40px;
}
/*job card fixes*/

.job-title .text{
    color: #00b9ff;    
}
.job-title .small, .job-title small{
	padding-top: 10px !important;
    color: #999999;
    margin-bottom: 15px;
    line-height: 22px;
    
}
.job-title{
	color: #999999;    
    text-transform: none;        
  	overflow: hidden;
  	text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-line-clamp: 6;
    -moz-box-orient: vertical;  
    font-size: 16px;       
    -webkit-line-clamp : 6;
	height             : 150px;
}
.job-title .title-text{
    
}   

.cardnew-wrap{ 
    min-height:370px !important;
    width:auto;
    cursor: pointer;
}
.slider-btn{
	margin-bottom: 8px !important;
	width: 80%;
	padding-left: 10px !important;
	padding-right: 10px !important;
	font-size: 12px;
	overflow: hidden;
    text-transform: none;    
    text-overflow: ellipsis;   
}