
#job-header{
    padding-top: 15px;
    padding-left: 15px;
}
#job-header-container{    
    padding-bottom: 0;
}
#job-header label#checkbox33{
    color : #000 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
#select-container{
    padding-top: 12px;
    padding-left: 40px;
}
#select-action{
    border-radius: 25px;
    font-size: 12px;
    border: 1px solid #ebebeb;
    padding-top: 5px;
    padding-bottom: 5px;
    color : #959595;
    padding-left: 20px;
    padding-right: 20px;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background: url(../images/jobs-img/drop-down-black.png) #fff; 
    background-position: right 20px top 12px;
    background-repeat: no-repeat;
    padding-right: 40px;
}
.job-breadcrumb .row .form-group h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color : #6684f2 !important;
    font-weight: bold;
}
.breadcrumb li:first-child a{
    color: #54667a !important;
    font-size: 14px;
    font-family: 'Poppins';
}

#input-fields{
    padding-left: 0;
    padding-right: 0;
    padding-right: 20px;
}
#input-fields ul{
    display: block;    
    padding: 0;
}
#input-fields ul li{
    display: inline-block;    
    float: left;
    padding: 18px 4px 0 4px;
    float:right;
}
i.icon-location{
    font-size: 18px;
    color: #625cf8;    
    display: inline-block;
    margin-left: 18px;    
    margin-top: 15px;
    z-index: 1;
    position: absolute;
}
i.icon-search{
    font-size: 18px;
    color: #625cf8;
    font-weight: bold;
    display: inline-block;
    margin-left: 20px;    
    margin-top: 15px;
    z-index: 1;
    position: absolute;
}
.job-txt-search{
    height: 45px;
    border: 1px solid #ebebeb;
    border-radius: 25px;       
    padding-left: 50px; 
    background: #eceff1; 
    background-position: 20px;
    background-repeat: no-repeat;    
    font-family: 'Open Sans', sans-serif;
    padding-right: 20px;
    font-size: 12px;
    width: 150px;        
}
/*.txt-search-dd{
    height: 45px;
    border: 1px solid #ebebeb;
    border-radius: 25px;
    width: 100%;    
    padding-left: 50px; 
    background: url(../images/jobs-img/icon-location.png) , url(../images/jobs-img/drop-down-black.png) #eceff1; 
    background-position: 20px, right 20px top 20px;
    background-repeat: no-repeat;
    padding-right: 40px;
    font-family: 'Open Sans', sans-serif;
    width: 150px;
    font-size: 12px;    
}
.txt-search-dd-btn{   
    height: 45px;
    border: 1px solid #ebebeb;
    border-radius: 25px;       
    padding-left: 50px; 
    background: url(../images/jobs-img/icon-search16.png) , url(../images/jobs-img/drop-down-black.png) #eceff1; 
    background-position: 20px, right 160px top 20px;    
    background-repeat: no-repeat;    
    font-family: 'Open Sans', sans-serif;
    padding-right: 175px;
    font-size: 12px; 
    z-index:1;
    width: 290px;
}*/
.job-txt-search-dd{
    height: 45px;
    border: 1px solid #ebebeb;
    border-radius: 25px;
    width: 100%;    
    padding-left: 50px; 
    background: url(../images/jobs-img/drop-down-black.png) #eceff1; 
    background-position: right 20px top 20px;
    background-repeat: no-repeat;
    padding-right: 40px;
    font-family: 'Open Sans', sans-serif;
    width: 150px;
    font-size: 12px;    
}
.job-txt-search-dd-btn{   
    height: 45px;
    border: 1px solid #ebebeb;
    border-radius: 25px;       
    padding-left: 50px; 
    background: url(../images/jobs-img/drop-down-black.png) #eceff1; 
    background-position: right 160px top 20px;    
    background-repeat: no-repeat;    
    font-family: 'Open Sans', sans-serif;
    padding-right: 175px;
    font-size: 12px; 
    z-index:1;
    width: 290px;
}
.find_jobs_btn{ 
    display: block;   
    position: relative; 
    float: right;   
    margin-top: -41px;
    margin-left: -175px;
    margin-right: 3px;
    color: #fff;
    border:0;
    height: 37px;
    padding-left: 20px;
    padding-right: 20px;    
    border-radius: 25px;
    width: 150px;
    background: rgb(86,76,249); /* Old browsers */
    background: -moz-linear-gradient(to right, rgba(86,76,249,1) 1%, rgba(128,76,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(to right, rgba(86,76,249,1) 1%,rgba(128,76,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(86,76,249,1) 1%,rgba(128,76,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#564cf9', endColorstr='#804cf9',GradientType=0 ); 
    width: 151px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.find_jobs_btn:hover,.find_jobs_btn:focus,.find_jobs_btn:active{
    background: rgb(128,76,249); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(128,76,249,1) 0%, rgba(128,76,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(128,76,249,1) 0%,rgba(128,76,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(128,76,249,1) 0%,rgba(128,76,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804cf9', endColorstr='#804cf9',GradientType=0 ); /* IE6-9 */
    box-shadow:none;
}
#radio-container{
    padding-top: 10px;    
    padding-left:0;
    padding-right:0;
    padding-right: 30px;
}
#radio-container ul{    
    display:block;
    float-right;
}
#radio-container ul li{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;    
    padding: 5px 10px 5px 10px;
    float: right;
}
#radio-container ul li.active{

}
#radio-container ul li label img{
    margin-top: -5px;
}
#radio-container ul li label{
    cursor: pointer;
}
#radio-container ul li span #radio-text{    
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
}

.search_container li{
    position: relative;     
}
.search-dropdown{
    display: block;
    position: absolute;  
    z-index: 2000;  
    padding-left: 2px !important;
    padding-right: 2px !important;
    padding: 2px;
    width: 200px;         
    border:1px solid #ebebeb;    
    background: #fff;
    margin-left: 40px !important;
}
.search-dropdown ul li{
    font-size: 12px;
}
.search-dropdown ul {
    height: auto;
    border: 1px solid #ebebeb !important;
    width: 100%;         
    position: relative;    
}
.search-dropdown ul:first-child{
    border:0 !important;
}
/*.search_container li{
    position: relative;     
}
.search-dropdown{
    display: block;
    position: absolute;    
    padding:0;    
    border:1px solid #ccc;
    padding: 2px;
    background: #fff;
}
.search-dropdown ul:first-child{
    border: 0;
}
.search-dropdown ul {
    height: auto;
    border: 1px solid #ccc;
    width: 100%;         
    position: relative;    
}

.search-dropdown ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}*/

.card-job-box#joblist-cards{    
    width: 350px;
    margin: 10px 10px 20px 10px;
    float: left;    
}
@media only screen and (min-width: 300px){
    #card-container{        
        width: 360px;                
        margin: 0 auto;
    }    
}
@media only screen and (min-width: 900px){
    #card-container{        
        width: 720px;                
        margin: 0 auto;
    }    
}
@media only screen and (min-width: 1370px){
    #card-container{        
        width: 1080px;                
        margin: 0 auto;
    }    
}
@media only screen and (min-width: 1742px){
    #card-container{        
        width:1420px;
        margin: 0 auto;
    }    
}

