.header_container{
	height: 480px;
	background: url(../images/jobs-img/emp-divider-0.png) no-repeat left bottom -20px,url(../images/jobs-img/bg-dots.png) no-repeat left top,-moz-linear-gradient(to right, #bc90f9 0%, #6e6af8 49%, #6e6af8 51%, #57d3fa 100%); /* FF3.6-15 */
	background: url(../images/jobs-img/emp-divider-0.png) no-repeat left bottom -20px, url(../images/jobs-img/bg-dots.png) no-repeat left top,-webkit-linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* Chrome10-25,Safari5.1-6 */
	background: url(../images/jobs-img/emp-divider-0.png) no-repeat left bottom -20px, url(../images/jobs-img/bg-dots.png) no-repeat left top, linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */		
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc90f9', endColorstr='#57d3fa',GradientType=0 );
	border-bottom: 20px solid #fff;
	background-size: contain, cover;	
}
#no-search-content{
	height: 400px;
	background: url(../images/jobs-img/emp-divider-0.png) no-repeat left bottom -20px,url(../images/jobs-img/bg-dots.png) no-repeat left top,-moz-linear-gradient(to right, #bc90f9 0%, #6e6af8 49%, #6e6af8 51%, #57d3fa 100%); /* FF3.6-15 */
	background: url(../images/jobs-img/emp-divider-0.png) no-repeat left bottom -20px, url(../images/jobs-img/bg-dots.png) no-repeat left top,-webkit-linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* Chrome10-25,Safari5.1-6 */
	background: url(../images/jobs-img/emp-divider-0.png) no-repeat left bottom -20px, url(../images/jobs-img/bg-dots.png) no-repeat left top, linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */		
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc90f9', endColorstr='#57d3fa',GradientType=0 );
	border-bottom: 20px solid #fff;
	background-size: contain, cover;	
}
#bottom-curve{
	height: 250px;
	background: url(../images/jobs-img/bottom-divider.png) no-repeat left bottom -20px,url(../images/jobs-img/bg-dots.png) no-repeat left top,-moz-linear-gradient(to right, #bc90f9 0%, #6e6af8 49%, #6e6af8 51%, #57d3fa 100%); /* FF3.6-15 */
	background: url(../images/jobs-img/bottom-divider.png) no-repeat left bottom -20px, url(../images/jobs-img/bg-dots.png) no-repeat left top,-webkit-linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* Chrome10-25,Safari5.1-6 */
	background: url(../images/jobs-img/bottom-divider.png) no-repeat left bottom -20px, url(../images/jobs-img/bg-dots.png) no-repeat left top, linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */		
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc90f9', endColorstr='#57d3fa',GradientType=0 );
	border-bottom: 20px solid #fff;
	background-size: contain, cover;	
}
.fields_container li .txt-search-dd{
	display: block;
	height: 45px;
	border: 1px solid #ebebeb;
	border-radius: 25px;	
	padding-left: 50px;	
	background: url(../images/jobs-img/icon-search16.png) #fff;	
	background-position: 20px, right 20px top 20px;
	background-repeat: no-repeat;
	padding-right: 40px;
	font-family: 'Open Sans';
	font-size: 12px;
}
.txt-search-dd-btn{
	height: 45px;
	border: 1px solid #ebebeb;
	border-radius: 25px;
	display: block;	
	padding-left: 50px;	
	background: url(../images/jobs-img/icon-search16.png) #fff;	
	background-position: 20px, right 160px top 20px;
	background-repeat: no-repeat;
	padding-right: 160px;
	font-family: 'Open Sans';
	font-size: 12px;	
	z-index:1;
}
.find_jobs_btn {        
    display: block;
	position: relative;
	float: right;	
	margin-top: -41px;
	margin-right: 3px;
	color: #fff;
	border:0;
	height: 37px;
	padding-left: 20px;
	padding-right: 20px;	
	border-radius: 25px;
	width: 150px;
	background: rgb(86,76,249); /* Old browsers */
	background: -moz-linear-gradient(to right, rgba(86,76,249,1) 1%, rgba(128,76,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(to right, rgba(86,76,249,1) 1%,rgba(128,76,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(86,76,249,1) 1%,rgba(128,76,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#564cf9', endColorstr='#804cf9',GradientType=0 ); 
	width: 150px;
}
.find_jobs_btn:hover,.find_jobs_btn:focus,.find_jobs_btn:active{
	background: rgb(128,76,249); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(128,76,249,1) 0%, rgba(128,76,249,1) 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(128,76,249,1) 0%,rgba(128,76,249,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(128,76,249,1) 0%,rgba(128,76,249,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804cf9', endColorstr='#804cf9',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: none;
	box-shadow: none;
}
@media only screen and (max-width : 512px){
	.header_container,#no-search-content{ 	
		width:auto;
		height: 550px !important;
		background: url(../images/jobs-img/mobile-divider.png) no-repeat left bottom, url(../images/jobs-img/bg-dots.png) no-repeat left top,-moz-linear-gradient(to right, #bc90f9 0%, #6e6af8 49%, #6e6af8 51%, #57d3fa 100%); /* FF3.6-15 */
		background: url(../images/jobs-img/mobile-divider.png) no-repeat left bottom, url(../images/jobs-img/bg-dots.png) no-repeat left top,-webkit-linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* Chrome10-25,Safari5.1-6 */
		background: url(../images/jobs-img/mobile-divider.png) no-repeat left bottom, url(../images/jobs-img/bg-dots.png) no-repeat left top, linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */		
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc90f9', endColorstr='#57d3fa',GradientType=0 );		
		background-size: contain,cover;
		
	}
	.menu_container.responsive{
		position: absolute;
		background: linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%);
		z-index: 1;
	}
	.menu_container.responsive ul li:hover{
		background: linear-gradient(to right, rgba(86,76,249,1) 1%,rgba(128,76,249,1) 100%) !important;
	}
	.header_container .search_container{
		padding-top: 70px;
	}
	.menu_container.responsive + .search_container{
		padding-top: 150px !important;
	}
	.responsive.sticky_navbar + .search_container{
		padding-top: 150px !important;
	}
	#myTopnav{
		width: 100%;
	}
	.header_container .sticky_navbar + .search_container{
		padding-top: 70px;
	}
	.header_container #btn-page-down{
		display: block;
		margin: 40px auto;
	}
	.search_container .stitle{
		font-size: 24px;
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
	}
	/*Search inputs*/
	.fields_container li{
		position: relative;		
	}
	.search-dropdown{
		display: block;
		position: absolute;  
		z-index: 2000;	
		padding-left: 20px !important;
		padding-right: 20px !important;
		width: 100%;	
	}
	.search-dropdown ul {
		height: auto;
		border: 1px solid #ccc;
		width: 85%;			
	    position: relative;    
	}
}
@media only screen and (min-width: 1700px){	
	#bottom-curve{
		height: 250px;
		background: url(../images/jobs-img/bottom-divider.png) no-repeat left bottom -20px,url(../images/jobs-img/bg-dots.png) no-repeat left top,-moz-linear-gradient(to right, #bc90f9 0%, #6e6af8 49%, #6e6af8 51%, #57d3fa 100%); /* FF3.6-15 */
		background: url(../images/jobs-img/bottom-divider.png) no-repeat left bottom -20px, url(../images/jobs-img/bg-dots.png) no-repeat left top,-webkit-linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* Chrome10-25,Safari5.1-6 */
		background: url(../images/jobs-img/bottom-divider.png) no-repeat left bottom -20px, url(../images/jobs-img/bg-dots.png) no-repeat left top, linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */		
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc90f9', endColorstr='#57d3fa',GradientType=0 );
		border-bottom: 20px solid #fff;
		background-size: contain, cover;	
	}
}
@media only screen and (min-width: 1890px){
	.header_container,#no-search-content{
		height: 480px;
		background: url(../images/jobs-img/emp-divider-0.png) no-repeat left bottom -20px,url(../images/jobs-img/bg-dots.png) no-repeat left top,-moz-linear-gradient(to right, #bc90f9 0%, #6e6af8 49%, #6e6af8 51%, #57d3fa 100%); /* FF3.6-15 */
		background: url(../images/jobs-img/emp-divider-0.png) no-repeat left bottom -20px, url(../images/jobs-img/bg-dots.png) no-repeat left top,-webkit-linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* Chrome10-25,Safari5.1-6 */
		background: url(../images/jobs-img/emp-divider-0.png) no-repeat left bottom -20px, url(../images/jobs-img/bg-dots.png) no-repeat left top, linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */		
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc90f9', endColorstr='#57d3fa',GradientType=0 );
		border-bottom: 20px solid #fff;
		background-size: contain, cover;
	}
	#bottom-curve{
		height: 300px;
		background: url(../images/jobs-img/bottom-divider.png) no-repeat left bottom -20px,url(../images/jobs-img/bg-dots.png) no-repeat left top,-moz-linear-gradient(to right, #bc90f9 0%, #6e6af8 49%, #6e6af8 51%, #57d3fa 100%); /* FF3.6-15 */
		background: url(../images/jobs-img/bottom-divider.png) no-repeat left bottom -20px, url(../images/jobs-img/bg-dots.png) no-repeat left top,-webkit-linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* Chrome10-25,Safari5.1-6 */
		background: url(../images/jobs-img/bottom-divider.png) no-repeat left bottom -20px, url(../images/jobs-img/bg-dots.png) no-repeat left top, linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */		
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc90f9', endColorstr='#57d3fa',GradientType=0 );
		border-bottom: 20px solid #fff;
		background-size: contain, cover;	
	}
}

@media only screen and (min-width: 2640px){
	.header_container,#no-search-content{
		height: 650px;
		background: url(../images/jobs-img/emp-divider-0.png) no-repeat left bottom -20px,url(../images/jobs-img/bg-dots.png) no-repeat left top,-moz-linear-gradient(to right, #bc90f9 0%, #6e6af8 49%, #6e6af8 51%, #57d3fa 100%); /* FF3.6-15 */
		background: url(../images/jobs-img/emp-divider-0.png) no-repeat left bottom -20px, url(../images/jobs-img/bg-dots.png) no-repeat left top,-webkit-linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* Chrome10-25,Safari5.1-6 */
		background: url(../images/jobs-img/emp-divider-0.png) no-repeat left bottom -20px, url(../images/jobs-img/bg-dots.png) no-repeat left top, linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */		
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc90f9', endColorstr='#57d3fa',GradientType=0 );
		border-bottom: 20px solid #fff;
		background-size: contain, contain;
	}
	#bottom-curve{
		height: 200px;
		background: url(../images/jobs-img/bottom-divider.png) no-repeat left bottom -20px,url(../images/jobs-img/bg-dots.png) no-repeat left top,-moz-linear-gradient(to right, #bc90f9 0%, #6e6af8 49%, #6e6af8 51%, #57d3fa 100%); /* FF3.6-15 */
		background: url(../images/jobs-img/bottom-divider.png) no-repeat left bottom -20px, url(../images/jobs-img/bg-dots.png) no-repeat left top,-webkit-linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* Chrome10-25,Safari5.1-6 */
		background: url(../images/jobs-img/bottom-divider.png) no-repeat left bottom -20px, url(../images/jobs-img/bg-dots.png) no-repeat left top, linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */		
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc90f9', endColorstr='#57d3fa',GradientType=0 );
		border-bottom: 20px solid #fff;
		background-size: contain, cover;	
	}	
}

.search_container{

}
.header_container{
	height: 380px !important;
	background: none #fff;	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc90f9', endColorstr='#57d3fa',GradientType=0 );
	border-bottom: 20px solid #fff;
	background-size: contain, cover;	
}
.header_container .search_container{
	background: #fff;
}
.header_container .sticky_navbar + .search_container{
	padding-top: 115px;
}
@media only screen and (max-width: 900px){
	.search_container{
		padding-top: 70px;		
	}
	.search_container ul.fields_container li{
		width: 90% !important;
		margin: 0 auto;
	}
	.header_container .sticky_navbar + .search_container{
		padding-top: 70px;
	}
	.search_container div.stitle{
		color: #6684f2;
	}
	#myTopnav .menu_left .logo_wrap img{
		content:url("../images/jobs-img/anesthesia-logo-2.png");
	}
	.page-container{}

}
.sticky_navbar{
	background: transparent;
}


.menu_left ul.topmenu li a{
	color: #fff !important;
}
.menu_right .login_btn{
	color: #fff !important;
}
ul.fields_container li div.adv_search a{
	color: #6684f2 !important;
}
.menu_left ul.topmenu li a.curr_browse{
	color: #fff !important;
}
.search_container .stitle{
	font-size: 36px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;	
	color: #6684f2;
}
.adv_search{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;	
}
.fields_container li .txt-search-dd{
	height: 55px;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    width: 100%;
    padding-left: 50px;
    background: url(../images/jobs-img/icon-search16.png) #fff;
    background-position: 20px;
    padding-right: 20px;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #7f7f7f;
}
.txt-search-dd-btn{	

	height: 55px;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    width: 100%;
    padding-left: 50px;    
    background: url(../images/jobs-img/icon-search16.png) #fff;	
	background-position: 20px, right 160px top 23px;
    padding-right: 170px;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #7f7f7f;    
}
.txt-search-dd::placeholder, .txt-search-dd-btn::placeholder{
	color: #7f7f7f;
}
.find_jobs_btn {        
    display: block;
	position: relative;
	float: right;	
	margin-top: -49px;
	margin-right: 6px;
	color: #fff;
	border:0;
	height: 43px;
	padding-left: 30px;
	padding-right: 30px;	
	border-radius: 35px;
	width: 150px;
	background: rgb(86,76,249); /* Old browsers */
	background: -moz-linear-gradient(to right, rgba(86,76,249,1) 1%, rgba(128,76,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(to right, rgba(86,76,249,1) 1%,rgba(128,76,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(86,76,249,1) 1%,rgba(128,76,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#564cf9', endColorstr='#804cf9',GradientType=0 ); 
	width: 150px;
}
.find_jobs_btn:hover,.find_jobs_btn:focus,.find_jobs_btn:active{
	background: rgb(128,76,249); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(128,76,249,1) 0%, rgba(128,76,249,1) 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(128,76,249,1) 0%,rgba(128,76,249,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(128,76,249,1) 0%,rgba(128,76,249,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804cf9', endColorstr='#804cf9',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: none;
	box-shadow: none;
}

.card-new-logo img {
    width: 35% !important;
}

.find_jobs_btn:hover,.find_jobs_btn:focus,.find_jobs_btn:active{
	background: rgb(128,76,249); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(128,76,249,1) 0%, rgba(128,76,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(128,76,249,1) 0%,rgba(128,76,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(128,76,249,1) 0%,rgba(128,76,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804cf9', endColorstr='#804cf9',GradientType=0 ); /* IE6-9 */
}
.search_container ul, .search_container ul li{	

}
.find_jobs_btn:hover{
	-webkit-box-shadow: none;
	box-shadow: none;
}
.search-dropdown{
	display: block;
	position: absolute;  
	z-index: 2000;	
	padding-left: 20px;
	padding-right: 20px;	
}
.search-dropdown ul {
	height: auto;
	border: 1px solid #ccc;
	width: 80%;	
    position: relative;    
}
.search-results-wrapper {
	padding: 3px;
	background: #fff;
	width: 100%;	
}
.search-results-wrapper li {
	padding: 5px;
	border-bottom: 1px solid #ccc;
	width: 100%;
	padding: 5px !important;
	cursor: pointer;
}
.search-results-wrapper li:hover {
	background: linear-gradient(to right, rgba(86,76,249,1) 1%,rgba(128,76,249,1) 100%);
	color: #fff;
}

.search-results-wrapper li:last-child {
  border: none;
}

.menu_right .login_btn{
	border: 1px solid #fff;
}	

.menu_right .signup_btn{
	background: -webkit-linear-gradient(to right, #804cf9 1%, #554cf9 100%);
	background: -moz-linear-gradient(to right, #804cf9 1%, #554cf9 100%);
	background: linear-gradient(to right, #804cf9 1%, #554cf9 100%);
	color: #fff !important;
}

.contact-container #first-row,
.contact-container #detail-container,
.get-intouch{
	opacity: 0;		
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.hover-animate {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  
  padding: 1em 2em;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
  line-height: 10px;
}
.signup_btn{	
	height: 35px;
	line-height: 18px;
	float: right;
	border-radius: 20px;	
}
.hover-animate span {
  position: relative;
  pointer-events: none;                    
}
.hover-animate::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #58D1FA, transparent) !important;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: width .2s ease, height .2s ease;
}
.hover-animate:hover::before {
  --size: 400px;
}