/*custom modal*/

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 10000; 
    left: 0;
    top: 0;
    overflow: auto;
    padding: 0;
    width: 100%;
    height: 100%;    
    background-color: rgba(0,0,0,0.6);    
}
.modal[data-animation=pop] {
	
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;            
    width: 650px;     	
	position: absolute;
  	top: calc( 50% - 300px );
  	left: calc( 50% - 325px );  	
	border-radius: 10px;
	font-family: 'Open Sans', sans-serif;
	max-width: 100%;		
  	-webkit-animation: showSweetAlert 0.3s;
  	animation: showSweetAlert 0.3s;
  	border:0;
  	padding: 60px 80px;
}
@media only screen and (max-width: 550px){
	.modal-content {
		padding-top:100px;
		position: absolute;
	  	top: calc( 50% - 300px );
	  	left: 0; 	
	}
}
/*.modal-content{
	-webkit-animation: showSweetAlert 0.3s;
  	animation: showSweetAlert 0.3s;  	
}*/
.help-error:empty > .modal-content {
  background: #00ff00;
  height: 550px;
}
.modal-content h1{
	text-align: center;
	color: #4f4f6f;
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
}

.modal-content p.modal-message{
	margin-top: 30px;
	font-size: 16px;
	text-align: center;
	color: #000;
	margin-bottom: 50px;	
	font-family: 'Open Sans', sans-serif;
}
.modal-content p.label-signup{
	font-size: 14px;
	margin-top: 30px;
	text-align: center;
	color: #000;		
}
.modal-content p.label-signup a{
	font-weight: bold;	
	color: #6684f2;
}
.modal-content input[type=text]{
	border-radius: 100px;
	font-size:14px;line-height:normal; color:#7d7d7d;font-family: 'Open Sans', sans-serif;
	font-size: normal;
}
.modal-content input[type=text]:focus{
	border-color: #6684f2;
}
.modal-content input[type=text]::-webkit-input-placeholder {
	font-style: normal;
	border-radius: 100px;
}

.toast-container {
	z-index: 9999999999999999 !important;
}
.help-error {
	margin-bottom: 13px;
	top: -9px;
	position: relative;
	color: #d46c6c;
}
.help-success {
	margin-bottom: 13px;
	top: -9px;
	position: relative;
	color: #b18afd;
}

.modal-content input[type=password]{
	border-radius: 100px;
	font-size:14px;line-height:normal; color:#7d7d7d;font-family: 'Open Sans', sans-serif;
	font-size: normal;
}
.modal-content input[type=password]:focus{
	border-color: #6684f2;
}
.modal-content input[type=password]::-webkit-input-placeholder {
	font-style: normal;
	border-radius: 100px;
}

.modal-content button{
	color: #fff;
	border-radius: 100px;
	font-size: 16px;
	font-weight: bold;
	background: rgb(85,76,249); /* Old browsers */
	border: 0px;
	background: -moz-linear-gradient(to right, rgba(85,76,249,1) 0%, rgba(129,76,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(to right, rgba(85,76,249,1) 0%,rgba(129,76,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(85,76,249,1) 0%,rgba(129,76,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#554cf9', endColorstr='#814cf9',GradientType=0 );
}

.modal-content .row .col{
	margin-top:20px;
}
.regular-checkbox {
	display: none;
}

#forremember_user{		
	font-size: 14px;
	margin-top: -10px;
}

#forgot_pass{
	color: #000;
	font-size: 14px;
}
.modal_content span{
	text-align: center;	
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 2px solid #6684f2;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 7px;
	height: 10px;
	border-radius: 15px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);	
}

.regular-checkbox:checked + label {	
	background-color: #6684f2;
	border: 1px solid #fafafa;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 7px;
	height: 10px;
	border-radius: 15px;
	display: inline-block;
	position: relative;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;	
}

/* The Close Button */
.modal-content .loginModalClose{
	position: absolute;
	top:10px;
	right: 20px;	
	font-weight: bold;
	font-size: 22px;
	color: #aaa;    
    font-size: 28px;
    font-weight: bold;
}

.modal-content .loginModalClose:hover,
.modal-content .loginModalClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;}

/*end jet style */

/*sweetAlert animation*/

@-webkit-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@-webkit-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }