/*Profile styles*/

.my_form input[type=text],.my_form input[type=text]::placeholder, .my_form textarea, .my_form textarea::placeholder{
	color: #5e6c72;
	font-style: "Open Sans", sans-serif;
}

/*Profile upload modal*/

/*#uploadPhoto .modal-dialog .modal-content{
	background-color: #fefefe;
    width: 650px;
    padding: 5% 7% 4% 7%;    
    position: absolute;    
    top: 0;
    left: 0;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;    
    padding-bottom: 470px;
    height: 700px;
    -webkit-animation: showSweetAlert 0.3s;
    animation: showSweetAlert 0.3s;    
}

 .modal.show #uploadPhoto .modal-dialog {
    -webkit-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
 .modal.fade #uploadPhoto .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out,-o-transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
}
@media (min-width: 576px){
	#uploadPhoto.modal-dialog {
    max-width: 500px;
    margin: 30px auto;
	}
	#uploadPhoto.modal-dialog {
	    position: relative;
	    width: auto;
	    margin: 10px;
	}
	* {
	    outline: none;
	}
	*, ::after, ::before {
	    -webkit-box-sizing: inherit;
	    box-sizing: inherit;
	}
	user agent stylesheet
	div {
	    display: block;
	}

}






#uploadPhoto .modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
* {
    outline: none;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
user agent stylesheet
div {
    display: block;
}
*/