/*HEADER MENU AND SEARCH JOBS*/
.sticky_navbar { position: fixed;  top: 0;  width: 100%; background:#9E7DFD; z-index:9999; padding-bottom:5px;
				-webkit-box-shadow: 0 1px 6px -3px black;
			    -moz-box-shadow: 0 1px 6px -3px black;
	    	    box-shadow: 0 1px 6px -3px black;
	    	background: #bc90f9; /* Old browsers */
			  background: -moz-linear-gradient(to right, #bc90f9 0%, #6e6af8 49%, #6e6af8 51%, #57d3fa 100%); /* FF3.6-15 */
			  background: -webkit-linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* Chrome10-25,Safari5.1-6 */
			  background: linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc90f9', endColorstr='#57d3fa',GradientType=0 );}
				
.sticky_navbar + .page-container { padding-top: 60px;}
.menu_container .menu_left .logo_wrap a.mobile_icon{display:none;}

@media (min-width: 1400px) {	
	.search_container{ width:auto; padding:50px 5% 20px 180px;}	
}

@media (min-width: 1200px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1201px) and (max-width: 1300px) {	
	.menu_right .login_btn{margin-right:2px;}
	.menu_left ul.topmenu{margin-left:30px;}
}

@media (min-width: 1001px) and (max-width: 1200px) {
	.menu_left .logo_wrap img{padding-top:10px;}	
	.menu_right .login_btn{margin-right:2px;}	
}

@media (min-width: 901px) and (max-width: 1000px) {
	.menu_left .logo_wrap img{padding-top:10px; width:86%;}
	.menu_left ul.topmenu{margin:0px 0px 0px 0px;}
	.menu_left ul.topmenu li a{ padding:12px;}  
	.menu_left ul.topmenu li a.curr_browse{background:none; padding-left:0px;}
	.menu_right .login_btn{ font-size:12px; color:#FFFFFF; padding:4px 16px 4px 16px; margin:10px 2px 0px 0px;  border:1px solid #FFFFFF; border-radius: 10px; font-weight:400;}
	.menu_right .signup_btn{ font-size:12px; color:#000000; padding:4px 16px 4px 16px; margin:10px 0px 0px 0px; text-align: center; text-decoration: none; 
							display: inline-block; border:none; background-color:#FFFFFF; border-radius: 10px; font-weight:400;}
}

@media screen and (max-width: 900px) {
  .menu_container{background:#9E7DFD; padding-bottom:5px;}
  .menu_container .menu_left{display:block; float:none; width:auto; height:auto; clear:both;}
  .menu_container .menu_left .logo_wrap{display:block; float:none; width:auto; height:auto; clear:both;}
  .menu_container .menu_left .logo_wrap a.nav_logo{ float:left; width:80%; display:block; text-align:left;} 
  .menu_container .menu_left .logo_wrap a.mobile_icon { float:right; width:20%; display:block; 
  					text-align:right; color:#FFFFFF; font-size:32px; line-height:normal; margin:8px 0px 0px 0px;}
  .menu_container .menu_left .logo_wrap a.mobile_icon:hover{ text-decoration:none;}
  
  .menu_container .menu_wrap{display:none;}
  .menu_container .menu_right{float:none;}
  
  .menu_right .login_btn{ display:none;}
  .menu_right .signup_btn{ display:none;}    
  
  .sticky_navbar { position: static; width: auto; background:#9E7DFD; z-index:0; padding-bottom:5px;
				-webkit-box-shadow:none;
			    -moz-box-shadow:none;
	    	    box-shadow:none;}
}

@media screen and (max-width: 900px) {
	.menu_container.responsive {position: static;}  	
	.menu_container.responsive .menu_wrap{ float:none; width:auto; clear:both; width:100%; margin:10px 0px 0px 0px; display:inline-table;}   
	.menu_container.responsive .menu_wrap ul.topmenu{padding:0px; margin:0px; list-style-type: none; list-style-position: inside; 
							font-size:13px; font-weight:400; line-height:normal; display:block; border:none;}
	.menu_container.responsive .menu_wrap ul.topmenu li{padding:0px; margin:0px; display:block; line-height:normal; width:100%;}

	.menu_container.responsive .menu_wrap ul.topmenu li a{ display:block; width:100%; padding:10px; margin:0px 0px 1px 0px; background:#916CFD; border:none; color:#FFF !important; line-height:normal;}
	.menu_container.responsive .menu_wrap ul.topmenu li a:hover{ color:#000000; background:#FFFFFF; text-decoration:none; border:none;}	
	
	.menu_container.responsive .menu_wrap ul.topmenu li.current a{color:#000000; background:#FFFFFF; text-decoration:none;}
	.menu_container.responsive .menu_wrap ul.topmenu li.current a:hover{color:#000000; background:#FFFFFF; text-decoration:none;}	
	
	
	.menu_container.responsive .menu_right{ float:none; width:auto; clear:both; margin:0px 0px 0px 0px;}   
	.menu_container.responsive .menu_right a,
		.menu_container.responsive .menu_right a.login_btn,
		.menu_container.responsive .menu_right a.signup_btn{ float: none;  display: block;  text-align: left; font-size:13px; font-weight:400; 
			padding:10px; margin:0px 0px 1px 0px; background:#916CFD; border:none; border-radius:0px; color:#FFF !important; line-height:normal; 
			text-transform:uppercase;}
	.menu_container.responsive .menu_right a:hover,
		.menu_container.responsive .menu_right a.login_btn:hover,
		.menu_container.responsive .menu_right a.signup_btn:hover{-webkit-box-shadow:none; box-shadow:none; color:#000000; background:#FFFFFF;}		
}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	.header_container{ width:auto; height:auto; background:none;}
	/*.menu_container{ width:auto; height:auto; padding:0px 10px 0px 10px; position:relative; display:none;}*/
	
	.search_container{ width:auto; height:auto; padding:10px;}	
	.search_container .stitle{font-size:28px; color:#333333; margin:0px 0px 5px 0px; line-height:normal;}
	.search_container ul.fields_container{padding:10px; margin:0px; list-style-type: none; list-style-position: inside; font-size:small; font-weight:400; 
							  line-height:normal; display:inline-table; border:none; background:#46A1D6; border-radius:5px; width:100%;}
	.search_container ul.fields_container li{padding:0px; margin:0px 0px 5px 0px; display:block; line-height:normal; text-align:left;}	
	.search_container ul.fields_container li div.fields input{ width:100%; font-size:small; line-height:normal; display:inline-table;}
	.search_container ul.fields_container li div.fields input.loc{ width:80%; padding:10px 10px 0px 10px;}
	.search_container ul.fields_container li div.fields input.pos{ width:95%; padding:10px 10px 0px 15px; display:block;}
	ul.fields_container li div.fields button.find_jobs_btn{display:block; float:right; margin-top:20px;}
	ul.fields_container li div.adv_search{ padding:15px 0px 0px 0px; margin:0px; font-size:13px; color:#FFFFFF; display:block; clear:both; }
	
	/*JOB FILTER SIDEBAR*/
	.job_filter_sidebar ul.fields_wrap li{padding:0px 0px 0px 0px; margin:10px 0px 0px 0px; display:block;}
	.job_filter_sidebar ul.fields_wrap li.statefld{ width:auto; float:none; text-align:left}
	.job_filter_sidebar ul.fields_wrap li.cityfld{width:auto; float:none; text-align:left}
	
}

@media (max-width: 478px) {
	.header_container{ width:auto; height:auto; background:none;}
	/*.menu_container{ width:auto; height:auto; padding:0px 10px 0px 10px; position:relative; display:none;}*/
	
	.search_container{ width:auto; height:auto; padding:10px;}	
	.search_container .stitle{font-size:larger; color:#333333; margin:0px 0px 5px 0px; line-height:normal;}
	.search_container ul.fields_container{padding:10px; margin:0px; list-style-type: none; list-style-position: inside; font-size:small; font-weight:400; 
							  line-height:normal; display:inline-table; border:none; background:#46A1D6; border-radius:5px; width:100%;}
	.search_container ul.fields_container li{padding:0px; margin:0px 0px 5px 0px; display:block; line-height:normal; text-align:left;}	
	.search_container ul.fields_container li div.fields input{ width:100%; font-size:small; line-height:normal; display:inline-table;}
	.search_container ul.fields_container li div.fields input.loc{ width:80%; padding:10px 10px 0px 10px;}
	.search_container ul.fields_container li div.fields input.pos{ width:95%; padding:10px 10px 0px 15px; display:block;}
	ul.fields_container li div.fields button.find_jobs_btn{display:block; float:right; margin-top:20px; clear:both; }
	ul.fields_container li div.adv_search{ padding:15px 0px 0px 0px; margin:0px; font-size:small; color:#FFFFFF; display:block; clear:both; }
}

/*PAGE CONTENT JOB CARDS*/
@media (min-width: 2400px) {
	.col-lg-job{ width:300px; max-width:300px;}
	.row-job{margin:0 auto 0 auto; width:60%;}									
}

@media (min-width: 2000px) {
	.col-lg-job{ width:360px; max-width:360px;}
	.row-job{margin:0 auto 0 auto; width:80%;}									
}

@media (min-width: 1900px) {	
	.row-job{margin:0 auto 0 auto; width:90%;}									
}

@media (min-width: 1200px) and (max-width: 1399px) {	
	.card-new-logo{top:-16%; left:20px;}
	.card-new-logo img{width:36%;}
	.card-box-new{padding-top:45px;}
}

@media (min-width: 992px) and (max-width: 1199px) {			
	.col-lg-job{-webkit-box-flex: 0; -webkit-flex: 0 0 50%;  -ms-flex: 0 0 50%;  flex: 0 0 50%;  max-width: 50%;}		
}	

@media (min-width: 479px) and (max-width: 767px) {			
	.row-job{ width:auto; float:none; display: inline-block; vertical-align: top;}
	.card-col-margins{margin-top:30px; margin-bottom:65px;}
	
	.job-descwrap{ width:auto; display:block; overflow:auto;}
	.jobdata-wrap{float:none; width:auto; text-align:left; border-bottom:1px solid #EBEBEB; border-right:none;}
	.jobsidebar-wrap{ float:none; width:auto; text-align:left;}
	.jobdata-wrap .add-info-btnswrap{width:auto;}
	
	.jobdata-wrap .printBtn{ text-align:center; display:block; padding-bottom:10px;}
	.jobdata-wrap .sTitle{ font-size:x-large; line-height:normal; font-weight:bold;}
	.jobdata-wrap .address{font-size:small; text-align:center;  padding-top:10px;}
	.jobdata-wrap .address .salary{ display:block;}
	
	.jobdata-wrap .datedviews{font-size:small; padding-top:10px;}	
	.jobdata-wrap .datedviews .left{ float:none; text-align:center;}
	.jobdata-wrap .datedviews .right{ float:none; text-align:center;}
	.jobdata-wrap .datedviews .sDated{display:block;}		
}

@media (min-width: 401px) and (max-width: 478px) {				
	.row-job{ width:auto; float:none; display: inline-block; vertical-align: top;}
	.card-new-logo{position: absolute; top:-45px; left: 20px;}
	.card-new-logo img{width:35%;}
	
	.card-col-margins{margin-top:40px; margin-bottom:60px;}
	.cardnew-wrap{ height:auto; width:auto;}
	.card-box-new .sTitle .text{min-height:inherit; max-height:none;}	
	.card-box-new .sAddress{margin-top:5px; margin-bottom:10px;}
	.card-box-new .sAddress div{ font-size:14px; height:auto;}						
}

@media (min-width: 10px) and (max-width: 400px) {	
	.row-job{ width:auto; float:none; display: inline-block; vertical-align: top;}
	.card-new-logo{position: absolute; top:-35px; left:25px;}
	.card-new-logo img{width:30%;}
		
	.card-col-margins{margin-top:40px; margin-bottom:50px;}
	.cardnew-wrap{ height:auto; width:auto;}
	.card-box-new .sTitle .text{min-height:inherit; max-height:none;}	
	.card-box-new .sAddress{margin-top:5px; margin-bottom:10px;}
	.card-box-new .sAddress div{ font-size:small; height:auto;}			
	
}

/*FOOTER SECTION*/
/* Large screen and wider */	
@media (min-width: 1310px) {		
	.footerwrapper{ width:1200px;}	
	.footerwrapper .flinksbtm-wrap{ width:auto; float:left;}
	.footerwrapper .language-wrap{ width:auto; float:right;}
	.footerwrapper .socialiconswrap{width:auto; text-align:right;}		
}
	
@media (min-width: 1193px) and (max-width: 1309px) {
	.headermenu-wrap .row-menu{ padding:10px 20px 0px 20px;}	
	.footerwrapper{ width:1200px;}	
	.footerwrapper .flinksbtm-wrap{ width:auto; float:left;}
	.footerwrapper .language-wrap{ width:auto; float:right;}
	.footerwrapper .socialiconswrap{width:auto; text-align:right;}
}

/* Medium Devices Styles Starts */
@media (min-width: 992px) and (max-width: 1199px) {		
	.footerwrapper{ width:auto; padding:0px 20px 0px 20px;}	
	.footerwrapper .flinksbtm-wrap{ width:auto; float:left;}
	.footerwrapper .language-wrap{ width:auto; float:right;}
	.footerwrapper .socialiconswrap{width:auto; text-align:right;}		
	.footerwrapper .num-text{ text-align:right; font-size:small}
	.footerwrapper .num-text span{ font-size:large; display:block;}		
}

/* Small Devices Styles Starts */
@media (min-width: 768px) and (max-width: 991px) {		
	.footerwrapper{ width:auto; padding:0px 20px 0px 20px;}
	.footerwrapper .footer-logo{ text-align:center; padding-bottom:20px;}
	.footerwrapper .num-text{ text-align:center; font-size:small}
	.footerwrapper .num-text span{ font-size:large;}
	
	.footerwrapper .col-footer{ float:none; display:block; text-align:center; padding-bottom:20px;}
	.footerwrapper .col-footer-last{float:none; display:block; text-align:center; padding-bottom:0px;} 
	
	.footerwrapper .copyright{text-align:center; font-size:small;}
	
	.footerwrapper .flinksbtm-wrap{ width:auto; float:none; text-align:center; padding:0 10px 0px 10px;}
	.footerwrapper .language-wrap{ width:auto; float:none; text-align:center; padding-top:10px;}
	.footerwrapper .socialiconswrap{width:auto; float:none; text-align:center;}
}
	
/* Extra Small Devices Styles Starts */
@media (max-width: 767px) {				
	.footerwrapper{ width:auto; padding:0px 20px 0px 20px;}
	.footerwrapper .footer-logo{ text-align:center; padding-bottom:20px;}
	.footerwrapper .num-text{ text-align:center; font-size:small}
	.footerwrapper .num-text span{ font-size:large;}
	
	.footerwrapper .col-footer{ float:none; display:block; text-align:center; padding-bottom:20px;}
	.footerwrapper .col-footer-last{float:none; display:block; text-align:center; padding-bottom:0px;} 
	
	.footerwrapper .copyright{text-align:center; font-size:small;}
	
	.footerwrapper .flinksbtm-wrap{ width:auto; float:none; text-align:center; padding:0 10px 0px 10px;}
	.footerwrapper .language-wrap{ width:auto; float:none; text-align:center; padding-top:10px;}
	.footerwrapper .socialiconswrap{width:auto; float:none; text-align:center;}
	
}

/* Extremely Small Devices Styles Starts */
@media (max-width: 478px) {	
	.footerwrapper{ width:auto; padding:0px 20px 0px 20px;}
	.footerwrapper .footer-logo{ text-align:center; padding-bottom:20px;}
	.footerwrapper .num-text{ text-align:center; font-size:small}
	.footerwrapper .num-text span{ font-size:large;}
	
	.footerwrapper .col-footer{ float:none; display:block; text-align:center; padding-bottom:20px;}
	.footerwrapper .col-footer-last{float:none; display:block; text-align:center; padding-bottom:0px;} 
	
	.footerwrapper .copyright{text-align:center; font-size:small;}
	
	.footerwrapper .flinksbtm-wrap{ width:auto; float:none; text-align:center; padding:0 10px 0px 10px;}
	.footerwrapper .language-wrap{ width:auto; float:none; text-align:center; padding-top:10px;}
	.footerwrapper .socialiconswrap{width:auto; float:none; text-align:center;}
}

