.fontPoppins{font-family: 'Poppins', sans-serif;}	
.fontMuli{font-family: 'Muli', sans-serif;}
.fontMontserrat{font-family: 'Montserrat', sans-serif;}
.fontOpenSans{font-family: 'Open Sans', sans-serif;}
.text-align-right{text-align:right;}
.clearFix{ clear:both;}


.header_container{ width:auto; height:435px; background:url(../images/jobs-img/header-bg.png) no-repeat center top #FFFFFF;}
.menu_container{ width:100%; height:auto; padding:0px 2% 0px 2%;}
	.menu_left{width:80%; float:left; text-align:left;}
		.menu_left .logo_wrap{ float:left; width:20%; text-align:left;}
			.menu_left .logo_wrap img{padding-top:10px;}
		.menu_left .menu_wrap{ float:right; width:80%; text-align:left;}
		.menu_left ul.topmenu{padding:0px; margin:0px 0px 0px 10px; list-style-type: none; list-style-position: inside; font-size:13px; font-weight:400; 
							  line-height:normal; display:inline-table; border:none;}
		.menu_left ul.topmenu li{padding:0px; margin:0px; display:inline-table; line-height:normal; }
		.menu_left ul.topmenu li a{ color:#FFFFFF; text-decoration:none; display:inline-table; padding:20px;  }
		.menu_left ul.topmenu li a:hover{ color:#FFFFFF; text-decoration:none; border-top:5px solid rgba(255,255,255,1);}		
		.menu_left ul.topmenu li.current a{ color:#FFFFFF; text-decoration:none; display:inline-table; border-top:5px solid rgba(255,255,255,1);}
		.menu_left ul.topmenu li.current a:hover{ color:#FFFFFF; text-decoration:none;}
		
		.menu_left ul.topmenu li a.curr_browse{background:url(../images/jobs-img/browser-jobs.svg) no-repeat left center; padding-left:40px;}
		.menu_left ul.topmenu li a.curr_post{
			background:url(../images/jobs-img/post_a_new_job_icon_white.svg) no-repeat 10px center; 
			padding-left:40px;
			background-size: 23px 23px !important;
		}

		.menu_left ul.topmenu li a.purple{
			background:url(../images/jobs-img/post_a_new_job_icon_purple.svg) no-repeat 10px center; 
			padding-left:40px;
			background-size: 23px 23px !important;
		}
		
	.menu_right{width:20%; float:right; text-align:right;}
	.menu_right .login_btn{ font-size:13px; color:#FFFFFF !important; padding:8px 20px 8px 20px; margin:15px 10px 0px 0px; text-align: center; text-decoration: none; 
							display: inline-block; border:1px solid #FFFFFF; border-radius: 20px; font-weight:400;}
	.menu_right .signup_btn{ font-size:13px; color:#000000; padding:8px 20px 8px 20px; margin:15px 0px 0px 0px; text-align: center; text-decoration: none; 
							display: inline-block; border:none; background-color:#FFFFFF; border-radius: 20px; font-weight:400;}
	.menu_right a:hover{-webkit-box-shadow: 0px 1px 8px rgba(102, 102, 102, 0.8); box-shadow: 0px 1px 8px rgba(102, 102, 102, 0.8);}

.search_container{ width:auto; padding:50px 5% 20px 180px;}
	.search_container .stitle{font-family: 'Open Sans', sans-serif; font-size:36px; color:#FFFFFF; margin-bottom:20px;}
	.search_container ul.fields_container{padding:0px; margin:0px; list-style-type: none; list-style-position: inside; font-size:13px; font-weight:400; 
							  line-height:normal; display:inline-table; border:none;}
	.search_container ul.fields_container li{padding:0px; margin:0px 10px 0px 0px; display:inline-table; line-height:normal; text-align:left;}						  
	ul.fields_container li div.label{ font-size:14px; color:#FFFFFF; margin-bottom:5px; padding-left:25px; font-family: 'Open Sans', sans-serif;}
	ul.fields_container li div.fields{ width:auto; height:45px; background:#FFFFFF; margin:0px; padding:4px; border-radius: 25px; font-family: 'Open Sans', sans-serif;}
	ul.fields_container li div.fields input{background:none; border:none; width:auto; height:auto; padding:0px; margin:0px; color:#7F7F7F; font-size:13px; line-height:normal; display:inline-table;}
	ul.fields_container li div.fields img{ padding:0px 0px 0px 15px; margin:0px; display:inline-table; vertical-align:middle;}
	ul.fields_container li div.fields input.loc{ padding:10px 25px 0px 10px;}
	ul.fields_container li div.fields input.pos{padding:10px 10px 0px 30px;}
	ul.fields_container li div.fields button.find_jobs_btn{ background:url(../images/jobs-img/bg-search-btn.jpg) repeat-y center top; border:none; padding:10px 15px 10px 15px; margin:0px; width:auto; height:auto; 
							color:#FFFFFF;  border-radius: 25px; font-size:11px; cursor:pointer;}
	ul.fields_container li div.fields button.find_jobs_btn:hover{-webkit-box-shadow: 0px 1px 8px rgba(50, 184, 219, 0.8); box-shadow: 0px 1px 8px rgba(50, 184, 219, 0.8);}
	
	ul.fields_container li div.adv_search{ text-align:right; padding:27px 10px 0px 0px; margin:0px; font-size:14px; color:#FFFFFF; }
	ul.fields_container li div.adv_search a{ text-decoration:none; color:#FFFFFF;}
	ul.fields_container li div.adv_search a:hover{ text-decoration:none; color:#515EFD;}
	ul.fields_container li div.adv_search img{padding-left:5px;}
	
	
.page-container{ width:auto; padding:10px 5% 20px 5%;}

.card-job-box{border-color: #d7dfe3; border-radius: 10px !important; 
				-webkit-box-shadow: 0px 5px 20px rgba(50, 184, 219, 0.4) !important; 
				box-shadow: 0px 5px 20px rgba(50, 184, 219, 0.4) !important;  
				}
.card-job-box:hover{-webkit-box-shadow: 0px 5px 20px rgba(50, 184, 219, 0.8) !important; 
				box-shadow: 0px 5px 20px rgba(50, 184, 219, 0.8) !important; }					

.card-job-box {					
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #fff;
	margin-bottom: 30px;
}				
									
.card-pos-container{ position:relative;}
.card-head-box{height:180px; width:auto; background: #B3B3B3; border-top-left-radius: 10px !important; border-top-right-radius: 10px !important;}
.card-head-box-featured{height:150px; width:auto; background:url(../images/jobs-img/bg-gradient.jpg) repeat-x center bottom #32C6D2; border-top-left-radius: 10px !important; border-top-right-radius: 10px !important;}
.card-pos-splash{position: absolute; top:0px; left:0px; }
.card-pos-logo{position: absolute;	left: 0; top: 35%; width: 100%; text-align: center;}
.card-pos-icons{ position: absolute; bottom: -20px; right: 15px;}
	.card-pos-icons img{cursor:pointer; }
	.card-pos-icons .job-icon{ background-color:#00B9FF; border-color:#00B9FF; color:#FFFFFF; font-size:large; line-height:normal;}
	.card-pos-icons .job-icon:hover{-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; 
									box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; }
	.card-pos-icons .job-icon-featured{ background-color:#32DAC3; border-color:#32DAC3; color:#FFFFFF; font-size:large; line-height:normal;}
	.card-pos-icons .job-icon-featured:hover{-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; 
									box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; }																

.job-text-wrap{ padding:30px 30px 30px 30px; color:#333333; font-family: 'Poppins', sans-serif; font-weight:400;}					
	.job-text-wrap .nID{ color:#32DAC3;}
	.job-text-wrap .sTitle{ padding-top:24px; font-weight:600; color:#44CCFF; line-height:22px;}
	.job-text-wrap .sTitle .text{min-height:80px; max-height:80px; overflow:hidden;}	
	.job-text-wrap .sAddress{margin-top:5px; margin-bottom:10px;}
	.job-text-wrap .sAddress div{ font-size:14px; height:50px; overflow:hidden; line-height:normal; font-weight:500; display:table-cell; vertical-align:bottom}
	.job-text-wrap .sAddress span{vertical-align:bottom}
	.job-text-wrap .sAddress small{color:#999999;}
	
.bnt-job{background:#00B9FF; border-color:#00B9FF; color:#FFFFFF; padding:7px 20px 7px 20px;}		

.bnt-job:hover{-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; 
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; }	


.card-col-margins{margin-top:50px; margin-bottom:50px;}
.cardnew-wrap{ height:330px; width:auto;}	
	.new-splash{position: absolute; bottom:0px; right:0px; }
	.card-new-logo{position: absolute; top:-20%; left:30px;}
	.card-new-logo img{width:30% !important;height: auto; background: #fff;border-radius: 100%;  -webkit-box-shadow: 0px 1px 10px rgba(66, 203, 255, 0.8); box-shadow: 0 1px 10px rgba(66, 203, 255, 0.8);}		
	
	.card-new-icons{ position: absolute; top: -20px; right: 15px;}
	.card-new-icons img{cursor:pointer; }
	.card-new-icons .job-icon{ background-color:#5E92D8; border-color:#5E92D8; color:#FFFFFF; font-size:large; line-height:normal;}
	.card-new-icons .job-icon:hover{-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; 
									box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; }	
	
	.card-new-icons .job-icon-btn{ border:none !important; margin:0px; padding:0px; border-radius: 35%; cursor:pointer; -webkit-box-shadow: 0px 1px 6px rgba(66, 203, 255, 0.5); box-shadow: 0px 1px 6px rgba(66, 203, 255, 0.5);
								  color:#FFFFFF; font-size:large; line-height:normal; width: 41px; height: 41px; background:url(../images/jobs-img/btn-circle-bg.jpg) repeat center;}
	.card-new-icons .job-icon-btn:hover{-webkit-box-shadow: 0px 1px 8px rgba(66, 203, 255, 0.8); box-shadow: 0px 1px 8px rgba(66, 203, 255, 0.8); }
	
	.card-new-icons .job-icon-btn.active{
		background-color: #000;
	}


	.card-new-icons .job-icon-red{ border:none !important; margin:0px; padding:0px; border-radius: 100%; cursor:pointer; -webkit-box-shadow: 0px 1px 6px rgba(66, 203, 255, 0.5); box-shadow: 0px 1px 6px rgba(66, 203, 255, 0.5);
								  color:#FFFFFF; font-size:large; line-height:normal; width: 45px; height: 45px; background:url(../images/jobs-img/btn-circle-red.jpg) repeat center;}
	.card-new-icons .job-icon-red:hover{-webkit-box-shadow: 0px 1px 8px rgba(66, 203, 255, 0.8); box-shadow: 0px 1px 8px rgba(66, 203, 255, 0.8); }

									
	.card-new-icons .job-icon-featured{ background-color:#32DAC3; border-color:#32DAC3; color:#FFFFFF; font-size:large; line-height:normal;}
	.card-new-icons .job-icon-featured:hover{-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; 
									box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; }
	
.card-box-new{ padding:60px 30px 30px 30px; color:#333333; font-family: 'Poppins', sans-serif; font-weight:400;}					
	.card-box-new .nID{ color:#32DAC3;}
	.card-box-new .sTitle{ padding-top:24px; font-weight:600; color:#44CCFF; line-height:22px;}
	.card-box-new .sTitle .text{min-height:80px; max-height:80px; overflow:hidden;}	
	.card-box-new .sAddress{margin-top:5px; margin-bottom:10px;}
	.card-box-new .sAddress div{ font-size:14px; height:50px; overflow:hidden; line-height:normal; font-weight:500; display:table-cell; vertical-align:bottom}
	.card-box-new .sAddress span{vertical-align:bottom}
	.card-box-new .sAddress small{color:#999999;}


.row-job{ width:auto;}
.col-lg-job{ width:auto;}	
.card-pos-logo img{width:80%;}

.el-card-content{ padding-top:20px;}
.marginBtm0{ margin-bottom:0px;}

/*FOOTER*/
.marginTop10{margin-top:10px;}
.marginTop20{margin-top:20px;}
.marginTop30{margin-top:30px;}
.posrelative{position:relative;}

.page-footer-wrap{ border-top:1px solid #F4F4F4; height:auto;}
.footerwrapper{ width:auto; height:auto; margin:48px auto 0 auto; text-align:left;}
	.footerwrapper .num-text{ font-size:14px; font-weight:600;}
	.footerwrapper .num-text span{font-size:24px; color:#544CF9;}

	.footerwrapper h2{ padding:0px; margin:0; font-size:18px; font-weight:400; line-height:normal; color:#000000;}	
	.footerwrapper h3{padding:0px; margin:0; font-size:14px; font-weight:300; line-height:normal; color:#7D7D7D;}	
	.footerwrapper .btn-info{background: #544CF9; border: 1px solid #544CF9;}	
	.footerwrapper .btn-secondary{ font-size:12px; border:none; font-family: 'Poppins', sans-serif; font-weight:300}
	.footerwrapper .copyright{ padding-top:20px; font-size:14px; color:#9FA4AF;}
	.footerwrapper .copyright span{ color:#544CF9;}
	
	ul.footerlinks{ padding:0px; margin:0px; list-style-type: none; list-style-position: inside; font-size:14px; font-weight:400; display:inline;}
		ul.footerlinks li{padding:0px; margin:10px 0px 0px 0px; display:block;}
		ul.footerlinks li a{ color:#7D7D7D; text-decoration:none;}
		ul.footerlinks li a:hover{ color:#544CF9; text-decoration:none;}
			ul.footerlinks li.current{padding-left:20px;}	
			ul.footerlinks li.current a{ color:#544CF9; text-decoration:none;}
			ul.footerlinks li.current a:hover{ color:#544CF9; text-decoration:none;}
	
	ul.footerlinksbtm{ padding:0px; margin:0px; list-style-type: none; list-style-position: inside; font-size:14px; font-weight:400; display:inline;}
		ul.footerlinksbtm li{padding:0px; margin:0px 20px 0px 0px; display:inline;}
		ul.footerlinksbtm li a{ color:#000000; text-decoration:none;}
		ul.footerlinksbtm li a:hover{ color:#544CF9; text-decoration:none;}
/*END-FOOTER*/


.sections-below-options {
	padding: 20px;
	margin-top:5px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	position: absolute;		
	height: auto;
	width:80%;
	z-index: 9999;
	background: #fff;
	border: 1px solid #F4F4F4;
	box-shadow: 0px 8px 15px #888888;	
}
.sections-below-options label{ font-size:14px; color:#999999; font-weight:normal;}
.sections-below-options select.sfield{ width:100%;}

.pointer {
	cursor: pointer;
}

.select2-dropdown {
  z-index: 99999 !important;
}



/*slider form*/
.slider-form {
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    width: 75%;
    background: #f9f9f9;
    top: 0px;
    z-index: 9999;
    right: -500%;
    overflow-x: hidden;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
 }

 .slider-form-close {
    background: #fff;
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 9999;
    left: 2%;
    top: 17px;
    text-align: center;
    border-radius: 109px;
    padding-top: 19px;
 }
 .header-float-button{
  margin-top: 10px;
 }

 .slider-form-overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    background: #828282;
    top: 0px;
    left: 0px;
    z-index: 9999;
    opacity: 0.3;
 }
 .hidden {
  display: none !important;
 }


/*JOB FILTER SIDEBAR*/
.job_filter_sidebar{ margin:0; padding:20px 40px 20px 40px; display:block; width:auto; height:auto; float:none; position:static; background:#FFFFFF; clear:both;}
.job_filter_sidebar .fields_wrap{margin:0; padding:0px 0px 20px 0px; display:block; position:static; clear:both; font-family: 'Open Sans', sans-serif;}
.job_filter_sidebar .fields_wrap h2{ padding:0; margin:0; font-size:20px; line-height:normal; font-weight:400; display:block; }
.job_filter_sidebar ul.fields_wrap{ padding:0px; margin:0px; list-style-type: none; list-style-position: inside; display:block; font-family: 'Open Sans', sans-serif;}
.job_filter_sidebar ul.fields_wrap li{padding:0px 15px 0px 0px; margin:10px 0px 0px 0px; display:inline-table;}
	.job_filter_sidebar ul.fields_wrap li.statefld{ width:80%; text-align:left}
	.job_filter_sidebar ul.fields_wrap li.cityfld{width:80%; text-align:left}
	.job_filter_sidebar ul.fields_wrap li.statefld label{ display:block; padding-left:15px;}
	.job_filter_sidebar ul.fields_wrap li.cityfld label{ display:block; padding-left:15px;}

.job_filter_sidebar ul.fields_wrap li input.text_fields{ background:none; border:1px solid #CCCCCC; width:auto; height:45px; font-size:14px; font-family: 'Open Sans', sans-serif; line-height:normal;
				 border-radius: 30px;  -webkit-border-radius: 30px; -moz-border-radius: 30px; margin:0px; padding:0px 15px 0px 15px; }	
.job_filter_sidebar ul.fields_wrap li input.text_fields:focus{ border:1px solid #614CF9; -webkit-box-shadow: 0px 1px 6px rgba(102, 102, 102, 0.4); box-shadow: 0px 1px 6px rgba(102, 102, 102, 0.4);}

/*.job_filter_sidebar ul.fields_wrap li select.text_fields{ background:none; border:1px solid #CCCCCC !important; width:100%; height:45px; font-size:13px; line-height:normal;
				 border-radius: 20px;  -webkit-border-radius: 20px; -moz-border-radius: 20px; margin:0px; padding:0px 0px 0px 0px; }	*/

/*.select2-container--default .select2-selection--multiple { border:1px solid #CCCCCC; border-radius: 20px;  -webkit-border-radius: 20px; -moz-border-radius: 20px; padding:0px 15px 0px 15px;}*/

[type="checkbox"] + label::before, [type="checkbox"]:not(.filled-in) + label::after {
	border: 2px solid #614CF9;
}

[type="checkbox"]:checked + label::before {
	border-right: 2px solid #614CF9;
	border-bottom: 2px solid #614CF9;
}

[type="checkbox"].filled-in:checked + label::after {  
    border: 2px solid #614CF9;
    background-color: #614CF9;
}

.job_filter_sidebar select,
.select2-container--default .select2-selection--multiple {

  /* styling */
  background-color: white;
  border:1px solid #CCCCCC;
  border-radius: 30px;
  -webkit-border-radius: 30px; 
  -moz-border-radius: 30px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding:0; font-family: 'Open Sans', sans-serif;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.job_filter_sidebar select.text_fields,
.select2-container--default .select2-selection--multiple {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, white, white);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  width:100%;
}

/*END-JOB FILTER SIDEBAR*/

.card-no-border .sidebar-preview {
  border-color: #d7dfe3;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05); 
  position: absolute;
  top: 0px;
  background: #fff;
  border-radius: 0px;
  height: 100%
}

/*ralph slider*/
.margin-bottom-20{
	margin-bottom: 20px;
}

.form-on-top {
	z-index: 99999;
	height: 100px;
}
.slider-sub {
	height: 100px;
}
.slider-header-label {
	font-size: 20px;
    font-weight: bold;
}



/*ralph dropdown*/


.search-droppy {
  position: absolute;
  z-index: 9999999;
  background: #fff;
  border-right: 1px solid #ccc;
  background-color: white;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 93%;
  height: auto;
  overflow-y: scroll;
  list-style-type: none;
  padding-top: 15px;
  padding-bottom: 10px;
}

/*jet styles for app-form*/

/*landing Nav bar{override the old style for nav}*/		
.sticky_navbar{
	background: #bc90f9; /* Old browsers */
	background: -moz-linear-gradient(to right, #bc90f9 0%, #6e6af8 49%, #6e6af8 51%, #57d3fa 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc90f9', endColorstr='#57d3fa',GradientType=0 );
}
@media only screen and (min-width : 420px)  and (max-width : 900px) {
	#myTopnav{
		background: #bc90f9; /* Old browsers */
		background: -moz-linear-gradient(to right, #bc90f9 0%, #6e6af8 49%, #6e6af8 51%, #57d3fa 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc90f9', endColorstr='#57d3fa',GradientType=0 );
	}
}
@media only screen and (max-width : 768px){
	#myTopnav{
		background: #bc90f9; /* Old browsers */
		background: -moz-linear-gradient(to right, #bc90f9 0%, #6e6af8 49%, #6e6af8 51%, #57d3fa 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc90f9', endColorstr='#57d3fa',GradientType=0 );
	}
	.search_container{
		background: #bc90f9; /* Old browsers */
		background: -moz-linear-gradient(to right, #bc90f9 0%, #6e6af8 49%, #6e6af8 51%, #57d3fa 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc90f9', endColorstr='#57d3fa',GradientType=0 );
	}
	.search_container ul.fields_container {
		background: transparent !important;
	}
	.search_container div.stitle{
		color: #fff;
		text-align: center;
	}
}
@media only screen and (min-width : 421px) and (max-width : 768px){
	.search_container div.stitle{
		color: #fff;
		text-align: center;
	}
	
	.search_container .centralize-ul{
		width: 60%;		
		margin: 0 auto;
	}
	
}
@media only screen and (max-device-width: 480px) {
	#myTopnav{
		background: #bc90f9; /* Old browsers */
		background: -moz-linear-gradient(to right, #bc90f9 0%, #6e6af8 49%, #6e6af8 51%, #57d3fa 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc90f9', endColorstr='#57d3fa',GradientType=0 );
	}
	.search_container{
		background: #bc90f9; /* Old browsers */
		background: -moz-linear-gradient(to right, #bc90f9 0%, #6e6af8 49%, #6e6af8 51%, #57d3fa 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc90f9', endColorstr='#57d3fa',GradientType=0 );
	}
	.search_container ul.fields_container {
		background: transparent !important;
	}
	.search_container div.stitle{
		color: #fff;
		text-align: center;
	}
}
/*containers*/
#apply-slider-form{
	background: #fff;
	width: 60%;
}		
.app-form-wrap{ 
	width:auto; clear:both;
	height: auto;}
.app-form-wrap button{
	cursor: pointer;
	}
.app-formdata-wrap{
	float:left; width:70%; text-align:left; border-right:1px solid #EBEBEB;padding-right: 15px;}
.app-formdata-wrap .container-wrap{ 
	padding:20px 20px 0px 0px;}
/*elements*/
.app-formdata-wrap .body-header{
	font-size:30px; font-weight: bold; line-height:normal; color:#4f4f6f;font-family: 'Open Sans', sans-serif;
}
.app-formdata-wrap .body-title{ 
	font-size:22px; line-height:normal; color:#000000; padding-bottom:35px; padding-top:35px;}
.body-title i{
	color: #4f4f6f;}
.container-wrap .form-group .app-form-textarea{
	font-size:15px;line-height:normal; color:#7d7d7d;font-family: 'Open Sans', sans-serif;
	}
.textarea-label{
	font-size:13px;line-height:normal; color:#7d7d7d;font-family: 'Open Sans', sans-serif;font-style: italic;
}
.small-title{
	font-size:13px;line-height:normal; color:#7d7d7d;font-family: 'Open Sans', sans-serif;}
/*labels*/
.privacy-label{
	font-size:22px; line-height:normal;color:#000000;}
.privacy-label a{
	color: #6684f2;}
/*buttons*/
.upload-btn-wrapper {
  	position: relative;
  	overflow: hidden;
  	display: inline-block;  	
}
.upload-btn-wrapper:hover{
	cursor: pointer;
}
.upload-btn-wrapper button{
	cursor: pointer;
	z-index: 1;
}
.upload-btn-bg{
	border-radius: 100px;background: url(../images/app-form-img/upload-btn-bg.jpg);background-size: contain;
	font-family: 'Open Sans', sans-serif;}
.upload-btn-wrapper input[type=file] {
  	font-size: 100px;
  	position: absolute;
  	left: 0;
  	top: 0;  	
  	cursor: pointer !important;	
  	opacity: 0;
  	z-index: -9999;
}
.upload-btn-wrapper input[type=file]:hover{
	cursor: pointer;	
}
#app-form-cancel, #app-form-inquire{
	border-radius: 100px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;}
#app-form-inquire{
	background-color: #544cf9; 
	margin-left: 20px;}
#app-form-cancel{
	-webkit-box-shadow: 0px 4px 42px -9px rgba(0,0,0,0.59);
	-moz-box-shadow: 0px 4px 42px -9px rgba(0,0,0,0.59);
	box-shadow: 0px 4px 42px -9px rgba(0,0,0,0.59);}
.button-holder{
	margin:0 auto;}

/*browse employer card*/
.card-new-logo img {
    width: 100px !important;
    height: auto;
    background: #fff;
    border-radius: 100%;
    -webkit-box-shadow: 0px 1px 10px rgba(66, 203, 255, 0.8);
    box-shadow: 0 1px 10px rgba(66, 203, 255, 0.8);
    padding: 15px;
}
.card-box-new{
	padding-top: 70px !important;
}
div#employers-card{	
	height: 300px;	
}
div.company-name{
	color:#4f4f6f;
}
div.page-container{
	padding-top:  0px;
}
div.company-desc{	
	padding-top: 20px;
	font-size: 14px;
	color: #7d7d7d;
}
#btn-readmore{
	margin-top:10px;	
}
.page-container .row .card-container{
	margin-top: 40px;
	margin-bottom: 15px; 
}
.el-card-item{
	padding: 10px 15px 0 15px;
}
.el-card-avatar{
	display: block;
	margin-top: -50px;	
	border-radius: 20px;
	height: 100%;
	margin-bottom: 0;
}
.el-card-avatar img#jobsimg{
	display: block;	
	border-radius: 50%;	
	width: 100px;
	max-width: 100px;
	margin: 0 auto;
}
.card-content-info ul{	
	padding: 0;
}
.card-content-info ul li{	
	list-style: none;
	text-align: left;
}
.card-content-info ul li:nth-child(3){
	text-align: justify;
    text-justify: inter-word;
    line-height: 13px;
}
.card-content-info span.card-content-desc{
	font-size: 12px;
	margin: 15px 0 0 0;	
}
button#btn-readmore{
	margin-top: 0;
	font-size: 10px;
	padding: 5;	
}
/*landing job advance filter sliders*/
#filter-jobs-form{
	width: 65%;	
	max-width: 100%;
}

section#wrapper div.fields_wrap:nth-child(0) ul li{
	display: block;	
}


 .help-block {
  color: #d46c6c;
  font-size: 13px;
}

.slider-sections{
	height: 300px;
	margin-top: 100px !important;
}
.slider-faded {
	opacity: 0.3;
}

.slider-menu {
	height: 187px;
    float: left;
    padding: 16px 10px 0px;
}
.or-label {
	margin-top: 39px;
    font-size: 18px;
}
.slider-menu-content {
	text-align: center;
}

.subtle-hint {
	font-size: 14px;
}
.slider-grid {
	margin-left: -46px;
}
.slider-menu-label {
	font-size: 20px;
	margin-bottom: 19px !important;
	color: #4f4f6f;
	font-family: 'Open Sans', sans-serif;
}
.slider-sublabel {
	margin-top: 17px;
    width: 177px;
    font-size: 14px;
    margin-left: -12px !important;
}

.sidebar-btn{
	width: 70px
}

.slider-box-highlight{
	border: 1px solid #b18afd !important;
}

.anesthesia-input input[type=text]{
	border-radius: 100px;
	font-size:14px;line-height:normal; color:#7d7d7d;font-family: 'Open Sans', sans-serif;
	font-size: normal;
	padding: 10px;
	padding-left: 20px;
}
.anesthesia-input input[type=text]:focus{
	border-color: #6684f2;
}
.anesthesia-input input[type=text]::-webkit-input-placeholder {
	font-style: normal;
	border-radius: 100px;
	font-size: 15px;
}

.anesthesia-input input[type=password]{
	border-radius: 100px;
	font-size:14px;line-height:normal; color:#7d7d7d;font-family: 'Open Sans', sans-serif;
	font-size: normal;
	padding: 10px;
	padding-left: 20px;
}
.anesthesia-input input[type=password]:focus{
	border-color: #6684f2;
}
.anesthesia-input input[type=password]::-webkit-input-placeholder {
	font-style: normal;
	border-radius: 100px;
}

.anesthesia-input select{
	border-radius: 100px;
	font-size:14px;line-height:normal; color:#7d7d7d;font-family: 'Open Sans', sans-serif;
	font-size: normal;
	padding: 10px;
	padding-left: 20px;
}

.anesthesia-input textarea::-webkit-input-placeholder {
	font-size: 15px;
}

.anesthesia-input select:focus{
	border-color: #6684f2;
}
.anesthesia-input select::-webkit-input-placeholder {
	font-style: normal;
	border-radius: 100px;
}
.slider-footer {
	position: absolute;
    height: 70px;
    bottom: 0px;
    padding:10px;
    left: 0px;
    right: 0px;
    background: #fff;
    border: 1px solid #ccc;
}

.anesthesia-btn button{
	color: #fff;
	font-family: 'Open Sans';
	width: 90px;
	border-radius: 100px;
	font-size: 16px;
	font-weight: bold;
	background: rgb(85,76,249); /* Old browsers */
	border: 0px;
	background: -moz-linear-gradient(to right, rgba(85,76,249,1) 0%, rgba(129,76,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(to right, rgba(85,76,249,1) 0%,rgba(129,76,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(85,76,249,1) 0%,rgba(129,76,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#554cf9', endColorstr='#814cf9',GradientType=0 );
}

.anesthesia-save {
	width: 180px !important;
    padding: 12px !important;
}

.anesthesia-cancel{ 
	color: #000000 !important;
	width: 90px;
	border-radius: 100px;
	font-size: 16px;
	font-weight: bold;
	background: #fff !important;
	border: none !important;
    padding: 12px !important;
    font-family: 'Open Sans';
    -webkit-box-shadow: 2px 6px 44px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 6px 44px -8px rgba(0,0,0,0.75);
	box-shadow: 2px 6px 44px -8px rgba(0,0,0,0.75);
}

/*jet card global styles*/

.card-new-icons .job-icon-btn{
	background: rgb(185,144,253); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
	background: -webkit-linear-gradient(120deg, rgba(185,144,253,1) 0%, rgba(119,112,253,1) 37%, rgba(119,112,253,1) 37%, rgba(119,112,253,1) 67%, rgba(95,200,252,1) 100%);
	background: -o-linear-gradient(120deg,rgba(185,144,253,1) 0%, rgba(119,112,253,1) 37%, rgba(119,112,253,1) 37%, rgba(119,112,253,1) 67%, rgba(95,200,252,1) 100%);
	background: linear-gradient(120deg,rgba(185,144,253,1) 0%, rgba(119,112,253,1) 37%, rgba(119,112,253,1) 37%, rgba(119,112,253,1) 67%, rgba(95,200,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}



#shareSocial .social-media a {
	height: 53px;
	padding-top: 9px;
}
#shareSocial .social-media .media-icon {
	color: #fff;
	font-size: 40px;
	float: left;
}
#shareSocial .social-media .media-label {
	color: #fff;
    font-size: 23px;
    margin-top: 29px;

}



.select2-selection__rendered {
	padding-left: 12px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
	margin-top: 6px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	border-radius: 4px !important;
}
.text-core .text-wrap .text-tags {
	margin-top: 12px !important;
    padding-left: 6px !important;
}
.text-core .text-wrap .text-tags .text-tag .text-button {
	background-color: #e4e4e4 !important;
    border: 1px solid #aaa !important;
}


/*ralph css for selected boxes*/
.selected-box {
	box-shadow:  0px 9px 72px #a284f9  !important;
}
.selected-box:hover {
	box-shadow: 0px 9px 72px #a284f9  !important;
}


/*jet profile tab*/
#profile-tab input, #profile-tab input::placeholder{
	
}
.bootstrap-tagsinput .tag{
	padding: 7px;
    font-size: 12px;
}