.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.pointer{
  cursor: pointer !important;
}



.nothing-show {
  height: 400px;
  text-align: center;
  margin-top: 100px;
}

.no-bullets{
  list-style-type: none;
}

.no-bullets li{
  margin-top: 10px;
}

.job-select-header{
  padding-top: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 12px;
  padding-left: 30px;
  background: #fbfbfb;
}

.job-select-left {
  height: 429px;
  border-right: 1px solid #ccc;
  padding: 0px;
  position: relative;
}

.job-select-right {
  background: #fbfbfb;
  padding-top: 20px;
}

.job-select-footer {
  height: 80px;
  border-top: 1px solid #ccc;
  padding-top: 29px;
  background: #fbfbfb;
}
.company-profile {
  top: 2px;
  left: 10px;
  position: relative;
}
.job-post-wrapper {
  max-width: 1000px;
}
.wrapper-post-selection {
  margin-bottom: 70px;
  max-width: 1000px;
  margin: 0px auto;
}
.side-menu{
  top: 2px;
  left: 10px;
  position: relative;
}
.help-text {
  top: 8px;
  position: relative;
  color: #e86363;
  left: 5px;
}

.noborder {
  border: none !important;
}
.online-offline {
  height: 100%;
  width: 100%;
  position: fixed;
  background: #0808087d;
  z-index: 999;
}

.field-preview{
  margin-bottom: 5px !important;
  min-height: 85px !important;
}

body::-webkit-scrollbar { 
    
}

.no-border-radius {

    border: none !important; 
    border-radius: 0px !important;
}


.login-orig {
  position: absolute;
  height: 100%;
  right: 0px;
  border-radius: 0px;
}

.slider-form {
	position: fixed;
	overflow-y: scroll;
	height: 100%;
	width: 85%;
	background: #f9f9f9;
	top: 0px;
	z-index: 9999;

	overflow-x: hidden;
	transition-property: left, right;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	box-shadow: -1px 0px 10px #818788;
}

.slider-form-close {
	background: #fff;
	width: 60px;
	height: 60px;
	position: fixed;
	z-index: 9999;
	left: 2%;
	top: 17px;
	text-align: center;
	border-radius: 109px;
	padding-top: 19px;
}
.header-float-button{
	margin-top: 10px;
}

.slider-form-overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    background: #828282;
    top: 0px;
    left: 0px;
    z-index: 9999;
    opacity: 0.4;
}
.hidden {
	display: none;
}

.bg-custom-success {
  background:  #26c6da29 !important;
}
.bg-custom-warning {
  background:  #ffb22b38 !important;
}
.bg-custom-primary {
  background:  #7460ee59 !important;
}
.bg-custom-danger {
  background:  #fc4b6c4a !important;
}

/*Card-noborders*/
.card-no-border .card {
  border-color: #d7dfe3;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05); 
  top: 0px;
  border-radius: 0px;
}

.wizard-content .card{
  padding-bottom: 15px;
}
.tooltip-job-icon{
  font-size: 23px;
  font-weight: bold;
  color: #7b84d6;
}
.card-no-border .sidebar-preview {
  border-color: #d7dfe3;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05); 
  position: absolute;
  top: 0px;
  background: #fff;
  border-radius: 0px;
  height: 100%
}
.card-no-border .sidebar-footer {
  background: #f2f6f8; }

.card-no-border .sidebar-nav > ul > li > a.active {
  background: #ffffff; }

.card-no-border .shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none; }

.card-outline-danger, .card-outline-info, .card-outline-warning, .card-outline-success, .card-outline-primary {
  background: #ffffff; }

.card-fullscreen {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: auto; }

.card .card-header {
  background: #ffffff;
  border-bottom: 0px; }

/* JOB DETAILS SIDEBAR STARTS HERE */

/*.job-sidebar-gray{ background:rgba(0, 0, 0, 0.8); filter: alpha(opacity=80);}
.slider-form-overlay{background: #000000 !important; opacity: 0.5 !important;}*/
/*.job-sidebar-gray{-webkit-box-shadow: -2px 0 10px 1px #380F40; box-shadow: -2px 0 10px 1px #380F40;}*/
.job-sidebar-gray{background:#FFFFFF;}


.job-descwrap{ width:auto; display:block; font-family: 'Open Sans', sans-serif;}
.job-block-wrap{ padding:30px 50px 50px 50px;}
	.job-descwrap .text-gray{ color:#959595;}
	.job-descwrap .text-blue{ color:#6684F2;}
	.job-descwrap .text-blue-light{ color:#7A94F4;}
	.job-descwrap .text-bold{ font-weight:400;}
	.job-descwrap .clearFix{ clear:both;}

.job-header{ height:42px; width:auto; border-bottom:1px solid #EBEBEB; clear:both; font-size:16px; overflow:hidden; font-family: 'Muli', sans-serif; font-weight:bold}
	.job-header .sleft{ float:left; width:50%; text-align:left; text-transform:uppercase; color:#000000;}
	.job-header .sright{ float:right; width:50%; text-align:right; text-transform:uppercase; color:#000000;}
	.job-header a{ color:#000000;}
	.job-header a:hover{ color:#0099FF;}
	
	.jobbody-wrap{ width:auto; clear:both;}
	.jobdata-wrap{float:left; width:75%; text-align:left; border-right:1px solid #EBEBEB;}
		.jobdata-wrap .containerwrap{ padding:20px 20px 0px 0px;}
		.jobdata-wrap .printBtn{ text-align:right; padding-bottom:5px;}		
		.jobdata-wrap .nID{ font-size:16px; color:#959595;}	
		.jobdata-wrap .sTitle{ font-size:30px; color:#4F4F6F; line-height:35px; padding-top:10px; font-weight:bold;}
		.jobdata-wrap .address{font-size:16px; padding-top:20px;}	
		.jobdata-wrap .datedviews{font-size:16px; padding-top:20px; color:#000000; clear:both;}	
		.jobdata-wrap .datedviews .left{ float:left; text-align:left;}
		.jobdata-wrap .datedviews .right{ float:right; text-align:right;}
		
		.jobdata-wrap .body-title{ font-size:22px; line-height:normal; color:#000000; padding-bottom:35px; padding-top:35px; font-weight:600;}	
		.jobdata-wrap .job-details .key{ font-size:14px; font-weight: bold; color:#959595; line-height:normal; text-transform:uppercase;}
		.jobdata-wrap .job-details .value{font-size:14px; font-weight: 500; color:#6684F2; line-height:normal; padding-top:24px;}
		
		.jobdata-wrap .add-info-btnswrap{ width:50%; text-align:left; padding-top:20px;}
		
	.jobsidebar-wrap{ float:right; width:25%; text-align:left;}
		.jobsidebar-wrap .logowrap{ text-align:center; padding-top:50px;}
		.jobsidebar-wrap .companywrap{ text-align:center; line-height:30px; margin-bottom:40px;}
			.jobsidebar-wrap .companywrap .name{ font-size:18px; color:#000000; font-weight:600;}
			.jobsidebar-wrap .companywrap .address{font-size:16px; color:#7D7D7D;}
			.jobsidebar-wrap .companywrap .url{ font-size:14px; color:#6684F2;}	
			.jobsidebar-wrap .companywrap .url a{color:#6684F2;}
			.jobsidebar-wrap .companywrap .url a:hover{ color:#0099FF;}
	
	.jobdata-wrap .btn-small{background:#5F4CF9; border-color:#5F4CF9; border-radius:20px; color:#FFFFFF; padding:5px 12px 5px 12px; font-size:14px; font-family: 'Open Sans', sans-serif;}
	.jobdata-wrap .btn-small-gray{background:#E8EFF0; border-color:#E8EFF0; border-radius:20px; color:#000000; padding:5px 12px 5px 12px; 
								  font-size:12px; display:inline; font-weight:bold; margin-bottom:15px; margin-right:10px; font-family: 'Open Sans', sans-serif;}
	.jobsidebar-wrap .btn-btn1{background:#5B4CF9; border-color:#5B4CF9; border-radius: 20px; color:#FFFFFF; padding:10px 60px 10px 60px; display:block; margin:0 auto 0 auto; font-family: 'Open Sans', sans-serif;}		
	.jobsidebar-wrap .btn-btn2{
		background:#FFFFFF;
		box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
		border-radius: 20px; color:#000000;
		padding:10px 60px 10px 60px; display:block; margin:0 auto 0 auto; font-family: 'Open Sans', sans-serif;}		
	.jobsidebar-wrap .btn-save-job{
		margin-top: 10px;
	}
/* Large screen and wider */
@media (min-width: 1370px) {
	.job-descwrap{ width:auto;}
}

/* Medium Devices Styles Starts */
@media (min-width: 992px) and (max-width: 1199px) {
	.job-block-wrap{ padding:20px 40px 40px 40px;}
	.job-descwrap{ width:auto; display:block; overflow:auto;}
	.jobdata-wrap{float:none; width:auto; text-align:left; border-bottom:1px solid #EBEBEB; border-right:none;}
	.jobsidebar-wrap{ float:none; width:auto; text-align:left;}
}

/* Small Devices Styles Starts */
@media (min-width: 768px) and (max-width: 991px) {
	.job-block-wrap{ padding:20px 40px 40px 40px;}
	

	.job-descwrap{ width:auto; display:block; overflow:auto;}
	.jobdata-wrap{float:none; width:auto; text-align:left; border-bottom:1px solid #EBEBEB; border-right:none;}
	.jobsidebar-wrap{ float:none; width:auto; text-align:left;}
	.jobdata-wrap .add-info-btnswrap{width:auto;}
	
	.jobdata-wrap .printBtn{ text-align:right;}	
}
	
/* Extra Small Devices Styles Starts */
@media (max-width: 767px) {
	.job-block-wrap{ padding:20px 40px 40px 40px;}
	
	.job-header{height:auto; overflow:auto;}
	.job-header .sleft{ float:none; width:auto; display:block; text-align:center; font-size:small;}
	.job-header .sright{ float:none; width:auto; display:block; text-align:center; font-size:small; padding-top:10px; padding-bottom:10px;}
	
	.job-descwrap{ width:auto; display:block; overflow:auto;}
	.jobdata-wrap{float:none; width:auto; text-align:left; border-bottom:1px solid #EBEBEB; border-right:none;}
	.jobsidebar-wrap{ float:none; width:auto; text-align:left;}
	.jobdata-wrap .add-info-btnswrap{width:auto;}
	
	.jobdata-wrap .printBtn{ text-align:center; display:block; padding-bottom:10px;}
	.jobdata-wrap .sTitle{ font-size:x-large; line-height:normal; font-weight:bold;}
	.jobdata-wrap .address{font-size:small; text-align:center;  padding-top:10px;}
	.jobdata-wrap .address .salary{ display:block;}
	
	.jobdata-wrap .datedviews{font-size:small; padding-top:10px;}	
	.jobdata-wrap .datedviews .left{ float:none; text-align:center;}
	.jobdata-wrap .datedviews .right{ float:none; text-align:center;}
	.jobdata-wrap .datedviews .sDated{display:block;}
	
	
}

/* Extremely Small Devices Styles Starts */
@media (max-width: 478px) {
	.job-block-wrap{ padding:20px 40px 40px 40px;}
	.job-header{height:auto; overflow:auto;}
	.job-header .sleft{ float:none; width:auto; display:block; text-align:center; font-size:small;}
	.job-header .sright{ float:none; width:auto; display:block; text-align:center; font-size:small; padding-top:10px; padding-bottom:10px;}
	
	.job-descwrap{ width:auto; display:block; overflow:auto;}
	.jobdata-wrap{float:none; width:auto; text-align:left; border-bottom:1px solid #EBEBEB; border-right:none;}
	.jobsidebar-wrap{ float:none; width:auto; text-align:left;}
	.jobdata-wrap .add-info-btnswrap{width:auto;}
	
	.jobdata-wrap .printBtn{ text-align:center; display:block; padding-bottom:10px;}
	.jobdata-wrap .sTitle{ font-size:large; line-height:normal; font-weight:bold; padding:}
	.jobdata-wrap .address{font-size:small; text-align:center;  padding-top:10px;}
	.jobdata-wrap .address .salary{ display:block;}
	
	.jobdata-wrap .datedviews{font-size:small; padding-top:10px;}	
	.jobdata-wrap .datedviews .left{ float:none; text-align:center;}
	.jobdata-wrap .datedviews .right{ float:none; text-align:center;}
	.jobdata-wrap .datedviews .sDated{display:block;}
	
	.job-details .float-left{display:block; float:none; width:auto;}
	.job-details .col-4{-webkit-box-flex: 0; -webkit-flex: 0 0 100%;  -ms-flex: 0 0 100%;  flex: 0 0 50%;  max-width: 100%; margin:0px; padding:0px; display:block;}	
	.jobdata-wrap .job-details .value{padding-top:5px;}
	.jobdata-wrap .job-details .field-preview{margin:0px 0px 20px 0px !important; padding:0px; min-height:0px !important;}
	
	.jobdata-wrap .body-title{ font-size:large; font-weight:400; line-height:normal; color:#000000; padding-bottom:10px; padding-top:20px;}	
	.jobdata-wrap .body-text{font-size:small;}
}


.jobsidebar-wrap_v2 .logowrap{ text-align:center; padding-top:50px;}
.jobsidebar-wrap_v2 .companywrap{ text-align:center; line-height:30px; margin-bottom:40px;}
.jobsidebar-wrap_v2 .companywrap .name{ font-size:18px; color:#000000; font-weight:600;}
.jobsidebar-wrap_v2 .companywrap .address{font-size:16px; color:#7D7D7D;}
.jobsidebar-wrap_v2 .companywrap .url{ font-size:14px; color:#6684F2;}	
.jobsidebar-wrap_v2 .companywrap .url a{color:#6684F2;}
.jobsidebar-wrap_v2 .companywrap .url a:hover{ color:#0099FF;}

.jobdata-wrap .btn-small{background:#5F4CF9; border-color:#5F4CF9; border-radius:20px; color:#FFFFFF; padding:5px 12px 5px 12px; font-size:14px; font-family: 'Open Sans', sans-serif;}
.jobdata-wrap .btn-small-gray{background:#E8EFF0; border-color:#E8EFF0; border-radius:20px; color:#000000; padding:5px 12px 5px 12px; 
					  font-size:12px; display:inline; font-weight:bold; margin-bottom:15px; margin-right:10px; font-family: 'Open Sans', sans-serif;}
.jobsidebar-wrap_v2 .btn-btn1{background:#5B4CF9; border-color:#5B4CF9; border-radius: 20px; color:#FFFFFF; padding:10px 60px 10px 60px; display:block; margin:0 auto 0 auto; font-family: 'Open Sans', sans-serif;}		
.jobsidebar-wrap_v2 .btn-btn2{margin-top: 10px !important;width: 200px; background:#FFFFFF;  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2); border-radius: 20px; color:#000000; padding:10px 60px 10px 60px; display:block; margin:0 auto 0 auto; font-family: 'Open Sans', sans-serif;}		
.jobsidebar-wrap_v2 .sTitle{ font-size:30px; color:#4F4F6F; line-height:35px; padding-top:10px; font-weight:bold;}
.jobsidebar-wrap_v2 .containerwrap{ padding:20px 20px 0px 0px;}
.jobsidebar-wrap_v2 .printBtn{ text-align:right; padding-bottom:5px;}		
.jobsidebar-wrap_v2 .nID{ font-size:16px; color:#959595;}	
.jobsidebar-wrap_v2 .sTitle{ font-size:30px; color:#4F4F6F; line-height:35px; padding-top:10px; font-weight:bold;}
.jobsidebar-wrap_v2 .address{font-size:16px; padding-top:20px;}	
.jobsidebar-wrap_v2 .datedviews{font-size:16px; padding-top:20px; color:#000000; clear:both;}	
.jobsidebar-wrap_v2 .datedviews .left{ float:left; text-align:left;}
.jobsidebar-wrap_v2 .datedviews .right{ float:right; text-align:right;}

.jobsidebar-wrap_v2 .body-title{ font-size:22px; line-height:normal; color:#000000; padding-bottom:35px; padding-top:35px; font-weight:600;}	
.jobsidebar-wrap_v2 .job-details .key{ font-size:14px; color:#959595; line-height:normal; text-transform:uppercase;}
.jobsidebar-wrap_v2 .job-details .value{font-size:14px; color:#6684F2; line-height:normal; padding-top:24px;}

.jobsidebar-wrap_v2 .add-info-btnswrap{ width:50%; text-align:left; padding-top:20px;}
