<style type="text/css">
    .card-body{
        padding: 20px;
    }
    #verify-box{
        min-height: 400px;
        padding-top: 100px;
    }
</style>
<script>
    $(function () {
    "use strict";
    // ============================================================== 
    // Newsletter
    // ============================================================== 
    
    new Chartist.Line('.usage', {
        labels: ['0', '4', '8', '12', '16', '20', '24', '30']
        , series: [
        [5, 0, 12, 1, 8, 3, 12, 15]

      ]
    }, {
        high:10
        , low: 0
        , showArea: true
        , fullWidth: true
        , plugins: [
        Chartist.plugins.tooltip()
      ], // As this is axis specific we need to tell Chartist to use whole numbers only on the concerned axis
        axisY: {
            onlyInteger: true
            , offset: 20
            , showLabel: false
            , showGrid: false
            , labelInterpolationFnc: function (value) {
                return (value / 1) + 'k';
            }
        }
        , axisX: {
            showLabel: false
            , divisor: 1
            , showGrid: false
            , offset: 0
        }
    });

    var sparklineLogin = function () {
        $('.spark-count').sparkline([4, 5, 0, 10, 9, 12, 4, 9, 4, 5, 3, 10, 9, 12, 10, 9, 12, 4, 9], {
            type: 'bar'
            , width: '100%'
            , height: '70'
            , barWidth: '2'
            , resize: true
            , barSpacing: '6'
            , barColor: 'rgba(255, 255, 255, 0.3)'
        });
    }
    var sparkResize;
    
    sparklineLogin();

    $('#usa').vectorMap({
            map : 'us_aea_en',
            backgroundColor : 'transparent',
            zoomOnScroll: false,
            regionStyle : {
                initial : {
                    fill : '#c9d6de'
                }
            },
            markers: [{
                    latLng : [40.71, -74.00],
                    name : 'Newyork: 250'
                    , style: {fill: '#1e88e5'}
                },{
                    latLng : [39.01, -98.48],
                    name : 'Kansas: 250'
                    , style: {fill: '#fc4b6c'}
                },
              {
                latLng : [37.38, -122.05],
                name : 'Vally : 250'
                , style: {fill: '#26c6da'}
              }]
        });



    //     var chart = c3.generate({
    //     bindto: '#visitor',
    //     data: {
    //         columns: [
    //             ['Other', 30],
    //             ['Desktop', 10],
    //             ['Tablet', 40],
    //             ['Mobile', 50],
    //         ],
            
    //         type : 'donut',
    //         onclick: function (d, i) { console.log("onclick", d, i); },
    //         onmouseover: function (d, i) { console.log("onmouseover", d, i); },
    //         onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    //     },
    //     donut: {
    //         label: {
    //             show: false
    //           },
    //         title: "Our visitor",
    //         width:20            
    //     },
        
    //     legend: {
    //       hide: true
    //     },
    //     color: {
    //           pattern: ['#eceff1', '#745af2', '#26c6da', '#1e88e5']
    //     }
    // });

    
    
});
</script>
<div class="row page-titles">
    <div class="col-md-5 col-12 align-self-center">
        <h3 class="text-themecolor">Company Dashboard</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Company Dashboard</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                    <h6 class="m-b-0"><small>THIS MONTH</small></h6>
                    <h4 clas**"m-t-0 text-info">$58,356</h4></div>
                <div class=+spark-chart">
                    <div id="monthchart"></div>
                </div>
            </div>
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                    <h6 class="m-b-0"><small>LAST MONTH</small></h6>
                    <h4 class="m-t-0 text-primary">$48,306</h4></div>
                <div class="spark-chart">
                    <div id="lastmonthchart"></div>
                </div>
            </div>
            <div class="">
                <button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <!-- Column -->
    <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card" ng-show="verified == false">
            <div class="card-body text-center" id="verify-box">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <h3>An account verification was sent to your email address, Please check it and visit the link provided. If you dont find any verification email, please click the button below.</h3>
                    </div>
                </div>
                <br>
                <button type="button" class="btn waves-effect waves-light btn-lg btn-rounded btn-primary" ng-click="resendVerifiction()">                    
                    <small>Resend Email account verification</small>
                </button>
            </div>                        
        </div>
    </div>
</div>


<!-- YOUR CODES HERE BOSSING -->

<div class="row">
    <div class="col-lg-4 col-md-12">
        <div class="card card-inverse card-primary">
            <div class="card-block">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center">
                        <h1 class="text-white"><i class="ti-pie-chart"></i></h1></div>
                    <div>
                        <h3 class="card-title">Grande Plan Overview</h3>
                        <h6 class="card-subtitle">March  2017</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 align-self-center">
                        <h2 class="font-light text-white">{{jobs_count}}/{{post_limit}}</h2>
                        <h3 class="font-light text-white" style="font-size: 14px">Job Posting</h3>
                    </div>
                    <div class="col-8 p-t-10 p-b-20 align-self-center">
                        <div class="usage chartist-chart" style="height:65px"></div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="card card-inverse card-success">
            <div class="card-block">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center">
                        <h1 class="text-white"><i class="icon-cloud-download"></i></h1></div>
                    <div>
                        <h3 class="card-title">Applicant Count</h3>
                        <h6 class="card-subtitle">March  2017</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 align-self-center">
                        <h2 class="font-light text-white">{{application_count}}</h2>
                    </div>
                    <div class="col-8 p-t-10 p-b-20 text-right">
                        <div class="spark-count" style="height:65px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">        
        <div class="card">
                <div class="card-block">
                    <h3 class="card-title">Our Visitors</h3>
                    <h6 class="card-subtitle">Different Devices Used to Visit</h6>
                    <div id="visitor" style="height:260px; width:100%;"></div>
                </div>
                <div>
                    <hr class="m-t-0 m-b-0">
                </div>
                <div class="card-block text-center ">
                    <ul class="list-inline m-b-0">
                        <li>
                            <h6 class="text-muted text-info"><i class="fa fa-circle font-10 m-r-10 "></i>Mobile</h6> </li>
                        <li>
                            <h6 class="text-muted  text-primary"><i class="fa fa-circle font-10 m-r-10"></i>Desktop</h6> </li>
                        <li>
                            <h6 class="text-muted  text-success"><i class="fa fa-circle font-10 m-r-10"></i>Tablet</h6> </li>
                    </ul>
                </div>
            </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Top 3 Job Locations</h4>
                <h6 class="card-subtitle">Different Devices Used to Visit</h6>
                <div id="usa" style="height: 290px"></div>
                <div class="text-center">
                    <ul class="list-inline">
                        <li>
                            <h6 class="text-success"><i class="fa fa-circle font-10 m-r-10 "></i>Valley</h6>
                        </li>
                        <li>
                            <h6 class="text-info"><i class="fa fa-circle font-10 m-r-10"></i>Newyork</h6>
                        </li>
                        <li>
                            <h6 class="text-danger"><i class="fa fa-circle font-10 m-r-10"></i>Kansas</h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>    

<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Recent Job Applications</h4>
                <h6 class="card-subtitle">Latest Comments on users from Material</h6>
            </div>
            <div class="comment-widgets">
                <!-- Comment Row -->
                <div class="d-flex flex-row comment-row" ng-repeat="applicant in applicants">
                    <div class="p-2">
                        <span class="round">
                            <img src="{{applicant.profile_image}}" alt="user" width="50">
                        </span>
                    </div>
                    <div class="comment-text w-100">
                        <h5>{{applicant.name}}</h5>
                        <p class="m-b-5">{{applicant.message}}</p>
                        <div class="comment-footer"> 
                            <span class="text-muted pull-right">{{applicant.date}}</span> 
                            <span class="label label-info">Pending</span> 
                            <span class="action-icons">
                                <a href="javascript:void(0)"><i class="ti-pencil-alt"></i></a>
                                <a href="javascript:void(0)"><i class="ti-check"></i></a>
                                <a href="javascript:void(0)"><i class="ti-heart"></i></a>    
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Comment Row 
                <div class="d-flex flex-row comment-row active">
                    <div class="p-2">
                        <span class="round">
                            <img src="../assets/images/users/2.jpg" alt="user" width="50">
                        </span>
                    </div>
                    <div class="comment-text active w-100">
                        <h5>Michael Jorden</h5>
                        <p class="m-b-5">Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has beenorem Ipsum is simply dummy text of the printing and type setting industry..</p>
                        <div class="comment-footer "> 
                            <span class="text-muted pull-right">April 14, 2016</span> 
                            <span class="label label-light-success">Approved</span> 
                            <span class="action-icons active">
                                <a href="javascript:void(0)"><i class="ti-pencil-alt"></i></a>
                                <a href="javascript:void(0)"><i class="icon-close"></i></a>
                                <a href="javascript:void(0)"><i class="ti-heart text-danger"></i></a>    
                            </span>
                        </div>
                    </div>
                </div>                
                <div class="d-flex flex-row comment-row">
                    <div class="p-2">
                        <span class="round">
                            <img src="../assets/images/users/3.jpg" alt="user" width="50">
                        </span>
                    </div>
                    <div class="comment-text w-100">
                        <h5>Johnathan Doeting</h5>
                        <p class="m-b-5">Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has beenorem Ipsum is simply dummy text of the printing and type setting industry.</p>
                        <div class="comment-footer">
                            <span class="text-muted pull-right">April 14, 2016</span>
                            <span class="label label-danger">Rejected</span>
                            <span class="action-icons">
                                <a href="javascript:void(0)"><i class="ti-pencil-alt"></i></a>
                                <a href="javascript:void(0)"><i class="ti-check"></i></a>
                                <a href="javascript:void(0)"><i class="ti-heart"></i></a>    
                            </span>
                        </div>
                    </div>
                </div>                
                <div class="d-flex flex-row comment-row">
                    <div class="p-2">
                        <span class="round"><img src="../assets/images/users/4.jpg" alt="user" width="50"></span>
                    </div>
                    <div class="comment-text w-100">
                        <h5>James Anderson</h5>
                        <p class="m-b-5">Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has beenorem Ipsum is simply dummy text of the printing and type setting industry..</p>
                        <div class="comment-footer"> 
                            <span class="text-muted pull-right">April 14, 2016</span> 
                            <span class="label label-info">Pending</span> 
                            <span class="action-icons">
                                <a href="javascript:void(0)"><i class="ti-pencil-alt"></i></a>
                                <a href="javascript:void(0)"><i class="ti-check"></i></a>
                                <a href="javascript:void(0)"><i class="ti-heart"></i></a>    
                            </span>
                        </div>
                    </div>
                </div>
            -->
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-block bg-info">
                <h4 class="text-white card-title">Sub Users</h4>
                <h6 class="card-subtitle text-white m-b-0 op-5">Checkout my contacts here</h6>
            </div>
            <div class="card-block">
                <div class="message-box contact-box">
                    <h2 class="add-ct-btn"><button type="button" class="btn btn-circle btn-lg btn-success waves-effect waves-dark">+</button></h2>
                    <div class="message-widget contact-widget">
                        <!-- Message -->
                        <a href="#">
                            <div class="user-img"> 
                                <img src="../assets/images/users/1.jpg" alt="user" class="img-circle"> 
                                <span class="profile-status online pull-right"></span> 
                            </div>
                            <div class="mail-contnet">
                                <h5>Pavan kumar</h5> 
                                <span class="mail-desc">info@wrappixel.com</span>
                            </div>
                        </a>
                        <!-- Message -->
                        <a href="#">
                            <div class="user-img"> 
                                <img src="../assets/images/users/2.jpg" alt="user" class="img-circle"> 
                                <span class="profile-status busy pull-right"></span> 
                            </div>
                            <div class="mail-contnet">
                                <h5>Sonu Nigam</h5> <span class="mail-desc">pamela1987@gmail.com</span>
                            </div>
                        </a>
                        <!-- Message -->
                        <a href="#">
                            <div class="user-img"> 
                                <span class="round">A</span> 
                                <span class="profile-status away pull-right"></span> 
                            </div>
                            <div class="mail-contnet">
                                <h5>Arijit Sinh</h5> 
                                <span class="mail-desc">cruise1298.fiplip@gmail.com</span>
                            </div>
                        </a>
                        <!-- Message -->
                        <a href="#">
                            <div class="user-img"> 
                                <img src="../assets/images/users/4.jpg" alt="user" class="img-circle"> 
                                <span class="profile-status offline pull-right"></span> 
                            </div>
                            <div class="mail-contnet">
                                <h5>Pavan kumar</h5> <span class="mail-desc">kat@gmail.com</span>
                            </div>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>