<div class="row page-titles">
<div class="col-md-5 col-8 align-self-center">
<h3 class="text-themecolor">Plan List Information</h3>
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="">Home</a></li>
<li class="breadcrumb-item active">Plan Lists</li>			
</ol>
</div>
<div class="col-md-7 col-4 align-self-center">
&nbsp;
</div>
</div>


<style type="text/css">
    #pricing-plan{
        padding: 20px;
    }
    .no-padding{
        padding: 0;
    }
    #tall,#grande{
        width: 80px;
        height: auto;
        margin-bottom: 25px;
    }
    #verti{
        width: 120px;
        height: auto;
        margin-bottom: 25px;
    }
    #selectmethod, #billingmethod{
        display: none;
        padding-top:10px;
    }
    .job-btn{
        font-family: 'Poppins', sans-serif;        
        color: #fff;
        border: 0;
        height: 37px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 25px;
        background: rgb(86,76,249);
        background: -moz-linear-gradient(to right, rgba(86,76,249,1) 1%, rgba(128,76,249,1) 100%);
        background: -webkit-linear-gradient(to right, rgba(86,76,249,1) 1%,rgba(128,76,249,1) 100%);
        background: linear-gradient(to right, rgba(86,76,249,1) 1%,rgba(128,76,249,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#564cf9', endColorstr='#804cf9',GradientType=0 );
        width: 150px;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body" id="packages">
                <div class="row col-md-10 offset-md-1" id="pricing-plan">
                    <div class="col-md-4 col-xs-12 col-sm-6 no-padding" ng-repeat="plan in postingPlans">
                        <div class="pricing-box" ng-class=" {'featured-plan' : plan.id == 3} ">
                            <div class="pricing-body b-l">
                                <div class="pricing-header" ng-if="plan.id != 3">
                                    <img plan-id id-num="{{ plan.id }}" ng-src="{{plan.img_path}}">
                                    <h4 class="text-center">{{plan.plan}}</h4>
                                    <h2 class="text-center"><span class="price-sign">$</span>{{plan.price}}</h2>
                                    <p class="uppercase">per month</p>
                                </div>
                                <div class="pricing-header" ng-if="plan.id == 3">
                                    <h4 class="price-lable text-white bg-warning"> Popular</h4>
                                    <img id="verti" ng-src="{{plan.img_path}}">
                                    <h4 class="text-center">Venti</h4>
                                    <h2 class="text-center"><span class="price-sign">$</span>{{plan.price}}</h2>
                                    <p class="uppercase">per month</p>
                                </div>
                                <div class="price-table-content">                                    
                                    <div class="price-row" ng-repeat="label in plan.labels">{{label.labels}}
                                        <a class="mytooltip"> 
                                            <i class="mdi mdi-comment-question-outline pointer" ng-if="(label.label_id == 1 || label.label_id == 2 || label.label_id == 3) && (label.id == 1 || label.id == 7 || label.id == 13)"></i>
                                            <span ng-if="label.id != 1 && $index == 0">+</span>


                                            <span class="tooltip-content5 tooltip-standard" ng-if="(label.label_id == 1 || label.label_id == 2 || label.label_id == 3) && (label.id == 1 || label.id == 7 || label.id == 13)">
                                                <span class="tooltip-text3">
                                                    <span class="tooltip-inner2">
                                                        <ul class="small">            
                                                            <li>
                                                                <b>Active</b> Jobs are ones that are published live for candidates to see.
                                                            </li>
                                                            <li>
                                                                Archived, Inactive, Completed or Deleted jobs don't count against your active totals.
                                                            </li>
                                                        </ul>
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="price-row">
                                        <button ng-if="plan.activeplan.length == 0" class="btn btn job-btn" ng-click="package(plan.id,plan.plan,plan.price)">Select plan</button>

                                        <button ng-if="plan.activeplan.length != 0" class="btn btn job-btn" ng-click="package(plan.id,plan.plan,plan.price)" disabled="">Active</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                                                    
                </div>
            </div>
            <div class="card-body" id="selectmethod">
                <div class="col-md-8 offset-md-2">
                    <div class="form-group">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="bg-primary text-white">
                                        <th colspan="2">MEMBERSHIP PLAN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-right">Plan:</td>
                                        <td>{{ plan.name }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">Payment per month:</td>
                                        <td>${{ plan.fee }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">Number of Month(s)</td>
                                        <td>
                                            <select ng-model="billData.numberOfmonths" class="form-control">
                                                <option value="">Number of Months</option>
                                                <option value="1">1 month</option>
                                                <option value="3">3 months</option>
                                                <option value="6">6 months</option>
                                                <option value="12">12 months</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">Select Payment Method</td>
                                        <td>
                                            <select ng-model="cardtype" class="form-control">
                                                <option value="">Select Card</option>
                                                <option value="1">New</option>
                                                <option value="2">Existing</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">Recurring</td>
                                        <td>
                                            <select ng-model="billData.recurring" class="form-control">
                                                <option value="">recurring</option>
                                                <option value="yes">yes</option>                                                
                                                <option value="no">no</option>
                                            </select>
                                        </td>
                                    </tr>
                                    
                                    <tr ng-if="cardtype == 2">
                                        <td class="text-right">Select card</td>
                                        <td>
                                            <select class="form-control" ng-model="billData.existing_card_id">
                                                <option value="">Select Old Cards</option>
                                                <option ng-repeat = "card in old_cards" value="{{card.id}}">{{card.card_last_four}} - {{card.name}}</option>
                                            </select>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2" class="text-right">
                                            <button class="btn btn-primary" ng-click="returnPackages()">prev</button>
                                            <button class="btn" ng-click="billingMethod(cardtype,billData.numberOfmonths,billData.recurring,billData.existing_card_id)">next</button>
                                        </td>                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>                    
                </div>                
            </div>
            <div class="card-body" id="billingmethod">
                <div class="col-md-8 offset-md-2">
                    <div class="form-group" ng-if="cardtype == 1">
                        test1
                    </div>
                    <div class="form-group" ng-if="cardtype == 2">
                        test2
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addcardModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Add a billing method</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="banner text-center"><img src="/public/assets/images/jobs-img/dollar-sign.png" height="30"> With <strong>Ethesia</strong>, only pay for work delivered.</div>                
            <!-- Modal body -->            
            <div class="modal-body" id="credit-forms" style="padding-left: 30px; padding-right: 30px;">                
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="cardNumber" class="control-label" id="payment-cards">Card number</label>
                            <input type="text" class="form-control" id="cardNumber"  no-enter ng-model="billData.cardNumber" name="cardNumber">
                        </div>                        
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">First name</label>
                                    <input  ng-model="billData.firstName" type="text" name="" class="form-control">
                                </div>
                            </div>      
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Last name</label>
                                    <input ng-model="billData.lastName" type="text" name="" class="form-control">
                                </div>
                            </div>      
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Expires on</label>
                                    <select ng-model="billData.expMonth"  class="form-control">
                                        <option value="">MM</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                            </div>      
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">&nbsp;</label>
                                    <select ng-model="billData.expYear"  class="form-control">
                                        <option value="">YY</option>
                                        <option ng-repeat="year in expYears">{{year}}</option>
                                    </select>
                                </div>
                            </div>      
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Security code / CVV <i class="icon-question" style="color: #37A000; margin-left: 20px;"></i></label>
                                    <input ng-model="billData.cardIDNumber" type="text" name="" class="form-control">
                                </div>
                            </div>      
                        </div>
                    </div>
                </div>
                               
            </div>
            <div class="modal-footer" style="padding-right: 30px;">
                <button class="btn job-btn" data-dismiss="modal">Back</button>
                <button class="btn job-btn"ng-click="packagenewcard()">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="modalPackage">
    <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">{{'Selected plan: '+plan.name}}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
    
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

        </div>
    </div>
</div>
<br>
<!-- test -->
<!-- <div class="row col-md-12 nopadding">
	<div class="col-md-12 nopadding">
		<a ui-sref="update_plan"><button  class="btn btn-success float-right"><i class="mdi mdi-credit-card-plus"></i> Update Plan</button></a>
	</div>
</div>


<div class="card set-top">
    <div class="card-block">
        <h4 class="card-title">Plan Histories</h4>
        <div class="table-responsive m-t-40">
            <table id="myTable" class="table table-bordered table-striped">
                <thead>
                    <tr >
                        <th>Plan</th>
                        <th>Plan Price</th>
                        <th>No. of Months</th>
                        <th>Total Price Payed</th>
                        <th>Date Billed</th>
                        <th>Expiration</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" ng-show = "cards.length == 0">
                        <td colspan="4">Nothing plans to show.</td>
                    </tr>

                    <tr ng-repeat = "plan in user_plans">
                    	<td ng-bind="plan.plan_src.plan_name"></td>
                    	<td ng-bind="plan.plan_current_price"></td>
                    	<td ng-bind="plan.plan_interval"></td>
                    	<td ng-bind="plan.total_price"></td>
                    	<td ng-bind="plan.date_billed"></td>
                    	<td ng-bind="plan.plan_expiration"></td>
                        <td ng-bind="plan.status"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
 -->