<div class="row page-titles">
<div class="col-md-5 col-8 align-self-center">
<h3 class="text-themecolor">Plans and Packages</h3>
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="">Home</a></li>
<li class="breadcrumb-item active">Plans</li>            
</ol>
</div>
<div class="col-md-7 col-4 align-self-center">
&nbsp;
</div>
</div>

<style type="text/css">
    #pricing-plan{
        padding: 20px;
    }
    .no-padding{
        padding: 0;
    }
    #tall,#grande{
        width: 80px;
        height: auto;
        margin-bottom: 25px;
    }
    #verti{
        width: 120px;
        height: auto;
        margin-bottom: 25px;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body" id="packages">
                <div class="row col-md-10 offset-md-1" id="pricing-plan">
                    <div class="col-md-4 col-xs-12 col-sm-6 no-padding">
                        <div class="pricing-box">
                            <div class="pricing-body b-l">
                                <div class="pricing-header">
                                    <img id="tall" src="/public/assets/images/jobs-img/tall.png">
                                    <h4 class="text-center">Tall</h4>
                                    <h2 class="text-center"><span class="price-sign">$</span>345</h2>
                                    <p class="uppercase">per month</p>
                                </div>
                                <div class="price-table-content">
                                    <div class="price-row"></i> Up to 10 Active Jobs <i class="mdi mdi-comment-question-outline"></i></div>
                                    <div class="price-row">Live SMS Notification</div>
                                    <div class="price-row">Unlimited email notification</div>
                                    <div class="price-row">Unlimited Contacts</div>
                                    <div class="price-row">PDF Export</div>
                                    <div class="price-row">
                                        <button class="btn btn-success waves-effect waves-light m-t-20">Sign up</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-6 no-padding">
                        <div class="pricing-box b-l">
                            <div class="pricing-body">
                                <div class="pricing-header">
                                    <img id="grande" src="/public/assets/images/jobs-img/grande.png">
                                    <h4 class="text-center">Grande</h4>
                                    <h2 class="text-center"><span class="price-sign">$</span>895</h2>
                                    <p class="uppercase">per month</p>
                                </div>
                                <div class="price-table-content">
                                    <div class="price-row">Everything in Tall +</div>
                                    <div class="price-row">20 Active Jobs <i class="mdi mdi-comment-question-outline"></i></div>
                                    <div class="price-row">Up to 10 Priority Job Upgrades</div>
                                    <div class="price-row">Sponsored Company Listing</div>
                                    <div class="price-row">Multiple Job Uploads</div>
                                    <div class="price-row">Calendar Access</div>
                                    <div class="price-row">
                                        <button class="btn btn-success waves-effect waves-light m-t-20">Sign up</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-6 no-padding">
                        <div class="pricing-box featured-plan">
                            <div class="pricing-body">
                                <div class="pricing-header">
                                    <h4 class="price-lable text-white bg-warning"> Popular</h4>
                                    <img id="verti" src="/public/assets/images/jobs-img/venti.png">
                                    <h4 class="text-center">Venti</h4>
                                    <h2 class="text-center"><span class="price-sign">$</span>1695</h2>
                                    <p class="uppercase">per month</p>
                                </div>
                                <div class="price-table-content">
                                    <div class="price-row">Everything in Grande +</div>
                                    <div class="price-row">Unlimeted Active Jobs <i class="mdi mdi-comment-question-outline"></i></div>
                                    <div class="price-row">Up to 50 Priority Job Upgrades</div>
                                    <div class="price-row">1 High Priority Job Upgrades</div>
                                    <div class="price-row">Training + Account Manager</div>
                                    <div class="price-row">Phone Support</div>
                                    <div class="price-row">
                                        <button class="btn btn-lg btn-info waves-effect waves-light m-t-20">Sign up</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->

<div class="row set-top">
    <div class="col-12">
        <div class="card">
            <div class="card-block wizard-content">
                <input type="hidden" value="{{isThereSelectedPlan()}}" id="isThereSelectedPlan" name="">

                <form action="#" wizard id="form-wizard" class="wizard-circle" >
                    <!-- Step 1 -->
                    <h6>Select Plan</h6>
                    <section>
                        <br>   

                            <slick next-arrow=".right" prev-arrow=".left" arrows=true  infinite="false" slides-to-show="4" slides-to-scroll="4" init-onload=true data="plans" class="slick-slider slider multiple-items ">
                                <div ng-repeat = "plan in plans" class="col-lg-6 col-md-6" >
                                    <div  class="card" ng-class="{'plan-selected' : plan.selected}">


                                        <div class="card-block text-center" style="min-height: 280px;position: relative;">

                                            <div class="col-md-12">
                                                <h4 class="card-title">{{plan.plan_name}}</h4>
                                               <br>
                                            </div>

                                            <div class="col-md-12 pricing-plan">
                                                <h2 class="card-text text-center">{{plan.plan_price | currency}}</h2>
                                                <p class="text-center" ng-show ="plan.is_unlimited == 'yes'">per month</p>
                                                <p class="text-center" ng-show ="plan.is_unlimited == 'no'">{{plan.post_allowed}} job post per month</p>
                                                <br>
                                            </div>   

                                            <div class="col-md-12 select-plan">
                                                <a  ng-click="selectPlan(plan)" class="btn btn-success white-text">SELECT THIS PLAN</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <a class="left">
                                    <i class="mdi mdi-arrow-left-bold-circle"></i>
                                </a>

                                <a class="right">
                                    <i class="mdi mdi-arrow-right-bold-circle"></i>
                                </a>

                            </slick>
              
                   
                        <br>
                    </section>
                    <!-- Step 2 -->
                    <h6>Plan Information</h6>
                    <section>
                        <br>
                        <table class="table color-table info-table">
                            <thead>
                                <tr>
                                    <th colspan="3">MEMBERSHIP PLAN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>    
                                    <td class="text-right"><b>Plan</b></td>
                                    <td><b>:</b></td>
                                    <td ng-bind= "plansData.plan_selected.plan_name"></td>
                                </tr>
                                <tr>
                                    <td class="text-right"><b>Fee</b></td>
                                    <td><b>:</b></td>
                                    <td>{{plansData.plan_selected.plan_price | currency}} / month</td>
                                </tr>
                                <tr>
                                    <td class="text-right"><b>Recurring</b></td>
                                    <td><b>:</b></td>
                                    <td>
                                        <select  ng-model = "plansData.plan_selected.recurring" class="form-control">
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                                <!-- <tr ng-show= "plansData.plan_selected.recurring == 'yes'">
                                    <td class="text-right"><b>Billing Date</b></td>
                                    <td><b>:</b></td>
                                    <td>
                                        <select ng-model = "plansData.plan_selected.recurring_date" class="form-control">
                                            <option value="{{date}}" ng-repeat="date in billingDate">{{date}}</option>
                                        </select>
                                    </td>
                                </tr> -->
                                <tr >
                                    <td class="text-right"><b>Months to pay</b></td>
                                    <td><b>:</b></td>
                                    <td>
                                        <div>
                                            <input  ng-click="selectBillingInterval(1)" name="radio" checked type="radio" id="radio_1m" class="with-gap radio-col-blue" />
                                            <label for="radio_1m">1 Month</label>
                                        </div>
                                        <div>
                                            <input  ng-click="selectBillingInterval(3)" name="radio" type="radio" id="radio_3m" class="with-gap radio-col-blue" />
                                            <label for="radio_3m">3 Months</label>
                                        </div>
                                        <div>
                                            <input  ng-click="selectBillingInterval(6)" name="radio" type="radio" id="radio_6m" class="with-gap radio-col-blue" />
                                            <label for="radio_6m">6 Months</label>
                                        </div>
                                        <div>
                                            <input  ng-click="selectBillingInterval(12)" name="radio" type="radio" id="radio_12m" class="with-gap radio-col-blue" />
                                            <label for="radio_12m">12 Months</label>
                                        </div>
                                    </td>
                                </tr>
                            
                          
                            </tbody>
                        </table>
                        <br>
                    </section>
                    <!-- Step 3 -->
                    <h6>Confirmation</h6>
                    <section>
                        <br>
                        <div class="row">
                            <div class="col-lg-7 col-md-7">
                                <table class="table color-table info-table">
                                    <thead>
                                        <tr>
                                            <th colspan="3">MEMBERSHIP PLAN</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-left"><b>Plan</b></td>
                                            <td><b>:</b></td>
                                            <td>Limit 10 Posting Plan</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><b>Fee</b></td>
                                            <td><b>:</b></td>
                                            <td>{{plansData.plan_selected.plan_price}} / month</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><b>Recurring</b></td>
                                            <td><b>:</b></td>
                                            <td>{{plansData.plan_selected.recurring | capfirst}}</td>
                                        </tr>
                                        <tr ng-show="plansData.plan_selected.recurring == 'yes'">
                                            <td class="text-left"><b>Next Billing Date</b></td>
                                            <td><b>:</b></td>
                                            <td>{{plansData.plan_selected.next_billing}}</td>
                                        </tr>
                                        <tr >
                                            <td class="text-left"><b>Billing Interval</b></td>
                                            <td><b>:</b></td>
                                            <td>{{plansData.plan_selected.interval}} Month</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-5 col-md-5">
                                <table class="table color-table info-table">
                                    <thead>
                                        <tr>
                                            <th colspan="3">CHARGES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-left"><b>Plan Fee</b></td>
                                            <td><b>:</b></td>
                                            <td>{{plansData.plan_selected.plan_price | currency}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><b>Billing Interval</b></td>
                                            <td><b>:</b></td>
                                            <td>x {{plansData.plan_selected.interval}}</td>
                                        </tr>
                                        
                                        <tr>
                                            <td class="text-left"><b>Subtotal</b></td>
                                            <td><b>:</b></td>
                                            <td>{{plansData.plan_selected.total_price | currency}}</td>
                                        </tr>
                                        <!-- <tr>
                                            <td class="text-left"><b>Prorated for 03/17/2018 - 04/01/2018</b></td>
                                            <td><b>:</b></td>
                                            <td>$266.67</td>
                                        </tr> -->
                                        <tr>
                                            <td class="text-left"><h3>Total Charges</h3></td>
                                            <td><b>:</b></td>
                                            <td><h3>{{plansData.plan_selected.total_price | currency}}</h3></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br>
                    </section>

                    <h6>Payment</h6>
                    <section>
                        <div class="card-block mb-30" style="padding-left: 25%"> 
                            <div class="form-horizontal  margintop-30">
                                <select class="form-control" ng-model="plansData.selected_payment_method">
                                    <option value="">Select Payment Method</option>
                                    <option value="existing_card">Existing Card</option>
                                    <option value="new_card">New Card</option>
                                </select>
                            </div>
                            
                            <div class="form-horizontal  margintop-30" ng-show="plansData.selected_payment_method == 'existing_card'">
                                <select class="form-control" ng-model="plansData.existing_card_id">
                                    <option value="">Select Old Cards</option>
                                    <option ng-repeat = "card in old_cards" value="{{card.id}}">{{card.card_last_four}} - {{card.name}}</option>
                                </select>
                            </div>
                            <div class="form-horizontal  margintop-30" ng-show="plansData.selected_payment_method == 'new_card'">
                                

                                <div class="form-group col-12">
                                    <label class="label-parent label-editable mr-2 d-inline-block">Name On Card: 
                                    </label>
                                    <input 
                                        ng-disabled="plansData.billData.id != '' && plansData.billData.id != undefined"
                                        no-enter
                                        ng-class="{'nodata-underline' : plansData.billData.name == undefined || plansData.billData.name == ''}" 
                                        ng-model="plansData.billData.name"
                                        callback="saveBillingCardInfo"
                                        key = "name"  name="name" ng-model="plansData.billData.name"  type="text" placeholder="{{plansData.billData.last_card_four}}"  class=" form-control col-md-6 "
                                        >
                                </div>
                                <div class="form-group col-12">
                                    <label class="label-editable label-parent label-editable mr-2 d-inline-block">Card No: 
                                    </label>
                                    <input 
                                        ng-disabled="plansData.billData.id != '' && plansData.billData.id != undefined"
                                        no-enter
                                        ng-class="{'nodata-underline' : plansData.billData.cardNumber == undefined || plansData.billData.cardNumber == ''}" 
                                        ng-model="plansData.billData.cardNumber"
                                        callback="saveBillingCardInfo"
                                        key = "cardNumber"  name="cardNumber" ng-model="plansData.billData.cardNumber"  type="text" placeholder="{{plansData.billData.last_card_four}}"  class=" form-control col-md-6 "
                                        >
                                </div>

                                <div class="form-group col-12">
                                    <label class="label-editable label-parent label-editable mr-2 d-inline-block">Expiration Date: 
                                    </label>
                    
                                    <input 
                                        
                                        no-enter
                                        ng-class="{'nodata-underline' : plansData.billData.expirationDate == undefined || plansData.billData.expirationDate == ''}" 
                                        ng-model="plansData.billData.expirationDate"
                                        custom-mask="00/0000"
                                        callback="saveBillingCardInfo"
                                        key = "expirationDate"  name="address" ng-model="plansData.billData.expirationDate"  type="text"  class=" form-control col-md-6 "
                                        >
                                </div>


                                <div class="form-group col-12">
                                    <label class="label-editable label-parent label-editable mr-2 d-inline-block">Card Id No.: 
                                    </label>
                                    

                                    <input 
                                        ng-disabled="plansData.billData.id != '' && plansData.billData.id != undefined"
                                        no-enter
                                        ng-class="{'nodata-underline' : plansData.billData.cardIDNumber == undefined || plansData.billData.cardIDNumber == ''}" 
                                        ng-model="plansData.billData.cardIDNumber"
                                        callback="saveBillingCardInfo"
                                        key = "cardIDNumber"  name="cardIDNumber" ng-model="plansData.billData.cardIDNumber"  type="text"  class=" form-control col-md-6 "
                                        >
                                </div>


                                <div class="form-group col-12">
                                    <label class="label-editable label-parent mr-2 d-inline-block">Address: 
                                    </label>
                                 <!--   <div class="content-editable" 
                                        contenteditable
                                        ng-model="infoData.address"
                                        ng-maxlength=255
                                        
                                        only-text="true"
                                        convert-new-lines="true">
                                    </div> -->
                                    <input style="max-width: 350px" 
                                        callback="saveBillingCardInfo"
                                        key = "address" name="address" ng-model="plansData.billData.address"  type="text" " ng-required="true" class=" form-control col-md-6 "
                                        ng-class="{'nodata-underline' : plansData.billData.address == undefined || plansData.billData.address == ''}" 
                                        populate = "locality,administrative_area_level_1,postal_code" plan-address="plansData.billData.address">
                                </div>


                                <div class="form-group col-12">
                                    <label class="label-editable label-parent mr-2 d-inline-block">State: 
                                    </label>
                                    <input style="max-width: 350px" 
                                        callback="saveBillingCardInfo"
                                        key = "state" name="state" ng-model="plansData.billData.state"  type="text" "  class=" form-control col-md-6 "
                                        ng-class="{'nodata-underline' : plansData.billData.state == undefined || plansData.billData.state == ''}" 
                                       >
                                </div>
                       
                                <div class="form-group col-12">
                                    <label class="label-editable label-parent mr-2 d-inline-block">Zip Code: 
                                    </label>
                                    <input style="max-width: 350px" 
                                        callback="saveBillingCardInfo"
                                        key = "zipcode" name="zipcode" ng-model="plansData.billData.zipcode"  type="text" " class=" form-control col-md-6 "
                                        ng-class="{'nodata-underline' : plansData.billData.zipcode == undefined || plansData.billData.zipcode == ''}" 
                                       >
                                </div>

                                <div class="form-group col-12">
                                    <label class="label-editable label-parent mr-2 d-inline-block">Default: 
                                    </label>
                                    <div class="checkbox checkbox-primary pull-left p-t-0">
                                      <input 
                                        callback="saveBillingCardInfo"
                                        key = "isDefault" ng-checked="plansData.billData.isDefault == 'yes'" ng-click = "changeBillingDefault()" ng-model="plansData.billData.isDefault" ng-value="yes" id="checkbox-signup" type="checkbox">
                                      <label for="checkbox-signup">  </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button style="display: none" type="button" ng-click = "postCreditCard()" id= "postCreditCardBtn"></button>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>