<section id="wrapper">
        <div class="login-register-custom select-type" style="background-image:url(assets/images/background/login-register.jpg);">        
            <div class="login-box card signup-selecttype-wrap">
            <div class="card-block">
                <form class="form-horizontal form-material" name="regForm" novalidate>
                    <h3 class="box-title m-b-20 text-center">Sign Up</h3>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" ng-model="regData.email" type="text" ng-required="true" ng-pattern = "/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" name="email" placeholder="Email">
                            <span class="help-block absolute" ng-show = "regForm.email.$invalid && regForm.email.$dirty">Email is invalid or required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" ng-pattern = "/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" type="text" ng-model="regData.confirm_email" name="confirm_email" ng-required="true" placeholder="Confirm Email">
                            <span class="help-block absolute" ng-show = "regForm.confirm_email.$invalid && regForm.confirm_email.$dirty">Confirm Email is required or invalid.</span><br/>
                            <span class="help-block absolute" ng-show = "regData.confirm_email != regData.email">Email and Confirm Email did not match.</span>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" ng-class="{'mt-10' : regData.confirm_email != regData.email}"  ng-model="regData.password" type="password" name="password" ng-required="true" placeholder="Password">
                        	<span class="help-block" ng-show = "regForm.password.$invalid && regForm.password.$dirty">Password is required.</span>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" ng-model="regData.confirm_password" type="password" ng-required="true" placeholder="Confirm Password" name="confirm_password">
                            <span class="help-block absolute" ng-show = "regForm.confirm_password.$invalid && regForm.confirm_password.$dirty">Password is required.</span><br/>
                            <span class="help-block absolute" ng-show = "regData.confirm_password != regData.password">Password and Password Confirm did not match.</span>
                        </div>
                    </div>
           
                    <!-- <div class="form-group ">
                        <div class="col-xs-12 text-center">
                            <div class="radio-list">
                                <label  class="custom-control custom-radio" ng-repeat = "user_type in userTypes">
                                    <input  name="account_type" ng-change = "changeSelectedTitle(user_type.id);"  ng-model="regData.account_type" ng-required="true" type="radio" value="{{user_type.id}}" ng-init="regData.account_type = 1;" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{user_type.user_types | capitalize}}</span>
                                </label><br/>
                                <span class="help-block" ng-show = "(regData.account_type == '' || regData.account_type == undefined) && regForm.confirm_password.$dirty">Account Type is Required.</span>
                            </div>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <div class="col-xs-12">
                            <select name="account_title" ng-click="changeSelectedTitle(regData.account_type);" ng-required="true" class="form-control" ng-model="regData.account_title" ng-disabled="count(selectedTitles) == 0">
                            	<option value="" selected disabled="true">{{accountTitlePlaceHolder(regData.account_type)}}</option>
                            	<option value="{{title.id}}" ng-repeat = "title in selectedTitles">{{title.user_account_title}}</option>
                            </select>
                            <span class="help-block absolute" ng-show = "regForm.account_title.$invalid && regForm.account_title.$dirty">Account Type is Required.</span>
                        </div>
                    </div>
                    <div class="form-group" style="height:43px;">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-success p-t-0 p-l-10">
                                <input id="checkbox-signup" ng-model="regData.terms" name="terms" type="checkbox" ng-required="true" required>
                                <label for="checkbox-signup"> I agree to all <a >Terms</a></label><br/>
                                <span class="help-block absolute" style="top:23px;" ng-show = "regForm.terms.$invalid && regForm.terms.$dirty">Terms and Condition is required.</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" form-name="regForm" loading-button callback="submitRegistrationForm()">Sign Up</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Already have an account? <a ui-sref="login" class="text-info m-l-5"><b>Sign In</b></a></p>
                        </div>
                        <div class="col-sm-12 text-center">
                            <p>Change Account Type?. <a ui-sref="register_type" class="text-info m-l-5"><b>Click here.</b></a></p>
                        </div>
                    </div>
                </form>
                
            </div>
          </div>
        </div>
        
    </section>

