<section id="wrapper">
        <div class="login-register-custom select-type" style="background-image:url(assets/images/background/login-register.jpg);">        
            <div class="login-box select-type card sign-up-card gradient-bg signup-selecttype-wrap">
            <div class="card-block">
                <form class="white-text form-horizontal form-material" id="loginform" action="index.html">
                    <h1 class="box-title text-center white-text">Sign up for free.</h1>
                    <p class="text-center" style="font-size: 18px;">Free Job Platform for Anesthesia Employment.</p>
                    <p class="text-center m-t-20">I want to</p>
                    <div class="row m-t-20">
                        <div class="col-lg-1 col-md-1">
                            <input ng-model="selected_account" name="radio" type="radio" id="radio_er" value="candidate" class="with-gap radio-col-green white-border" />
                            <label for="radio_er"></label>
                        </div>
                        <div class="col-lg-11 col-md-11">
                            <p>Candidate Account</p>
                            <p style="font-size: 12px;">Enjoy finding the dream job that you like. Insert here some cool paragraphs just to fill this.</p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-1 col-md-1">
                            <input ng-model="selected_account" value="job_provider" name="radio" type="radio" id="radio_fr" class="with-gap radio-col-green white-border" />
                            <label for="radio_fr"></label>
                        </div>
                        <div class="col-lg-11 col-md-11">
                            <p>Job Provider Account</p>
                            <p style="font-size: 12px;">Look for the best resumes in the market also this will be filled with cool advertisement.</p>
                        </div>
                    </div>
                    <br><br>
                    <div class="text-center">
                        <a ui-sref="login"><button    type="button" class="btn btn-rounded btn-inverse btn-next" style="width: 120px">Back</button></a>

                        <button ng-disabled = "selected_account == '' || selected_account == undefined "  ng-click ="setSelectedAccount()" type="button" class="btn btn-rounded btn-inverse btn-next" style="width: 120px">Next</button>
                    </div>
                    <br>
                </form>
            </div>
          </div>
        </div>
        
    </section>