<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Jobs List</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active">Jobs List</li>			
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
    	&nbsp;
    </div>
</div>

<div class="col-md-12 nopadding">
    <div class="card" style="margin-bottom: 100px">
    	<div class="card-block">
<div class="table-responsive small">
	<table class="table table-bordered table-hover " datatable="ng">
		<thead>
			<tr>
				<th>City</th>
				<th>State</th>
				<th>Brief Description</th>
				<th>Duration</th>	
				<th>Min $</th>					
				<th>Max $</th>					
				<th>W-2</th>					
				<th>User Type</th>					
				<th>Company</th>				
				<th>Updated</th>					
				<th>Date Posted</th>
				<th>Edit</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat = "job in jobs">
				<td ng-bind = "job.ei_facilityCity"></td>
				<td ng-bind = "job.ei_facilityState"></td>
				<td ng-bind = "job.ei_jobDescription"></td>
				<td ng-bind = "job.ei_durPosition"></td>
				<td></td>
				<td></td>
				<td ng-bind = "job.ei_empStatus"></td>
				<td ></td>
				<td ng-bind = "job.ci_company"></td>
				<td></td>
				<td></td>
				<td>
					<a ui-sref="edit_job({job_id : job.id})"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
				</td>
				<td>
					<a data-toggle="tooltip" data-original-title="remove"> <i class="fa fa-remove text-inverse m-r-10"></i> </a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

		</div>	
	</div>
</div>


