.fontPoppins{font-family: 'Poppins', sans-serif;}																				
		
.card-job-box{border-color: #d7dfe3; border-radius: 10px !important; 
				-webkit-box-shadow: 0px 5px 20px rgba(50, 184, 219, 0.4) !important; 
				box-shadow: 0px 5px 20px rgba(50, 184, 219, 0.4) !important;  
				}
.card-job-box:hover{-webkit-box-shadow: 0px 5px 20px rgba(50, 184, 219, 0.8) !important; 
				box-shadow: 0px 5px 20px rgba(50, 184, 219, 0.8) !important; }				

.card-job-box {					
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #fff;
	margin-top:20px;
	margin-bottom: 30px;
	
}				
									
.card-pos-container{ position:relative;}
.card-data-box{height:auto; width:auto; background: #FFFFFF; border-radius: 10px;}
.card-data-box-featured{height:auto; width:auto; background:url(jobs-img/bg-gradient.jpg) repeat-x center bottom #32C6D2; border-radius: 10px;}
.card-pos-splash-featured{position: absolute; top:0px; left:0px; }
.card-pos-splash-none{display:none;}
.card-pos-logo{position: absolute;	left: 0; top: 35%; width: 100%; text-align: center;}
.card-pos-icons{ position: absolute; top: -15px; right: 15px;}
	.card-pos-icons img{cursor:pointer;}
	.card-pos-icons .job-icon, .job-icon-featured{font-size:large; line-height:normal; margin:0px; padding:0px;}
	.card-pos-icons .job-icon{ background-color:#00B9FF; border-color:#00B9FF; color:#FFFFFF;  vertical-align:middle;}
	.card-pos-icons .job-icon:hover{-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; 
									box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; }
	.card-pos-icons .job-icon-featured{ background-color:#32DAC3; border-color:#32DAC3; color:#FFFFFF; vertical-align:middle;}
	.card-pos-icons .job-icon-featured:hover{-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; 
									box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; }

.row-job{ width:auto;}
.col-lg-job{ width:auto;}
.job-card-pos-static{position:static !important;}

/* Large screen and wider */
@media (min-width: 2400px) {
	.col-lg-job{ width:300px; max-width:300px;}
	.row-job{margin:0 auto 0 auto; width:60%;}									
}

@media (min-width: 2000px) {
	.col-lg-job{ width:360px; max-width:360px;}
	.row-job{margin:0 auto 0 auto; width:80%;}									
}

@media (min-width: 1900px) {
	/*.col-lg-job{ width:360px; max-width:360px;}*/
	.row-job{margin:0 auto 0 auto; width:90%;}									
}

.job-text-wrap{ padding:40px 30px 30px 35px; color:#333333; font-family: 'Poppins', sans-serif; font-weight:400;}					
	.job-text-wrap .nID{ color:#32DAC3; font-size:15px;}
	.job-text-wrap .nID span{font-weight:600;}
	.job-text-wrap .sTitle{ padding-top:24px; font-weight:600; color:#44CCFF; line-height:22px; cursor:pointer;}	
	.job-text-wrap .sTitle .text{min-height:85px; max-height:85px; overflow:hidden;  cursor:pointer;}
	.job-text-wrap .sAddress{ padding-top:25px; padding-bottom:25px; font-size:14px;}
	.job-text-wrap .sAddress small{color:#999999;}
.job-text-featured{color:#FFFFFF;}
	.job-text-featured .nID{ color:#FFFFFF;}
	.job-text-featured .sTitle{ color:#FFFFFF;}
	.job-text-featured .sAddress small{color:#FFFFFF;}

.bnt-job{background:#00B9FF; border-color:#00B9FF; color:#FFFFFF; padding:7px 20px 7px 20px;}
.bnt-job:hover{-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; 
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; }	

.job-main-right .field .bnt-job{ background:#32DAC3; border-color:#32DAC3;}
.job-main-right .field-first{ border-top-left-radius: 5px; border-bottom-left-radius: 5px;}		
.job-main-right .field{position:relative;}			
.job-main-right .field input.job-form-control{background:#ECEFF1; border:none; height:35px; margin:0px; padding:0px 20px 0px 20px; font-size:14px; color:#999999; line-height:normal;}
.job-main-right .field select.job-form-control{ background:#ECEFF1; border:none; height:35px; margin:0px; padding:0px 20px 0px 20px; font-size:14px; color:#999999; line-height:normal;}

@media (min-width: 1200px) {
	/*.job-main-left{ float:left; text-align:left; width:30%;}
	.job-main-right{ float:right; text-align:right; width:70%; }
	.job-main-right div{display:inline;}			
	.job-main-right .field{ text-align:left; margin-right:3px;  }	
	.job-main-right .field input.job-form-control{width:auto;}
	.job-main-right .field select.job-form-control{width:150px;}	
	
	.job-main-right .field span{display:block; position:absolute; left:0; margin-top:5px; color:#999999;}	
	*/
	
	.job-main-left{ float:none !important; display:block; text-align:left; width:auto;}
	.job-main-right{ float:none !important; display:block; text-align:center; width:auto; margin-top:10px;}
	.job-main-right div{display:inline;}			
	.job-main-right .field{ text-align:left; margin-right:3px;  }	
	.job-main-right .field input.job-form-control{width:auto;}
	.job-main-right .field select.job-form-control{width:150px;}	
	
	.job-main-right .field span{display:block; position:absolute; left:0; margin-top:5px; margin-bottom:10px; color:#999999;}
}		
		

/* Medium Devices Styles Starts */
@media (min-width: 992px) and (max-width: 1199px) {
	.job-main-left{ float:none !important; display:block; text-align:left; width:auto;}
	.job-main-right{ float:none !important; display:block; text-align:center; width:auto; margin-top:10px;}
	.job-main-right div{display:inline;}			
	.job-main-right .field{ text-align:left; margin-right:3px;  }	
	.job-main-right .field input.job-form-control{width:auto;}
	.job-main-right .field select.job-form-control{width:150px;}	
	
	.job-main-right .field span{display:block; position:absolute; left:0; margin-top:5px; margin-bottom:10px; color:#999999;}
	
	.card-pos-logo img{width:88%;}
}

/* Small Devices Styles Starts */
@media (min-width: 768px) and (max-width: 991px) {
	.job-main-left{ float:none !important; display:block; text-align:left; width:auto;}
	.job-main-right{ float:none !important; display:block; text-align:center; width:auto; margin-top:10px;}
	.job-main-right div{display:inline;}			
	.job-main-right .field{ text-align:left; margin-right:3px;  }	
	.job-main-right .field input.job-form-control{width:auto;}
	.job-main-right .field select.job-form-control{width:150px;}	
	
	.job-main-right .field span{display:block; position:static; margin-top:5px; color:#999999;}
}

	
/* Extra Small Devices Styles Starts */
@media (max-width: 767px) {
	.job-main-left{ float:none !important; display:block; text-align:left; width:auto;}
	.job-main-right{ float:none !important; display:block; text-align:center; width:auto; margin-top:10px;}
	.job-main-right div{display:block;}			
	.job-main-right .field{ text-align:left; margin:10px 0px 0px 0px; }	
	.job-main-right .field input.job-form-control{width:auto; border-radius: 5px; }
	.job-main-right .field select.job-form-control{width:auto; border-radius: 5px; }
	
	.job-main-right .field span{display:block; position:static; margin-top:5px; color:#999999;}
	
}

/* Extremely Small Devices Styles Starts */
@media (max-width: 478px) {
	.job-main-left{ float:none !important; display:block; text-align:left; width:auto;}
	.job-main-right{ float:none !important; display:block; text-align:center; width:auto; margin-top:10px;}
	.job-main-right div{display:block;}			
	.job-main-right .field{ text-align:left; margin:10px 0px 0px 0px; }	
	.job-main-right .field input.job-form-control{width:auto; border-radius: 5px; }
	.job-main-right .field select.job-form-control{width:auto; border-radius: 5px; }
	
	.job-main-right .field span{display:block; position:static; margin-top:5px; color:#999999;}
}	


/* JOB DETAILS SIDEBAR STARTS HERE */

/*.job-sidebar-gray{ background:rgba(0, 0, 0, 0.8); filter: alpha(opacity=80);}*/
.slider-form-overlay{background: #000000 !important; opacity: 0.5 !important;}
.job-sidebar-gray{-webkit-box-shadow: -2px 0 10px 1px #380F40; box-shadow: -2px 0 10px 1px #380F40;}

.job-descwrap{  display:block; overflow-y:scroll; font-family: 'Open Sans', sans-serif;}
.job-block-wrap{ padding:30px 50px 50px 50px;}
	.job-descwrap .text-gray{ color:#959595;}
	.job-descwrap .text-blue{ color:#6684F2;}
	.job-descwrap .text-blue-light{ color:#7A94F4;}
	.job-descwrap .text-bold{ font-weight:400;}
	.job-descwrap .clearFix{ clear:both;}

.job-header{ height:42px; width:auto; border-bottom:1px solid #EBEBEB; clear:both; font-size:16px; overflow:hidden; font-family: 'Muli', sans-serif; font-weight:bold}
	.job-header .sleft{ float:left; width:50%; text-align:left; text-transform:uppercase; color:#000000;}
	.job-header .sright{ float:right; width:50%; text-align:right; text-transform:uppercase; color:#000000;}
	.job-header a{ color:#000000;}
	.job-header a:hover{ color:#0099FF;}
	
	.jobbody-wrap{ width:auto; clear:both;}
	.jobdata-wrap{float:left; width:75%; text-align:left; border-right:1px solid #EBEBEB;}
		.jobdata-wrap .containerwrap{ padding:20px 20px 0px 0px;}
		.jobdata-wrap .printBtn{ text-align:right; padding-bottom:5px;}		
		.jobdata-wrap .nID{ font-size:16px; color:#959595;}	
		.jobdata-wrap .sTitle{ font-size:30px; color:#4F4F6F; line-height:35px; padding-top:10px; font-weight:bold;}
		.jobdata-wrap .address{font-size:16px; padding-top:20px;}	
		.jobdata-wrap .datedviews{font-size:16px; padding-top:20px; color:#000000; clear:both;}	
		.jobdata-wrap .datedviews .left{ float:left; text-align:left;}
		.jobdata-wrap .datedviews .right{ float:right; text-align:right;}
		
		.jobdata-wrap .body-title{ font-size:22px; line-height:normal; color:#000000; padding-bottom:35px; padding-top:35px;}	
		.jobdata-wrap .job-details .key{ font-size:14px; color:#959595; line-height:normal; text-transform:uppercase;}
		.jobdata-wrap .job-details .value{font-size:14px; color:#6684F2; line-height:normal; padding-top:24px;}
		
		.jobdata-wrap .add-info-btnswrap{ width:50%; text-align:left; padding-top:20px;}
		
	.jobsidebar-wrap{ float:right; width:25%; text-align:left;}
		.jobsidebar-wrap .logowrap{ text-align:center; padding-top:50px;}
		.jobsidebar-wrap .companywrap{ text-align:center; line-height:30px; margin-bottom:40px;}
			.jobsidebar-wrap .companywrap .name{ font-size:18px; color:#000000; font-weight:600;}
			.jobsidebar-wrap .companywrap .address{font-size:16px; color:#7D7D7D;}
			.jobsidebar-wrap .companywrap .url{ font-size:14px; color:#6684F2;}	
			.jobsidebar-wrap .companywrap .url a{color:#6684F2;}
			.jobsidebar-wrap .companywrap .url a:hover{ color:#0099FF;}
	
	.jobdata-wrap .btn-small{background:#5F4CF9; border-color:#5F4CF9; border-radius:20px; color:#FFFFFF; padding:5px 12px 5px 12px; font-size:14px; font-family: 'Open Sans', sans-serif;}
	.jobdata-wrap .btn-small-gray{background:#E8EFF0; border-color:#E8EFF0; border-radius:20px; color:#000000; padding:5px 12px 5px 12px; 
								  font-size:12px; display:inline; font-weight:bold; margin-bottom:15px; margin-right:10px; font-family: 'Open Sans', sans-serif;}
	.jobsidebar-wrap .btn-btn1{background:#5B4CF9; border-color:#5B4CF9; border-radius: 20px; color:#FFFFFF; padding:10px 60px 10px 60px; display:block; margin:0 auto 0 auto; font-family: 'Open Sans', sans-serif;}		
	.jobsidebar-wrap .btn-btn2{background:#FFFFFF;  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2); border-radius: 20px; color:#000000; padding:10px 60px 10px 60px; display:block; margin:0 auto 0 auto; font-family: 'Open Sans', sans-serif;}		
	
/* Large screen and wider */
@media (min-width: 1370px) {
}

/* Medium Devices Styles Starts */
@media (min-width: 992px) and (max-width: 1199px) {
	.job-block-wrap{ padding:20px 40px 40px 40px;}
	.job-descwrap{ width:auto; display:block; overflow:auto;}
	.jobdata-wrap{float:none; width:auto; text-align:left; border-bottom:1px solid #EBEBEB; border-right:none;}
	.jobsidebar-wrap{ float:none; width:auto; text-align:left;}
}

/* Small Devices Styles Starts */
@media (min-width: 768px) and (max-width: 991px) {
	.job-block-wrap{ padding:20px;}
	

	.job-descwrap{ width:auto; display:block; overflow:auto;}
	.jobdata-wrap{float:none; width:auto; text-align:left; border-bottom:1px solid #EBEBEB; border-right:none;}
	.jobsidebar-wrap{ float:none; width:auto; text-align:left;}
	.jobdata-wrap .add-info-btnswrap{width:auto;}
	
	.jobdata-wrap .printBtn{ text-align:right;}	
}
	
/* Extra Small Devices Styles Starts */
@media (max-width: 767px) {
	.job-block-wrap{ padding:10px;}
	.job-header{height:auto; overflow:auto;}
	.job-header .sleft{ float:none; width:auto; display:block; text-align:center; font-size:small;}
	.job-header .sright{ float:none; width:auto; display:block; text-align:center; font-size:small; padding-top:10px; padding-bottom:10px;}
	
	.job-descwrap{ width:auto; display:block; overflow:auto;}
	.jobdata-wrap{float:none; width:auto; text-align:left; border-bottom:1px solid #EBEBEB; border-right:none;}
	.jobsidebar-wrap{ float:none; width:auto; text-align:left;}
	.jobdata-wrap .add-info-btnswrap{width:auto;}
	
	.jobdata-wrap .printBtn{ text-align:center; display:block; padding-bottom:10px;}
	.jobdata-wrap .sTitle{ font-size:x-large; line-height:normal; font-weight:bold;}
	.jobdata-wrap .address{font-size:small; text-align:center;  padding-top:10px;}
	.jobdata-wrap .address .salary{ display:block;}
	
	.jobdata-wrap .datedviews{font-size:small; padding-top:10px;}	
	.jobdata-wrap .datedviews .left{ float:none; text-align:center;}
	.jobdata-wrap .datedviews .right{ float:none; text-align:center;}
	.jobdata-wrap .datedviews .sDated{display:block;}
}

/* Extremely Small Devices Styles Starts */
@media (max-width: 478px) {
	.job-block-wrap{ padding:10px;}
	.job-header{height:auto; overflow:auto;}
	.job-header .sleft{ float:none; width:auto; display:block; text-align:center; font-size:small;}
	.job-header .sright{ float:none; width:auto; display:block; text-align:center; font-size:small; padding-top:10px; padding-bottom:10px;}
	
	.job-descwrap{ width:auto; display:block; overflow:auto;}
	.jobdata-wrap{float:none; width:auto; text-align:left; border-bottom:1px solid #EBEBEB; border-right:none;}
	.jobsidebar-wrap{ float:none; width:auto; text-align:left;}
	.jobdata-wrap .add-info-btnswrap{width:auto;}
	
	.jobdata-wrap .printBtn{ text-align:center; display:block; padding-bottom:10px;}
	.jobdata-wrap .sTitle{ font-size:large; line-height:normal; font-weight:bold; padding:}
	.jobdata-wrap .address{font-size:small; text-align:center;  padding-top:10px;}
	.jobdata-wrap .address .salary{ display:block;}
	
	.jobdata-wrap .datedviews{font-size:small; padding-top:10px;}	
	.jobdata-wrap .datedviews .left{ float:none; text-align:center;}
	.jobdata-wrap .datedviews .right{ float:none; text-align:center;}
	.jobdata-wrap .datedviews .sDated{display:block;}
}

.text-core .text-wrap textarea {
  left: 0!important;
  width: 100% !important;
}

.topbar{
	background: #bc90f9; /* Old browsers */
	background: -moz-linear-gradient(to right, #bc90f9 0%, #6e6af8 49%, #6e6af8 51%, #57d3fa 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #bc90f9 0%,#6e6af8 49%,#6e6af8 51%,#57d3fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc90f9', endColorstr='#57d3fa',GradientType=0 );
}


/*default checkbox*/
[type="checkbox"] + label::before,
[type="checkbox"]:not(.filled-in) + label::after {	    	    
    border-radius: 100%;
    border: 2px solid #614CF9;
}	
[type="checkbox"]:checked + label:before{
	border: 2px solid #614CF9 !important;
	width: 18px;
	height: 18px;    	
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	-webkit-transform: rotate(0deg); 
    -ms-transform: rotate(0deg);
     transform: rotate(0deg); 
}
[type="checkbox"]:not(.filled-in) + label:after{
	transform: none;
}
[type="checkbox"]:checked + label:before{
	border: 2px solid #614CF9 !important;
}
[type="checkbox"]:checked + label:after {
    background-color: #614CF9 !important;	    
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
	height: 10px; 	    
    border: 2px solid #fff;	    
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}
/*jet css for profile label*/
@media only screen and (min-width: 882px){
	#desc-label{
		vertical-align: middle;		
		margin-top: -250px;
	}
}

