
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Respond</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item"><a href="">Inqueries</a></li>
            <li class="breadcrumb-item active">Respond</li>          
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        &nbsp;
    </div>
</div>

<div class="row" calendar>
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">                
                <div class="row">                    
                    <div class="col-xlg-10 col-lg-8 col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">Respond to Applicant</h3>
                            <div class="form-group">
                                <input class="form-control" ng-model="fullname" placeholder="To:" disabled="true">
                            </div>
                            <div class="form-group">
                                <input class="form-control" ng-model="subject" placeholder="Subject:">
                            </div>
                            <div class="form-group">
                                <textarea class="textarea_editor form-control" ng-model="message" rows="8" placeholder="Enter text ..."></textarea>
                            </div>
                            <h4><i class="ti-link"></i> Attachment</h4>
                            <form action="#" class="dropzone">
                                <div class="fallback">
                                    <input name="file[]" type="file" onchange="angular.element(this).scope().fileChanged(this)" multiple/>
                                </div>
                            </form>
                            <button type="submit" class="btn btn-success m-t-20" ng-click="appResponse()">
                                <i class="fa fa-envelope-o"></i> Send
                            </button>
                            <button class="btn btn-inverse m-t-20"><i class="fa fa-times"></i> Discard</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>