

<style type="text/css">
    #tb-messages{
        overflow-x: hidden;
        height: 500px;
        overflow-y: auto;
    }
</style>
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Posting Settings</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active">Posting Settings</li>			
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
    	&nbsp;
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Posting Plan</h4>
                <br>
                <div class="form-group">
                    <input class="chk chk-col-blue" id="free" type="checkbox">
                    <label for="free" id="checkbox33" chkboxposting>Activate Free Posting</label>
                </div>
                <div class="form-group">
                    <input class="chk chk-col-blue" id="packages" type="checkbox">
                    <label for="packages" id="checkbox33" chkboxposting>Activate Packages</label>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-lg btn-primary">Save Settings</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Messages</h4>
                <div class="table-responsive table-striped table-bordered" id="tb-messages">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Message</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="message in messages">
                                <td>{{ message.name }}</td>
                                <td>{{ message.email }}</td>
                                <td>{{ message.message }}</td>
                                <td class="text-center">
                                    <button class="btn btn-info">view</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>