<style type="text/css">
    .chat-rbox{
        overflow-x: hidden;
    }
    .chat-list li .chat-content .box {
        display: inline-block;
        margin-bottom: 10px;
        white-space: pre-line !important;
        word-wrap: break-word !important;
        text-align: left;
        color: #263238;
    }
    .box-odd, .box-even{        
        width: auto;
        max-width: 75%;
        border: 1px solid #e1e1e1;
    }
    .chat-left-inner{
        position: relative;
    }
    .search-contacts{
        display: block;
        position: absolute;        
    }
    .contact-search-ul{
        padding: 0;
        width: 100%;
    }
    .contact-search-ul, .contact-search-ul li{
        cursor: pointer;
    }
    .search-contact-img{
        width: 50px;
        height: 50px;        
        display: inline-block;
    }
    .search-contact-email{
        display: inline-block;        
        width: calc( 100% - 60px );                
        overflow: hidden;
        text-overflow: ellipsis;        
        cursor: pointer;
        vertical-align: middle;
    }
</style>
<div class="row page-titles">
<div class="col-md-5 col-8 align-self-center">
<h3 class="text-themecolor">Chat</h3>
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="">Home</a></li>
<li class="breadcrumb-item active">Chat</li>           
</ol>
</div>
<div class="col-md-7 col-4 align-self-center">
&nbsp;
</div>
</div>



<div class="row" style="margin-bottom: 50px" laravel-echo>
    <div class="col-12">
        <div class="card m-b-0">
            <!-- .chat-row -->
            <div class="chat-main-box">
                <!-- .chat-left-panel -->
                <div class="chat-left-aside">
                    <div class="open-panel"><i class="ti-angle-right"></i></div>
                    <div class="chat-left-inner">
                        <div class="form-material">
                            <input class="form-control p-20" style="padding: 20px" type="text" placeholder="Search Contact" search-contacts ng-model = "searchKey">
                                <div class="search-contacts" ng-show="search_contacts.length > 0">
                                    <ul class="contact-search-ul">
                                        <li ng-click="selectUserFromSearch(search_contact.userID)" ng-repeat = "search_contact in search_contacts">
                                            <img src="{{search_contact.image_path || '/public/images/default.png'}}" class="img img-circle search-contact-img">
                                            <div class="search-contact-email"><span>{{search_contact.user.email}}</span></div> 
                                        </li>
                                    </ul>
                                </div>
                        </div>


                        <ul class="chatonline style-none" >
                            <li class="pointer"  ng-repeat = "conversation in conversations">
                                <a ng-click="openConvo(conversation.id)"><img src="{{conversation['profile']['image_path'] || '/public/images/default.png'}} " alt="user-img" class="img-circle"> <span>{{conversation["profile"]["name"] == '' ? conversation["users"]["email"] : conversation["profile"]["name"]}} <small class="text-success">online</small></span></a>
                         
                            </li>
                        </ul>


                    </div>
                </div>
                <!-- .chat-left-panel -->
                <!-- .chat-right-panel -->
                <div class="chat-right-aside">
                    <div class="chat-main-header">
                        <div class="p-20 b-b">
                            <h3 class="box-title">Chat Message</h3>
                        </div>
                    </div>
                    <div class="chat-rbox">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="chat-list p-20">                         
                                    <!--chat Row -->
                                    <li   class="chat-li-content" ng-class = "{'reverse' : message.user_id == getUser('id')}" ng-repeat = "message in selected_convo.messages">
                                        
                                        <div ng-show="message.user_id == getUser('id')">
                                            <div class="chat-time">{{message.date_sent}}</div>
                                            <div class="chat-content">
                                                <h5>{{message.name}} ODD</h5>
                                                <div class="box box-even bg-light-inverse col-md-12">{{message.message}}</div>
                                            </div>
                                            <div class="chat-img"><img src="{{message.image_path}}" style="width: 40px;height: 40px" alt="user" /></div>
                                        </div>


                                        

                                        <div ng-show="message.user_id != getUser('id')">
                                            <div class="chat-img"><img src="{{message.image_path}}" alt="user" /></div>
                                            <div class="chat-content">
                                                <h5>{{message.name}}</h5>
                                                <div class="box box-odd bg-light-success">{{message.message}}</div>
                                            </div>
                                            <div class="chat-time">{{message.date_sent}}</div>
                                        </div>

                                    </li>

                                    <li class="reverse" ng-show="sending.status" style="opacity: 0.5">
                                        <div >
                                            <div class="chat-time">1 sec ago</div>
                                            <div class="chat-content">
                                                <h5>{{sending.name}}</h5>
                                                <div class="box bg-light-inverse">{{sending.message}}</div>
                                            </div>
                                            <div class="chat-img"><img src="{{getUserProfile('image_path')}}" style="width: 40px;height: 40px" alt="user" /></div>
                                        </div>
                                    </li>

                                    <!--chat Row -->
                                </ul>
                            </div>
                        </div>                        
                    </div>
                    <div class="card-block b-t">
                        <div class="row">
                            <div class="col-8">
                                <textarea enter-chat ng-model="chat.current_message" placeholder="Type your message here" class="form-control b-0"></textarea>
                            </div>
                            <div class="col-4 text-right">
                                <button ng-disabled = "selected_convo == ''" type="button" ng-click="sendMessage()" class="btn btn-info btn-circle btn-lg"><i class="fa fa-paper-plane-o"></i> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .chat-right-panel -->
            </div>
            <!-- /.chat-row -->
        </div>
    </div>
</div>