.fontPoppins{font-family: 'Poppins', sans-serif;}	
.fontMuli{font-family: 'Muli', sans-serif;}
.page-main-wrapper{ width:auto; padding:0px; margin:0px; display:block; font-family: 'Poppins', sans-serif; color:#000000;}
.headermenu-wrap{width:auto; height:auto; border-bottom:1px solid #F4F4F4; padding-bottom:10px;}
	.headermenu-wrap .row-menu{ padding:10px 45px 10px 45px;}
	ul.topmenu{ padding:0px; margin:0px; list-style-type: none; list-style-position: inside; font-size:14px; font-weight:400; display:inline;}
	ul.topmenu li{padding:0px; margin:0px; display:inline;}
		ul.topmenu li.logo{}
		ul.topmenu li a{ color:#000000; text-decoration:none; display:inline; padding:20px;}
		ul.topmenu li a:hover{ color:#9370DB; text-decoration:none; border-top:3px solid #9370DB;}
		ul.topmenu li.current a{ color:#9370DB; text-decoration:none; display:inline; padding:20px; border-top:3px solid #9370DB;}
		ul.topmenu li.current a:hover{ color:#9370DB; text-decoration:none; border-top:3px solid #9370DB;}
	
.page-title{ font-size:40px; font-family: 'Poppins', sans-serif; font-weight:800; padding:30px 0px 30px 20%; line-height:normal;}
.searchform-wrap{ width:auto; border-bottom:1px solid #F4F4F4; height:auto;}
	.searchform-wrap .row-form{width:auto; padding:10px 5% 5px 5%;}
	.searchform-wrap .sTitle{ font-size:16px; font-weight:600; text-align:right;}
	.searchform-wrap .fieldswrap{ height:30px; border-left:2px solid #00CED1; width:auto; padding-left:10px;}
	ul.searchflds{padding:0px; margin:0px; list-style-type: none; list-style-position: inside; font-size:14px; font-weight:600; display:inline;}
	ul.searchflds li{ padding:0px; margin:0px 0px 0px 20px; display:inline; text-align:left;}
	ul.searchflds li select{ margin:0px; padding:0px 40px 0px 0px; border:none; color:#000000; font-size:14px; font-weight:600; text-align:left;}
	ul.searchflds li select:first-child, select#f {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: transparent url("../jobs-img/icon-select-arrow.jpg") no-repeat right center;
		left: -5px!important;}
	
.jobcount-wrap{ padding:32px 0px 0px 15%; text-align:left; font-size:20px; font-weight:600; line-height:normal;}
.clearFix{ clear:both;}

.page-container{ width:auto; padding:10px 8% 20px 8%;}

.card-job-box{border-color: #d7dfe3; border-radius: 10px !important; 
				-webkit-box-shadow: 0px 5px 20px rgba(50, 184, 219, 0.4) !important; 
				box-shadow: 0px 5px 20px rgba(50, 184, 219, 0.4) !important;  
				}
.card-job-box:hover{-webkit-box-shadow: 0px 5px 20px rgba(50, 184, 219, 0.8) !important; 
				box-shadow: 0px 5px 20px rgba(50, 184, 219, 0.8) !important; }					

.card-job-box {					
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #fff;
	margin-bottom: 30px;
}				
									
.card-pos-container{ position:relative;}
.card-head-box{height:180px; width:auto; background: #B3B3B3; border-top-left-radius: 10px !important; border-top-right-radius: 10px !important;}
.card-head-box-featured{height:180px; width:auto; background:url(../jobs-img/bg-gradient.jpg) repeat-x center bottom #32C6D2; border-top-left-radius: 10px !important; border-top-right-radius: 10px !important;}
.card-pos-splash{position: absolute; top:0px; left:0px; }
.card-pos-logo{position: absolute;	left: 0; top: 35%; width: 100%; text-align: center;}
.card-pos-icons{ position: absolute; bottom: -20px; right: 15px;}
	.card-pos-icons img{cursor:pointer;}
	.card-pos-icons .job-icon{ background-color:#00B9FF; border-color:#00B9FF; color:#FFFFFF; font-size:large; line-height:normal;}
	.card-pos-icons .job-icon:hover{-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; 
									box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; }
	.card-pos-icons .job-icon-featured{ background-color:#32DAC3; border-color:#32DAC3; color:#FFFFFF; font-size:large; line-height:normal;}
	.card-pos-icons .job-icon-featured:hover{-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; 
									box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; }																

.job-text-wrap{ padding:30px 30px 30px 30px; color:#333333; font-family: 'Poppins', sans-serif; font-weight:400;}					
	.job-text-wrap .nID{ color:#32DAC3;}
	.job-text-wrap .sTitle{ padding-top:24px; font-weight:600; color:#44CCFF; line-height:22px;}
	.job-text-wrap .sTitle .text{min-height:80px; max-height:80px; overflow:hidden;}	
	.job-text-wrap .sAddress{ padding-top:10px; padding-bottom:10px;}
	.job-text-wrap .sAddress small{color:#999999;}
	
.bnt-job{background:#00B9FF; border-color:#00B9FF; color:#FFFFFF; padding:7px 20px 7px 20px;}								

.bnt-job:hover{-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; 
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important; }	


.row-job{ width:auto;}
.col-lg-job{ width:auto;}	
.card-pos-logo img{width:88%;}

/*FOOTER*/
.marginTop10{margin-top:10px;}
.marginTop20{margin-top:20px;}
.marginTop30{margin-top:30px;}

.page-footer-wrap{ border-top:1px solid #F4F4F4; height:auto;}
.footerwrapper{ width:1200px; height:auto; margin:48px auto 0 auto; text-align:left;}
	.footerwrapper .num-text{ font-size:14px; font-weight:600;}
	.footerwrapper .num-text span{font-size:24px; color:#544CF9;}

	.footerwrapper h2{ padding:0px; margin:0; font-size:18px; font-weight:400; line-height:normal; color:#000000;}	
	.footerwrapper h3{padding:0px; margin:0; font-size:14px; font-weight:300; line-height:normal; color:#7D7D7D;}	
	.footerwrapper .btn-info{background: #544CF9; border: 1px solid #544CF9;}	
	.footerwrapper .btn-secondary{ font-size:12px; border:none; font-family: 'Poppins', sans-serif; font-weight:300}
	.footerwrapper .copyright{ padding-top:20px; font-size:14px; color:#9FA4AF;}
	.footerwrapper .copyright span{ color:#544CF9;}
	
	ul.footerlinks{ padding:0px; margin:0px; list-style-type: none; list-style-position: inside; font-size:14px; font-weight:400; display:inline;}
		ul.footerlinks li{padding:0px; margin:10px 0px 0px 0px; display:block;}
		ul.footerlinks li a{ color:#7D7D7D; text-decoration:none;}
		ul.footerlinks li a:hover{ color:#544CF9; text-decoration:none;}
			ul.footerlinks li.current{padding-left:20px;}	
			ul.footerlinks li.current a{ color:#544CF9; text-decoration:none;}
			ul.footerlinks li.current a:hover{ color:#544CF9; text-decoration:none;}
	
	ul.footerlinksbtm{ padding:0px; margin:0px; list-style-type: none; list-style-position: inside; font-size:14px; font-weight:400; display:inline;}
		ul.footerlinksbtm li{padding:0px; margin:0px 20px 0px 0px; display:inline;}
		ul.footerlinksbtm li a{ color:#000000; text-decoration:none;}
		ul.footerlinksbtm li a:hover{ color:#544CF9; text-decoration:none;}
/*END-FOOTER*/


/* Large screen and wider */
@media (min-width: 1370px) {
	.col-lg-job{ width:360px; max-width:360px;}
	.row-job{margin:0 auto 0 auto; width:1380px;}		
	
	.card-pos-logo img{width:88%;}						
}
	

/* Medium Devices Styles Starts */
@media (min-width: 992px) and (max-width: 1199px) {
	
	
	.card-pos-logo img{width:88%;}
}

/* Small Devices Styles Starts */
@media (min-width: 768px) and (max-width: 991px) {
	
}

	
/* Extra Small Devices Styles Starts */
@media (max-width: 767px) {
	
	
}

/* Extremely Small Devices Styles Starts */
@media (max-width: 478px) {
	
}