<style type="text/css">
    .card-box-new {
        padding-top: 35px !important;
    }
    .slider-form{
        background: #fff;
    }
    .jobsidebar-wrap .btn-btn2, .jobsidebar-wrap .btn-updatejob{
        width: 85%;
        border-radius: 20px;
        color: #000;
        padding: 10px 60px 10px 60px;
        display: block;
        margin: 0 auto 0 auto;
        font-family: 'Open Sans', sans-serif;
    }
    .jobsidebar-wrap .btn-updatejob{
        margin-bottom: 10px;
        color: #fff;
        background: #5B4CF9 !important;
    }
    .jobsidebar-wrap .btn-btn2:first-child{
        background: #5B4CF9 !important;
    } 
    .jobsidebar-wrap .btn-btn2:not(:last-child){
        margin-bottom: 8px;
    }
    #errortable{
        font-size: 12px;
    }
    #errorcontent{
        max-height: 400px;
        overflow-y: auto; 
    }
    #ui-datepicker-div{
        margin-top: 5px;
        background: #fff;
        border: 1px solid #efefef;
        border-radius: 20px;
        padding: 10px;
    }
    .ui-datepicker-header{
        padding: 5px;
    }
    .ui-datepicker-prev,.ui-datepicker-next{
        border: 1px solid #efefef;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 30px;
        cursor: pointer;
        background: #efefef;
    }
    .ui-datepicker-next{        
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .ui-datepicker-title{
        margin-top: 10px;
    }
</style>

<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Manage Jobs</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active">Manage Jobs</li>			
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
    	&nbsp;
    </div>
</div>


<div class="col-md-12 col-xl-12">
    <div class="card" style="margin-bottom: 100px">
    	<div class="card-block">
			<div class="table-responsive small">
				<div class="col-md-3">
                    <div class="demo-switch-title">Free Posting</div>
                    <div class="switch">
                        <label>
                            <input type="checkbox" checked free-posting><span class="lever switch-col-purple"></span>
                        </label>
                    </div>
                </div>
				<table class="table table-bordered table-hover " datatable="ng">
					<thead>
						<tr>
							<th>Ref #</th>
							<th>Job Description</th>
							<th>Company</th>
							<th>Duration</th>
							<th>State</th>
							<th>City</th>
							<th>Job Type</th>	
							<th>Job Status</th>					
							<th>Posted By</th>													
							<th>Date Posted</th>				
							<th width="12%">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-cloak show-slider="{{$index}}" data-value="{{ job.id }}" data-id="{{ job.jobTitle }}" id_target = "slider-form" ng-repeat = "job in jobs track by $index">
							<td ng-bind = "job.id"></td>
							<td ng-bind = "job.ei_jobDescription  | limitTo : 30"></td>
							<td ng-bind = "job.ci_company"></td>
							<td ng-bind = "job.ei_durPosition"></td>
							<td ng-bind = "job.ei_facilityState"></td>
							<td ng-bind = "job.ei_facilityCity"></td>
							<td>Anesthesiologist</td>
							<td>
							<a ui-sref="manage_preview_job({job_id : job.id})"><button class="btn btn-xs " ng-class="{'btn-success' : job.post_status == 'active' , 'btn-danger' : job.post_status == 'awaiting_activation'}">{{job.post_status == 'active' ? 'Active' : 'Awaiting Activation'}}</button></a>
							</td>
							<td>John Doe</td>				
							<td ng-bind = "job.created_at"></td> 
							<td>
							<a ui-sref="manage_edit_job({job_id : job.id})"><button type="button" class="btn btn-warning btn-xs">Edit</button></a> 				
							<button type="button" class="btn btn-danger btn-xs">Delete</button>
							</td>	
						</tr>
					</tbody>
				</table>
			</div>

		</div>	
	</div>
</div>

<div class="slider-form-overlay hidden"></div>

<div class="slider-form" id="slider-form">
    <div class="slider-form-close hidden pointer">
        <i class="mdi mdi-close"></i>
    </div>

    <div class="col-md-12 nopadding" >
        <div class="row" >
            <div class="card-block nopadding">            

                <section id="wrapper" class=" noborder" custom-scrollbar>
                      <div class="no-border-radius job-descwrap" >
                        <div class="job-block-wrap">
                          <div class="job-header">
                             <div class="sleft"><a href="/browse-jobs/{{jobs[selected_index].jobPostType | stringJobType}}"><i class="mdi mdi-chevron-left"></i> Back to job list</a></div>
                             <div class="sright"><a href="/browse-jobs/{{jobs[selected_index].jobPostType | stringJobType}}" target="_blank">Open posting in a new window <i class="mdi mdi-open-in-new"></i> </a></div>
                          </div>
                          <div class="jobbody-wrap"><!--jobbody-wrap-->

                            <div class="jobdata-wrap">
                            
                              <div class="containerwrap">   
                            
                                <div class="printBtn"><button type="button" ng-click="openPdf(jobs[selected_index].id)"; return false;" class="btn btn-small">Convert to PDF for printing</button></div>
                            
                                <div class="nID">JOB ID: {{jobs[selected_index].id}}</div>
                            
                                <div class="sTitle">{{jobs[selected_index].jobTitle}}</div>
                            
                                <div class="address"><i class="mdi mdi-map-marker"></i>


                                    {{jobs[selected_index].ei_facilityCity}}, {{jobs[selected_index].ei_facilityState}} 

                                    {{jobs[selected_index].ei_durPosition}} <!-- Salary: <span class="text-blue-light">{{jobs[selected_index].ei_durMin | stringReplace}} - {{jobs[selected_index].ei_durMax | stringReplace}}</span> --></div>
                            
                                <div class="datedviews">
                            
                                    <div class="left-slider">
                            
                                        <i class="fa fa-calendar text-blue"></i> Post Date:  <span class="text-blue text-bold">{{jobs[selected_index].created_date}}</span> &nbsp; &nbsp; &nbsp;
                            
                                        <i class="fa fa-clock-o text-blue"></i> Updated:  <span class="text-blue text-bold">{{jobs[selected_index].updated_date}}</span> 
                            
                                    </div>
                                    <div class="clearFix"></div>
                                </div>
                            
                                <div>&nbsp;</div>
                            
                                <div class="body-title">Job Description</div>
                            
                                <div class="body-text" ng-bind-html="jobs[selected_index].ei_jobDescription | to_trusted">
                                    
                                </div>          
                            
                                
                            
                                <div class="body-title">Job Details</div>
                            
                                <div class="row job-details">
                            
                                  <div class="col-12">
                                    <div ng-hide="jobs[selected_index].facilityName == undefined || jobs[selected_index].facilityName == ''" class="col-4 float-left field-preview">
                                        <div class="key">FACILITY NAME</div>
                            
                                        <div class="value">Facility name</div>              
                                    </div>    
                            
                                    <div ng-hide="jobs[selected_index].facilityName == undefined || jobs[selected_index].facilityName == ''" class="col-4 float-left field-preview">
                                        <div class="key">JOB START DATE</div>
                            
                                        <div class="value">Specified start date</div>
                                    </div>    
                                  
                                    <div ng-hide="jobs[selected_index].ei_durMin == undefined || jobs[selected_index].ei_durMin == ''" class="col-4 float-left field-preview">
                                        <div class="key">SALARY RANGE</div>
                            
                                        <div class="value">{{jobs[selected_index].ei_durMin}} - {{jobs[selected_index].ei_durMax}}</div>                
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].ei_facilityCity == undefined || jobs[selected_index].ei_facilityCity == ''" class="col-4 float-left field-preview">
                                        <div class="key">FACILITY LOCATION</div>
                            
                                        <div class="value">{{jobs[selected_index].ei_facilityCity}}, {{jobs[selected_index].ei_facilityState}}</div>    
                                    </div>                
                            
                                    
                                    <div ng-hide="jobs[selected_index].ei_ansFirstCall == undefined || jobs[selected_index].ei_ansFirstCall == ''" class="col-4 float-left field-preview">
                                        <div class="key">CRNA ON FIRST CALL?</div>
                            
                                        <div class="value">{{jobs[selected_index].ei_ansFirstCall}}</div>
                                    </div>   
                                 
                            
                                    <div ng-hide="jobs[selected_index].left == undefined || jobs[selected_index].left == ''" class="col-4 float-left field-preview">
                                        <div class="key">CONTACT WEBSITE
                                        </div>
                            
                                        <div class="value">{{jobs[selected_index].ag_webSite}}</div>
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].facilityName == undefined || jobs[selected_index].facilityName == ''" class="col-4 float-left field-preview">
                                        <div class="key">FACILITY ADDRESS</div>
                                        <div class="value">Street address, zip code</div>
                                    </div>               
                            
                                    
                                    <div ng-hide="jobs[selected_index].ei_empStatus == undefined || jobs[selected_index].ei_empStatus == ''" class="col-4 float-left field-preview">
                                        <div class="key">EMPLOYMENT TYPE</div>
                                        <div class="value">{{jobs[selected_index].ei_empStatus}}</div>
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].ci_email == undefined || jobs[selected_index].ci_email == ''" class="col-4 float-left field-preview">
                                        <div class="key">CONTACT EMAIL</div>
                                        <div class="value">{{jobs[selected_index].ci_email}}</div>
                                    </div>
                            
                            
                            
                                    <div ng-hide="jobs[selected_index].ei_ansMedDirecting == undefined || jobs[selected_index].ei_ansMedDirecting == ''" class="col-4 float-left field-preview">
                                        <div class="key">Medically Directing</div>
                                        <div class="value">{{jobs[selected_index].ei_ansMedDirecting}}</div>
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].jr_fellowshipReq == undefined || jobs[selected_index].jr_fellowshipReq == ''" class="col-4 float-left field-preview">
                                        <div class="key">Subspecialty Fellowship</div>
                                        <div class="value">{{jobs[selected_index].jr_fellowshipReq}}</div>
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].jr_stateLicense == undefined || jobs[selected_index].jr_stateLicense == ''" class="col-4 float-left field-preview">
                                        <div class="key">State License</div>
                                        <div class="value">{{jobs[selected_index].jr_stateLicense}}</div>
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].jr_abaCertStatus == undefined || jobs[selected_index].jr_abaCertStatus == ''" class="col-4 float-left field-preview">
                                        <div class="key">ABA Certification Status</div>
                                        <div class="value">{{jobs[selected_index].jr_abaCertStatus}}</div>
                                    </div>
                            
                            
                            
                                    <div ng-show="jobs[selected_index].current_acls != '' || jobs[selected_index].aba_pain_management != '' || jobs[selected_index].aba_critical_care != ''" class="col-4 float-left field-preview">
                                        <div class="key">Required for this job</div>
                                        <div class="value">
                                            {{jobs[selected_index].current_acls == 'true' ? 'Current ACLS card' : ''}}
                                            <br ng-if="jobs[selected_index].current_acls == 'true'">
                                            {{jobs[selected_index].current_pals == 'true' ? 'Current PALS card' : ''}}
                                            <br ng-if="jobs[selected_index].current_pals == 'true'">
                                            {{jobs[selected_index].aba_pain_management == 'true' ? 'ABA Certification in Pain Management' : ''}}
                                            <br ng-if="jobs[selected_index].aba_pain_management == 'true'">
                                            {{jobs[selected_index].aba_critical_care == 'true' ? 'ABA Certification in Critical Care Management' : ''}}                                            
                                        </div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].fi_nameAns == undefined || jobs[selected_index].fi_nameAns == ''" class="col-4 float-left field-preview">
                                        <div class="key">Name of Anesthesiologist who is Group President and years with group</div>
                                        <div class="value">{{jobs[selected_index].fi_nameAns}}</div>
                                    </div>                                                                
                            
                                    <div ng-hide="jobs[selected_index].jr_newGraduates == undefined || jobs[selected_index].jr_newGraduates == ''" class="col-4 float-left field-preview">
                                        <div class="key">New Graduates Acceptable?</div>
                                        <div class="value">{{jobs[selected_index].jr_newGraduates}}</div>
                                    </div>
                            
                            
                                    
                            
                                    <div ng-hide="jobs[selected_index].si_SignonBonus == undefined || jobs[selected_index].si_SignonBonus == ''" class="col-4 float-left field-preview">
                                        <div class="key">Sign-on Bonus commitment</div>
                                        <div class="value">{{jobs[selected_index].si_SignonBonus}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].fi_nameAssistant == undefined || jobs[selected_index].fi_nameAssistant == ''" class="col-4 float-left field-preview">
                                        <div class="key">Name of Anesthesiologist Assistant(s)</div>
                                        <div class="value">{{jobs[selected_index].fi_nameAssistant}}</div>
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].si_PaidLeave == undefined || jobs[selected_index].si_PaidLeave == ''" class="col-4 float-left field-preview">
                                        <div class="key">Paid Educational Leave</div>
                                        <div class="value">{{jobs[selected_index].si_PaidLeave}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].si_PaidVacation == undefined || jobs[selected_index].si_PaidVacation == ''" class="col-4 float-left field-preview">
                                        <div class="key">Paid Vacation</div>
                                        <div class="value">{{jobs[selected_index].si_PaidVacation}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].ag_name == undefined || jobs[selected_index].ag_name == ''" class="col-4 float-left field-preview">
                                        <div class="key">Anesthesia Group Name</div>
                                        <div class="value">{{jobs[selected_index].ag_name}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].ag_webSite == undefined || jobs[selected_index].ag_webSite == ''" class="col-4 float-left field-preview">
                                        <div class="key">Anesthesia Group Web Site</div>
                                        <div class="value">{{jobs[selected_index].ag_webSite}}</div>
                                    </div>
                            
                            
                            
                                    <div ng-hide="jobs[selected_index].ag_haveContract == undefined || jobs[selected_index].ag_haveContract == ''" class="col-4 float-left field-preview">
                                        <div class="key">Anesthesia Group Exclusive Contract</div>
                                        <div class="value">{{jobs[selected_index].ag_haveContract}}</div>
                                    </div>
                            
                            
                                    
                            
                                    <div ng-hide="jobs[selected_index].fi_nameCRNA == undefined || jobs[selected_index].fi_nameCRNA == ''" class="col-4 float-left field-preview">
                                        <div class="key">Name of Chief CRNA</div>
                                        <div class="value">{{jobs[selected_index].fi_nameCRNA}}</div>
                                    </div>
                            
                            
                                    
                            
                            
                                    
                            
                                    <div ng-hide="jobs[selected_index].fi_isFederalJob == undefined || jobs[selected_index].fi_isFederalJob == ''" class="col-4 float-left field-preview">
                                        <div class="key">Federal Government job?</div>
                                        <div class="value">{{jobs[selected_index].fi_isFederalJob}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].ci_jobID == undefined || jobs[selected_index].ci_jobID == ''" class="col-4 float-left field-preview">
                                        <div class="key">Company internal Job ID</div>
                                        <div class="value">{{jobs[selected_index].ci_jobID}}</div>
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].ci_name == undefined || jobs[selected_index].ci_name == ''" class="col-4 float-left field-preview">
                                        <div class="key">Contact Name</div>
                                        <div class="value">{{jobs[selected_index].ci_name}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].ci_email == undefined || jobs[selected_index].ci_email == ''" class="col-4 float-left field-preview">
                                        <div class="key">Contact Email</div>
                                        <div class="value">{{jobs[selected_index].ci_email}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].ci_address1 == undefined || jobs[selected_index].ci_address1 == ''" class="col-4 float-left field-preview">
                                        <div class="key">Contact Street Address 1</div>
                                        <div class="value">{{jobs[selected_index].ci_address1}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].ci_address2 == undefined || jobs[selected_index].ci_address2 == ''" class="col-4 float-left field-preview">
                                        <div class="key">Contact Street Address 2</div>
                                        <div class="value">{{jobs[selected_index].ci_address2}}</div>
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].ci_city == undefined || jobs[selected_index].ci_city == ''" class="col-4 float-left field-preview">
                                        <div class="key">Contact City</div>
                                        <div class="value">{{jobs[selected_index].ei_facilityCity}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].ci_state == undefined || jobs[selected_index].ci_state == ''" class="col-4 float-left field-preview">
                                        <div class="key">Contact State</div>
                                        <div class="value">{{jobs[selected_index].ei_facilityState}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].ci_zipcode == undefined || jobs[selected_index].ci_zipcode == ''" class="col-4 float-left field-preview">
                                        <div class="key">Contact Zip Code</div>
                                        <div class="value">{{jobs[selected_index].ci_zipcode}}</div>
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].ci_phone == undefined || jobs[selected_index].ci_phone == ''" class="col-4 float-left field-preview">
                                        <div class="key">Contact Voice Phone</div>
                                        <div class="value">{{jobs[selected_index].ci_phone}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].ci_fax == undefined || jobs[selected_index].ci_fax == ''" class="col-4 float-left field-preview">
                                        <div class="key">Contact Fax</div>
                                        <div class="value">{{jobs[selected_index].ci_fax}}</div>
                                    </div>
                            
                            
                            
                                    <div ng-hide="jobs[selected_index].ci_website == undefined || jobs[selected_index].ci_website == ''" class="col-4 float-left field-preview">
                                        <div class="key">Contact Web Site</div>
                                        <div class="value">{{jobs[selected_index].ci_website}}</div>
                                    </div>
                            
                            
                                    <div ng-hide="jobs[selected_index].ci_prefMethod == undefined || jobs[selected_index].ci_prefMethod == ''" class="col-4 float-left field-preview">
                                        <div class="key">Preferred Contact Method</div>
                                        <div class="value">{{jobs[selected_index].ci_prefMethod}}</div>
                                    </div>
                            
                                    <div ng-hide="jobs[selected_index].fi_isPracLimited == undefined || jobs[selected_index].fi_isPracLimited == ''" class="col-4 float-left field-preview">
                                        <div class="key">Is practice limited to Hospital, Surgery Center and Office Based Anesthesia?</div>
                                        <div class="value">{{jobs[selected_index].fi_isPracLimited}}</div>
                                    </div>

                                  </div>
                            
                                </div> 
                            
                                <div class="clearFix">&nbsp;</div>
                            
                                
                            
                                <div ng-show="showCases(jobs[selected_index])" class="body-title">Additional information</div>
                            
                                <div ng-show="showCases(jobs[selected_index])" class="text-gray">EXAMPLE OF QUESTION WITH MULTIPLE ANSWERS</div>
                            
                                <div class="add-info-btnswrap">
                            
                                    <button type="button" ng-show="showIfValidService(jobs[selected_index].cases.major_vascular_anesthesia)" class="btn btn-small-gray">Major Vascular Anesthesia</button>

                                    <button type="button" ng-show="showIfValidService(jobs[selected_index].cases.chronic_pain_man)" class="btn btn-small-gray">Chronic Pain Management</button>

                                    <button type="button" ng-show="showIfValidService(jobs[selected_index].cases.cardiac_anesthesia)" class="btn btn-small-gray">Cardiac Anesthesia</button>

                                    <button type="button" ng-show="showIfValidService(jobs[selected_index].cases.critical_care_med)" class="btn btn-small-gray">Critical Care Medication</button>
                                
                                    <button type="button" ng-show="showIfValidService(jobs[selected_index].cases.neuroanesthesia)" class="btn btn-small-gray">Neuro Anesthesia</button>
                                </div>
                            
                                <div class="clearFix"></div>
                            
                                <div>&nbsp;</div>
                            
                              </div>    
                            
                            </div>
                            
                            
                            
                            <div class="jobsidebar-wrap">
                            
                                <div class="logowrap">
                                	<img class="img-circle pointer" style="width: 100px;height: 100px;" ng-src="{{jobs[selected_index].profile.image_path}}" ng-if="jobs[selected_index].profile.image_path != ''">
                                	<img class="img-circle pointer" style="width: 100px;height: 100px;" ng-src="/public/images/default.png" ng-if="jobs[selected_index].profile.image_path == ''">

                                </div>
                            	
                                <div class="companywrap mt-20" style="margin-top: 20px">
                            
                                    <div class="name">{{jobs[selected_index].profile.company_name}}</div>
                            
<!--                                     <i class="fa fa-eye text-blue"></i> <span class="text-gray">Views: 148</span>
 -->                            
                            
                                    <div class="address"><i class="mdi mdi-map-marker"></i> {{jobs[selected_index].profile.city}}, {{jobs[selected_index].profile.state}}</div>
                            
                                    <div class="url"><a href="#">{{jobs[selected_index].profile.website}}</a></div>               
                            
                                </div>        
                                
                                <button type="button" class="btn btn-btn2" ui-sref="manage_edit_job({job_id : jobs[selected_index].id})">Edit job</button>

                                <!-- <button type="button" class="btn btn-updatejob" ng-click="upgradeselectedjob(jobs[selected_index].id)">Upgrade</button>
                                <button type="button" class="btn btn-btn2" ng-click="goEditJob(jobs[selected_index].id)">Edit job</button>
                                <button type="button" callback="deactivateJob"  class="btn btn-btn2" ng-show="jobs[selected_index].post_status != 'inactive' && jobs[selected_index].post_status != 'deleted'"  ng-click="$event.stopPropagation()"  deactivate-confirm url="/jobs/deactivate/{{jobs[selected_index].id}}">Deactivate</button>
                                <button type="button" callback="reactivateJobPost"  class="btn btn-btn2" ng-show="jobs[selected_index].post_status == 'inactive'"  ng-click="$event.stopPropagation()"  reactivate-confirm url="/jobs/reactivate/{{jobs[selected_index].id}}">Reactivate</button>                                
                                <button type="button" class="btn btn-btn2" ng-click="repostselectedjob(jobs[selected_index].id)">Repost as New</button>
                                <button type="button" class="btn btn-btn2" ng-click="deleteselectedjob(jobs[selected_index].id)">Delete</button> -->

                            </div>
                            
                            
                            <div class="clearFix">&nbsp;</div>                                                    
                          </div><!--end-jobbody-wrap-->                          
                        </div>
                      </div>
                </section>                

            </div>
        </div> 
    </div>

</div>