<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Jobs List</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active">Cv List</li>			
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
    	&nbsp;
    </div>
</div>

<div class="col-md-12 nopadding">
    <div class="card" style="margin-bottom: 100px">
    	<div class="card-block">
<div class="table-responsive small">
	<table class="table table-bordered table-hover " datatable="ng">
		<thead>
			<tr>
				<th>Ref #</th>
				<th>Name</th>
				<th>Brief Description</th>
				<th>Position Desired</th>	
				<th>Licensed States</th>					
				<th>Wanted States</th>					
				<th>Updated</th>					
				<th>Date Posted</th>					
				<th>Min Locums Charge</th>
				<!-- <th>Post State</th>	
				<th>Post Status</th>				
				<th style="width: 200px;text-align: center;">Preview</th> -->
			</tr>
		</thead>
		<tbody>

			<tr ng-repeat = "cv in cv_list track by $index" class="pointer" show-slider="{{$index}}">
				<td>
					<button class="btn btn-xs btn-info" ng-bind="cv.id"></button>
				</td>
				<td ng-bind = "cv.name"></td>
				<td ng-bind = "cv.briefDesc"></td>
				<td>
					{{cv.desired_full_time == 'true' ? 'Full Time' : ''}}
					{{cv.desired_locum_tenens == 'true' ? 'Locum Tenens' : ''}}
					{{cv.desired_part_time == 'true' ? 'Part Time' : ''}}
					{{cv.desired_prn == 'true' ? 'PRN' : ''}}
					{{cv.desired_fellowship == 'true' ? 'Fellowship' : ''}}

				</td>
				<td ng-bind-html = "trustHtml(cv.licensed_states)"></td>
				<td ng-bind-html = "trustHtml(cv.wanted_states)"></td>
				<td ng-bind = "cv.updated"></td>
				<td ng-bind = "cv.posted"></td>
				<td ng-bind = "cv.locumCharge"></td>
				<!-- <td><button class="btn btn-xs" ng-class="{'btn-success' : cv.post_state == 'confirmed' , 'btn-danger' : cv.post_state == 'unconfirmed'}">{{cv.post_state == 'confirmed' ? 'Confirmed' : 'Unconfirmed'}}</button></td>
				<td></td>
				<td class="text-center" >
					<div class="" style="width: 200px">	
						<a><button ng-disabled="true" type="button" class="btn btn-info btn-xs">Preview</button></a>

						<a ui-sref="edit_cv({cv_id : cv.id})"><button type="button" class="btn btn-warning btn-xs">Edit</button></a>

						<a><button ng-disabled="true" type="button" class="btn btn-danger btn-xs">Delete</button></a>
					</div>
				</td> -->
			</tr>
		</tbody>
	</table>
</div>
</div>	
</div>
</div>



<div class="slider-form-overlay hidden"></div>
<div class="slider-form" id="slider-form">
	<div class="slider-form-close hidden pointer">
		<i class="mdi mdi-close"></i>
	</div>



	<div class="row " id="form-values">

    <div class="col-12">

        <div class="card">

        	<div class="col-md-12 header-float-button" >
        		<button ng-hide="true" class="btn btn-danger float-right">Remove</button>
				<a  ui-sref="edit_cv({cv_id : cv_list[selected_index].id})"><button style="margin-right: 5px;" class="btn btn-info float-right">Edit</button></a>
			</div>

            <div class="card-block">



				<h4 class="card-title bg-success" style="color:#FFFFFF; padding:10px;">Post Information</h4>

				<table class="table table-bordered small table-hover table-condensed">		

				<tbody>		

					<tr>

						<td width="50%">Priority Level</td>

						<td>{{cv_list[selected_index].priority_level}} Posting</td>							

					</tr>

					<tr>

						<td>Post Anonymously</td>

						<td>{{cv_list[selected_index].postAnonymously}}</td>							

					</tr>

					<tr>

						<td>Private Notes</td>

						<td ng-bind="cv_list[selected_index].privateNotes"></td>							

					</tr>		

				</tbody>

				</table>



				<h4 class="card-title bg-success" style="color:#FFFFFF; padding:10px;">Contact Information</h4>

				<table class="table table-bordered small table-hover table-condensed">		

				<tbody>			

					<tr>

						<td width="50%">Company Name</td>

						<td ng-bind="cv_list[selected_index].companyName"></td>							

					</tr>

					<tr>

						<td>Anesthesiologist's Name </td>

						<td ng-bind="cv_list[selected_index].name"></td>							

					</tr>

					<tr>

						<td>Contact Name</td>

						<td ng-bind="cv_list[selected_index].contactName"></td>							

					</tr>

					<tr>

						<td>Contact Email</td>

						<td ng-bind="cv_list[selected_index].contactEmail"></td>							

					</tr>

					<tr>

						<td>Contact Street Address 1</td>

						<td ng-bind="cv_list[selected_index].contactStreetAddressOne"></td>							

					</tr>

					<tr>

						<td>Contact Street Address 2</td>

						<td ng-bind="cv_list[selected_index].contactAddressTwo"></td>							

					</tr>

					<tr>

						<td>Contact City</td>

						<td ng-bind="cv_list[selected_index].contactCity"></td>							

					</tr>

					<tr>

						<td>Contact State</td>

						<td ng-bind="cv_list[selected_index].contactState"></td>							

					</tr>

					<tr>

						<td>Contact Zip Code</td>

						<td ng-bind="cv_list[selected_index].contactZip"></td>							

					</tr>

					<tr>

						<td>Contact Country</td>

						<td  ng-bind="cv_list[selected_index].ci_country"></td>							

					</tr>

					<tr>

						<td>Contact Voice Phone</td>

						<td  ng-bind="cv_list[selected_index].contactVoicePhone"></td>							

					</tr>

					<tr>

						<td>Contact Fax</td>

						<td  ng-bind="cv_list[selected_index].contactFax"></td>							

					</tr>

					<tr>

						<td>Contact Web Site</td>

						<td  ng-bind="cv_list[selected_index].contactWebSite"></td>							

					</tr>

					<tr>

						<td>Preferred Contact Method</td>

						<td ng-bind="cv_list[selected_index].contactOptionStr"></td>							

					</tr>		

				</tbody>

				</table>



				<h4 class="card-title bg-success" style="color:#FFFFFF; padding:10px;">Position Desired</h4>

				<table class="table table-bordered small table-hover table-condensed">		

				<tbody>			

					<tr>

						<td width="50%">Brief description that uniquely describes the candidate </td>

						<td ng-bind="cv_list[selected_index].briefDesc"></td>							

					</tr>

					<tr>

						<td>States where you want to work</td>

						<td ng-bind-html = "trustHtml(cv_list[selected_index].wanted_states)"></td>							

					</tr>

					<tr>

						<td>Position Durations you would consider</td>

						<td>
							{{cv_list[selected_index].desired_full_time == 'true' ? 'Full Time,' : ''}}
							{{cv_list[selected_index].desired_locum_tenens == 'true' ? 'Locum Tenens,' : ''}}
							{{cv_list[selected_index].desired_part_time == 'true' ? 'Part Time,' : ''}}
							{{cv_list[selected_index].desired_prn == 'true' ? 'PRN,' : ''}}
							{{cv_list[selected_index].desired_fellowship == 'true' ? 'Fellowship' : ''}}

						</td>							

					</tr>

					<tr>

						<td>Date Available</td>

						<td ng-bind="cv_list[selected_index].datatable"></td>							

					</tr>

					<tr>

						<td>If Locum Tenens, to what end date can Anesthesiologist work?</td>

						<td ng-bind="cv_list[selected_index].locumTenensEndDate"></td>							

					</tr>

					<tr>

						<td>If Locum Tenens, what is the anesthesiologist's minimum daily charge?</td>

						<td ng-bind="cv_list[selected_index].locumCharge"></td>							

					</tr>	

				</tbody>

				</table>



				<h4 class="card-title bg-success" style="color:#FFFFFF; padding:10px;">Qualifications</h4>

				<table class="table table-bordered small table-hover table-condensed">		

				<tbody>		

					<tr>

						<td width="50%">Check which Life Support cards you currently have</td>

						<td>
							{{cv_list[selected_index].lifeSupportCards_acls == '1' ? 'ACLS' :''}}
							<br>
							{{cv_list[selected_index].lifeSupportCards_pals == '1' ? 'PALS' : ''}}
						</td>							

					</tr>		

				</tbody>

				</table>



				<h4 class="card-title bg-success" style="color:#FFFFFF; padding:10px;">Position Desired</h4>

				<table class="table table-bordered small table-hover table-condensed">		

				<tbody>			

					<tr>

						<td width="50%">Does Anesthesiologist want a Director of Department position?</td>

						<td></td>							

					</tr>

					<tr>

						<td>Does Anesthesiologist want a job that leads to partnership?</td>

						<td ng-bind="cv_list[selected_index].anesDirector"></td>							

					</tr>

					<tr>

						<td>How often the Anesthesiologist wants to do the following:</td>

						<td ></td>							

					</tr>

					<tr>

						<td>Does Anesthesiologist have ABA Certification in Pain Management?</td>

						<td ng-bind="cv_list[selected_index].jr_abaCertPain"></td>							

					</tr>

					<tr>

						<td>Does Anesthesiologist have ABA Certification in Critical Care Management?</td>

						<td ng-bind="cv_list[selected_index].jr_abaCertCrit"></td>							

					</tr>

					<tr>

						<td>How often Does the Anesthesiologist want to be on call?</td>

						<td ng-bind="cv_list[selected_index].ansFirstCall"></td>							

					</tr>

					<tr>

						<td>Does the Anesthesiologist want to have the Day off after call?</td>

						<td ng-bind="cv_list[selected_index].dayOff"></td>							

					</tr>

					<tr>

						<td>Does the Anesthesiologist want to be personally providing anesthesia care, i.e. One anesthesiologist to One patient?</td>

						<td ng-bind="cv_list[selected_index].personalCare"></td>							

					</tr>

					<tr>

						<td>Does the Anesthesiologist want to be Medically Directing CRNAs or Anesthesiologist's Assistants (AAs)?</td>

						<td ng-bind="cv_list[selected_index].medicalDirecting"></td>							

					</tr>

					<tr>

						<td>What percentage of the time does the Anesthesiologist want to be personally providing anesthesia care, (doing own cases) compared to Medically Directing a CRNA or AA?</td>

						<td ng-bind="cv_list[selected_index].percentagePersonalCare"></td>							

					</tr>

					<tr>

						<td>What would be the Anesthesiologist's preference regarding CRNAs in a job situation doing Operative Cases that are not medically directed by an anesthesiologist?</td>

						<td ng-bind="cv_list[selected_index].anesPreferenceOp"></td>							

					</tr>

					<tr>

						<td>What would be the Anesthesiologist's preference regarding CRNAs in a job situation doing Labor Epidurals that are not Medically directed by an anesthesiologist?</td>

						<td ng-bind="cv_list[selected_index].anesLaborPref"></td>							

					</tr>

					<tr>

						<td>Does the Anesthesiologist want a job where there is an Approved Physician Anesthesia residency program?</td>

						<td ng-bind="cv_list[selected_index].anesResidencyProgram"></td>							

					</tr>

					<tr>

						<td>Does the Anesthesiologist want a job where there is Anesthesia training for Physician house staff?</td>

						<td ng-bind="cv_list[selected_index].anesTrainingPhysician"></td>							

					</tr>

					<tr>

						<td>Does the Anesthesiologist want a job where there is a CRNA training program?</td>

						<td ng-bind="cv_list[selected_index].anesCrnaTraining"></td>							

					</tr>

					<tr>

						<td>Does the Anesthesiologist want a job where there is an Anesthesiologist's Assistant training program?</td>

						<td ng-bind="cv_list[selected_index].anesAssistantTraining"></td>							

					</tr>

					<tr>

						<td>What practice setting does the Anesthesiologist have Experience?</td>

						<td ng-bind="cv_list[selected_index].anesPracticeExp"></td>							

					</tr>

					<tr>

						<td>What size hospital does the Anesthesiologist want to work in? (How many Licensed beds does the hospital have)</td>

						<td ng-bind="cv_list[selected_index].anesHospitalSize"></td>							

					</tr>

					<tr>

						<td>City Population desired</td>

						<td ng-bind="cv_list[selected_index].populationDesired"></td>							

					</tr>

					<tr>

						<td>Is Anesthesiologist a foreign national needing a sponsor for Nonimmigrant Visa (H1B; J1; 01)?</td>

						<td ng-bind="cv_list[selected_index].sponsorVisa"></td>							

					</tr>		

				</tbody>

				</table>



				<h4 class="card-title bg-success" style="color:#FFFFFF; padding:10px;">Salary and Income Information</h4>

				<table class="table table-bordered small table-hover table-condensed">		

				<tbody>				

					<tr>

						<td width="50%">Estimated Minimum Annual Income Desired</td>

						<td ng-bind="cv_list[selected_index].annualDesiredIncome"></td>							

					</tr>

					<tr>

						<td>Employment Status</td>

						<td ng-bind="cv_list[selected_index].empStatus"></td>							

					</tr>

					<tr>

						<td>Does the Anesthesiologist want a Salary income from anesthesia group?</td>

						<td ng-bind="cv_list[selected_index].salaryFromGroup"></td>							

					</tr>

					<tr>

						<td>Does the Anesthesiologist want a Percentage income from anesthesia group?</td>

						<td ng-bind="cv_list[selected_index].salaryPercFromGroup"></td>							

					</tr>

					<tr>

						<td>Does the Anesthesiologist want an Income from Fee-for-service individual practice?</td>

						<td ng-bind="cv_list[selected_index].salaryFeeIndiPrac"></td>							

					</tr>

					<tr>

						<td>Does the Anesthesiologist want a Salary from Hospital as an employee?</td>

						<td ng-bind="cv_list[selected_index].salaryFromHospital"></td>							

					</tr>

					<tr>

						<td>Does the Anesthesiologist want Other income as a Hospital employee?</td>

						<td ng-bind="cv_list[selected_index].salaryFromHospitalOther"></td>							

					</tr>		

				</tbody>

				</table>



				<h4 class="card-title bg-success" style="color:#FFFFFF; padding:10px;">Qualifications</h4>

				<table class="table table-bordered small table-hover table-condensed">		

				<tbody>			

					<tr>

						<td width="50%">State where Anesthesiologist is licensed</td>

						<td ng-bind = "cv_list[selected_index].stateToWork"></td>							

					</tr>

					<tr>

						<td>Anesthesiologist's Degree</td>

						<td ng-bind="cv_list[selected_index].anesDegree"></td>							

					</tr>

					<tr>

						<td>Anesthesiologist's Medical School</td>

						<td ng-bind="cv_list[selected_index].medical_school"></td>							

					</tr>

					<tr>

						<td>Anesthesiologist's Residency</td>

						<td ng-bind="cv_list[selected_index].anesResidencyProgram"></td>							

					</tr>

					<tr>

						<td>Is Anesthesiologist Board Certified by the American Board of Anesthesiology (ABA)?</td>


						<td ng-bind="cv_list[selected_index].abaCertified"></td>							

					</tr>

					<tr>

						<td>Year of Primary Certification</td>

						<td ng-bind="cv_list[selected_index].yearPrimaryCert"> </td>							

					</tr>

					<tr>

						<td>Has Anesthesiologist obtained ABA Recertification?</td>

						<td ng-bind="cv_list[selected_index].abaReCertified"></td>							

					</tr>

					<tr>

						<td>List year(s) of ABA Recertification</td>

						<td  ng-bind="cv_list[selected_index].abaListYear"></td>							

					</tr>

					<tr>

						<td>Comments about Anesthesiologist's Board Certification</td>

						<td ng-bind="cv_list[selected_index].anesCommentsCert"></td>							

					</tr>

					<tr>

						<td>Has Anesthesiologist completed a Subspecialty Fellowship?</td>

						<td ng-bind="cv_list[selected_index].hasFellowship"></td>							

					</tr>

					<tr>

						<td>Does Anesthesiologist have Subspecialty Expertise but has not completed a Fellowship?</td>

						<td ng-bind="cv_list[selected_index].haveSpeciltyNoFellowhip"></td>							

					</tr>

					<tr>

						<td>If Anesthesiologist has subspecialty expertise or has completed a Fellowship, which one?</td>

						<td ng-bind="cv_list[selected_index].haveSpeciltyNoFellowhip"></td>							

					</tr>

					<tr>

						<td>Is Anesthesiologist a New Graduate?</td>

						<td ng-bind="cv_list[selected_index].newGraduate"></td>							

					</tr>		

				</tbody>

				</table>



				<h4 class="card-title bg-success" style="color:#FFFFFF; padding:10px;">Current Employer</h4>

				<table class="table table-bordered small table-hover table-condensed">		

				<tbody>		

					<tr>

						<td width="50%">Current Employer Name</td>

						<td ng-bind="cv_list[selected_index].currentEmployer"> </td>							

					</tr>

					<tr>

						<td>Current Employer Address/City/State/Zip</td>

						<td ng-bind="cv_list[selected_index].currentEmployerAddress"></td>							

					</tr>

					<tr>

						<td>Anesthesiologist's reason for seeking a job change?</td>

						<td ng-bind="cv_list[selected_index].jobReasonSeeking"></td>							

					</tr>		

				</tbody>

				</table>



				<h4 class="card-title bg-success" style="color:#FFFFFF; padding:10px;">Other</h4>

				<table class="table table-bordered small table-hover table-condensed">		

				<tbody>		

					<tr>

						<td width="50%">Anesthesiologist's Interests</td>

						<td ng-bind="cv_list[selected_index].interest"></td>							

					</tr>

					<tr>

						<td>Name of a reference person </td>

						<td ng-bind="cv_list[selected_index].reference"></td>							

					</tr>

					<tr>

						<td>Reference's email</td>

						<td ng-bind="cv_list[selected_index].referenceEmail"></td>							

					</tr>

					<tr>

						<td>Reference's phone</td>

						<td ng-bind="cv_list[selected_index].referencePhone"></td>							

					</tr>

					<tr>

						<td>Comment or paste the text of your CV here, if desired.</td>

						<td ng-bind="cv_list[selected_index].yourCv"></td>							

					</tr>		

				</tbody>

				</table>



							   

							 

				   	

					

			

                </div>

            </div>

        </div>

</div>
</div>




