
                            <div class="form-group row">
                                <label class="job-sub-header control-label text-left col-md-3">Post Anonymously</label>
                                <div class="col-md-9">
                                <div class="radio-list">
                                    <label class="custom-control custom-radio"> 
                                        <input ng-change="saveLocal('postAnonymously', jobsData.postAnonymously)" value="yes" ng-model="jobsData.postAnonymously" checked id="radioP1" name="anonymous" type="radio" checked="" class="custom-control-input required">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">Yes <span class="text-danger">$50.00</span> &nbsp; <span class="small">Find out more about <a href="#">Anonymous Posts</a></span></span>
                                    </label>
                                    <br><label class="custom-control custom-radio">
                                        <input  ng-change="saveLocal('postAnonymously', jobsData.postAnonymously)" value="no" ng-model="jobsData.postAnonymously" id="radioP2" name="anonymous" type="radio" class="custom-control-input required">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">No</span>
                                    </label>
                                </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Job Title (Will be displayed publicly)</label>
                                <div class="col-md-9">
                                    <input class="form-control required"   ng-model = "jobsData.jobTitle"  placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Private Notes (Not Publicly Displayed to Other Users)</label>
                                <div class="col-md-9"><textarea class="form-control required"  id="exampleTextarea" ng-model = "jobsData.privateNotes"  ng-change="saveLocal('privateNotes', jobsData.privateNotes)" rows="3" placeholder=""></textarea></div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 2 -->
                
                    <section>
                        <div class="col-md-12 wizard-content-header nopadding">
                            <h3 class="text-center bg-success text-white p-10">Essential Information
                            </h3>
                        </div>
                        <div class="card-block">
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Facility City   
                                <br>
                                <span class="small">
                                (City where the clinician will be working or nearby city)       
                                <br>
                                Usually post will NOT have a location... Only a reqion, or nearby location  
                                </span>
                                <br>
                                <a href="#" class="small">Help Me Choose</a>    
                                </label>
                                <div class="col-md-9"><input type="text" class="form-control"  ng-model = "jobsData.ei_facilityCity"  ng-change="saveLocal('ei_facilityCity', jobsData.ei_facilityCity)"></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Facility State</label>
                                <div class="col-md-9">
                                <select ng-model = "jobsData.ei_facilityState"  ng-change="saveLocal('ei_facilityState', jobsData.ei_facilityState)" class="form-control">    
                                    <option ng-selected="jobsData.ei_facilityState == state.name" ng-repeat = "state in states" value="{{state.name}}">{{state.name}}</option>
                                </select>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Duration of position
                                <br>
                                <a href="#" class="small">Help Me Choose</a>    
                                </label>
                                <div class="col-md-9">
                                <div class="radio-list">
                                    <label class="custom-control custom-radio"> 
                                        <input id="radioDP1" ng-model = "jobsData.ei_durPosition"  ng-change="saveLocal('ei_durPosition', jobsData.ei_durPosition)"  name="ei_durPosition" type="radio" checked="" value="Full Time" class="custom-control-input">                                      
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">Full Time</span>                     
                                    </label>
                                    <div ng-show="jobsData.ei_durPosition == 'Full Time'" class="alert alert-info small" style="width:50%;">
                                        <b>a. Minimum</b>  Income<br>(Annual Estimated W-2 Salary or 1099 Payment)              
                                        <select ng-model="jobsData.full_time_min" ng-change="saveLocal('full_time_min', jobsData.full_time_min)" class="form-control" id="q384_r219_332" name="q384_r219_332">
                                            <option value="">please choose</option>
                                            <option value="{{salary_full | currency}}" ng-selected="jobsData.full_time_min == salary_full" ng-repeat="salary_full in per_annum_salary track by $index">{{salary_full | currency}}</option>
                                        </select>
                                    </div>
                                    
                                    <div ng-show="jobsData.ei_durPosition == 'Full Time'" class="alert alert-info small" style="width:50%;">
                                        <b>b. Maximum</b>  Income<br>(Annual Estimated W-2 Salary or 1099 Payment)
                                        <select ng-model="jobsData.full_time_max" ng-change="saveLocal('full_time_max', jobsData.full_time_max)" class="form-control" id="q381_r219_332" name="q381_r219_332">
                                            <option value="">please choose</option>
                                            <option value="{{salary_full | currency}}" ng-selected="jobsData.full_time_max == salary_full" ng-repeat="salary_full in per_annum_salary track by $index">{{salary_full | currency}}</option>
                                        </select>
                                    </div>
                                    
                                    <br>
                                    <label class="custom-control custom-radio">
                                        <input id="radioPD2" ng-model = "jobsData.ei_durPosition"  ng-change="saveLocal('ei_durPosition', jobsData.ei_durPosition)"  value="Locum Tenens" name="ei_durPosition" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">Locum Tenens</span>
                                    </label>    

                                    <div ng-show="jobsData.ei_durPosition == 'Locum Tenens'" class="alert alert-info small" style="width:50%;">a. Minimum Payment per day:
                                        <select class="form-control" ng-model="jobsData.locum_min" ng-change="saveLocal('locum_min', jobsData.locum_min)" id="q377_r219_333" name="q377_r219_333">
                                            <option value="">please choose</option><
                                            <option value="{{salary_locum | currency}} per day" ng-selected= "jobsData.locum_min == salary_locum" ng-repeat="salary_locum in per_day_salary track by $index">{{salary_locum | currency}} per day</option>
                                        </select>       
                                    </div>


                                    <div ng-show="jobsData.ei_durPosition == 'Locum Tenens'" class="alert alert-info small" style="width:50%;">b. Maximum Payment per day:
                                        <select class="form-control" ng-model="jobsData.locum_max" ng-change="saveLocal('locum_max', jobsData.locum_max)" id="q511_r219_333" name="q511_r219_333">
                                            <option value="">please choose</option>
                                            <option value="{{salary_locum | currency}} per day" ng-selected= "jobsData.locum_max == salary_locum" ng-repeat="salary_locum in per_day_salary track by $index">{{salary_locum | currency}} per day</option>
                                        </select>       
                                    </div>
                                    <div ng-show="jobsData.ei_durPosition == 'Locum Tenens'"  class="alert alert-info small" style="width:50%;">c. End Date of Locum Tenens Job
                                        <input type="date" class="form-control">
                                    </div>  
                                    
                                    <br><label class="custom-control custom-radio">
                                        <input id="radioPD2" ng-model = "jobsData.ei_durPosition"  ng-change="saveLocal('ei_durPosition', jobsData.ei_durPosition)"  name="ei_durPosition" type="radio" class="custom-control-input" value="Part Time">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">Part Time</span>
                                    </label>
                                    
                                    <div ng-show="jobsData.ei_durPosition == 'Part Time'" class="alert alert-info small" style="width:50%;">
                                        <b>a. Minimum</b> Income<br> (Annual Estimated W-2 Salary or 1099 Payment)
                                        <select class="form-control" ng-model="jobsData.part_time_min" ng-change="saveLocal('part_time_min', jobsData.part_time_min)" id="q384_r219_334" name="q384_r219_334">
                                            <option value="">please choose</option>
                                            <option value="{{salary_part_time | currency}}" ng-selected="jobsData.part_time_min == salary_part_time" ng-repeat="salary_part_time in per_annum_salary track by $index">{{salary_part_time | currency}}</option>
                                        </select>           
                                    </div>
                                    <div ng-show="jobsData.ei_durPosition == 'Part Time'" class="alert alert-info small" style="width:50%;">
                                        <b>b. Maximum</b> Income (Annual Estimated W-2 Salary or 1099 Payment)
                                        <select ng-model="jobsData.part_time_max" ng-change="saveLocal('part_time_max', jobsData.part_time_max)" class="form-control" id="q381_r219_334" name="q381_r219_334">
                                            <option value="">please choose</option>
                                            <option value="{{salary_part_time | currency}}" ng-selected="jobsData.part_time_max == salary_part_time" ng-repeat="salary_part_time in per_annum_salary track by $index">{{salary_part_time | currency}}</option>
                                        </select>           
                                    </div>
                                    

                                    <br><label class="custom-control custom-radio">
                                        <input id="radioPD2" ng-model = "jobsData.ei_durPosition"  ng-change="saveLocal('ei_durPosition', jobsData.ei_durPosition)"  name="ei_durPosition" type="radio" class="custom-control-input" value="PRN">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">PRN</span>
                                    </label>


                                    <div ng-show="jobsData.ei_durPosition == 'PRN'" class="alert alert-info small" style="width:50%;">a. Minimum Payment per day:
                                        <select ng-model="jobsData.prn_min" ng-change="saveLocal('prn_min', jobsData.prn_min)" class="form-control" id="q377_r219_335" name="q377_r219_335">
                                            <option value="">please choose</option>
                                            <option value="{{salary_prn | currency}} per day" ng-selected="jobsData.prn_min == salary_prn" ng-repeat="salary_prn in per_day_salary track by $index">{{salary_prn | currency}} per day</option>
                                        </select>
                                    </div>
                                    <div ng-show="jobsData.ei_durPosition == 'PRN'" class="alert alert-info small" style="width:50%;">b. Maximum Payment per day:
                                        <select ng-model="jobsData.prn_max" ng-change="saveLocal('prn_max', jobsData.prn_max)" class="form-control" id="q511_r219_335" name="q511_r219_335">
                                            <option value="">please choose</option>
                                            <option value="{{salary_prn | currency}} per day" ng-selected="jobsData.prn_max == salary_prn" ng-repeat="salary_prn in per_day_salary track by $index">{{salary_prn | currency}} per day</option>
                                        </select>
                                    </div>
                                    
                                    <br><label class="custom-control custom-radio">
                                        <input id="radioPD2" ng-model = "jobsData.ei_durPosition"  ng-change="saveLocal('ei_durPosition', jobsData.ei_durPosition)"  name="ei_durPosition" type="radio" class="custom-control-input" value="Fellowship">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">Fellowship</span>
                                    </label>
                                    <div ng-show="jobsData.ei_durPosition == 'Fellowship'" class="alert alert-info small" style="width:50%;"><b>a. Minimum</b> Income<br>(Annual Estimated W-2 Salary or 1099 Payment)
                                        <select ng-model="jobsData.fellowship_min" ng-change="saveLocal('fellowship_min', jobsData.fellowship_min)" class="form-control" id="q384_r219_336" name="q384_r219_336">
                                            <option value="">please choose</option>
                                            <option value="{{salary_fellowship | currency}}"  ng-selected="jobsData.fellowship_min == salary_fellowship" ng-repeat="salary_fellowship in per_annum_salary track by $index">{{salary_fellowship | currency}}</option>
                                        </select>
                                    </div>
                                    <div ng-show="jobsData.ei_durPosition == 'Fellowship'" class="alert alert-info small" style="width:50%;"><b>b. Maximum</b> Income<br>(Annual Estimated W-2 Salary or 1099 Payment)
                                        <select ng-model="jobsData.fellowship_max" ng-change="saveLocal('fellowship_max', jobsData.fellowship_max)" class="form-control" id="q381_r219_336" name="q381_r219_336">
                                            <option value="">please choose</option>
                                            <option  ng-selected="jobsData.fellowship_max == salary_fellowship" value="{{salary_fellowship | currency}}" ng-repeat="salary_fellowship in per_annum_salary track by $index">{{salary_fellowship | currency}}</option>
                                        </select>
                                    </div>

                                </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Job Description</label>
                                <div class="col-md-9"><textarea class=" form-control" id="exampleTextarea" rows="5" placeholder="" ng-model = "jobsData.ei_jobDescription"  ng-change="saveLocal('ei_jobDescription', jobsData.ei_jobDescription)"></textarea></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Employment Status: W-2 (Employee) or 1099 (Independent Contractor)
                                <br>
                                <a href="#" class="small">Help Me Choose</a>    
                                </label>
                                <div class="col-md-9">
                                <div class="radio-list">
                                    <label class="custom-control custom-radio"> 
                                        <input ng-model = "jobsData.ei_empStatus"  ng-change="saveLocal('ei_empStatus', jobsData.ei_empStatus)" id="radioEMP1" value="W-2" name="ei_empStatus" type="radio" checked="" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">W-2</span>
                                    </label>
                                    <br><label class="custom-control custom-radio">
                                        <input ng-model = "jobsData.ei_empStatus"  ng-change="saveLocal('ei_empStatus', jobsData.ei_empStatus)" id="radioEMP2" value="1099" name="ei_empStatus" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">1099</span>
                                    </label>
                                    <br><label class="custom-control custom-radio">
                                        <input ng-model = "jobsData.ei_empStatus"  ng-change="saveLocal('ei_empStatus', jobsData.ei_empStatus)" id="radioEMP3" value="Unknown" name="ei_empStatus" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">Unknown</span>
                                    </label>        
                                </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Start Date</label>
                                <div class="col-md-9">
                                <div class="row">
                                <div class="col-md-4"><input ng-model = "jobsData.ei_startDate" ng-disabled = "jobsData.ei_startDateImmediate" ng-init="jobsData.ei_startDateImmediate ? '' : jobsData.ei_startDate" ng-change="saveLocal('ei_startDate', jobsData.ei_startDate)" type="text" class="form-control"></div>
                                <div class="col-md-1">Or</div>
                                <div class="col-md-7">
                                    <div class="checkbox checkbox-success">
                                        <input ng-model = "jobsData.ei_startDateImmediate"  ng-change="saveLocal('ei_startDateImmediate', jobsData.ei_startDateImmediate)" value="immediate" id="checkbox33" type="checkbox">
                                        <label for="checkbox33">Immediate</label>
                                    </div>
                                </div>  
                                </div>  
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">How often will Anesthesiologist be on FIRST call?</label>
                                <div class="col-md-9"><select ng-model = "jobsData.ei_ansFirstCall"  ng-change="saveLocal('ei_ansFirstCall', jobsData.ei_ansFirstCall)" class="form-control">
                                <option value="">please choose</option>
                                    <option value="Will NOT be on FIRST call">Will NOT be on FIRST call</option>
                                    <option value="Every night FIRST call">Every night FIRST call</option>
                                    <option value="Every OTHER night FIRST call">Every OTHER night FIRST call</option>
                                    
                                    <option value="Every THIRD night FIRST call">Every THIRD night FIRST call</option>
                                    <option value="Every FOURTH night FIRST call">Every FOURTH night FIRST call</option>
                                    <option value="Every FIFTH night FIRST call">Every FIFTH night FIRST call</option>
                                    <option value="Every SIXTH night FIRST call">Every SIXTH night FIRST call</option>
                                    <option value="Every SEVENTH night FIRST call">Every SEVENTH night FIRST call</option>
                                    <option value="Every EIGHTH night FIRST call">Every EIGHTH night FIRST call</option>
                                    <option value="Every NINTH night FIRST call">Every NINTH night FIRST call</option>
                                    <option value="Every TENTH night FIRST call">Every TENTH night FIRST call</option>
                                    <option value="Every ELEVENTH night FIRST call">Every ELEVENTH night FIRST call</option>
                                    <option value="Every TWELFTH night FIRST call">Every TWELFTH night FIRST call</option>
                                    <option value="Every THIRTEENTH night FIRST call">Every THIRTEENTH night FIRST call</option>
                                    <option value="Every FOURTEENTH night FIRST call">Every FOURTEENTH night FIRST call</option>
                                    <option value="Every FIFTEENTH night FIRST call">Every FIFTEENTH night FIRST call</option>
                                    <option value="FIRST Call frequency varies">FIRST Call frequency varies</option>
                                    <option value="Negotiable FIRST Call">Negotiable FIRST Call</option>
                                    <option value="Unknown FIRST Call">Unknown FIRST Call</option>
                                    <option value="Infrequent FIRST Call (See Full Description)">Infrequent FIRST Call (See Full Description)</option>
                                </select></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Is call required?</label>
                                <div class="col-md-9">
                                <div class="radio-list">
                                    <label class="custom-control custom-radio"> 
                                        <input ng-model = "jobsData.ei_callRequired"  ng-change="saveLocal('ei_callRequired', jobsData.ei_callRequired)" value="Yes" id="radioCREQ1" name="ei_callRequired" type="radio" checked="" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">Yes</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input ng-model = "jobsData.ei_callRequired"  ng-change="saveLocal('ei_callRequired', jobsData.ei_callRequired)" value="No" id="radioCREQ2" name="ei_callRequired" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">No</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input ng-model = "jobsData.ei_callRequired"  ng-change="saveLocal('ei_callRequired', jobsData.ei_callRequired)" value="Possibly" id="radioCREQ3" name="ei_callRequired" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">Possibly</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input ng-model = "jobsData.ei_callRequired"  ng-change="saveLocal('ei_callRequired', jobsData.ei_callRequired)" value="Not Required" id="radioCREQ4" name="ei_callRequired" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">Not Required</span>
                                    </label>        
                                </div>
                                </div>
                            </div>


                             <div class="form-group row">
                                <label class="control-label text-left col-md-3">Indicate how often the Anesthesiologist will be doing each of the types of cases including, "Never."
                                <br><a href="#" class="small">Help Me Choose</a>    
                                </label>
                                <div class="col-md-9">  

                                <div class="radio-list" ng-repeat = "case in type_cases" >
                                    <div>{{case.label}}</div>

                                    <label class="custom-control custom-radio" ng-repeat = "option in type_cases_options"> 
                                        <input ng-model = "jobsData[case.model]"  ng-change="saveLocal(case.model, option)" id="radioCPM1" name="{{case.model}}" type="radio" value="{{option}}" checked="" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">{{option}}</span>
                                    </label>
                                </div>
                                
                                <div style="margin-top:12px;">
                                    <div>Other</div>
                                    <div><input type="text" ng-model = "jobsData.type_cases_other"  ng-change="saveLocal('type_cases_other', jobsData.type_cases_other)" placeholder="Describe" class="form-control"></div>      
                                </div>
                                
                                
                                </div>
                                
                                <div class="form-group row">
                                    <label class="control-label text-left col-md-3">Will anesthesiologist be Medically Directing CRNAs or AAs?</label>
                                    <div class="col-md-9">
                                    <div class="radio-list">
                                        <label class="custom-control custom-radio"> 
                                            <input id="radioCRNAs1" ng-model = "jobsData.ei_ansMedDirecting"  ng-change="saveLocal('ei_ansMedDirecting', jobsData.ei_ansMedDirecting)" value="Always" name="ei_ansMedDirecting" type="radio" checked="" class="custom-control-input">
                                            <span class="custom-control-indicator"></span><span class="custom-control-description">Always</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input id="radioCRNAs2" ng-model = "jobsData.ei_ansMedDirecting"  ng-change="saveLocal('ei_ansMedDirecting', jobsData.ei_ansMedDirecting)" value="Sometimes" name="ei_ansMedDirecting" type="radio" class="custom-control-input">
                                            <span class="custom-control-indicator"></span><span class="custom-control-description">Sometimes</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input id="radioCRNAs3" ng-model = "jobsData.ei_ansMedDirecting"  ng-change="saveLocal('ei_ansMedDirecting', jobsData.ei_ansMedDirecting)" value="Never" name="ei_ansMedDirecting" type="radio" class="custom-control-input">
                                            <span class="custom-control-indicator"></span><span class="custom-control-description">Never</span>
                                        </label>
                                                
                                    </div>
                                    </div>
                                </div>
                            
                            </div>
                    </section>





              
                    <section>
                        <div class="col-md-12 wizard-content-header nopadding">
                            <h3 class="text-center bg-success text-white p-10">Job Requirements
                            </h3>
                        </div>
                        <div class="card-block">
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Subspecialty Fellowship Required?</label>
                                <div class="col-md-9">
                                <div class="radio-list">
                                    <label class="custom-control custom-radio">
                                        <input id="radio_j1" ng-model = "jobsData.jr_fellowshipReq"  ng-change="saveLocal('jr_fellowshipReq', jobsData.jr_fellowshipReq)" value="No" name="jr_fellowshipReq" type="radio" checked="" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">No</span>            
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input id="radio_j1" ng-model = "jobsData.jr_fellowshipReq"  ng-change="saveLocal('jr_fellowshipReq', jobsData.jr_fellowshipReq)" value="Yes" name="jr_fellowshipReq" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">Yes</span>           
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input id="radio_j1" ng-model = "jobsData.jr_fellowshipReq"  ng-change="saveLocal('jr_fellowshipReq', jobsData.jr_fellowshipReq)" value="Negotiable" name="jr_fellowshipReq" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">Negotiable</span>            
                                    </label>
                                </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">State License Required</label>
                                <div class="col-md-9">
                                    <select ng-model = "jobsData.jr_stateLicence"  ng-change="saveLocal('jr_stateLicence', jobsData.jr_stateLicence)" class="form-control">    
                                        <option ng-selected="jobsData.jr_stateLicense == state.name" ng-repeat = "state in states" value="{{state.name}}">{{state.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">ABA Certification Status Required <br><a href="#" class="small">Help Me Choose</a></label>
                                <div class="col-md-9">
                                <div class="radio-list">
                                    <label class="custom-control custom-radio">
                                        <input id="radioja1" ng-model = "jobsData.jr_abaCertStatus"  ng-change="saveLocal('jr_abaCertStatus', jobsData.jr_abaCertStatus)" value="Board Certified by the ABA" name="jr_abaCertStatus" type="radio" checked="" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">Board Certified by the ABA</span>            
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input id="radioja2" ng-model = "jobsData.jr_abaCertStatus"  ng-change="saveLocal('jr_abaCertStatus', jobsData.jr_abaCertStatus)" value="Candidate in ABA exam system" name="jr_abaCertStatus" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">Candidate in ABA exam system</span>          
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input id="radioja3" ng-model = "jobsData.jr_abaCertStatus"  ng-change="saveLocal('jr_abaCertStatus', jobsData.jr_abaCertStatus)" value="No ABA Certification Required" name="jr_abaCertStatus" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">No ABA Certification Required</span>         
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input id="radioja4" ng-model = "jobsData.jr_abaCertStatus"  ng-change="saveLocal('jr_abaCertStatus', jobsData.jr_abaCertStatus)" value="Negotiable" name="jr_abaCertStatus" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">Negotiable</span>            
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input id="radioja5" ng-model = "jobsData.jr_abaCertStatus"  ng-change="saveLocal('jr_abaCertStatus', jobsData.jr_abaCertStatus)" value="FRCP eligible (Canada)" name="jr_abaCertStatus" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">FRCP eligible (Canada)</span>            
                                    </label>
                                </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Select all that are required for this job <br><a href="#" class="small">Help Me Choose</a></label>
                                <div class="col-md-8">
                                    <div class="checkbox checkbox-success">
                                        <input  id="checkboxj16" ng-model = "jobsData.current_acls" ng-checked="jobsData.current_acls == 'true'"  ng-change="saveLocal('current_acls', jobsData.current_acls)"   type="checkbox"><label for="checkboxj16">Current ACLS card</label><br>      
                                        <input id="checkboxj17"  ng-model = "jobsData.current_pals" ng-checked="jobsData.current_pals == 'true'"  ng-change="saveLocal('current_pals', jobsData.current_pals)" type="checkbox"><label for="checkboxj17">Current PALS card</label><br>
                                        <input id="checkboxj18" ng-checked="jobsData.aba_pain_management == 'true'"  ng-model = "jobsData.aba_pain_management"  ng-change="saveLocal('aba_pain_management', jobsData.aba_pain_management)" type="checkbox"><label for="checkboxj18">ABA Certification in Pain Management</label><br>
                                        <input id="checkboxj19" ng-checked="jobsData.aba_critical_care == 'true'" ng-model = "jobsData.aba_critical_care"  ng-change="saveLocal('aba_critical_care', jobsData.aba_critical_care)"  type="checkbox"><label for="checkboxj19">ABA Certification in Critical Care Management</label><br>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">New Graduates Acceptable? <br><a href="#" class="small">Help Me Choose</a></label>
                                <div class="col-md-9">
                                <div class="radio-list">
                                    <label class="custom-control custom-radio">
                                        <input ng-model = "jobsData.jr_newGraduates"  ng-change="saveLocal('jr_newGraduates', jobsData.jr_newGraduates)" value="No" id="radio_j13" name="jr_newGraduates" type="radio" checked="" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">No</span>            
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input ng-model = "jobsData.jr_abaCertStatus"  ng-change="saveLocal('jr_newGraduates', jobsData.jr_newGraduates)" value="Yes" id="radio_j14" name="jr_newGraduates" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">Yes</span>           
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input ng-model = "jobsData.jr_newGraduates"  ng-change="saveLocal('jr_newGraduates', jobsData.jr_newGraduates)" value="Negotiable" id="radio_j15" name="jr_newGraduates" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">Negotiable</span>            
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input ng-model = "jobsData.jr_newGraduates"  ng-change="saveLocal('jr_newGraduates', jobsData.jr_newGraduates)" value="Conditional" id="radio_j16" name="jr_newGraduates" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">Conditional</span>           
                                    </label>
                                </div>
                                </div>
                            </div>                                              
                        </div>
                    </section>
                    <!-- Step 4 -->
                    <section>
                        <div class="col-md-12 wizard-content-header nopadding">
                            <h3 class="text-center bg-success text-white p-10">Salary and Income Information
                            </h3>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <label class="control-label text-left col-md-3">Sign-on Bonus commitment</label>
                                <div class="col-md-9">
                                    <select ng-model = "jobsData.si_SignonBonus"  ng-change="saveLocal('si_SignonBonus', jobsData.si_SignonBonus)" class="form-control">
                                        <option value="">please choose</option>
                                        <option value="One yr">One yr</option>
                                        <option value="Two yrs">Two yrs</option>
                                        <option value="Three yrs">Three yrs</option>
                                        <option value="None">None</option>
                                        <option value="Negotiable">Negotiable</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Weeks Paid <b>Educational</b> Leave</label>
                                <div class="col-md-9">
                                    <select ng-model = "jobsData.si_PaidLeave "  ng-change="saveLocal('si_PaidLeave', jobsData.si_PaidLeave )" class="form-control">
                                        <option value="">please choose</option>
                                        <option value="None">None</option>
                                        <option value="1 Week">1 Week</option>
                                        <option value="2 Weeks">2 Weeks</option>
                                        <option value="3 Weeks">3 Weeks</option>
                                        <option value="4 Weeks">4 Weeks</option>
                                        <option value="5 Weeks">5 Weeks</option>
                                        <option value="6 Weeks">6 Weeks</option>
                                        <option value="7 Weeks">7 Weeks</option>
                                        <option value="8 Weeks">8 Weeks</option>
                                        <option value="9 Weeks">9 Weeks</option>
                                        <option value="10 Weeks">10 Weeks</option>
                                        <option value="11 Weeks">11 Weeks</option>
                                        <option value="12 Weeks">12 Weeks</option>
                                        <option value="More than 12 Weeks">More than 12 Weeks</option>
                                        <option value="Negotiable">Negotiable</option>
                                    </select>
                            </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Weeks Paid <b>Vacation</b></label>
                                <div class="col-md-9">
                                    <select ng-model = "jobsData.si_PaidVacation "  ng-change="saveLocal('si_PaidVacation', jobsData.si_PaidVacation )" class="form-control">
                                        <option value="">please choose</option>
                                        <option value="None">None</option>
                                        <option value="1 Week">1 Week</option>
                                        <option value="2 Weeks">2 Weeks</option>
                                        <option value="3 Weeks">3 Weeks</option>
                                        <option value="4 Weeks">4 Weeks</option>
                                        <option value="5 Weeks">5 Weeks</option>
                                        <option value="6 Weeks">6 Weeks</option>
                                        <option value="7 Weeks">7 Weeks</option>
                                        <option value="8 Weeks">8 Weeks</option>
                                        <option value="9 Weeks">9 Weeks</option>
                                        <option value="10 Weeks">10 Weeks</option>
                                        <option value="11 Weeks">11 Weeks</option>
                                        <option value="12 Weeks">12 Weeks</option>
                                        <option value="More than 12 Weeks">More than 12 Weeks</option>
                                        <option value="Negotiable">Negotiable</option>
                                    </select>
                            </div>
                            </div>                                               
                        </div>
                    </section>
                    <section>
                        <div class="col-md-12 wizard-content-header nopadding">
                            <h3 class="text-center bg-success text-white p-10">Anesthesia Group Information
                            </h3>
                        </div>
                        <div class="card-block">
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Anesthesia Group Name</label>
                                <div class="col-md-"><input ng-model = "jobsData.ag_name "  ng-change="saveLocal('ag_name', jobsData.ag_name )" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Anesthesia Group Web Site</label>
                                <div class="col-md-"><input ng-model = "jobsData.ag_webSite "  ng-change="saveLocal('ag_webSite', jobsData.ag_webSite )"  type="text" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Does Anesthesia Group have an exclusive contract?</label>
                                <div class="col-md-9">
                                <div class="radio-list">
                                    <label class="custom-control custom-radio">
                                        <input id="radio3" ng-model = "jobsData.ag_haveContract " value="yes"  ng-change="saveLocal('ag_haveContract', jobsData.ag_haveContract)" name="radio" type="radio" checked="" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">No</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input id="radio4" ng-model = "jobsData.ag_haveContract " value="no"  ng-change="saveLocal('ag_haveContract', jobsData.ag_haveContract)" name="radio" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Yes</span>
                                    </label>
                                </div>
                                </div>
                            </div>
                        </div>
                    </section>



                    
                    <section>
                        <div class="col-md-12 wizard-content-header nopadding">
                            <h3 class="text-center bg-success text-white p-10">Facility Information
                            </h3>
                        </div>
                        <div class="card-block">
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Name of Anesthesiologist who is Group President and years with group</label>
                                <div class="col-md-9"><input ng-model = "jobsData.fi_nameAns " ng-change="saveLocal('fi_nameAns', jobsData.fi_nameAns)" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Name of Chief CRNA</label>
                                <div class="col-md-9"><input ng-model = "jobsData.fi_nameCRNA " ng-change="saveLocal('fi_nameCRNA', jobsData.fi_nameCRNA)" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Name of Anesthesiologist Assistant(s)</label>
                                <div class="col-md-9"><input ng-model = "jobsData.fi_nameAssistant " ng-change="saveLocal('fi_nameAssistant', jobsData.fi_nameAssistant)" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Is practice limited to Hospital, Surgery Center and Office Based Anesthesia?</label>
                                <div class="col-md-9">
                                <div class="radio-list">
                                    <label class="custom-control custom-radio">
                                        <input ng-model = "jobsData.fi_isPracLimited" ng-change="saveLocal('fi_isPracLimited', jobsData.fi_isPracLimited)" value="One Hospital"  id="radioFac1" name="fi_isPracLimited" type="radio" checked="" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">One Hospital</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input ng-model = "jobsData.fi_isPracLimited" ng-change="saveLocal('fi_isPracLimited', jobsData.fi_isPracLimited)" value="Several Hospitals" id="radioFac2" name="fi_isPracLimited" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">Several Hospitals</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input ng-model = "jobsData.fi_isPracLimited" ng-change="saveLocal('fi_isPracLimited', jobsData.fi_isPracLimited)" value="No" id="radioFac3" name="fi_isPracLimited" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">No</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input ng-model = "jobsData.fi_isPracLimited" ng-change="saveLocal('fi_isPracLimited', jobsData.fi_isPracLimited)" value="Yes" id="radioFac4" name="fi_isPracLimited" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">Yes</span>
                                    </label>        
                                    <label class="custom-control custom-radio">
                                        <input ng-model = "jobsData.fi_isPracLimited" ng-change="saveLocal('fi_isPracLimited', jobsData.fi_isPracLimited)" value="Negotiable" id="radioFac5" name="radio" type="fi_isPracLimited" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">Negotiable</span>
                                    </label>
                                </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">
                                Federal Government job? (Any State license will work)
                                <br>
                                <span class="small">For example:
                                <ul>
                                    <li>Veterans Affairs (VA)</li>
                                    <li>Military</li>
                                    <li>Indian Health</li>
                                </ul>
                                </span> 
                                </label>
                                <div class="col-md-9">
                                <div class="radio-list">
                                    <label class="custom-control custom-radio">
                                        <input ng-model = "jobsData.fi_isFederalJob" ng-change="saveLocal('fi_isFederalJob', jobsData.fi_isFederalJob)" value="Yes" id="radioFed1" name="fi_isFederalJob" type="radio" checked="" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">Yes</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input ng-model = "jobsData.fi_isFederalJob" ng-change="saveLocal('fi_isFederalJob', jobsData.fi_isFederalJob)" value="No" id="radioFed2" name="fi_isFederalJob" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span><span class="custom-control-description">No</span>
                                    </label>        
                                </div>
                                </div>
                            </div>
                            
                        </div>
                    </section>
                    <section>
                        <div class="col-md-12 wizard-content-header nopadding">
                            <h3 class="text-center bg-success text-white p-10">Contact Information
                            </h3>
                        </div>
                       <div class="card-block">
                           <div class="form-group row">
                                <label class="control-label text-left col-md-3">Company Name</label>
                                <div class="col-md-9"><input ng-model = "jobsData.ci_company" ng-change="saveLocal('ci_company', jobsData.ci_company)" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Company internal Job ID </label>
                                <div class="col-md-9"><input ng-model = "jobsData.ci_jobID" ng-change="saveLocal('ci_jobID', jobsData.ci_jobID)" type="text" class="form-control"><small class="form-control-feedback"> Number for this position</small></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Contact Name</label>
                                <div class="col-md-9"><input ng-model = "jobsData.ci_name" ng-change="saveLocal('ci_name', jobsData.ci_name)" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Contact Email</label>
                                <div class="col-md-9"><input ng-model = "jobsData.ci_email" ng-change="saveLocal('ci_email', jobsData.ci_email)" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Contact Street Address 1</label>
                                <div class="col-md-9"><input ng-model = "jobsData.ci_address1" ng-change="saveLocal('ci_address1', jobsData.ci_address1)" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Contact Street Address 2</label>
                                <div class="col-md-9"><input ng-model = "jobsData.ci_address2" ng-change="saveLocal('ci_address2', jobsData.ci_address2)" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Contact City</label>
                                <div class="col-md-9"><input ng-model = "jobsData.ci_city" ng-change="saveLocal('ci_city', jobsData.ci_city)" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Contact State</label>
                                <div class="col-md-9">
                                <select ng-model = "jobsData.ci_state" ng-change="saveLocal('ci_state', jobsData.ci_state)" class="form-control">
                                    <option ng-selected="jobsData.ci_state == state.name" ng-repeat = "state in states" value="{{state.name}}">{{state.name}}</option>
                                </select>
                            </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Contact Zip Code</label>
                                <div class="col-md-9"><input ng-model = "jobsData.ci_zipcode" ng-change="saveLocal('ci_zipcode', jobsData.ci_zipcode)" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Contact Country</label>
                                <div class="col-md-9">
                                <select ng-model = "jobsData.ci_country" ng-change="saveLocal('ci_country', jobsData.ci_country)" class="form-control">
                                    <option ng-selected="jobsData.ci_country == country.name" ng-repeat = "country in countries" value="{{country.name}}">{{country.name}}</option>
                                </select>
                            </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Contact Voice Phone</label>
                                <div class="col-md-9"><input ng-model = "jobsData.ci_phone" ng-change="saveLocal('ci_phone', jobsData.ci_phone)" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">ContactContact Fax</label>
                                <div class="col-md-9"><input ng-model = "jobsData.ci_fax" ng-change="saveLocal('ci_fax', jobsData.ci_fax)" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Contact Web Site</label>
                                <div class="col-md-9"><input ng-model = "jobsData.ci_website" ng-change="saveLocal('ci_website', jobsData.ci_website)" type="text" class="form-control"><small class="form-control-feedback"> <a href="#">Help Me Choose</a> </small></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Preferred Contact Method</label>
                                <div class="col-md-9"><select ng-model = "jobsData.ci_prefMethod" ng-change="saveLocal('ci_prefMethod', jobsData.ci_prefMethod)" class="form-control">
                                                        <option value="">please choose</option><option value="Email">Email</option>
                                                        <option value="Link to Apply for Job">Link to Apply for Job</option>
                                                        <option value="Phone">Phone</option>
                                                        <option value="Fax">Fax</option>
                                                        <option value="Postal Mail">Postal Mail</option>
                                                        <option value="No Preference">No Preference</option>
                                </select></div>
                            </div>
                        </div>
                    </section>
                </form>

      <!--           <div class="col-md-12 text-center">
                    <button form-name="" loading-button callback="submitJobPost()" class="btn btn-success">Save and Preview</button>
                </div> -->

                <div align="left">
                    <button type="button" form-name="" loading-button callback="submitJobPost()" class="btn btn-info">Save and Preview</button>
                </div>

            </div>
        </div>
    </div>
</div>
                  


