<div class="row page-titles">
	<div class="col-md-12 align-self-center">
		<h3 class="text-themecolor">Company Profile</h3>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="">Home</a></li>
			<li class="breadcrumb-item active">Company Profile</li>         
		</ol>
	</div>
	
</div>


<div class="col-12 wrapper-post-selection">
    <div class="card">
        <div class="col-md-12 job-select-header">
            <h5 class="font-weight-bold">What do you need help with?</h5>
        </div>
		<div class="clearFix">&nbsp;</div>
        <div class="col-12">
			<div class="row">
				<div class="col-sm-6 job-select-left">
					<form name = "postSelectionForm" ng-model = "postSelectionData" >																		
						<div class="col-12 my_form">
							<label class="label-editable label-parent label-editable mr-2 d-inline-block font-weight-bold">
								What are you looking for?
							</label><br>
							<select ng-model = "postSelectionData.lookingFor" ng-required = "true" name="lookingFor" class="text_fields">
								<option value="">Please Choose One</option>
								<option value="1">Anesthesiologist</option>
								<option value="2">CRNA</option>
							</select>
							<br>
							<span ng-show="postSelectionForm.lookingFor.$invalid == true && postSelectionForm.lookingFor.$dirty" class="help-text">This field is required.</span>
						</div>
								
						<div class="margintop-30">
							<div class="col-12 my_form">
								<label class="label-editable label-parent label-editable mr-2 d-inline-block font-weight-bold">
									What Do you want to name your job post?
								</label><br>
								<input type="text" ng-required = "true" class="text_fields" name="jobTitle" ng-model="postSelectionData.jobTitle">							
								<br>
								<span ng-show="postSelectionForm.jobTitle.$invalid == true && postSelectionForm.jobTitle.$dirty" class="help-text">Job Title is required.</span>
							</div>
						</div>
						
						
						
						
						<div class="form-horizontal margintop-30 ">
							<div class="form-group col-12">
								<label class="label-editable label-parent label-editable mr-2 d-inline-block">
									Examples
								</label><br>
								<ul>
									<li>Looking for a Rockstar Anesthesiologist</li>
									<li>Need A CRNA in California</li>
									<li>Anesthesiologist for a long term job</li>
								</ul>
							</div>
						</div>
						
						
					</form>
				</div>
				<div class="col-sm-6">
				 <div class="col-12">
					<label class="label-editable label-parent label-editable mr-2 d-inline-block font-weight-bold">
                        How it works.
                    </label><br>
                    <ul class="no-bullets" style="margin:0; padding:0;">
                        <li><span class="font-weight-bold">1. Find - </span> Post a job and we'll much you with experts</li>
                        <li><span class="font-weight-bold">2. Hire - </span> Browse profile and reviews then hire.</li>
                        <li><span class="font-weight-bold">3. Work - </span> Chat and Share files easily through upwork.</li>
                        <li><span class="font-weight-bold">4. Pay - </span> Invoice confidently.</li>
                    </ul>	
				 </div>	
				</div>
			</div>           			
        </div>
		<div class="clearFix">&nbsp;</div>
		<div class="col-12 job-select-footer">
			<div class="row my_form">
				<div class="col-sm-4"><a class="text-primary">Search for Resumes</a></div>
			  	<div class="col-sm-8"><button class="btn btn-primary my_btn" form-name="postSelectionForm" loading-button callback="gotToJobPost()" >Continue to Job Post</button></div>
			</div>
			<div class="clearFix">&nbsp;</div>
		</div> 
	   
    </div>
</div>
<div class="clearFix">&nbsp;</div>

