<style>
    .my_form select.text_fields{
        height: 41px;
    }
    #ui-datepicker-div{
        margin-top: 5px;
        background: #fff;
        border: 1px solid #efefef;
        border-radius: 20px;
        padding: 10px;
    }
    .ui-datepicker-header{
        padding: 5px;
    }
    .ui-datepicker-prev,.ui-datepicker-next{
        border: 1px solid #efefef;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 30px;
        cursor: pointer;
        background: #efefef;
    }
    .ui-datepicker-next{        
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .ui-datepicker-title{
        margin-top: 10px;
    }
</style>
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Company Profile</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="">Home</a>
            </li>
            <li class="breadcrumb-item active">Company Profile</li>         
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        &nbsp;
    </div>
</div>

<div class="row  job-post-wrapper my_form" id="validation">
    <div class="col-12 " style="margin-bottom: 150px">
        <div class="  wizard-content ">
            <div class="card-block nopadding" rd-jobsteps step-key="jobsform">
                <form action="#" name="jobForm"  wizard-submit class="validation-wizard wizard-circle " name="jobForm" novalidate>                                   
                    <section class="shadow card">
                        <div class="col-md-12 wizard-content-header nopadding">
                            <h3 class="p-10">
                                Post Information
                            </h3>
                        </div>

                        <div class="card-block" >
                            <div class="row">
                                
                                
                                <div class="col-12">
                                    <label class="control-label job-sub-header text-left col-12">What are you looking for?</label>
                                </div>
                                <div class="col-12">
                                    <div class="col-8">
                                        <div class="radio-list">
                                            <input name="jobType" ng-model="jobsData.jobPostType" id="anesthesiologist" type="radio" value="1" class="with-gap radio-col-purple">
                                            <label for="anesthesiologist">Anesthesiologist</label>
                                            <br>
                                            <input name="jobType" ng-model="jobsData.jobPostType" id="crna" type="radio" value="2" class="with-gap radio-col-purple">
                                            <label for="crna">CRNA</label>
                                        </div>                                                    
                                    </div>
                                </div>

                                <!-- job title -->
                                <div class="col-12 ">
                                    <label class="control-label job-sub-header text-left col-12">Choose Sub User to Manage this job</label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-8">                                        
                                        <select ng-model="jobsData.sub_user_id" class="js-example-basic-multiple sfield form-on-top text_fields">
                                          <option value="">Select Sub User</option>
                                          <option ng-value="subuser.user.id" ng-repeat="subuser in subusers">
                                              {{ subuser.user.email }}
                                          </option>
                                        </select>
                                    </div>
                                </div>

                                <!-- job title -->
                                <div class="col-12 ">
                                    <label class="control-label job-sub-header text-left col-12">Job Title</label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-8">
                                        <input class="text_fields required" ng-required="true"  ng-model = "jobsData.jobTitle"  placeholder="">
                                        <span class="help-block absolute" ng-show = "jobForm.jobTitle.$invalid && jobForm.jobTitle.$dirty">Job Title is required.</span>
                                    </div>
                                </div>

                                <!-- job description -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">Job Description</label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-8">
                                        <textarea class="text_fields" id="exampleTextarea" rows="10" placeholder="" ng-model = "jobsData.ei_jobDescription"  ng-change="saveLocal('ei_jobDescription', jobsData.ei_jobDescription)"></textarea>
                                    </div>
                                </div>


                                <!-- PRIORITY -->
                                <!-- <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">Priority Level</label>
                                </div>
                                <div class="col-12">
                                    <div class="col-12">
                                        <b>High Priority Posting</b> 
                                        <a class=" mytooltip">
                                            <i class="tooltip-job-icon mdi mdi-comment-question-outline"></i>
                                            <span class="tooltip-content5 tooltip-standard">
                                                <span class="tooltip-text3">
                                                    <span class="tooltip-inner2">
                                                        <ul class="small">            
                                                            <li><b>Most</b> Visibility:</li>
                                                            <li><b>Instantly</b> Displayed</li>
                                                            <li>Listed at the very <b>TOP</b></li>
                                                            <li>Highlighted text</li>
                                                            <li>Also Posted to Facebook and Twitter</li>
                                                        </ul>
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-12">                                        										
										<span ng-repeat = "priority in priorities[1]">
											<input ng-model="jobsData.priority" id="priority_{{priority.id}}" ng-change="savePrio(priority)" value="{{priority.id}}" name="priority" class="with-gap radio-col-purple" type="radio">
											<label for="priority_{{priority.id}}">{{priority.levelName}} <span class="text-danger">- {{priority.amount || currency}}</span> &nbsp;  </label>
										</span>																														
                                    </div>
                                </div> -->



                                <!-- <div class="col-12">
                                    <div class="col-12">
                                        <b>Priority Posting</b> 
                                        <a class=" mytooltip">
                                            <i class="tooltip-job-icon mdi mdi-comment-question-outline"></i>
                                            <span class="tooltip-content5 tooltip-standard">
                                                <span class="tooltip-text3">
                                                    <span class="tooltip-inner2">
                                                        <ul class="small">            
                                                            <li><b>More</b> Visibility:</li>
                                                            <li><b>Instantly</b> Displayed</li>
                                                            <li><b>Listed above General postings</b></li>
                                                            <li>Highlighted text</li>
                                                        </ul>
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-12">                                       										
										<span ng-repeat = "priority in priorities[2]">
											<input ng-model="jobsData.priority" id="priority_{{priority.id}}" ng-change="savePrio(priority)" value="{{priority.id}}" name="priority" class="with-gap radio-col-purple" type="radio">
											<label for="priority_{{priority.id}}">{{priority.levelName}} <span class="text-danger">- {{priority.amount || currency}}</span> &nbsp; </label>
										</span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="col-12">
                                        <b>General Posting</b> 
                                        <a class=" mytooltip">
                                            <i class="tooltip-job-icon mdi mdi-comment-question-outline"></i>
                                            <span class="tooltip-content5 tooltip-standard">
                                                <span class="tooltip-text3">
                                                    <span class="tooltip-inner2">
                                                        <ul class="small">            
                                                            <li>Free posts will not be displayed for up to 48 hours.</li>
                                                        </ul>
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-12">                                      
										
										<span ng-repeat = "priority in priorities[3]">
											<input ng-model="jobsData.priority" id="priority_{{priority.id}}" ng-change="savePrio(priority)" value="{{priority.id}}" name="priority" class="with-gap radio-col-purple" type="radio">
											<label for="priority_{{priority.id}}">{{priority.levelName}} <span class="text-danger">- {{priority.amount || currency}}</span> &nbsp; </label>
										</span>
										
                                    </div>
                                </div> -->

                                <!-- private notes -->
                                <!-- <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">Private Notes</label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-8">
                                        <textarea class="text_fields required"  id="exampleTextarea" ng-model = "jobsData.privateNotes"   rows="3" placeholder=""></textarea>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </section>

                    <section class="shadow card">
                        <div class="col-md-12 wizard-content-header nopadding">
                            <h3 class="p-10">
                                Essential Information
                            </h3>
                        </div>
                        <div class="card-block" >
                            <div class="row">

                                <div class="col-md-8">
                                    <div class="row">
                                        <!-- Facility Address -->
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-12 ">
                                                    <label class="control-label job-sub-header text-left col-12">Address</label>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="col-12">
                                                        <input type="text" class="text_fields"  ng-model = "jobsData.ei_facilityAddress"  >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Facility State -->
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <label class="control-label job-sub-header text-left col-12">Facility State</label>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="col-12">
                                                        <select ng-model="jobsData.ei_facilityState" class="js-example-basic-multiple sfield form-on-top text_fields"  name="states[]" >
                                                          <option value="All">All</option>
                                                          <option value="{{state.name}}" ng-repeat = "state in states">{{state.name}}</option>
                                                        </select>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Facility City -->
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <label class="control-label job-sub-header text-left col-12">Facility City</label>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="col-12">
                                                        <input type="text" id="facility-city" class="text_fields" tags-input  ng-model = "jobsData.ei_facilityCity"  >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                


                                <!-- Duration of position -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">Duration of position</label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">
                                        <div class="radio-list">
                                            
											
											<input id="radioDP1" ng-model = "jobsData.ei_durPosition"  ng-change="saveLocal('ei_durPosition', jobsData.ei_durPosition)"  name="ei_durPosition" type="radio" checked="" value="Full Time" class="with-gap radio-col-purple">
											<label for="radioDP1">Full Time</label>
											
                                            <div ng-show="jobsData.ei_durPosition == 'Full Time'" class=" small" >
                                                <b>a. Minimum</b>  Income<br>(Annual Estimated W-2 Salary or 1099 Payment)              
                                                <select select-picker ng-model="jobsData.full_time_min" ng-change="saveLocal('full_time_min', jobsData.full_time_min)" class="text_fields" id="q384_r219_332" name="q384_r219_332">
                                                    <option value="">please choose</option>
                                                    <option value="{{salary_full | currency}}" ng-selected="jobsData.full_time_min == salary_full" ng-repeat="salary_full in per_annum_salary track by $index">{{salary_full | currency}}</option>
                                                </select>
                                            </div>
                                            
                                            <div ng-show="jobsData.ei_durPosition == 'Full Time'" class=" small" >
                                                <b>b. Maximum</b>  Income<br>(Annual Estimated W-2 Salary or 1099 Payment)
                                                <select ng-model="jobsData.full_time_max" ng-change="saveLocal('full_time_max', jobsData.full_time_max)" class="text_fields" id="q381_r219_332" name="q381_r219_332">
                                                    <option value="">please choose</option>
                                                    <option value="{{salary_full | currency}}" ng-selected="jobsData.full_time_max == salary_full" ng-repeat="salary_full in per_annum_salary track by $index">{{salary_full | currency}}</option>
                                                </select>
                                            </div>
                                            
                                            <br>                                             
											<input id="radioPD2" ng-model = "jobsData.ei_durPosition"  ng-change="saveLocal('ei_durPosition', jobsData.ei_durPosition)"  value="Locum Tenens" name="ei_durPosition" type="radio" class="with-gap radio-col-purple">
											<label for="radioPD2">Locum Tenens</label> 

                                            <div ng-show="jobsData.ei_durPosition == 'Locum Tenens'" class=" small" >a. Minimum Payment per day:
                                                <select class="text_fields" ng-model="jobsData.locum_min" ng-change="saveLocal('locum_min', jobsData.locum_min)" id="q377_r219_333" name="q377_r219_333">
                                                    <option value="">please choose</option><
                                                    <option value="{{salary_locum | currency}} per day" ng-selected= "jobsData.locum_min == salary_locum" ng-repeat="salary_locum in per_day_salary track by $index">{{salary_locum | currency}} per day</option>
                                                </select>       
                                            </div>


                                            <div ng-show="jobsData.ei_durPosition == 'Locum Tenens'" class=" small" >b. Maximum Payment per day:
                                                <select class="text_fields" ng-model="jobsData.locum_max" ng-change="saveLocal('locum_max', jobsData.locum_max)" id="q511_r219_333" name="q511_r219_333">
                                                    <option value="">please choose</option>
                                                    <option value="{{salary_locum | currency}} per day" ng-selected= "jobsData.locum_max == salary_locum" ng-repeat="salary_locum in per_day_salary track by $index">{{salary_locum | currency}} per day</option>
                                                </select>       
                                            </div>
                                            <div ng-show="jobsData.ei_durPosition == 'Locum Tenens'"  class=" small" >c. End Date of Locum Tenens Job
                                                <input type="date" class="text_fields">
                                            </div>  
                                            
                                            <br>
											<input id="radioPD3" ng-model = "jobsData.ei_durPosition"  ng-change="saveLocal('ei_durPosition', jobsData.ei_durPosition)"  name="ei_durPosition" value="Part Time" type="radio" class="with-gap radio-col-purple">
											<label for="radioPD3">Part Time</label>																						
                                            
                                            <div ng-show="jobsData.ei_durPosition == 'Part Time'" class=" small" >
                                                <b>a. Minimum</b> Income<br> (Annual Estimated W-2 Salary or 1099 Payment)
                                                <select class="text_fields" ng-model="jobsData.part_time_min" ng-change="saveLocal('part_time_min', jobsData.part_time_min)" id="q384_r219_334" name="q384_r219_334">
                                                    <option value="">please choose</option>
                                                    <option value="{{salary_part_time | currency}}" ng-selected="jobsData.part_time_min == salary_part_time" ng-repeat="salary_part_time in per_annum_salary track by $index">{{salary_part_time | currency}}</option>
                                                </select>           
                                            </div>
                                            <div ng-show="jobsData.ei_durPosition == 'Part Time'" class=" small" >
                                                <b>b. Maximum</b> Income (Annual Estimated W-2 Salary or 1099 Payment)
                                                <select ng-model="jobsData.part_time_max" ng-change="saveLocal('part_time_max', jobsData.part_time_max)" class="text_fields" id="q381_r219_334" name="q381_r219_334">
                                                    <option value="">please choose</option>
                                                    <option value="{{salary_part_time | currency}}" ng-selected="jobsData.part_time_max == salary_part_time" ng-repeat="salary_part_time in per_annum_salary track by $index">{{salary_part_time | currency}}</option>
                                                </select>           
                                            </div>
                                            

                                            <br>
											<input id="radioPD4" ng-model = "jobsData.ei_durPosition"  ng-change="saveLocal('ei_durPosition', jobsData.ei_durPosition)"  name="ei_durPosition" type="radio" value="PRN" class="with-gap radio-col-purple">
											<label for="radioPD4">PRN</label>

                                            <div ng-show="jobsData.ei_durPosition == 'PRN'" class=" small" >a. Minimum Payment per day:
                                                <select ng-model="jobsData.prn_min" ng-change="saveLocal('prn_min', jobsData.prn_min)" class="text_fields" id="q377_r219_335" name="q377_r219_335">
                                                    <option value="">please choose</option>
                                                    <option value="{{salary_prn | currency}} per day" ng-selected="jobsData.prn_min == salary_prn" ng-repeat="salary_prn in per_day_salary track by $index">{{salary_prn | currency}} per day</option>
                                                </select>
                                            </div>
                                            <div ng-show="jobsData.ei_durPosition == 'PRN'" class=" small" >b. Maximum Payment per day:
                                                <select ng-model="jobsData.prn_max" ng-change="saveLocal('prn_max', jobsData.prn_max)" class="text_fields" id="q511_r219_335" name="q511_r219_335">
                                                    <option value="">please choose</option>
                                                    <option value="{{salary_prn | currency}} per day" ng-selected="jobsData.prn_max == salary_prn" ng-repeat="salary_prn in per_day_salary track by $index">{{salary_prn | currency}} per day</option>
                                                </select>
                                            </div>
                                            
                                            <br>											
											<input id="radioPD5" ng-model = "jobsData.ei_durPosition"  ng-change="saveLocal('ei_durPosition', jobsData.ei_durPosition)"  name="ei_durPosition" type="radio" value="Fellowship" class="with-gap radio-col-purple">
											<label for="radioPD5">Fellowship</label>
			
                                            <div ng-show="jobsData.ei_durPosition == 'Fellowship'" class=" small" ><b>a. Minimum</b> Income<br>(Annual Estimated W-2 Salary or 1099 Payment)
                                                <select ng-model="jobsData.fellowship_min" ng-change="saveLocal('fellowship_min', jobsData.fellowship_min)" class="text_fields" id="q384_r219_336" name="q384_r219_336">
                                                    <option value="">please choose</option>
                                                    <option value="{{salary_fellowship | currency}}"  ng-selected="jobsData.fellowship_min == salary_fellowship" ng-repeat="salary_fellowship in per_annum_salary track by $index">{{salary_fellowship | currency}}</option>
                                                </select>
                                            </div>
                                            <div ng-show="jobsData.ei_durPosition == 'Fellowship'" class=" small" ><b>b. Maximum</b> Income<br>(Annual Estimated W-2 Salary or 1099 Payment)
                                                <select ng-model="jobsData.fellowship_max" ng-change="saveLocal('fellowship_max', jobsData.fellowship_max)" class="text_fields" id="q381_r219_336" name="q381_r219_336">
                                                    <option value="">please choose</option>
                                                    <option  ng-selected="jobsData.fellowship_max == salary_fellowship" value="{{salary_fellowship | currency}}" ng-repeat="salary_fellowship in per_annum_salary track by $index">{{salary_fellowship | currency}}</option>
                                                </select>
                                            </div>

                                        </div>
                                        </div>
                                    </div>


                                    <!-- Employment Status -->
                                    <div class="col-12 m-top-25">
                                        <label class="control-label job-sub-header text-left col-12">Employment Status: W-2 (Employee) or 1099 (Independent Contractor)</label>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="col-md-8">
                                            <div class="radio-list">                                               												
												<input ng-model = "jobsData.ei_empStatus"  ng-change="saveLocal('ei_empStatus', jobsData.ei_empStatus)" id="radioEMP1" value="W-2" name="ei_empStatus" type="radio" checked="" class="with-gap radio-col-purple">
												<label for="radioEMP1">W-2</label>
												
                                                <br>												
												<input ng-model = "jobsData.ei_empStatus"  ng-change="saveLocal('ei_empStatus', jobsData.ei_empStatus)" id="radioEMP2" value="1099" name="ei_empStatus" type="radio" class="with-gap radio-col-purple">
												<label for="radioEMP2">1099</label>
												
                                                <br>												
												<input ng-model = "jobsData.ei_empStatus"  ng-change="saveLocal('ei_empStatus', jobsData.ei_empStatus)" id="radioEMP3" value="Unknown" name="ei_empStatus" type="radio" class="with-gap radio-col-purple">
												<label for="radioEMP3">Unknown</label>    
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Start Date -->
                                    <div class="col-12 m-top-25">
                                        <label class="control-label job-sub-header text-left col-12">Start Date</label>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <input ng-model = "jobsData.ei_startDate" ng-disabled = "jobsData.ei_startImmediate == '1'" ng-init="jobsData.ei_startImmediate == '1'? jobsData.ei_startDate ='' : jobsData.ei_startDate" ng-change="saveLocal('ei_startDate', jobsData.ei_startDate)" type="text" date-picker class="text_fields">
                                                </div>
                                                <div class="col-md-1">Or</div>
                                                <div class="col-md-7">
                                                    <input ng-click="startImmediateFunc()" ng-checked = "jobsData.ei_startImmediate == '1'" ng-model = "jobsData.ei_startImmediate"   id="checkbox33" type="checkbox">
                                                    <label for="checkbox33">Immediate</label>	
                                                </div>  
                                            </div>
                                        </div>
                                    </div>

                                    <!-- How often will Anesthesiologist be on FIRST call? -->
                                    <div class="col-12 m-top-25">
                                        <label class="control-label job-sub-header text-left col-12">How often will Anesthesiologist be on FIRST call?</label>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="col-md-8">
                                            <select ng-model = "jobsData.ei_ansFirstCall"  ng-change="saveLocal('ei_ansFirstCall', jobsData.ei_ansFirstCall)" class="text_fields">
                                                <option value="">please choose</option>
                                                <option value="Will NOT be on FIRST call">Will NOT be on FIRST call</option>
                                                <option value="Every night FIRST call">Every night FIRST call</option>
                                                <option value="Every OTHER night FIRST call">Every OTHER night FIRST call</option>
                                                
                                                <option value="Every THIRD night FIRST call">Every THIRD night FIRST call</option>
                                                <option value="Every FOURTH night FIRST call">Every FOURTH night FIRST call</option>
                                                <option value="Every FIFTH night FIRST call">Every FIFTH night FIRST call</option>
                                                <option value="Every SIXTH night FIRST call">Every SIXTH night FIRST call</option>
                                                <option value="Every SEVENTH night FIRST call">Every SEVENTH night FIRST call</option>
                                                <option value="Every EIGHTH night FIRST call">Every EIGHTH night FIRST call</option>
                                                <option value="Every NINTH night FIRST call">Every NINTH night FIRST call</option>
                                                <option value="Every TENTH night FIRST call">Every TENTH night FIRST call</option>
                                                <option value="Every ELEVENTH night FIRST call">Every ELEVENTH night FIRST call</option>
                                                <option value="Every TWELFTH night FIRST call">Every TWELFTH night FIRST call</option>
                                                <option value="Every THIRTEENTH night FIRST call">Every THIRTEENTH night FIRST call</option>
                                                <option value="Every FOURTEENTH night FIRST call">Every FOURTEENTH night FIRST call</option>
                                                <option value="Every FIFTEENTH night FIRST call">Every FIFTEENTH night FIRST call</option>
                                                <option value="FIRST Call frequency varies">FIRST Call frequency varies</option>
                                                <option value="Negotiable FIRST Call">Negotiable FIRST Call</option>
                                                <option value="Unknown FIRST Call">Unknown FIRST Call</option>
                                                <option value="Infrequent FIRST Call (See Full Description)">Infrequent FIRST Call (See Full Description)</option>
                                            </select>
                                        </div>
                                    </div>


                                    <!-- Start Date -->
                                    <div class="col-12 m-top-25">
                                        <label class="control-label job-sub-header text-left col-12">Is call required?</label>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="col-md-8">
                                            <div class="radio-list">                                               
												<input ng-model = "jobsData.ei_callRequired"  ng-change="saveLocal('ei_callRequired', jobsData.ei_callRequired)" value="Yes" id="radioCREQ1" name="ei_callRequired" type="radio" checked="" class="with-gap radio-col-purple">
												<label for="radioCREQ1">Yes</label> &nbsp; 
												
                                                <input ng-model = "jobsData.ei_callRequired"  ng-change="saveLocal('ei_callRequired', jobsData.ei_callRequired)" value="No" id="radioCREQ2" name="ei_callRequired" type="radio" class="with-gap radio-col-purple">
												<label for="radioCREQ2">No</label> &nbsp; 
												
                                                <input ng-model = "jobsData.ei_callRequired"  ng-change="saveLocal('ei_callRequired', jobsData.ei_callRequired)" value="Possibly" id="radioCREQ3" name="ei_callRequired" type="radio" class="with-gap radio-col-purple">
												<label for="radioCREQ3">Possibly</label> &nbsp; 
												
                                                <input ng-model = "jobsData.ei_callRequired"  ng-change="saveLocal('ei_callRequired', jobsData.ei_callRequired)" value="Not Required" id="radioCREQ4" name="ei_callRequired" type="radio" class="with-gap radio-col-purple">
												<label for="radioCREQ4">Not Required</label>      
                                            </div>
                                        </div>
                                    </div>


                                    <!-- How often -->
                                    <div class="col-12 m-top-25">
                                        <label class="control-label job-sub-header text-left col-12">
                                            Indicate how often the Anesthesiologist will be doing each of the types of cases including, "Never."
                                        </label>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="col-md-8">  
                                            <div class="radio-list" ng-repeat = "case in type_cases" >
                                                <div>{{case.label}}</div>                                                
												
												<span ng-repeat = "option in type_cases_options">
													<input ng-model = "jobsData[case.model]"  ng-change="saveLocal(case.model, option)" id="radioCPM_{{case.model}}_{{option}}" name="{{case.model}}" type="radio" value="{{option}}" checked="" class="with-gap radio-col-purple">
													<label for="radioCPM_{{case.model}}_{{option}}">{{option}}</label> &nbsp; 
												</span>
												
												
                                            </div>
                                            
                                            <div style="margin-top:12px;">
                                                <div>Other</div>
                                                <div>
                                                    <input type="text" ng-model = "jobsData.type_cases_other"  ng-change="saveLocal('type_cases_other', jobsData.type_cases_other)" placeholder="Describe" class="text_fields">
                                                </div>      
                                            </div>
                                        </div>
                                    </div>



                                    <!-- Will anesthesiologist be Medically Directing CRNAs or AAs -->
                                    <div class="col-12 m-top-25">
                                        <label class="control-label job-sub-header text-left col-12">
                                            Will anesthesiologist be Medically Directing CRNAs or AAs?
                                        </label>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="col-md-8">
                                            <div class="radio-list">
                                                <input id="radioCRNAs1" ng-model = "jobsData.ei_ansMedDirecting"  ng-change="saveLocal('ei_ansMedDirecting', jobsData.ei_ansMedDirecting)" value="Always" name="ei_ansMedDirecting" type="radio" checked="" class="with-gap radio-col-purple">
												<label for="radioCRNAs1">Always</label> &nbsp; 
												
                                               	<input id="radioCRNAs2" ng-model = "jobsData.ei_ansMedDirecting"  ng-change="saveLocal('ei_ansMedDirecting', jobsData.ei_ansMedDirecting)" value="Sometimes" name="ei_ansMedDirecting" type="radio" class="with-gap radio-col-purple">
												<label for="radioCRNAs2">Sometimes</label> &nbsp; 												
                                               
												<input id="radioCRNAs3" ng-model = "jobsData.ei_ansMedDirecting"  ng-change="saveLocal('ei_ansMedDirecting', jobsData.ei_ansMedDirecting)" value="Never" name="ei_ansMedDirecting" type="radio" class="with-gap radio-col-purple">
												<label for="radioCRNAs3">Never</label>
                                                        
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </section>


                    <section class="shadow card">
                        <div class="col-md-12 wizard-content-header nopadding">
                            <h3 class="p-10">
                                Job Requirements
                            </h3>
                        </div>
                        <div class="card-block" >
                            <div class="row">


                               
                                <!-- Subspecialty Fellowship Required? -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        Subspecialty Fellowship Required?
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <div class="radio-list">                                           
											<input id="jr_fellowshipReq1" ng-model = "jobsData.jr_fellowshipReq"  ng-change="saveLocal('jr_fellowshipReq', jobsData.jr_fellowshipReq)" value="No" name="jr_fellowshipReq" type="radio" checked="" class="with-gap radio-col-purple">
											<label for="jr_fellowshipReq1">No</label> &nbsp; 
											
                                            <input id="jr_fellowshipReq2" ng-model = "jobsData.jr_fellowshipReq"  ng-change="saveLocal('jr_fellowshipReq', jobsData.jr_fellowshipReq)" value="Yes" name="jr_fellowshipReq" type="radio" class="with-gap radio-col-purple">
											<label for="jr_fellowshipReq2">Yes</label> &nbsp; 
											
                                            <input id="jr_fellowshipReq3" ng-model = "jobsData.jr_fellowshipReq"  ng-change="saveLocal('jr_fellowshipReq', jobsData.jr_fellowshipReq)" value="Negotiable" name="jr_fellowshipReq" type="radio" class="with-gap radio-col-purple">
											<label for="jr_fellowshipReq3">Negotiable</label>
                                        </div>
                                    </div>
                                </div>



                                <!-- State License Required -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        State License Required
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <select ng-model = "jobsData.jr_stateLicence"  ng-change="saveLocal('jr_stateLicence', jobsData.jr_stateLicence)" class="text_fields">    
                                            <option ng-selected="jobsData.jr_stateLicense == state.name" ng-repeat = "state in states" value="{{state.name}}">{{state.name}}</option>
                                        </select>
                                    </div>
                                </div>


                                <!-- ABA Certification Status Required -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        ABA Certification Status Required
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <div class="radio-list">
                                            <input id="radioja1" ng-model = "jobsData.jr_abaCertStatus"  ng-change="saveLocal('jr_abaCertStatus', jobsData.jr_abaCertStatus)" value="Board Certified by the ABA" name="jr_abaCertStatus" type="radio" checked="" class="with-gap radio-col-purple">
											<label for="radioja1">Board Certified by the ABA</label> &nbsp; 
											
                                            <input id="radioja2" ng-model = "jobsData.jr_abaCertStatus"  ng-change="saveLocal('jr_abaCertStatus', jobsData.jr_abaCertStatus)" value="Candidate in ABA exam system" name="jr_abaCertStatus" type="radio" class="with-gap radio-col-purple">
											<label for="radioja2">Candidate in ABA exam system</label> &nbsp; 											
                                           
											<input id="radioja3" ng-model = "jobsData.jr_abaCertStatus"  ng-change="saveLocal('jr_abaCertStatus', jobsData.jr_abaCertStatus)" value="No ABA Certification Required" name="jr_abaCertStatus" type="radio" class="with-gap radio-col-purple">
											<label for="radioja3">No ABA Certification Required</label> &nbsp; 
											
                                            <input id="radioja4" ng-model = "jobsData.jr_abaCertStatus"  ng-change="saveLocal('jr_abaCertStatus', jobsData.jr_abaCertStatus)" value="Negotiable" name="jr_abaCertStatus" type="radio" class="with-gap radio-col-purple">
											<label for="radioja4">Negotiable</label> &nbsp; 
											
                                            <input id="radioja5" ng-model = "jobsData.jr_abaCertStatus"  ng-change="saveLocal('jr_abaCertStatus', jobsData.jr_abaCertStatus)" value="FRCP eligible (Canada)" name="jr_abaCertStatus" type="radio" class="with-gap radio-col-purple">
											<label for="radioja5">FRCP eligible (Canada)</label>
											
                                        </div>
                                    </div>
                                </div>


                                <!-- Select all that are required for this job -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        Select all that are required for this job
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <div class="checkbox checkbox-success">
                                            <input  id="checkboxj16" ng-model = "jobsData.current_acls" ng-checked="jobsData.current_acls == 'true'"  ng-change="saveLocal('current_acls', jobsData.current_acls)"   type="checkbox"><label for="checkboxj16">Current ACLS card</label><br>      
                                            <input id="checkboxj17"  ng-model = "jobsData.current_pals" ng-checked="jobsData.current_pals == 'true'"  ng-change="saveLocal('current_pals', jobsData.current_pals)" type="checkbox"><label for="checkboxj17">Current PALS card</label><br>
                                            <input id="checkboxj18" ng-checked="jobsData.aba_pain_management == 'true'"  ng-model = "jobsData.aba_pain_management"  ng-change="saveLocal('aba_pain_management', jobsData.aba_pain_management)" type="checkbox"><label for="checkboxj18">ABA Certification in Pain Management</label><br>
                                            <input id="checkboxj19" ng-checked="jobsData.aba_critical_care == 'true'" ng-model = "jobsData.aba_critical_care"  ng-change="saveLocal('aba_critical_care', jobsData.aba_critical_care)"  type="checkbox"><label for="checkboxj19">ABA Certification in Critical Care Management</label><br>
                                        </div>
                                    </div>
                                </div>



                             
                                <!-- New Graduates Acceptable? -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        New Graduates Acceptable?
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-12">  
                                        <div class="radio-list">                                           
											<input ng-model = "jobsData.jr_newGraduates"  ng-change="saveLocal('jr_newGraduates', jobsData.jr_newGraduates)" value="No" id="radio_j13" name="jr_newGraduates" type="radio" checked="" class="with-gap radio-col-purple">
											<label for="radio_j13">No</label> &nbsp; 
											
                                            <input ng-model = "jobsData.jr_abaCertStatus"  ng-change="saveLocal('jr_newGraduates', jobsData.jr_newGraduates)" value="Yes" id="radio_j14" name="jr_newGraduates" type="radio" class="with-gap radio-col-purple">
											<label for="radio_j14">Yes</label> &nbsp; 											
                                            
                                            <input ng-model = "jobsData.jr_newGraduates"  ng-change="saveLocal('jr_newGraduates', jobsData.jr_newGraduates)" value="Negotiable" id="radio_j15" name="jr_newGraduates" type="radio" class="with-gap radio-col-purple">
											<label for="radio_j15">Negotiable</label> &nbsp; 											
                                          
											<input ng-model = "jobsData.jr_newGraduates"  ng-change="saveLocal('jr_newGraduates', jobsData.jr_newGraduates)" value="Conditional" id="radio_j16" name="jr_newGraduates" type="radio" class="with-gap radio-col-purple">
											<label for="radio_j16">Conditional</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>

                    <section class="shadow card">
                        <div class="col-md-12 wizard-content-header nopadding">
                            <h3 class="p-10">
                                Salary and Income Information
                            </h3>
                        </div>
                        <div class="card-block" >
                            <div class="row">

                                <!-- Sign-on Bonus commitment -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        Sign-on Bonus commitment
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <select ng-model = "jobsData.si_SignonBonus"  ng-change="saveLocal('si_SignonBonus', jobsData.si_SignonBonus)" class="text_fields">
                                            <option value="">please choose</option>
                                            <option value="One yr">One yr</option>
                                            <option value="Two yrs">Two yrs</option>
                                            <option value="Three yrs">Three yrs</option>
                                            <option value="None">None</option>
                                            <option value="Negotiable">Negotiable</option>
                                        </select>
                                    </div>
                                </div>



                                <!-- Weeks Paid -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        Weeks Paid <b>Educational</b> Leave
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <select ng-model = "jobsData.si_PaidLeave "  ng-change="saveLocal('si_PaidLeave', jobsData.si_PaidLeave )" class="text_fields">
                                            <option value="">please choose</option>
                                            <option value="None">None</option>
                                            <option value="1 Week">1 Week</option>
                                            <option value="2 Weeks">2 Weeks</option>
                                            <option value="3 Weeks">3 Weeks</option>
                                            <option value="4 Weeks">4 Weeks</option>
                                            <option value="5 Weeks">5 Weeks</option>
                                            <option value="6 Weeks">6 Weeks</option>
                                            <option value="7 Weeks">7 Weeks</option>
                                            <option value="8 Weeks">8 Weeks</option>
                                            <option value="9 Weeks">9 Weeks</option>
                                            <option value="10 Weeks">10 Weeks</option>
                                            <option value="11 Weeks">11 Weeks</option>
                                            <option value="12 Weeks">12 Weeks</option>
                                            <option value="More than 12 Weeks">More than 12 Weeks</option>
                                            <option value="Negotiable">Negotiable</option>
                                        </select>
                                    </div>
                                </div>



                                <!-- Weeks Paid -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        Weeks Paid <b>Vacation</b>
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <select ng-model = "jobsData.si_PaidVacation "  ng-change="saveLocal('si_PaidVacation', jobsData.si_PaidVacation )" class="text_fields">
                                            <option value="">please choose</option>
                                            <option value="None">None</option>
                                            <option value="1 Week">1 Week</option>
                                            <option value="2 Weeks">2 Weeks</option>
                                            <option value="3 Weeks">3 Weeks</option>
                                            <option value="4 Weeks">4 Weeks</option>
                                            <option value="5 Weeks">5 Weeks</option>
                                            <option value="6 Weeks">6 Weeks</option>
                                            <option value="7 Weeks">7 Weeks</option>
                                            <option value="8 Weeks">8 Weeks</option>
                                            <option value="9 Weeks">9 Weeks</option>
                                            <option value="10 Weeks">10 Weeks</option>
                                            <option value="11 Weeks">11 Weeks</option>
                                            <option value="12 Weeks">12 Weeks</option>
                                            <option value="More than 12 Weeks">More than 12 Weeks</option>
                                            <option value="Negotiable">Negotiable</option>
                                        </select>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </section>

                    <section class="shadow card">
                        <div class="col-md-12 wizard-content-header nopadding">
                            <h3 class="p-10">
                                Anesthesia Group Information
                            </h3>
                        </div>
                        <div class="card-block" >
                            <div class="row">            
                                <!-- Weeks Paid -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        Anesthesia Group Name
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <input ng-model = "jobsData.ag_name "  type="text" class="text_fields">
                                    </div>
                                </div>

                                <!-- Anesthesia Group Web Site -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        Anesthesia Group Web Site
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <input ng-model = "jobsData.ag_website "  type="text" class="text_fields">
                                    </div>
                                </div>

                                <!-- Anesthesia Group Web Site -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        Does Anesthesia Group have an exclusive contract?
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <div class="radio-list">                                            
											<input id="haveContract1" ng-model = "jobsData.ag_haveContract " value="yes"  ng-change="saveLocal('ag_haveContract', jobsData.ag_haveContract)" name="haveContract" type="radio" checked="" class="with-gap radio-col-purple">
											<label for="haveContract1">No</label> &nbsp; 
											
											<input id="haveContract2" ng-model = "jobsData.ag_haveContract " value="no"  ng-change="saveLocal('ag_haveContract', jobsData.ag_haveContract)" name="haveContract" type="radio" class="with-gap radio-col-purple">
											<label for="haveContract2">Yes</label>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </section>            

                    <section class="shadow card">
                        <div class="col-md-12 wizard-content-header nopadding">
                            <h3 class="p-10">
                                Facility Information
                            </h3>
                        </div>
                        <div class="card-block" >
                            <div class="row">

                                <!-- Name of Anesthesiologist who is Group President and years with group -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        Name of Anesthesiologist who is Group President and years with group
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <input ng-model = "jobsData.fi_nameAns"  type="text" class="text_fields">
                                    </div>
                                </div>


                                <!-- Name of Chief CRNA -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        Name of Chief CRNA
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <input ng-model = "jobsData.fi_nameCRNA "  type="text" class="text_fields">
                                    </div>
                                </div>


                                <!-- Name of Chief CRNA -->
                                 <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        Is practice limited to Hospital, Surgery Center and Office Based Anesthesia?
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-12">  
                                        <div class="radio-list">
											<input ng-model = "jobsData.fi_isPracLimited" ng-change="saveLocal('fi_isPracLimited', jobsData.fi_isPracLimited)" value="One Hospital"  id="radioFac1" name="fi_isPracLimited" type="radio" checked="" class="with-gap radio-col-purple">
											<label for="radioFac1">One Hospital</label> &nbsp;                                             
                                            
											<input ng-model = "jobsData.fi_isPracLimited" ng-change="saveLocal('fi_isPracLimited', jobsData.fi_isPracLimited)" value="Several Hospitals" id="radioFac2" name="fi_isPracLimited" type="radio" class="with-gap radio-col-purple">
											<label for="radioFac2">Several Hospitals</label> &nbsp; 											
                                           
											<input ng-model = "jobsData.fi_isPracLimited" ng-change="saveLocal('fi_isPracLimited', jobsData.fi_isPracLimited)" value="No" id="radioFac3" name="fi_isPracLimited" type="radio" class="with-gap radio-col-purple">
											<label for="radioFac3">No</label> &nbsp; 											
                                               
											<input ng-model = "jobsData.fi_isPracLimited" ng-change="saveLocal('fi_isPracLimited', jobsData.fi_isPracLimited)" value="Yes" id="radioFac4" name="fi_isPracLimited" type="radio" class="with-gap radio-col-purple">    
											<label for="radioFac4">Yes</label> &nbsp; 											
                                            
											<input ng-model = "jobsData.fi_isPracLimited" ng-change="saveLocal('fi_isPracLimited', jobsData.fi_isPracLimited)" value="Negotiable" id="radioFac5" name="fi_isPracLimited" type="radio" class="with-gap radio-col-purple">
											<label for="radioFac5">Negotiable</label>
                                        </div>
                                    </div>
                                </div>


                                <!-- Name of Chief CRNA -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        Federal Government job? (Any State license will work)
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <div class="radio-list">                                            
											<input ng-model = "jobsData.fi_isFederalJob" ng-change="saveLocal('fi_isFederalJob', jobsData.fi_isFederalJob)" value="Yes" id="radioFed1" name="fi_isFederalJob" type="radio" checked="" class="with-gap radio-col-purple">
											<label for="radioFed1">Yes</label> &nbsp; 											
                                            
											<input ng-model = "jobsData.fi_isFederalJob" ng-change="saveLocal('fi_isFederalJob', jobsData.fi_isFederalJob)" value="No" id="radioFed2" name="fi_isFederalJob" type="radio" class="with-gap radio-col-purple">
											<label for="radioFed2">No</label>     
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="shadow card">
                        <div class="col-md-12 wizard-content-header nopadding">
                            <h3 class="p-10">
                                Contact Information
                            </h3>
                        </div>
                        <div class="card-block" >
                            <div class="row">


                                <!-- Company Name -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        Company Name
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <input ng-model = "jobsData.ci_company"  type="text" class="text_fields">
                                    </div>
                                </div>

                                <!-- Company internal Job ID -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        Company internal Job ID
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <input ng-model = "jobsData.ci_jobID"  type="text" class="text_fields">
                                    </div>
                                </div>


                           

                                <!-- Contact Email -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        Contact Email
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <input ng-model = "jobsData.ci_email"  type="text" class="text_fields">
                                    </div>
                                </div>

                                <!-- Contact Street Address 1 -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        Contact Street Address 1
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <input ng-model = "jobsData.ci_address1"  type="text" class="text_fields">
                                    </div>
                                </div>


                                <!-- Contact Street Address 2 -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        Contact Street Address 2
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <input ng-model = "jobsData.ci_address2"  type="text" class="text_fields">
                                    </div>
                                </div>

                            
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <!-- Contact City -->
                                                <div class="col-12 m-top-25">
                                                    <label class="control-label job-sub-header text-left col-12">
                                                        Contact City
                                                    </label>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="col-md-12">  
                                                        <input ng-model = "jobsData.ci_city"  type="text" class="text_fields">
                                                    </div>
                                                </div> 
                                            </div>                                       
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <!-- Contact State -->
                                                <div class="col-12 m-top-25">
                                                    <label class="control-label job-sub-header text-left col-12">
                                                        Contact State
                                                    </label>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="col-md-12">  
                                                        <select ng-model = "jobsData.ci_state" ng-change="saveLocal('ci_state', jobsData.ci_state)" class="text_fields">
                                                            <option ng-selected="jobsData.ci_state == state.name" ng-repeat = "state in states" value="{{state.name}}">{{state.name}}</option>
                                                        </select>                                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <!-- Contact Zipcode -->
                                                <div class="col-12 m-top-25">
                                                    <label class="control-label job-sub-header text-left col-12">
                                                        Contact Zip Code
                                                    </label>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="col-md-12">  
                                                        <input ng-model = "jobsData.ci_zipcode"  type="text" class="text_fields">                                 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                                            

                                <!-- Contact Voice Phone -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        SMS Notification number
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <input ng-model = "jobsData.ci_phone"  type="text" class="text_fields">                                 
                                    </div>
                                </div>


                                <!-- Contact Fax -->
                                <!-- <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        Contact Fax
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <input ng-model = "jobsData.ci_fax"  type="text" class="text_fields">                                 
                                    </div>
                                </div> -->


                                <!-- Contact Web Site -->
                                <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        Contact Web Site
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <input ng-model = "jobsData.ci_website"  type="text" class="text_fields">                                 
                                    </div>
                                </div>


                                <!-- Preferred Contact Method -->
                                <!-- <div class="col-12 m-top-25">
                                    <label class="control-label job-sub-header text-left col-12">
                                        Preferred Contact Method
                                    </label>
                                </div>
                                <div class="col-12 ">
                                    <div class="col-md-8">  
                                        <select ng-model = "jobsData.ci_prefMethod"  class="text_fields">
                                            <option value="">please choose</option>
                                            <option value="Email">Email</option>
                                            <option value="Link to Apply for Job">Link to Apply for Job</option>
                                            <option value="Phone">Phone</option>
                                            <option value="Fax">Fax</option>
                                            <option value="Postal Mail">Postal Mail</option>
                                            <option value="No Preference">No Preference</option>
                                        </select>
                                    </div>
                                </div> -->

                            </div>
                        </div>
                    </section>

                    <section class="shadow card" style="padding-top:15px ">
                        <div class="col-md-12 ">
                            <div align="center">
                                <button type="button" ng-click="submitJobPost()" class="btn btn-primary my_btn">Save and Update</button>
                            </div>
                        </div>
                    </section>

                
                </form>
            </div>
        </div>
    </div>
</div>
                  


