<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Jobs Details</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active">Jobs Details</li>			
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
    	&nbsp;
    </div>
</div>

<div class="row">
<div class="col-12">
	<div class="alert alert-success">						
		<h3 class="text-info">Reference #236633</h3> 
		<h6 class="card-subtitle">High Priority Posting - Anesthesiologist Job - <a href="#">dwsaxton@phhealthcare.org</a> (Facility: Hospital)</h6>
	</div>
</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="card card-outline-primary">
			<div class="card-header">
				  <h4 class="m-b-0 text-white">Job Information and Duties</h4>
			</div>
			<div class="card-block">
			
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 nopadding">
    <div class="card" style="margin-bottom: 100px">
    	<div class="card-block">
			another content

		</div>	
	</div>
</div>


