<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Jobs Preview</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active">Preview</li>           
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        &nbsp;
    </div>
</div>

<div class="col-md-12 nopadding">
    <div class="card" style="margin-bottom: 100px">
        <div class="card-block">
            <div class="ribbon " ng-class="{'ribbon-success' : jobsData.post_state == 'confirmed' , 'ribbon-danger' : jobsData.post_state == 'unconfirmed'}">{{jobsData.post_state == 'confirmed' ? 'Confirmed' : 'Unconfirmed'}}</div>
        <section>
                <div class="col-md-12 wizard-content-header">
                        <h2 class="text-center">Preview</h2>
                </div>
                <div class="card-block">
                <h4 class="card-title bg-success" style="color:#FFFFFF; padding:10px;">Post Information</h4>
                <table class="table table-bordered small table-hover table-condensed">      
                    <tbody>     
                        <tr>
                            <td width="30%">Priority Level</td>
                            <td>{{getPrioLabel(jobsData.priority)}}</td>                          
                        </tr>
                        <tr>
                            <td>Post Anonymously</td>
                            <td>{{jobsData.postAnonymously}}</td>                            
                        </tr>
                        <tr>
                            <td>Private Notes</td>
                            <td>{{jobsData.privateNotes}}</td>                         
                        </tr>       
                    </tbody>
                </table>

             
               <h4 class="card-title bg-success" style="color:#FFFFFF; padding:10px;">Essential Information</h4>
               <table class="table table-bordered small table-hover table-condensed">       
                <tbody>
                
                <tr>
                    <td width="30%">Facility City</td>
                    <td>{{jobsData.ei_facilityCity}}</td>                         
                </tr>   
                <tr>
                    <td>Facility State</td>
                    <td>{{jobsData.ei_facilityState}}</td>                           
                </tr>
                
                <tr>
                    <td>Duration of position</td>
                    <td>{{jobsData.ei_durPosition}}
                        <div class="alert alert-info small" style="width:70%"><b>a. Minimum</b> {{jobsData.ei_durMin}}</div>
                        <div class="alert alert-info small" style="width:70%"><b>b. Maximum</b> {{jobsData.ei_durMax}}</div>
                    </td>                           
                </tr>
                
                <tr>
                    <td>Job Description</td>
                    <td>
                        {{jobsData.ei_jobDescription}}
                    </td>                           
                </tr>   
                <tr>
                    <td>Employment Status:<br>
            W-2 (Employee) or<br>
            1099 (Independent Contractor)</td>
                    <td>{{jobsData.ei_empStatus}}</td>                            
                </tr>
                <tr>
                    <td>Start Date</td>
                    <td>{{jobsData.ei_startDateImmediate == '' ? jobsData.ei_startDate : 'Immediate'}}</td>                          
                </tr>
                
                <tr>
                    <td>How often will Anesthesiologist be on FIRST call?</td>
                    <td>{{jobsData.ei_ansFirstCall}}</td>                         
                </tr>   
                <tr>
                    <td>Is call required?</td>
                    <td>{{jobsData.callRequired}}</td>                            
                </tr>
                <tr>
                    <td>How often the Anesthesiologist will be doing each of the following:</td>
                    <td>        
                    <div class="alert alert-info" style="width:50%"><b>Chronic Pain Management:</b> {{jobsData.chronic_pain_man || 'unknown'}}</div>
                    <div class="alert alert-info" style="width:50%"><b>Cardiac Anesthesia:</b> {{jobsData.cardiac_anesthesia || 'unknown'}}</div>
                    <div class="alert alert-info" style="width:50%"><b>Thoracic Anesthesia:</b> {{jobsData.thoracic_anesthesia || 'unknown'}}</div>
                    <div class="alert alert-info" style="width:50%"><b>Major Vascular Anesthesia:</b> {{jobsData.major_vascular_anesthesia || 'unknown'}}</div>
                    <div class="alert alert-info" style="width:50%"><b>Obstetric Anesthesia:</b> {{jobsData.obstetric_anesthesia || 'unknown'}}</div>
                    <div class="alert alert-info" style="width:50%"><b>Orthopedic Anesthesia:</b> {{jobsData.orthopedic_anesthesia || 'unknown'}}</div>
                    <div class="alert alert-info" style="width:50%"><b>Pediatric Anesthesia:</b> {{jobsData.pediatric_anesthesia || 'unknown'}}</div>
                    <div class="alert alert-info" style="width:50%"><b>Regional Anesthesia:</b> {{jobsData.regional_anesthesia || 'unknown'}}</div>
                    <div class="alert alert-info" style="width:50%"><b>Trauma Anesthesia:</b> {{jobsData.trauma_anesthesia || 'unknown'}}</div>
                    <div class="alert alert-info" style="width:50%"><b>Acute Pain Service:</b> {{jobsData.accute_pain_service || 'unknown'}}</div>
                    <div class="alert alert-info" style="width:50%"><b>Neuroanesthesia:</b> {{jobsData.neuroanesthesia || 'unknown'}}</div>

                    </td>                           
                </tr>
                <tr>
                    <td>Will anesthesiologist be Medically Directing CRNAs or AAs?</td>
                    <td>{{jobsData.ei_ansMedDirecting}}</td>                         
                </tr>
                    
            </tbody>
            </table>
               
               
               <h4 class="card-title bg-success" style="color:#FFFFFF; padding:10px;">Job Requirements</h4>
               <table class="table table-bordered small table-hover table-condensed">       
            <tbody> 
                <tr>
                    <td width="30%">Subspecialty Fellowship Required?</td>
                    <td>{{jobsData.jr_fellowshipReq}}</td>                            
                </tr>
                <tr>
                    <td>State License Required</td>
                    <td>{{jobsData.jr_stateLicense}}</td>                           
                </tr>   
                <tr>
                    <td>ABA Certification Status Required</td>
                    <td>{{jobsData.jr_abaCertStatus}}</td>                         
                </tr>   
                <tr>
                    <td>Required for this job</td>
                    <td>
                        {{jobsData.current_acls == 'true' ? 'Current ACLS card' : ''}}
                        <br>
                        {{jobsData.current_pals == 'true' ? 'Current PALS card' : ''}}
                        <br>
                        {{jobsData.aba_pain_management == 'true' ? 'ABA Certification in Pain Management' : ''}}
                        <br>
                        {{jobsData.aba_critical_care == 'true' ? 'ABA Certification in Critical Care Management' : ''}}
                    </td>                          
                </tr>
                <tr>
                    <td>New Graduates Acceptable?</td>
                    <td>{{jobsData.jr_newGraduates}}</td>                            
                </tr>       
            </tbody>
            </table>
                                         
                                           <h4 class="card-title bg-success" style="color:#FFFFFF; padding:10px;">Salary and Income Information </h4>
                                            <table class="table table-bordered small table-hover table-condensed">      
            <tbody> 
                <tr>
                    <td width="30%">Sign-on Bonus commitment</td>
                    <td>{{jobsData.si_SignonBonus}}</td>                         
                </tr>
                <tr>
                    <td>Weeks Paid Educational Leave</td>
                    <td>{{jobsData.si_PaidLeave}}</td>                         
                </tr>   
                <tr>
                    <td>Weeks Paid Vacation</td>
                    <td>{{jobsData.si_PaidVacation}}</td>                         
                </tr>   
            </tbody>
            </table>
                                            
            <h4 class="card-title bg-success" style="color:#FFFFFF; padding:10px;">Anesthesia Group Information </h4>
            <table class="table table-bordered small table-hover table-condensed">      
            <tbody> 
                <tr>
                    <td width="30%">Anesthesia Group Name</td>
                    <td>{{jobsData.ag_name}}</td>                            
                </tr>
                <tr>
                    <td>Anesthesia Group Web Site</td>
                    <td>{{jobsData.ag_webSite}}</td>                            
                </tr>   
                <tr>
                    <td>Anesthesia Group Exclusive Contract</td>
                    <td>{{jobsData.ag_haveContract}}</td>                            
                </tr>   
            </tbody>
            </table>
                                             
            <h4 class="card-title bg-success" style="color:#FFFFFF; padding:10px;">Facility Information</h4> 
            <table class="table table-bordered small table-hover table-condensed">      
            <tbody> 
                <tr>
                    <td width="30%">Name of Anesthesiologist who is Group President and years with group</td>
                    <td>{{jobsData.fi_nameAns}}</td>                           
                </tr>
                <tr>
                    <td>Name of Chief CRNA</td>
                    <td>{{jobsData.fi_nameCRNA}}</td>                           
                </tr>   
                <tr>
                    <td>Name of Anesthesiologist Assistant(s)</td>
                    <td>{{jobsData.fi_nameAssistant}}</td>                           
                </tr>   
                <tr>
                    <td>Is practice limited to Hospital, Surgery Center and Office Based Anesthesia?1</td>
                    <td>{{jobsData.fi_isPracLimited}}</td>                           
                </tr>
                <tr>
                    <td>
                    Federal Government job? (Any State license will work)
                    <br>
                    <span class="small">For example:
                    <ul>
                        <li>Veterans Affairs (VA)</li>
                        <li>Military</li>
                        <li>Indian Health</li>
                    </ul>
                    </span> 
                    </td>
                    <td>{{jobsData.fi_isFederalJob}}</td>                            
                </tr>
            </tbody>
            </table>    
                                            
            <h4 class="card-title bg-success" style="color:#FFFFFF; padding:10px;">Contact Information</h4>     
            <table class="table table-bordered small table-hover table-condensed">      
            <tbody> 
                <tr>
                    <td width="30%">Company Name</td>
                    <td>{{jobsData.ci_company}}</td>                          
                </tr>
                <tr>
                    <td>Company internal Job ID</td>
                    <td>{{jobsData.ci_jobID}}</td>                          
                </tr>   
                <tr>
                    <td>Contact Name</td>
                    <td>{{jobsData.ci_name}}</td>                           
                </tr>
                <tr>
                    <td>Contact Email</td>
                    <td>{{jobsData.ci_email}}</td>                          
                </tr>
                <tr>
                    <td>Contact Street Address 1</td>
                    <td>{{jobsData.ci_address1}}</td>                          
                </tr>
                <tr>
                    <td>Contact Street Address 2</td>
                    <td{{jobsData.ci_address2}}</td>                           
                </tr>
                <tr>
                    <td>Contact City</td>
                    <td>{{jobsData.ci_city}}</td>                         
                </tr>
                <tr>
                    <td>Contact State</td>
                    <td>{{jobsData.ci_state}}</td>                           
                </tr>
                <tr>
                    <td>Contact Zip Code</td>
                    <td>{{jobsData.ci_zipcode}}</td>                          
                </tr>   
            
                <tr>
                    <td>Contact Voice Phone</td>
                    <td>{{jobsData.ci_phone}}</td>                           
                </tr>
                <tr>
                    <td>Contact Fax</td>
                    <td>{{jobsData.ci_fax}}</td>                           
                </tr>
                <tr>
                    <td>Contact Web Site</td>
                    <td>{{jobsData.ci_website}}</td>                            
                </tr>
                <tr>
                    <td>Preferred Contact Method</td>
                    <td>{{jobsData.ci_prefMethod}}</td>                          
                </tr>
            </tbody>
            </table>
                                            
                      
                </section>

            <div class="col-md-12 text-center">
                <button ng-show="jobsData.post_state == 'unconfirmed'" class="btn btn-success" loading-button callback="confirmJobPost()">Confirm</button>
                <button  class="btn btn-info" ui-sref="edit_job({job_id : jobsData.id})">Edit</button>
            </div>
            

            </div>
        </div>  
    </div>