
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Jobs Post</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active">Jobs Post</li>			
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
    	&nbsp;
    </div>
</div>

<div class="col-md-12 nopadding">
    <div class="card" style="margin-bottom: 100px">
    	<div class="card-block">
                               
                                <div id="accordion1" role="tablist" aria-multiselectable="true">
								<form action="" class="form-horizontal">	
                                    <div class="card m-b-0">
                                        <div class="card-header" role="tab" id="headingOne1">
                                            <h5 class="mb-0">
                                            <a data-toggle="collapse" data-parent="#accordion1" ng-click="selectAccordion('headingOne1')" class="pointer" aria-expanded="true" aria-controls="collapseOne1">
                                              Post Information
                                            </a>
                                          </h5>
                                        </div>
                                        <div id="collapseOne1" class="collapse show" ng-class="{'show' : active_job_accordion == 'headingOne1'}" role="tabpanel" aria-labelledby="headingOne1">
                                            <div class="card-block">
                                                <div class="form-group row">
													<label class="control-label text-left col-md-3">Priority Level</label>
													<div class="col-md-9">
													  <div class="radio-list">	
														<b>High Priority Posting</b> &nbsp; &nbsp; <span class="small">Also Posted on: <i class="fa fa-facebook"></i> <i class="fa fa-twitter"></i></span>
														<div style="padding-left:20px;">
														<ul class="small" style="margin:0px 0px 0px 18px; padding:0px;">			
															<li><b>Most</b> Visibility:</li>
															<li><b>Instantly</b> Displayed</li>
															<li>Listed at the very <b>TOP</b></li>
															<li>Highlighted text</li>
															<li>Also Posted to Facebook and Twitter</li>
														</ul>
														<label class="custom-control custom-radio">
														<input id="radioPost1a" name="radio" type="radio" class="custom-control-input">
														<span class="custom-control-indicator"></span><span class="custom-control-description">7 days <span class="text-danger">- $149.00</span></span>
														</label>
														<label class="custom-control custom-radio">
														<input id="radioPost1b" name="radio" type="radio" class="custom-control-input">
														<span class="custom-control-indicator"></span><span class="custom-control-description">14 days <span class="text-danger">- $286.00</span></span>
														</label>
														<label class="custom-control custom-radio">
														<input id="radioPost1c" name="radio" type="radio" class="custom-control-input">
														<span class="custom-control-indicator"></span><span class="custom-control-description">30 days <span class="text-danger">- $679.00</span></span>
														</label>
														</div>
														
														<div>&nbsp;</div>
														<b>Priority Posting</b>
														<div style="padding-left:20px;">
														<div class="small">More Visibility: Instantly Displayed - Listed above General postings - Highlighted text</div>
														<label class="custom-control custom-radio">
														<input id="radioPost2a" name="radio" type="radio" class="custom-control-input">
														<span class="custom-control-indicator"></span><span class="custom-control-description">7 days <span class="text-danger">- $49.00</span></span>
														</label>
														<label class="custom-control custom-radio">
														<input id="radioPost2b" name="radio" type="radio" class="custom-control-input">
														<span class="custom-control-indicator"></span><span class="custom-control-description">14 days <span class="text-danger">- $93.00</span></span>
														</label>
														<label class="custom-control custom-radio">
														<input id="radioPost2c" name="radio" type="radio" class="custom-control-input">
														<span class="custom-control-indicator"></span><span class="custom-control-description">30 days <span class="text-danger">- $216.00</span></span>
														</label>
														</div>
														
														<div>&nbsp;</div>
														<b>General Posting</b>
														<div style="padding-left:20px;">
														<div class="small">Free posts will not be displayed for up to 48 hours.<br>
														(To prevent spam, free posts are manually reviewed prior to display).</div>
														<label class="custom-control custom-radio">
														<input id="radioPost3" name="radio" type="radio" class="custom-control-input">
														<span class="custom-control-indicator"></span><span class="custom-control-description text-danger">- FREE</span>
														</label>
														</div>
													  </div>
													</div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Post Anonymously</label>
													<div class="col-md-9">
													<div class="radio-list">
														<label class="custom-control custom-radio"> 
															<input id="radioP1" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Yes <span class="text-danger">$50.00</span> &nbsp; <span class="small">Find out more about <a href="#">Anonymous Posts</a></span></span>
														</label>
														<br><label class="custom-control custom-radio">
															<input id="radioP2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">No</span>
														</label>
													</div>
													</div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Private Notes (Not Publicly Displayed to Other Users)</label>
													<div class="col-md-9"><textarea class="form-control" id="exampleTextarea" rows="3" placeholder=""></textarea></div>
												</div>
                                            </div>
                                        </div>
                                    </div>
									
									
                                    <div class="card m-b-0">
                                        <div class="card-header" role="tab" id="headingTwo2">
                                            <h5 class="mb-0">
                                            <a class="collapsed pointer" data-toggle="collapse" data-parent="#accordion1" ng-click="selectAccordion('headingTwo2')" aria-expanded="false" aria-controls="collapseTwo2">
                                             Essential Information 
                                            </a> 
                                          </h5>
                                        </div>
                                        <div id="collapseTwo2" class="collapse" ng-class="{'show' : active_job_accordion == 'headingTwo2'}" role="tabpanel" aria-labelledby="headingTwo2">
                                            <div class="card-block">
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Facility City	
													<br>
													<span class="small">
													(City where the clinician will be working or nearby city)	 	
													<br>
													Usually post will NOT have a location... Only a reqion, or nearby location	
													</span>
													<br>
													<a href="#" class="small">Help Me Choose</a>	
													</label>
													<div class="col-md-9"><input type="text" class="form-control"></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Facility State</label>
													<div class="col-md-9"><select class="form-control"></select></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Duration of position
													<br>
													<a href="#" class="small">Help Me Choose</a>	
													</label>
													<div class="col-md-6">
													<div class="radio-list">
														<label class="custom-control custom-radio"> 
															<input id="radioDP1" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Full Time</span>
														</label>


														<br><label class="custom-control custom-radio">
															<input id="radioPD2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Locum Tenens</span>
														</label>
														<br><label class="custom-control custom-radio">
															<input id="radioPD2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Part Time</span>
														</label>
														<br><label class="custom-control custom-radio">
															<input id="radioPD2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">PRN</span>
														</label>
														<br><label class="custom-control custom-radio">
															<input id="radioPD2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Fellowship</span>
														</label>
													</div>
													</div>

													<div class="col-md-3">
														<label>Min ddd</label>
														<label>Max</label>
													</div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Job Description</label>
													<div class="col-md-9"><textarea class="form-control" id="exampleTextarea" rows="5" placeholder=""></textarea></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Employment Status: W-2 (Employee) or 1099 (Independent Contractor)
													<br>
													<a href="#" class="small">Help Me Choose</a>	
													</label>
													<div class="col-md-9">
													<div class="radio-list">
														<label class="custom-control custom-radio"> 
															<input id="radioEMP1" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">W-2</span>
														</label>
														<br><label class="custom-control custom-radio">
															<input id="radioEMP2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">1099</span>
														</label>
														<br><label class="custom-control custom-radio">
															<input id="radioEMP3" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Unknown</span>
														</label>		
													</div>
													</div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Start Date</label>
													<div class="col-md-9">
													<div class="row">
													<div class="col-md-4"><input type="text" class="form-control"></div>
													<div class="col-md-1">Or</div>
													<div class="col-md-7">
														<div class="checkbox checkbox-success">
															<input id="checkbox33" type="checkbox">
															<label for="checkbox33">Immediate</label>
														</div>
													</div>	
													</div> 	
													</div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">How often will Anesthesiologist be on FIRST call?</label>
													<div class="col-md-9"><select class="form-control">
													<option value="">please choose</option>
												<option value="Will NOT be on FIRST call">Will NOT be on FIRST call</option>
												<option value="Every night FIRST call">Every night FIRST call</option>
												<option value="Every OTHER night FIRST call">Every OTHER night FIRST call</option>
												
												<option value="Every THIRD night FIRST call">Every THIRD night FIRST call</option>
												<option value="Every FOURTH night FIRST call">Every FOURTH night FIRST call</option>
												<option value="Every FIFTH night FIRST call">Every FIFTH night FIRST call</option>
												<option value="Every SIXTH night FIRST call">Every SIXTH night FIRST call</option>
												<option value="Every SEVENTH night FIRST call">Every SEVENTH night FIRST call</option>
												<option value="Every EIGHTH night FIRST call">Every EIGHTH night FIRST call</option>
												<option value="Every NINTH night FIRST call">Every NINTH night FIRST call</option>
												<option value="Every TENTH night FIRST call">Every TENTH night FIRST call</option>
												<option value="Every ELEVENTH night FIRST call">Every ELEVENTH night FIRST call</option>
												<option value="Every TWELFTH night FIRST call">Every TWELFTH night FIRST call</option>
												<option value="Every THIRTEENTH night FIRST call">Every THIRTEENTH night FIRST call</option>
												<option value="Every FOURTEENTH night FIRST call">Every FOURTEENTH night FIRST call</option>
												<option value="Every FIFTEENTH night FIRST call">Every FIFTEENTH night FIRST call</option>
												<option value="FIRST Call frequency varies">FIRST Call frequency varies</option>
												<option value="Negotiable FIRST Call">Negotiable FIRST Call</option>
												<option value="Unknown FIRST Call">Unknown FIRST Call</option>
												<option value="Infrequent FIRST Call (See Full Description)">Infrequent FIRST Call (See Full Description)</option>
													</select></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Is call required?</label>
													<div class="col-md-9">
													<div class="radio-list">
														<label class="custom-control custom-radio"> 
															<input id="radioCREQ1" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Yes</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioCREQ2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">No</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioCREQ3" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Possibly</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioCREQ4" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Not Required</span>
														</label>		
													</div>
													</div>
												</div>
												 <div class="form-group row">
													<label class="control-label text-left col-md-3">Indicate how often the Anesthesiologist will be doing each of the types of cases including, "Never."
													<br><a href="#" class="small">Help Me Choose</a>	
													</label>
													<div class="col-md-9">
													<div class="radio-list">
														<div>Chronic Pain Management</div>
														<label class="custom-control custom-radio"> 
															<input id="radioCPM1" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Always</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioCPM2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Sometimes</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioCPM3" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Never</span>
														</label>			
													</div>
													
													<div class="radio-list" style="margin-top:12px;">
														<div> Cardiac Anesthesia</div>
														<label class="custom-control custom-radio"> 
															<input id="radioICAN1" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Always</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioICAN2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Sometimes</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioICAN3" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Never</span>
														</label>			
													</div>
													<div class="radio-list" style="margin-top:12px;">
														<div> Thoracic Anesthesia</div>
														<label class="custom-control custom-radio"> 
															<input id="radioTAN1" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Always</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Sometimes</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN3" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Never</span>
														</label>			
													</div>
													<div class="radio-list" style="margin-top:12px;">
														<div>Major Vascular Anesthesia</div>
														<label class="custom-control custom-radio"> 
															<input id="radioTAN1" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Always</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Sometimes</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN3" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Never</span>
														</label>			
													</div>
													<div class="radio-list" style="margin-top:12px;">
														<div>Obstetric Anesthesia</div>
														<label class="custom-control custom-radio"> 
															<input id="radioTAN1" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Always</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Sometimes</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN3" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Never</span>
														</label>			
													</div>
													<div class="radio-list" style="margin-top:12px;">
														<div>Pediatric Anesthesia</div>
														<label class="custom-control custom-radio"> 
															<input id="radioTAN1" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Always</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Sometimes</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN3" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Never</span>
														</label>			
													</div>
													<div class="radio-list" style="margin-top:12px;">
														<div>Neuroanesthesia</div>
														<label class="custom-control custom-radio"> 
															<input id="radioTAN1" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Always</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Sometimes</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN3" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Never</span>
														</label>			
													</div>
													<div class="radio-list" style="margin-top:12px;">
														<div>Trauma Anesthesia</div>
														<label class="custom-control custom-radio"> 
															<input id="radioTAN1" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Always</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Sometimes</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN3" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Never</span>
														</label>			
													</div>
													<div class="radio-list" style="margin-top:12px;">
														<div>Critical Care Medicine</div>
														<label class="custom-control custom-radio"> 
															<input id="radioTAN1" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Always</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Sometimes</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN3" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Never</span>
														</label>			
													</div>
													<div class="radio-list" style="margin-top:12px;">
														<div>Anesthesia for outpatient surgery</div>
														<label class="custom-control custom-radio"> 
															<input id="radioTAN1" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Always</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Sometimes</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN3" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Never</span>
														</label>			
													</div>
													<div class="radio-list" style="margin-top:12px;">
														<div>Regional Anesthesia</div>
														<label class="custom-control custom-radio"> 
															<input id="radioTAN1" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Always</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Sometimes</span>
												
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN3" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Never</span>
														</label>			
													</div>
													<div class="radio-list" style="margin-top:12px;">
														<div>Orthopedic Anesthesia</div>
														<label class="custom-control custom-radio"> 
															<input id="radioTAN1" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Always</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Sometimes</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN3" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Never</span>
														</label>			
													</div>
													<div class="radio-list" style="margin-top:12px;">
														<div>Acute Pain Service</div>
														<label class="custom-control custom-radio"> 
															<input id="radioTAN1" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Always</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Sometimes</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioTAN3" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Never</span>
														</label>			
													</div>
													<div style="margin-top:12px;">
														<div>Other</div>
														<div><input type="text" placeholder="Describe" class="form-control"></div>		
													</div>
													
													
													</div>	
													</div>
													
													<div class="form-group row">
														<label class="control-label text-left col-md-3">Will anesthesiologist be Medically Directing CRNAs or AAs?</label>
														<div class="col-md-9">
														<div class="radio-list">
															<label class="custom-control custom-radio"> 
																<input id="radioCRNAs1" name="radio" type="radio" checked="" class="custom-control-input">
																<span class="custom-control-indicator"></span><span class="custom-control-description">Always</span>
															</label>
															<label class="custom-control custom-radio">
																<input id="radioCRNAs2" name="radio" type="radio" class="custom-control-input">
																<span class="custom-control-indicator"></span><span class="custom-control-description">Sometimes</span>
															</label>
															<label class="custom-control custom-radio">
																<input id="radioCRNAs3" name="radio" type="radio" class="custom-control-input">
																<span class="custom-control-indicator"></span><span class="custom-control-description">Never</span>
															</label>
																	
														</div>
														</div>
													</div>
												
												</div>
                                        </div>
                                    </div>									                                    
									
									<div class="card m-b-0">
                                        <div class="card-header" role="tab" id="headingThree4">
                                            <h5 class="mb-0">
                                            <a class="collapsed pointer" data-toggle="collapse" data-parent="#accordion1" ng-click="selectAccordion('headingThree4')"   aria-expanded="false" aria-controls="collapseThree4">
                                            Job Requirements
                                            </a>
                                          </h5>
                                        </div>
                                        <div id="collapseThree4" class="collapse" ng-class="{'show' : active_job_accordion == 'headingThree4'}" role="tabpanel" aria-labelledby="headingThree4">
                                            <div class="card-block">
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Subspecialty Fellowship Required?</label>
													<div class="col-md-9">
													<div class="radio-list">
														<label class="custom-control custom-radio">
															<input id="radio_j1" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">No</span>			
														</label>
														<label class="custom-control custom-radio">
															<input id="radio_j1" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Yes</span>			
														</label>
														<label class="custom-control custom-radio">
															<input id="radio_j1" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Negotiable</span>			
														</label>
													</div>
													</div>
												</div>

												<div class="form-group row">
													<label class="control-label text-left col-md-3">State License Required</label>
													<div class="col-md-9"><select class="form-control"></select></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">ABA Certification Status Required <br><a href="#" class="small">Help Me Choose</a></label>
													<div class="col-md-9">
													<div class="radio-list">
														<label class="custom-control custom-radio">
															<input id="radioja1" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Board Certified by the ABA</span>			
														</label>
														<label class="custom-control custom-radio">
															<input id="radioja2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Candidate in ABA exam system</span>			
														</label>
														<label class="custom-control custom-radio">
															<input id="radioja3" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">No ABA Certification Required</span>			
														</label>
														<label class="custom-control custom-radio">
															<input id="radioja4" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Negotiable</span>			
														</label>
														<label class="custom-control custom-radio">
															<input id="radioja5" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">FRCP eligible (Canada)</span>			
														</label>
													</div>
													</div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Select all that are required for this job <br><a href="#" class="small">Help Me Choose</a></label>
													<div class="col-md-9">
													<div class="checkbox checkbox-success">
														<input id="checkboxj16" type="checkbox"><label for="checkboxj16">Current ACLS card</label><br>		
														<input id="checkboxj17" type="checkbox"><label for="checkboxj17">Current PALS card</label><br>
														<input id="checkboxj18" type="checkbox"><label for="checkboxj18">ABA Certification in Pain Management</label><br>
														<input id="checkboxj19" type="checkbox"><label for="checkboxj19">ABA Certification in Critical Care Management</label><br>
													</div>
													</div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">New Graduates Acceptable? <br><a href="#" class="small">Help Me Choose</a></label>
													<div class="col-md-9">
													<div class="radio-list">
														<label class="custom-control custom-radio">
															<input id="radio_j13" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">No</span>			
														</label>
														<label class="custom-control custom-radio">
															<input id="radio_j14" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Yes</span>			
														</label>
														<label class="custom-control custom-radio">
															<input id="radio_j15" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Negotiable</span>			
														</label>
														<label class="custom-control custom-radio">
															<input id="radio_j16" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Conditional</span>			
														</label>
													</div>
													</div>
												</div>												
											</div>
									    </div>
									</div>
									
									<div class="card m-b-0">
                                        <div class="card-header" role="tab" id="headingThree5">
                                            <h5 class="mb-0">
                                            <a class="collapsed pointer" data-toggle="collapse" data-parent="#accordion1" ng-click="selectAccordion('headingThree5')"   aria-expanded="false" aria-controls="collapseThree5">
                                            Salary and Income Information
                                            </a>
                                          </h5>
                                        </div>
                                        <div id="collapseThree5" class="collapse" ng-class="{'show' : active_job_accordion == 'headingThree5'}" role="tabpanel" aria-labelledby="headingThree5">
												<div class="card-block">
													<div class="form-group row">
														<label class="control-label text-left col-md-3">Sign-on Bonus commitment</label>
														<div class="col-md-9"><select class="form-control">
														<option value="">please choose</option>
														<option value="One yr">One yr</option>
														<option value="Two yrs">Two yrs</option>
													<option value="Three yrs">Three yrs</option>
													<option value="None">None</option>
													<option value="Negotiable">Negotiable</option>
													</select></div>
													</div>
													<div class="form-group row">
														<label class="control-label text-left col-md-3">Weeks Paid <b>Educational</b> Leave</label>
														<div class="col-md-9"><select class="form-control">
														<option value="">please choose</option>
														<option value="None">None</option>
														<option value="1 Week">1 Week</option>
														<option value="2 Weeks">2 Weeks</option>
														<option value="3 Weeks">3 Weeks</option>
														<option value="4 Weeks">4 Weeks</option>
														<option value="5 Weeks">5 Weeks</option>
														<option value="6 Weeks">6 Weeks</option>
														<option value="7 Weeks">7 Weeks</option>
														<option value="8 Weeks">8 Weeks</option>
														<option value="9 Weeks">9 Weeks</option>
														<option value="10 Weeks">10 Weeks</option>
														<option value="11 Weeks">11 Weeks</option>
														<option value="12 Weeks">12 Weeks</option>
														<option value="More than 12 Weeks">More than 12 Weeks</option>
														<option value="Negotiable">Negotiable</option>
														</select></div>
													</div>
													<div class="form-group row">
														<label class="control-label text-left col-md-3">Weeks Paid <b>Vacation</b></label>
														<div class="col-md-9"><select class="form-control">
														<option value="">please choose</option>
														<option value="None">None</option>
														<option value="1 Week">1 Week</option>
														<option value="2 Weeks">2 Weeks</option>
														<option value="3 Weeks">3 Weeks</option>
														<option value="4 Weeks">4 Weeks</option>
														<option value="5 Weeks">5 Weeks</option>
														<option value="6 Weeks">6 Weeks</option>
														<option value="7 Weeks">7 Weeks</option>
														<option value="8 Weeks">8 Weeks</option>
														<option value="9 Weeks">9 Weeks</option>
														<option value="10 Weeks">10 Weeks</option>
														<option value="11 Weeks">11 Weeks</option>
														<option value="12 Weeks">12 Weeks</option>
														<option value="More than 12 Weeks">More than 12 Weeks</option>
														<option value="Negotiable">Negotiable</option>
														</select></div>
													</div>                                               
	                                            </div>
                                        </div>
                                    </div>
									
									<div class="card m-b-0">
                                        <div class="card-header" role="tab" id="headingThree6">
                                            <h5 class="mb-0">
                                            <a class="collapsed pointer" data-toggle="collapse" data-parent="#accordion1" ng-click="selectAccordion('collapseThree6')"   aria-expanded="false" aria-controls="collapseThree6">
                                             Anesthesia Group Information
                                            </a>
                                          </h5>
                                        </div>
                                        <div id="collapseThree6" class="collapse" ng-class="{'show' : active_job_accordion == 'collapseThree6'}" role="tabpanel" aria-labelledby="headingThree6">
                                            <div class="card-block">
                                                <div class="form-group row">
													<label class="control-label text-left col-md-3">Anesthesia Group Name</label>
													<div class="col-md-9"><input type="text" class="form-control"></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Anesthesia Group Web Site</label>
													<div class="col-md-9"><input type="text" class="form-control"></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Does Anesthesia Group have an exclusive contract?</label>
													<div class="col-md-9">
													<div class="radio-list">
														<label class="custom-control custom-radio">
															<input id="radio3" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span>
															<span class="custom-control-description">No</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radio4" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span>
															<span class="custom-control-description">Yes</span>
														</label>
													</div>
													</div>
												</div>
                                            </div>
                                        </div>
                                    </div>
									
									<div class="card m-b-0">
                                        <div class="card-header" role="tab" id="headingThree7">
                                            <h5 class="mb-0">
                                            <a class="collapsed pointer" data-toggle="collapse" data-parent="#accordion1" ng-click="selectAccordion('collapseThree7')"   aria-expanded="false" aria-controls="collapseThree7">
                                            Facility Information
                                            </a>
                                          </h5>
                                        </div>
                                        <div id="collapseThree7" class="collapse" ng-class="{'show' : active_job_accordion == 'collapseThree7'}" role="tabpanel" aria-labelledby="headingThree7">
                                            <div class="card-block">
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Name of Anesthesiologist who is Group President and years with group</label>
													<div class="col-md-9"><input type="text" class="form-control"></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Name of Chief CRNA</label>
													<div class="col-md-9"><input type="text" class="form-control"></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Name of Anesthesiologist Assistant(s)</label>
													<div class="col-md-9"><input type="text" class="form-control"></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Is practice limited to Hospital, Surgery Center and Office Based Anesthesia?</label>
													<div class="col-md-9">
													<div class="radio-list">
														<label class="custom-control custom-radio">
															<input id="radioFac1" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">One Hospital</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioFac2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Several Hospitals</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioFac3" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">No</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioFac4" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Yes</span>
														</label>		
														<label class="custom-control custom-radio">
															<input id="radioFac5" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Negotiable</span>
														</label>
													</div>
													</div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">
													Federal Government job? (Any State license will work)
													<br>
													<span class="small">For example:
													<ul>
														<li>Veterans Affairs (VA)</li>
														<li>Military</li>
														<li>Indian Health</li>
													</ul>
													</span>	
													</label>
													<div class="col-md-9">
													<div class="radio-list">
														<label class="custom-control custom-radio">
															<input id="radioFed1" name="radio" type="radio" checked="" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">Yes</span>
														</label>
														<label class="custom-control custom-radio">
															<input id="radioFed2" name="radio" type="radio" class="custom-control-input">
															<span class="custom-control-indicator"></span><span class="custom-control-description">No</span>
														</label>		
													</div>
													</div>
												</div>
                                                
                                            </div>
                                        </div>
                                    </div>									
									
									
									<div class="card">
                                        <div class="card-header" role="tab" id="headingThree9">
                                            <h5 class="mb-0">
                                            <a class="collapsed pointer" data-toggle="collapse" data-parent="#accordion1" ng-click="selectAccordion('collapseThree9')"   aria-expanded="false" aria-controls="collapseThree9">
                                             Contact Information
                                            </a>
                                          </h5>
                                        </div>
                                        <div id="collapseThree9" class="collapse" ng-class="{'show' : active_job_accordion == 'collapseThree9'}" role="tabpanel" aria-labelledby="headingThree9">
                                            <div class="card-block">
                                               <div class="form-group row">
													<label class="control-label text-left col-md-3">Company Name</label>
													<div class="col-md-9"><input type="text" class="form-control"></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Company internal Job ID </label>
													<div class="col-md-9"><input type="text" class="form-control"><small class="form-control-feedback"> Number for this position</small></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Contact Name</label>
													<div class="col-md-9"><input type="text" class="form-control"></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Contact Email</label>
													<div class="col-md-9"><input type="text" class="form-control"></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Contact Street Address 1</label>
													<div class="col-md-9"><input type="text" class="form-control"></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Contact Street Address 2</label>
													<div class="col-md-9"><input type="text" class="form-control"></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Contact City</label>
													<div class="col-md-9"><input type="text" class="form-control"></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Contact State</label>
													<div class="col-md-9"><select class="form-control"></select></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Contact Zip Code</label>
													<div class="col-md-9"><input type="text" class="form-control"></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Contact Country</label>
													<div class="col-md-9"><select class="form-control"></select></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Contact Voice Phone</label>
													<div class="col-md-9"><input type="text" class="form-control"></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">ContactContact Fax</label>
													<div class="col-md-9"><input type="text" class="form-control"></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Contact Web Site</label>
													<div class="col-md-9"><input type="text" class="form-control"><small class="form-control-feedback"> <a href="#">Help Me Choose</a> </small></div>
												</div>
												<div class="form-group row">
													<label class="control-label text-left col-md-3">Preferred Contact Method</label>
													<div class="col-md-9"><select class="form-control">
																			<option value="">please choose</option><option value="Email">Email</option>
																			<option value="Link to Apply for Job">Link to Apply for Job</option>
																			<option value="Phone">Phone</option>
																			<option value="Fax">Fax</option>
																			<option value="Postal Mail">Postal Mail</option>
																			<option value="No Preference">No Preference</option>
													</select></div>
												</div>
                                            </div>
                                        </div>
                                    </div>
									
									<div align="left">
									<button type="button" class="btn btn-info">Save For Later</button>
									<button type="button" class="btn btn-info">Save As Template</button>
									<button type="button" class="btn btn-primary">Continue &raquo;</button>
									</div>									
									
									 </form>
									 
                                </div>
                            </div>
	
	</div>
</div>


