	<div show-slider="{{$index}}" id_target = "slider-form" class="col-lg-3 col-md-6 col-lg-job" ng-repeat = "job in jobs track by $index">
		<!-- Card -->
		<div class="card-job-box">								
			<div class="card-pos-container">	
			 <div class="card-data-box{{job.level == '1' || job.level == '2' ? '-featured' : ''}}">	
				<div class="card-pos-splash-{{job.level == '1' || job.level == '2' ? 'featured' : 'none'}}"><img src="assets/images/jobs-img/splash.png"></div>
				<div class="card-pos-icons">
					<button ng-show="job.post_status != 'inactive' && job.post_status != 'deleted'"  ng-click="$event.stopPropagation()"  deactivate-confirm url="/jobs/deactivate/{{job.id}}" type="button" class="btn job-icon{{job.level == '1' || job.level == '2' ? '-featured' : ''}} btn-circle exclude-slider" callback="deactivateJob"><i class="fa fa-eye"></i> </button>
                    <button test="{{job.id}}" ng-show="job.post_status == 'inactive'"  ng-click="$event.stopPropagation()"  reactivate-confirm url="/jobs/reactivate/{{job.id}}" type="button" class="btn job-icon{{job.level == '1' || job.level == '2' ? '-featured' : ''}} btn-circle exclude-slider" callback="reactivateJobPost"><i class="fa fa-eye-slash"></i> </button>
					<button ng-click="goEditJob(job.id)" type="button" class="btn job-icon{{job.level == '1' || job.level == '2' ? '-featured' : ''}} btn-circle"><i class="fa fa-pencil"></i> </button>
					<button ng-show="job.post_status != 'deleted'" ng-click="$event.stopPropagation()"  sweet-delete url="/jobs/remove/{{job.id}}"  callback="deleteJobPost" type="button" class="btn job-icon{{job.level == '1' || job.level == '2' ? '-featured' : ''}} btn-circle"><i class="fa fa-trash-o"></i> </button>
                    <button ng-show="job.post_status == 'deleted'"  ng-click="$event.stopPropagation()"  reactivate-confirm url="/jobs/reactivate/{{job.id}}" type="button" class="btn job-icon{{job.level == '1' || job.level == '2' ? '-featured' : ''}} btn-circle exclude-slider" callback="reactivateJobPost"><i class="fa fa-refresh"></i> </button>
				</div>
				<div class="job-text-wrap job-text{{job.level == '1' || job.level == '2' ? '-featured' : ''}}">
					<div class="nID">{{job.id}} &nbsp; &nbsp; <span>{{job.jobPostType == '1' ? 'ANESTHEOLOGIST' : 'CRNA'}}</span></div>
					<div class="sTitle">
						<div class="text">{{job.jobTitle}}</div>										
					</div>
					<div class="sAddress">
						{{job.ei_facilityCity}}, {{job.ei_facilityState}}<br> 
						<small>6 hours ago</small>
					</div>
					<button type="button" class="btn bnt-job">{{showStatus(job.post_status)}}</button>
				</div>
			  </div>
			</div>

		</div>
		<!-- Card -->
	</div>