<style type="text/css">
    #notif_type{
        display: block;
        font-size: 12px;
    }
    .profiletimeline, 
    .profiletimeline .sl-item .sl-left,
    .profiletimeline .sl-item .sl-right,
    .profiletimeline .sl-item .sl-right a,
    .profiletimeline .sl-item .sl-right span,
    .profiletimeline .sl-item .sl-right p{        
        
    }
    .round{
        background: #fff; */
        width: 50px;
        width: 50px;
    }
    .comment-text h5{
        line-height: 18px;
        font-size: 16px;
        font-weight: 400;
    }
    p{
        font-family: "Poppins", sans-serif;
        margin: 0;
        overflow-x: hidden;
        color: #67757c;
        font-weight: 300;
    }
</style>
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Inqueries</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active">Inqueries</li>          
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        &nbsp;
    </div>
</div>

<div class="row" calendar>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body" style="padding: 20px">
            <h4 class="card-title">Notifications</h4>
            <h6 class="card-subtitle">Job Applications</h6>
            </div>
            <div class="comment-widgets">
                <!-- Comment Row -->
                <div class="d-flex flex-row comment-row" ng-repeat = "inquery in inqueries">
                    <div class="p-2">
                        <span class="round">
                            <img ng-src="{{ inquery.profile.image_path }}" ng-if="inquery.profile.image_path != null" alt="user" width="50">
                            <img src="/public/images/default.png" ng-if="inquery.profile.image_path == null" alt="user" width="50">
                        </span>
                    </div>
                    <div class="comment-text w-100">
                        
                        <h5 ng-if="inquery.is_anonymous == 'no'">{{ inquery.profile.firstName + ' ' + inquery.profile.lastName }}</h5>
                        <h5 ng-if="inquery.is_anonymous != 'no'">Anonymous</h5>

                        <p class="m-b-5">{{ inquery.message }}</p>
                        <div class="comment-footer">                                     
                            <span class="label label-info">Pending</span> 
                            <small class="text-muted">{{ inquery.time_ago }}</small> 
                            <span class="action-icons">
                                <a href="javascript:void(0)" ng-click="respond(inquery.user.id,inquery.profile.firstName + ' ' + inquery.profile.lastName)"><i class="ti-pencil-alt"></i></a>
                                <a href="/storage/{{inquery.user.id + '/' + inquery.cv_file_name}}" download check-storage storage-id="{{ inquery.user.id }}" storage-name="{{ inquery.cv_file_name }}"><i class="ti-download"></i></a>                                        
                            </span>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>        
    </div>
</div>