<div class="row page-titles">
<div class="col-md-5 col-8 align-self-center">
<h3 class="text-themecolor">Add New Credit Card</h3>
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="">Home</a></li>
<li class="breadcrumb-item">Credit Cards</li>	
<li class="breadcrumb-item active">Add Credit Card</li>			

</ol>
</div>
<div class="col-md-7 col-4 align-self-center">
&nbsp;
</div>
</div>




<div class="row set-top">
	<div class="col-md-8 credit_card-wrapper">
	    <div class="card text-center ">
	    	<div class="card-outline-success">
	    		<div class="card-header" >
                    <h4 class="card-title" style="color:#fff">Please select what Payment Option</h4>
                </div>
		        <div class="card-block credit_card-content">
		            
		           	<div class="row" style="padding-top:40px">
			            <div class="col-6 float-left">
			            	<div class="md-radio">
			                    <input id="11" ng-model="selected_payment" value="credit_card" type="radio" name="gx" checked>
			                    <label for="11">Credit Card</label>
			                </div>
			            </div>
			            <div class="col-6 float-left">
			            	<div class="md-radio">
			                    <input id="12" ng-model="selected_payment" value="" type="radio" name="gx" >
			                    <label for="12">Electronic Checks</label>
			                </div>
			            </div>
			            <div class="col-12" >
				            <div class="col-3" value="electronic_checks" style="margin: 30px auto">
				            	<a ng-click="selectForm()" ><button class="btn btn-block  btn-success">Next</button>
				            </div>
			      		</div>
			        </div>
		        </div>
		    </div>
	    </div>
	</div>
</div>