<div class="row page-titles">
<div class="col-md-5 col-8 align-self-center">
<h3 class="text-themecolor">Credit Cards Information</h3>
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="">Home</a></li>
<li class="breadcrumb-item active">Credit Cards</li>			
</ol>
</div>
<div class="col-md-7 col-4 align-self-center">
&nbsp;
</div>
</div>


<div class="row col-md-12 nopadding">
	<div class="col-md-12 nopadding">
		<a ui-sref="step2_add_echecks"><button  class="btn btn-success float-right"><i class="mdi mdi-credit-card-plus"></i> Add New Check</button></a>
	</div>
</div>


<div class="card set-top">
    <div class="card-block">
        <h4 class="card-title">Electronic Checks List</h4>
        <div class="table-responsive m-t-40">
            <table id="myTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Routing</th>
                        <th>Bank No.</th>
                        <th>Default</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" ng-show = "checks.length == 0">
                        <td colspan="5">Nothing to show</td>
                    </tr>
                    <tr ng-repeat = "check in checks">
                        <td ng-bind = "check.name"></td>
                        <td ng-bind = "check.routingNumber"></td>
                        <td ng-bind = "check.bankAccountNumber"></td>
                        <td><button ng-show="check.isDefault == 'yes'" class="btn btn-danger">Default</button></td>
                        <td><button ui-sref="edit_check({check_id : check.id})" class="btn btn-success">Edit</button></td>
                        <td><button sweet-delete callback="removeChecks" url="/user/echecks/remove/{{check.id}}"  class="btn btn-danger">Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>