<div class="row page-titles">
<div class="col-md-5 col-8 align-self-center">
<h3 class="text-themecolor">Add New Credit Card</h3>
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="">Home</a></li>
<li class="breadcrumb-item">Credit Cards</li>	
<li class="breadcrumb-item active">Add Credit Card</li>			

</ol>
</div>
<div class="col-md-7 col-4 align-self-center">
&nbsp;
</div>
</div>





<div class="col-12 mb-10" >
	<div class="row col-md-12 nopadding">
	<div class="col-md-12 nopadding">
		<a ui-sref="e_checks"><button  class="btn btn-success float-right"><i class="mdi mdi-credit-card-plus"></i> Back</button></a>
	</div>
</div>

<div class="card set-top" style="margin-bottom: 70px">
	<div class="card-outline-success">
		<div class="card-header text-center" >
            <h4 class="card-title" style="color:#fff">Electronic Check Information</h4>
        </div>

	    <div class="card-block mb-30">
	       	<div class="form-horizontal form-material margintop-30">
				<div class="form-group col-12">
					<label class="label-parent label-editable mr-2 d-inline-block">Name: 
					</label>
				 	<div class="content-editable col-7"
				 		
				 		callback="saveECheckInfo"
				 		key = "name"
				 		parent="checkInfo"
				 		no-enter
				 		ng-class="{'nodata-underline' : checkInfo.name == undefined || checkInfo.name == ''}" 
					  	contenteditable
					  	ng-model="checkInfo.name"
					  	ng-maxlength=255
					  	only-text="true"
					  	convert-new-lines="true">
					</div>
				</div>
				
				<div class="form-group col-12">
					<label class="label-parent label-editable mr-2 d-inline-block">Routing: 
					</label>
				 	<div class="content-editable col-7"
				 		
				 		callback="saveECheckInfo"
				 		key = "routingNumber"
				 		parent="checkInfo"
				 		no-enter
				 		ng-class="{'nodata-underline' : checkInfo.routingNumber == undefined || checkInfo.routingNumber == ''}" 
					  	contenteditable
					  	ng-model="checkInfo.routingNumber"
					  	ng-maxlength=255
					  	
					  	only-text="true"
					  	convert-new-lines="true">
					</div>
				</div>

				<div class="form-group col-12">
					<label class="label-parent label-editable mr-2 d-inline-block">Bank Account #: 
					</label>
				 	<div class="content-editable col-7"
				 		
				 		callback="saveECheckInfo"
				 		key = "bankAccountNumber"
				 		parent="checkInfo"
				 		no-enter
				 		ng-class="{'nodata-underline' : checkInfo.bankAccountNumber == undefined || checkInfo.bankAccountNumber == ''}" 
					  	contenteditable
					  	ng-model="checkInfo.bankAccountNumber"
					  	ng-maxlength=255
					  	only-text="true"
					  	convert-new-lines="true">
					</div>
				</div>

				<div class="form-group col-12">
					<label class="label-editable label-parent mr-2 d-inline-block">Default: 
					</label>
				 	<div class="checkbox checkbox-primary pull-left p-t-0">
		              <input 
				 		callback="saveECheckInfo"
				 		parent="checkInfo"
				 		key = "isDefault" ng-checked="checkInfo.isDefault == 'yes'"  ng-model="checkInfo.isDefault" ng-value="yes" id="checkbox-signup" type="checkbox">
		              <label for="checkbox-signup">  </label>
		            </div>
				</div>

			</div>
			<div class="form-horizontal text-center form-material margintop-30 col-md-12">
				<button ng-click = "saveAllElectronicCheck()" class="btn btn-success" style="width: 90px">Save</button>
			</div>
	    </div>
	</div>
</div>
</div>