<div class="row page-titles">
<div class="col-md-5 col-8 align-self-center">
<h3 class="text-themecolor">Add New Credit Card</h3>
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="">Home</a></li>
<li class="breadcrumb-item">Credit Cards</li>	
<li class="breadcrumb-item active">Add Credit Card</li>			

</ol>
</div>
<div class="col-md-7 col-4 align-self-center">
&nbsp;
</div>
</div>
<div class="row">
	<div class="col-lg10 offset-lg-1">
		<div class="col-12 mb-10" >
			<div class="row col-md-12 nopadding">
				<div class="col-md-12 nopadding">
					<a ui-sref="credit_cards"><button  class="btn btn-success float-right"><i class="mdi mdi-credit-card-plus"></i> Back</button></a>
				</div>
			</div>

		<div class="card" style="margin-bottom: 70px;margin-top: 10px;">
			<div class="card-outline-light">
				<div class="card-header text-center" style="background-color: #efefef">
		            <h4 class="card-title">Credit Card Information</h4>
		        </div>

			    <div class="card-block mb-30">

			       	<div class="row">
			       		<div class="col-lg-12">
				       		<div class="form-horizontal form-material margintop-30" id="card-form-info">
				       			<div class="form-group col-12">
									<label class="label-editable label-parent label-editable mr-2 d-inline-block" id="payment-cards">Card No: 
									</label>
									<input
										id="cardNumber" 
										ng-disabled="billData.id != '' && billData.id != undefined"
										no-enter
										ng-class="{'nodata-underline' : billData.cardNumber == undefined || billData.cardNumber == ''}" 
									 	ng-model="billData.cardNumber"
								 		callback="saveBillingCardInfo"
								 		key = "cardNumber"  name="cardNumber" ng-model="billData.cardNumber"  type="text" placeholder="{{billData.last_card_four}}"  class="seamless-input form-control col-md-12 "
								 		>
								</div>
							</div>
						</div>
			       		<div class="col-lg-7">
				       		<div class="form-horizontal  form-material margintop-30" id="card-form-info">
				       		
								<div class="form-group col-12">
									<label class="label-parent label-editable mr-2 d-inline-block">Name On Card: 
									</label>
								 	<div class="content-editable col-12"
								 		
								 		callback="saveBillingCardInfo"
								 		key = "name"
								 		parent = "billData"
								 		no-enter
								 		ng-class="{'nodata-underline' : billData.name == undefined || billData.name == ''}" 
									  	contenteditable
									  	ng-model="billData.name"
									  	ng-maxlength=255
									  	
									  	only-text="true"
									  	convert-new-lines="true">
									</div>
								</div>						

								<div class="form-group col-12">
									<label class="label-editable label-parent mr-2 d-inline-block">Address: 
									</label>
								 <!-- 	<div class="content-editable" 
									  	contenteditable
									  	ng-model="infoData.address"
									  	ng-maxlength=255
									  	
									  	only-text="true"
									  	convert-new-lines="true">
									</div> -->
									<input 
								 		callback="saveBillingCardInfo"
								 		key = "address" name="address" ng-model="billData.address"  type="text" " ng-required="true" class="seamless-input form-control col-md-12 "
								 		ng-class="{'nodata-underline' : billData.address == undefined || billData.address == ''}" 
								 		populate = "locality,administrative_area_level_1,postal_code" payment-address="billData.address">
								</div>


								<div class="form-group col-12">
									<label class="label-editable label-parent mr-2 d-inline-block">State: 
									</label>
								 	<div class="content-editable col-12" 
								 		no-enter	
								 		
								 		callback="saveBillingCardInfo"
								 		key = "state"
								 		ng-class="{'nodata-underline' : billData.state == undefined || billData.state == ''}" 
									  	contenteditable
									  	ng-model="billData.state"
									  	ng-maxlength=255
									  	
									  	only-text="true"
									  	convert-new-lines="true">
									</div>
								</div>
								<!-- <div class="form-group col-12">
									<label class="label-editable label-parent mr-2 d-inline-block">Country: 
									</label>
								 	<div class="content-editable col-7" 	
								 		no-enter
								 		
								 		callback="saveBillingCardInfo"
								 		key = "country"
								 		ng-class="{'nodata-underline' : billData.country == undefined || billData.country == ''}" 
									  	contenteditable
									  	ng-model="billData.country"
									  	ng-maxlength=255
									  	
									  	only-text="true"
									  	convert-new-lines="true">
									</div>
								</div> -->						
								<div class="form-group col-12">
									<label class="label-editable label-parent mr-2 d-inline-block">Default: 
									</label>
								 	<div class="checkbox checkbox-primary pull-left p-t-0">
						              <input 
								 		callback="saveBillingCardInfo"
								 		key = "isDefault" ng-checked="billData.isDefault == 'yes'" ng-click = "changeBillingDefault()" ng-model="billData.isDefault" ng-value="yes" id="checkbox-signup" type="checkbox">
						              <label for="checkbox-signup">  </label>
						            </div>
					        	</div>
								

							</div>
							
				       	</div>
				       	<div class="col-lg-5">
				       		<div class="form-horizontal form-material margintop-30" id="card-form-info">		       		

								<div class="form-group col-12">
									<label class="label-editable label-parent label-editable mr-2 d-inline-block">Expiration Date: 
									</label>
								 <!-- 	<div class="content-editable col-7" 	
								 		no-enter
								 		
								 		callback="saveBillingCardInfo"
								 		key = "expirationDate"
								 		ng-class="{'nodata-underline' : billData.expirationDate == undefined || billData.expirationDate == ''}" 
									  	contenteditable
									  	ng-model="billData.expirationDate"
									  	ng-maxlength=255
									  	
									  	only-text="true"
									  	convert-new-lines="true">
									</div> -->
									<input 
										
										no-enter
										ng-class="{'nodata-underline' : billData.expirationDate == undefined || billData.expirationDate == ''}" 
									 	ng-model="billData.expirationDate"
										custom-mask="00/0000"
								 		callback="saveBillingCardInfo"
								 		key = "expirationDate"  name="address" ng-model="billData.expirationDate"  type="text"  class="seamless-input form-control col-md-12 "
								 		>
								</div>


								<div class="form-group col-12">
									<label class="label-editable label-parent label-editable mr-2 d-inline-block">Card Id No.: 
									</label>
								 	

									<input 
										ng-disabled="billData.id != '' && billData.id != undefined"
										no-enter
										ng-class="{'nodata-underline' : billData.cardIDNumber == undefined || billData.cardIDNumber == ''}" 
									 	ng-model="billData.cardIDNumber"
								 		callback="saveBillingCardInfo"
								 		key = "cardIDNumber"  name="address" ng-model="billData.cardIDNumber"  type="text"  class="seamless-input form-control col-md-12 "
								 		>
								</div>
								<div class="form-group col-12">
									<label class="label-editable label-parent mr-2 d-inline-block">Zip Code: 
									</label>
								 	<div class="content-editable col-12" 	
								 		no-enter
								 		
								 		callback="saveBillingCardInfo"
								 		key = "zipcode"
								 		ng-class="{'nodata-underline' : billData.zipcode == undefined || billData.zipcode == ''}" 
									  	contenteditable
									  	ng-model="billData.zipcode"
									  	ng-maxlength=255
									  	only-text="true"
									  	convert-new-lines="true">
									</div>
								</div>
								<div class="form-group col-12" id="button-form">
									<div class="form-horizontal text-center form-material col-md-12">
										<button form-name="" loading-button callback="saveAllBillingInfo()"  class="btn btn-success" id="save-credit-info">Save</button>
									</div>
									
								</div>
				       		</div>
				       	</div>		       	
			       	</div>

			    </div>
				</div>
			</div>
		</div>
	</div>
</div>
		